Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

feat(vmclass): annotation to set default vmclass
  api/core/v1alpha2/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_controller.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @yaroslavborbat

++ reword message
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
Owners: @Isteb4k

++ show annotation in error message
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
Owners: @Isteb4k

++ allow only "true" value for is-default-class annotation
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
Owners: @Isteb4k

feat: move packages to restorer service
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/errors.go
  images/virtualization-artifact/pkg/controller/service/restorer/interfaces.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/resources/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/best_effort_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/dryrun_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/mock.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/strict_step.go
Owners: @Isteb4k

feat(api): add mac in snapshot and restore
  api/core/v1alpha2/virtual_machine.go
  crds/doc-ru-virtualmachines.yaml
  crds/virtualmachines.yaml
  images/virtualization-artifact/pkg/controller/service/restorer/keys.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
  images/virtualization-artifact/pkg/controller/vm/internal/mac.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @yaroslavborbat

feat(api): add mac in snapshot and restore
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

feat(api): add mac in snapshot and restore
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

feat(api): add mac in snapshot and restore
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
Owners: @Isteb4k

feat(api): add mac in snapshot and restore
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/attached_handler.go
Owners: @yaroslavborbat, @Isteb4k

fixes
  build/components/versions.yml
Owners: @fl64

fixes
  templates/cdi/cdi-operator/deployment.yaml
Owners: @fl64

add libcrypt to binaries
  images/libvirt/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fixes
  build/components/versions.yml
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/datavolume_watcher.go
Owners: @Isteb4k

tcdi
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

t
  templates/cdi/cdi-operator/rbac-for-us.yaml
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/datavolume_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/datavolume_watcher.go
Owners: @Isteb4k

bump kubevirt to tag v1.3.1-v12n.9
  build/components/versions.yml
  images/virtualization-artifact/pkg/controller/vmop/internal/service/stop.go
Owners: @fl64, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/virtualdisk_watcher.go
Owners: @Isteb4k, @yaroslavborbat

use kv and cdi patches
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
Owners: @Isteb4k

fix after rebase)
  build/components/versions.yml
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/datavolume_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/datavolume_watcher.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/virtualdisk_watcher.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

chore(core): refactor build libs
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fixes
  build/components/versions.yml
  templates/cdi/cdi-operator/deployment.yaml
Owners: @fl64

fix(vm): watch for kvvm volume snapshot statuses
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/kvvm_watcher.go
Owners: @yaroslavborbat

++ docs
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

add libcurl
  build/components/versions.yml
  images/packages/libcurl/README.md
  images/packages/libcurl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add self built packages
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

chore(core): refactor build libs
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

add nettle
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

include packages to libcurl before setup
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

revert beforeSetup & remove gnutls for now
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

quickfix
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

add libgnutls-devel
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

add maintenance
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @fl64, @yaroslavborbat

fixes
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

add maintenance
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

add maintenance
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
