Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

rename status
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

fix update vm
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

add vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

machine stopped in maintenance mode
  images/virtualization-artifact/pkg/controller/vm/internal/maintenance.go
Owners: @yaroslavborbat

update vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer_test.go
Owners: @Isteb4k

nil vmmac for vmspec if not present in snapshot
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

fix run policies
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fill interface impl
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
Owners: @Isteb4k

fix vmip
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

refactor statuses
  api/core/v1alpha2/virtual_machine_operation.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @fl64, @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
Owners: @Isteb4k

refactor lifecycle
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fix nil pointer
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

fix types
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
Owners: @Isteb4k

exit from maintenance only if all resource not in progress
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
Owners: @Isteb4k

fix delete reconcile
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

feat(vd): add validation before volume migration
  images/virtualization-artifact/pkg/controller/vd/internal/validator/pvc_size_validator.go
Owners: @Isteb4k

feat(vd): fix sc watcher
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/storageclass_watcher.go
Owners: @Isteb4k

fix linter
  images/virtualization-artifact/pkg/builder/vd/option.go
Owners: @Isteb4k

typo fix
  images/virtualization-artifact/pkg/builder/vd/option.go
Owners: @Isteb4k

remove redeclaration after rebase
  images/virtualization-artifact/pkg/builder/vm/option.go
Owners: @Isteb4k

add e2e framework
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/config/config.go
  tests/e2e/framework/client.go
  tests/e2e/framework/framework.go
  tests/e2e/object/const.go
  tests/e2e/object/cvi.go
  tests/e2e/object/vd.go
  tests/e2e/object/vm.go
  tests/e2e/tests_suite_test.go
Owners: @Isteb4k, @hardcoretime

feat(vd): fix update validating
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

fix bestEffort
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

feat: add e2e framework (#1366)
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/config/config.go
  tests/e2e/framework/client.go
  tests/e2e/framework/framework.go
  tests/e2e/object/const.go
  tests/e2e/object/cvi.go
  tests/e2e/object/vd.go
  tests/e2e/object/vm.go
  tests/e2e/tests_suite_test.go
Owners: @Isteb4k, @hardcoretime

fix vmip
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

machine stopped in maintenance mode
  images/virtualization-artifact/pkg/controller/vm/internal/maintenance.go
Owners: @yaroslavborbat

refactor lifecycle
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

exit from maintenance only if all resource not in progress
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
Owners: @Isteb4k

fix nil pointer
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

fill interface impl
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
Owners: @Isteb4k

fix update vm
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

fix some issues with update
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @Isteb4k

add vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer_test.go
Owners: @Isteb4k

rename status
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

fix inProgress check
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

nil vmmac for vmspec if not present in snapshot
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k
