Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main.go
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main_test.go
Owners: @universal-itengineer

chore(ci): enable schedule for svace (#1150)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main_test.go
Owners: @universal-itengineer

fix
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main.go
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main_test.go
Owners: @universal-itengineer

chore(ci): add `MODULE_EDITION` to svace workflow
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

chore(ci): update DMT lint action version to v3
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

feat(vmrestore): add force option
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/virtual_machine_restore.go
  api/core/v1alpha2/vm-restore-condition/condition.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualmachinerestores.yaml
  crds/virtualmachinerestores.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/errors.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vd_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vm_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

only 1 file
  images/packages/binaries/gcc/werf.inc.yaml
Owners: @universal-itengineer

only c
  images/packages/binaries/gcc/werf.inc.yaml
Owners: @universal-itengineer

crds review
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
Owners: @fl64, @z9r5, @goganat

refactoring tests
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/common/testutil/testutil.go
Owners: @Isteb4k

remove adding finalizers in deleteion handlers
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
Owners: @Isteb4k

fmt
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

suite_test
  images/virtualization-artifact/pkg/controller/cvi/internal/suite_test.go
Owners: @Isteb4k

fix tests
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

resolve
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
Owners: @Isteb4k

fix vi lifecycle
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

clear legacy watchers
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

remove useless
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

feat
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/cvi/internal/handler_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vi_watcher.go
  images/virtualization-artifact/pkg/controller/dvcr_data_source.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
Owners: @Isteb4k

fix merge conflicts
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/common/testutil/testutil.go
Owners: @Isteb4k

vi watchers reshuffle
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

use test context
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

fix empty ns
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
Owners: @Isteb4k

why we trigger
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

vi with new design
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

reuse existed diskService
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
Owners: @Isteb4k

fix copyright
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
Owners: @Isteb4k

fix generation check
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

cvi new design
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

remove unused check
  images/virtualization-artifact/pkg/controller/vmbda/internal/block_device_ready.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
