Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add unit tests
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
Owners: @Isteb4k

fix test
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
Owners: @Isteb4k

fix delete
  images/virtualization-artifact/pkg/common/patch/patch.go
  images/virtualization-dra/pkg/patch/patch.go
Owners: @Isteb4k, @universal-itengineer

fix lint
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @Isteb4k, @yaroslavborbat

add doc ru
  crds/doc-ru-nodeusbdevices.yaml
  crds/doc-ru-usbdevices.yaml
Owners: @fl64, @z9r5, @goganat

update copyright
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/nodeusbdevicecondition/condition.go
  api/core/v1alpha2/usb_device.go
  api/core/v1alpha2/usbdevicecondition/condition.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/watcher/nodeusbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_reconciler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

++ move Pending set into a separate handler
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/ensure_validity.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
Owners: @Isteb4k

chore(module): add bounder to svace analyze process (#1921)
  images/bounder/werf.inc.yaml
Owners: @universal-itengineer

feat(ci): add test release workflow
  .github/workflows/e2e-test-releases-reusable-pipeline.yml
  .github/workflows/e2e-test-releases.yml
Owners: @universal-itengineer

chore(module): update info for used 3p source code in oss.yaml file
  oss.yaml
Owners: @fl64

feat(ci): add test release workflow (#1923)
  .github/workflows/e2e-test-releases-reusable-pipeline.yml
  .github/workflows/e2e-test-releases.yml
Owners: @universal-itengineer

fix TODO
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
Owners: @Isteb4k

restore
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  test/e2e/vmop/restore.go
Owners: @fl64, @Isteb4k

fix TODO
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @Isteb4k, @yaroslavborbat

add cond
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/vmcondition/condition.go
  crds/nodeusbdevices.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat

fix rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  templates/virtualization-controller/validation-webhook.yaml
Owners: @Isteb4k, @fl64

simplify
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/hash/hash.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
Owners: @Isteb4k

update codegen
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

fix: refactor
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: fix timer
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: fix timeout duration
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: fix flag message
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix(cli): fix linter
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: add spinner
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: fix timeout
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: fix losing first 4 characters after VM reboot during console session
  src/cli/internal/cmd/console/console.go
  src/cli/internal/util/consts.go
Owners: @fl64

fix: fix timeout
  src/cli/internal/cmd/console/console.go
Owners: @fl64

refactor
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix errors
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @Isteb4k, @yaroslavborbat

fix test
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/hash/hash.go
Owners: @Isteb4k

refactoring
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
Owners: @fl64, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

Apply suggestions from code review
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

add indexers for tests
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
Owners: @Isteb4k

fix(vmsnapshot): set phase to Pending on SyncFSFreezeRequest errors (#1922)
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/ensure_validity.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
Owners: @Isteb4k

docs(vm): resolve linter warnings and regenerate CRD
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

remove printf
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
Owners: @Isteb4k

fix e2e
  test/e2e/vmop/restore.go
Owners: @fl64

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
