Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

feat(module): add DVCR capacity alert
  monitoring/prometheus-rules/dvcr.yaml
Owners: @fl64

Update monitoring/prometheus-rules/dvcr.yaml
  monitoring/prometheus-rules/dvcr.yaml
Owners: @fl64

chore(module): rename containers to support integrity checks
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/virtualization-artifact/pkg/audit/events/vm/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_control_test.go
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @universal-itengineer, @fl64, @Isteb4k, @yaroslavborbat

Backport: chore(module): rename containers to support integrity checks (#1483)
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/virtualization-artifact/pkg/audit/events/vm/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_control_test.go
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @universal-itengineer, @fl64, @Isteb4k, @yaroslavborbat

chore(core): fix build glib2 (#1478)
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

Backport: chore(core): fix build glib2 (#1484)
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

chore(module): fix install packages via dnf and yum (#1464)
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

Backport: chore(module): fix install packages via dnf and yum (#1485)
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

fix(docs): english documentation remove cyrillic characters cdi_kubevirt_patching (#1481)
  docs/internal/cdi_kubevirt_patching.md
Owners: @fl64, @z9r5, @goganat

Backport: fix(docs): english documentation remove cyrillic characters cdi_kubevirt_patching (#1486)
  docs/internal/cdi_kubevirt_patching.md
Owners: @fl64, @z9r5, @goganat

chore(module): dedup lines on live migration memory graph (#1474)
  monitoring/grafana-dashboards/main/virtual-machine.json
Owners: @fl64

Backport: chore(module): dedup lines on live migration memory graph (#1487)
  monitoring/grafana-dashboards/main/virtual-machine.json
Owners: @fl64

Re-generate changelog v0.18.2
  CHANGELOG/CHANGELOG-v0.18.2.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Re-generate changelog v0.24.1
  CHANGELOG/CHANGELOG-v0.24.1.yml
  CHANGELOG/CHANGELOG-v0.24.md
Owners: @fl64

Re-generate changelog v1.0.1
  CHANGELOG/CHANGELOG-v1.0.1.yml
  CHANGELOG/CHANGELOG-v1.0.md
Owners: @fl64

add touch tests/Makefile.in
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

fix
  monitoring/prometheus-rules/dvcr.yaml
Owners: @fl64

add makeinfo
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

change version
  build/components/versions.yml
Owners: @fl64

test
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

fix sed
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

remove /usr/share
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

add readme for libunistring
  images/packages/libunistring/README.md
Owners: @universal-itengineer

refactor
  api/client/generated/clientset/versioned/typed/core/v1alpha2/virtualmachine_expansion.go
  api/client/kubeclient/client.go
  api/client/kubeclient/request.go
  api/client/kubeclient/vm.go
  api/scripts/update-codegen.sh
  api/subresources/install/install.go
  api/subresources/v1alpha3/doc.go
  api/subresources/v1alpha3/register.go
  api/subresources/v1alpha3/types.go
  api/subresources/v1alpha3/zz_generated.conversion.go
  api/subresources/v1alpha3/zz_generated.deepcopy.go
  build/components/versions.yml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/apiserver/api/install.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/legacy_storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/util.go
  images/virtualization-artifact/pkg/apiserver/server/config.go
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/portforward/tcp.go
  src/cli/internal/cmd/portforward/udp.go
  src/cli/internal/cmd/ssh/native.go
  templates/virtualization-api/apiserver-v1alpha2.yaml
  templates/virtualization-api/apiserver-v1alpha3.yaml
Owners: @fl64, @Isteb4k

test(vmrestore): disable checks until issues are fixed
  tests/e2e/default_config.yaml
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

test: fix cleanup panic
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/service/bounder_service.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/service/importer_service.go
  images/virtualization-artifact/pkg/controller/service/uploader_service.go
  images/virtualization-artifact/pkg/controller/supplements/generator.go
  images/virtualization-artifact/pkg/controller/supplements/generator_legacy.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_ingress.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/blank.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_cr.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_pvc_test.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/service/restorer/mock.go
  images/virtualization-artifact/pkg/controller/supplements/generator_legacy.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_ingress.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
Owners: @Isteb4k

test(e2e): check that the tpm module is recognized in the os
  tests/e2e/config/config.go
  tests/e2e/config/reusable.go
  tests/e2e/default_config.yaml
  tests/e2e/testdata/vm-tpm/kustomization.yaml
  tests/e2e/testdata/vm-tpm/ns.yaml
  tests/e2e/testdata/vm-tpm/transformer.yaml
  tests/e2e/testdata/vm-tpm/vi/kustomization.yaml
  tests/e2e/testdata/vm-tpm/vi/vi-debian-http.yaml
  tests/e2e/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  tests/e2e/testdata/vm-tpm/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-tpm/vm/base/vd-root.yaml
  tests/e2e/testdata/vm-tpm/vm/base/vm.yaml
  tests/e2e/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  tests/e2e/testdata/vm-tpm/vm/kustomization.yaml
  tests/e2e/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  tests/e2e/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  tests/e2e/vm_tpm_test.go
Owners: @hardcoretime

test(vmrestore): skip all containers if critical error
  tests/e2e/vm_restore_force_test.go
Owners: @hardcoretime

test(vmrestore): disable checks until issues are fixed (#1490)
  tests/e2e/default_config.yaml
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

chore: skip migration cancel test (#1467)
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

bump tree for readme
  images/packages/liburing/werf.inc.yaml
  images/packages/libuserspace-rcu/werf.inc.yaml
Owners: @universal-itengineer

remove docs
  images/packages/liburing/werf.inc.yaml
  images/packages/libuserspace-rcu/werf.inc.yaml
Owners: @universal-itengineer

import libs
  images/cdi-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libunistring/patches/0010-AC_INIT.patch
  images/packages/libunistring/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/packages/ubdsrv/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

test: move DeferCleanup to SynchronizedAfterSuite
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

fix double import
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

add libuserspace-rcu
  images/packages/multipath-tools/werf.inc.yaml
Owners: @universal-itengineer

update readmes
  images/packages/liburing/README.md
  images/packages/libuserspace-rcu/README.md
Owners: @universal-itengineer
