Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix missed reconsile
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vd.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmbda.go
Owners: @Isteb4k

add ru docs
  crds/doc-ru-virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

add ann checks
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

fix fail condition
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

sasl2: rm openldap
  images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/selinux/README.md
  images/packages/selinux/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  tests/e2e/framework/ssh.go
  tests/e2e/framework/timeout.go
  tests/e2e/object/const.go
Owners: @yaroslavborbat, @hardcoretime

Update images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @Isteb4k

Changelog v1.0.0 (#1429)
  CHANGELOG/CHANGELOG-v1.0.0.yml
  CHANGELOG/CHANGELOG-v1.0.md
Owners: @fl64

Changelog v1.0.0 (#1429)
  CHANGELOG/CHANGELOG-v1.0.0.yml
  CHANGELOG/CHANGELOG-v1.0.md
Owners: @fl64

Backport: Changelog v1.0.0 (#1458)
  CHANGELOG/CHANGELOG-v1.0.0.yml
  CHANGELOG/CHANGELOG-v1.0.md
Owners: @fl64

Update images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/suite_test.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
Owners: @Isteb4k

fix review
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
Owners: @Isteb4k

fix review
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

chore(core): build libs readline cyrus-sasl2 libseccomp selinux libslirp snappy (#1434)
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/packages/bzip2/README.md
  images/packages/bzip2/werf.inc.yaml
  images/packages/cyrus-sasl2/README.md
  images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcap-ng/README.md
  images/packages/libcap-ng/werf.inc.yaml
  images/packages/libcap/README.md
  images/packages/libcap/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libseccomp/README.md
  images/packages/libseccomp/werf.inc.yaml
  images/packages/libslirp/README.md
  images/packages/libslirp/werf.inc.yaml
  images/packages/linux-pam/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/readline/README.md
  images/packages/readline/werf.inc.yaml
  images/packages/selinux/README.md
  images/packages/selinux/werf.inc.yaml
  images/packages/snappy/README.md
  images/packages/snappy/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

Re-generate changelog v1.1.0
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

fix update vm
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

rename status
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

refactor lifecycle
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
Owners: @Isteb4k

nil vmmac for vmspec if not present in snapshot
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

fix run policies
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fix restore
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fill interface impl
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
Owners: @Isteb4k

machine stopped in maintenance mode
  images/virtualization-artifact/pkg/controller/vm/internal/maintenance.go
Owners: @yaroslavborbat

tmp
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  tests/e2e/framework/framework.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

update vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer_test.go
Owners: @Isteb4k

fix inProgress check
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fix nil pointer
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

tmp2
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

fix bestEffort
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
Owners: @Isteb4k

add vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

add vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer_test.go
Owners: @Isteb4k

fix delete reconcile
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

fix vmip
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

exit from maintenance only if all resource not in progress
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
Owners: @Isteb4k

fix types
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
Owners: @Isteb4k
