Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix deploy template custom-certificate
  templates/custom-certificate.yaml
Owners: @fl64

use kubeconf
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nfs.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/pvc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/svc.yaml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
  test/dvp-over-dvp/storage/ceph/00-ms.yaml
  test/dvp-over-dvp/storage/ceph/01-mc.yaml
  test/dvp-over-dvp/storage/ceph/02-sa.yaml
  test/dvp-over-dvp/storage/ceph/03-cm.yaml
  test/dvp-over-dvp/storage/ceph/04-cluster.yaml
  test/dvp-over-dvp/storage/ceph/05-blockpool.yaml
  test/dvp-over-dvp/storage/ceph/06-toolbox.yaml
  test/dvp-over-dvp/storage/ceph/ceph-configure.sh
  test/dvp-over-dvp/storage/sds-replicated/lvg-gen.sh
  test/dvp-over-dvp/storage/sds-replicated/mc.yaml
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
  test/dvp-over-dvp/tools/deckhouse-queue.sh
  test/dvp-over-dvp/values.example.yaml
  test/e2e/scripts/task_run_ci.sh
Owners: @universal-itengineer, @fl64

try dh pr17193
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix cond
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix wait ceph
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

install d8 cli via curl
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: add proccesing bootstrap failed
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix gloabl cfg, use selfsingeg cert
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

fix report
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix branch name in summary
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix ask fo del
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

change wf, add prepare-report job
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

try use artifact for reports
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: comment https for virt, add dbg
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: rename gen-sa to gen-kubeconfig, move to tools
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/tools/gen-kubeconfig.sh
Owners: @universal-itengineer, @fl64

add condition for FOCUS var for ginkgo test
  .github/workflows/e2e-reusable-pipeline.yml
  test/e2e/scripts/task_run_ci.sh
Owners: @universal-itengineer, @fl64

feat(ci): configure nested e2e cluster for nightly tests
  .github/workflows/e2e-matrix.yml
  .gitignore
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/.helmignore
  test/dvp-over-dvp/charts/cluster-config/Chart.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ingress.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nfs.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/rbac.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
  test/dvp-over-dvp/charts/infra/.helmignore
  test/dvp-over-dvp/charts/infra/Chart.yaml
  test/dvp-over-dvp/charts/infra/templates/ingress.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/pvc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/ns.yaml
  test/dvp-over-dvp/charts/infra/templates/rbac/rbac.yaml
  test/dvp-over-dvp/charts/infra/templates/vi.yaml
  test/dvp-over-dvp/charts/infra/templates/vmc.yaml
  test/dvp-over-dvp/values.example.yaml
Owners: @universal-itengineer, @fl64

static: fix cond ceph and sds
  .github/workflows/e2e-reusable-pipeline.yml
  templates/dvcr/deployment.yaml
  templates/dvcr/rbac-for-us.yaml
Owners: @universal-itengineer, @fl64

add additional checks for virt
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix condition, rename tools to scripts
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add sc for e2e
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

change virt tag to main
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

use deckhouse main, pr17193 merged
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add statis-cluster config
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/Chart.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/_helpers.tpl
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-cse.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nfs.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ngc.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ssh-creds.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/virtualization.yaml
  test/dvp-static-cluster/charts/infra/.helmignore
  test/dvp-static-cluster/charts/infra/Chart.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/svc.yaml
  test/dvp-static-cluster/charts/infra/templates/ns.yaml
  test/dvp-static-cluster/charts/infra/templates/vi.yaml
  test/dvp-static-cluster/charts/infra/templates/vmc.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/nested-sa-config/gen-sa.sh
  test/dvp-static-cluster/storage/ceph/00-ms.yaml
  test/dvp-static-cluster/storage/ceph/01-mc.yaml
  test/dvp-static-cluster/storage/ceph/02-sa.yaml
  test/dvp-static-cluster/storage/ceph/03-cm.yaml
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
  test/dvp-static-cluster/storage/ceph/05-blockpool.yaml
  test/dvp-static-cluster/storage/ceph/06-toolbox.yaml
  test/dvp-static-cluster/storage/ceph/ceph-configure.sh
  test/dvp-static-cluster/storage/sds-replicated/lvg-gen.sh
  test/dvp-static-cluster/storage/sds-replicated/mc.yaml
  test/dvp-static-cluster/storage/sds-replicated/rsc-gen.sh
Owners: @fl64

rm commenter always from undeploy-cluster
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix cpu core usage in percent
  monitoring/grafana-dashboards/main/propagated-vm.json
Owners: @fl64

fix comments
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
Owners: @Isteb4k

chore(core): add rename for machine-type.node labels
  images/kube-api-rewriter/pkg/kubevirt/kubevirt_rules.go
Owners: @diafour

test(vm): Check that the tpm module is recognized in the os
  images/virtualization-artifact/pkg/builder/vm/option.go
  test/e2e/default_config.yaml
  test/e2e/internal/config/config.go
  test/e2e/legacy/testdata/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/ns.yaml
  test/e2e/legacy/testdata/vm-tpm/transformer.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/vi-debian-http.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vm.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  test/e2e/legacy/vm_tpm.go
  test/e2e/vm/tpm.go
Owners: @Isteb4k, @fl64

test(e2e): check that the tpm module is recognized in the os Create legacy test for check tpm
  test/e2e/default_config.yaml
  test/e2e/internal/config/config.go
  test/e2e/legacy/testdata/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/ns.yaml
  test/e2e/legacy/testdata/vm-tpm/transformer.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/vi-debian-http.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vm.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  test/e2e/legacy/vm_tpm.go
Owners: @fl64

Update test/e2e/vm/tpm.go
  test/e2e/vm/tpm.go
Owners: @fl64

test(vm): Check that the tpm module is recognized in the os fix
  test/e2e/vm/tpm.go
Owners: @fl64

test(vm): Check that the tpm module is recognized in the os fix
  test/e2e/vm/tpm.go
Owners: @fl64

fix generating paths in HostDiskImgCreator
  build/components/versions.yml
Owners: @fl64

fix: fix generating paths in HostDiskImgCreator (#1855)
  build/components/versions.yml
Owners: @fl64

fix: fix generating paths in HostDiskImgCreator (#1855)
  build/components/versions.yml
Owners: @fl64

Backport: fix: fix generating paths in HostDiskImgCreator (#1856)
  build/components/versions.yml
Owners: @fl64

fix(module): fix cpu usage metrics (#1752)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
  templates/kubevirt/service-monitor.yaml
Owners: @fl64

fix(module): fix cpu usage metrics (#1752)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
  templates/kubevirt/service-monitor.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
