Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

refactor(api): simplify IsStorageClassDeprecated method signature (#1264)
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

fix(vm): add name length validation for blockDeviceRefs (#1276)
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_refs_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_refs_validator_test.go
Owners: @yaroslavborbat

+
  crds/doc-ru-virtualdisksnapshots.yaml
  crds/doc-ru-virtualmachinesnapshots.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

Apply suggestions from code review
  crds/doc-ru-virtualmachinesnapshots.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

add snapshot-controller requirements
  module.yaml
Owners: @fl64

+
  crds/virtualdisksnapshots.yaml
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

+
  api/core/v1alpha2/virtual_machine_snapshot.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64

+
  api/core/v1alpha2/virtual_disk_snapshot.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64

+
  module.yaml
Owners: @fl64

test patch
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(vi): validate storage class
  images/virtualization-artifact/pkg/controller/moduleconfig/moduleconfig_webhook.go
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

chore(cdi): support more CSI modules
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

ttt
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

chore(observability): NoVirtHandlerPodsRunning
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
  monitoring/prometheus-rules/virtualization-controller.yaml
  werf.yaml
Owners: @fl64, @universal-itengineer

feat(core): remove VolumeSnapshotClass from VDSnapshot and VMSnapshot (#1274)
  api/core/v1alpha2/virtual_disk_snapshot.go
  api/core/v1alpha2/virtual_machine_snapshot.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualdisksnapshots.yaml
  crds/doc-ru-virtualmachinesnapshots.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualmachinesnapshots.yaml
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  tests/e2e/images_creation_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_restore_force_test.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @hardcoretime

chore(cdi): support more CSI modules (#1288)
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

Update monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

chore(observability): NoVirtHandlerPodsRunning (#1263)
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
  monitoring/prometheus-rules/virtualization-controller.yaml
  werf.yaml
Owners: @fl64, @universal-itengineer

fix(observability): virt-handler target absent
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

tst1
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

tst2
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

change d8virthandlerdown absent to virt-metrics state
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

fix description
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

Update monitoring/prometheus-rules/virt-metrics.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

Update monitoring/prometheus-rules/virt-metrics.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

Update monitoring/prometheus-rules/virt-metrics.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

Update monitoring/prometheus-rules/virt-metrics.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

fix(observability): virtualization virt metrics state (#1291)
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
  monitoring/prometheus-rules/virt-metrics.yaml
Owners: @fl64

tttttttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

docs/module/add-ui-examples: add ui examples for user ru
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: Fixed typos and added eng version
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
