Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

wip
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
Owners: @universal-itengineer

improve vmop migration condition
  build/components/versions.yml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

feat(vmop): improve vmop migration condition (#1569)
  build/components/versions.yml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

wip
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
Owners: @universal-itengineer

wip
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @universal-itengineer, @fl64

test: resolve review comments
  test/e2e/internal/framework/decorators.go
  test/e2e/internal/framework/dump.go
  test/e2e/internal/framework/framework.go
  test/e2e/internal/object/const.go
  test/e2e/legacy/affinity_toleration.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/image_hotplug.go
  test/e2e/legacy/images_creation.go
  test/e2e/legacy/importer_network_policy.go
  test/e2e/legacy/sizing_policy.go
  test/e2e/legacy/vd_snapshots.go
  test/e2e/legacy/vm_configuration.go
  test/e2e/legacy/vm_connectivity.go
  test/e2e/legacy/vm_disk_attachment.go
  test/e2e/legacy/vm_disk_resizing.go
  test/e2e/legacy/vm_evacuation.go
  test/e2e/legacy/vm_label_annotation.go
  test/e2e/legacy/vm_migration.go
  test/e2e/legacy/vm_migration_cancel.go
  test/e2e/legacy/vm_restore_force.go
  test/e2e/legacy/vm_restore_safe.go
  test/e2e/legacy/vm_version.go
  test/e2e/legacy/vm_vpc.go
  test/e2e/vm/ipam.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_local_disks.go
  test/e2e/vm/volume_migration_storage_class_changed.go
Owners: @fl64

test: add defer resource deletion
  test/e2e/internal/framework/framework.go
  test/e2e/vm/live_migration_tcp_session.go
Owners: @fl64

test: remove common decorators
  test/e2e/README.md
  test/e2e/internal/framework/decorators.go
  test/e2e/legacy/affinity_toleration.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/image_hotplug.go
  test/e2e/legacy/images_creation.go
  test/e2e/legacy/importer_network_policy.go
  test/e2e/legacy/sizing_policy.go
  test/e2e/legacy/vd_snapshots.go
  test/e2e/legacy/vm_configuration.go
  test/e2e/legacy/vm_connectivity.go
  test/e2e/legacy/vm_disk_attachment.go
  test/e2e/legacy/vm_disk_resizing.go
  test/e2e/legacy/vm_evacuation.go
  test/e2e/legacy/vm_label_annotation.go
  test/e2e/legacy/vm_migration.go
  test/e2e/legacy/vm_migration_cancel.go
  test/e2e/legacy/vm_restore_force.go
  test/e2e/legacy/vm_restore_safe.go
  test/e2e/legacy/vm_version.go
  test/e2e/legacy/vm_vpc.go
  test/e2e/vm/ipam.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_local_disks.go
  test/e2e/vm/volume_migration_storage_class_changed.go
Owners: @fl64

test(vm): add continueOnFailure to volume migration cases
  test/e2e/vm/volume_migration_local_disks.go
  test/e2e/vm/volume_migration_storage_class_changed.go
Owners: @fl64

test: revert polling timeout in the cleanup
  test/e2e/internal/framework/framework.go
Owners: @fl64

test(vm): refactor live migration tcp session case
  test/e2e/internal/config/config.go
  test/e2e/internal/framework/dump.go
  test/e2e/internal/framework/framework.go
  test/e2e/internal/framework/ssh.go
  test/e2e/internal/framework/timeout.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/vm_live_migration_tcp_session.go
  test/e2e/vm/live_migration_tcp_session.go
Owners: @fl64

test(vm): resolve review comments 2
  test/e2e/internal/framework/framework.go
  test/e2e/vm/ipam.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_storage_class_changed.go
Owners: @fl64

feat(module): validate dvcr section in ModuleConfig (#1628)
  images/virtualization-artifact/pkg/controller/moduleconfig/dvcr_validator.go
  images/virtualization-artifact/pkg/controller/moduleconfig/moduleconfig_webhook.go
Owners: @Isteb4k

test(vm): refactor live migration TCP session case (#1626)
  test/e2e/README.md
  test/e2e/internal/config/config.go
  test/e2e/internal/framework/decorators.go
  test/e2e/internal/framework/dump.go
  test/e2e/internal/framework/framework.go
  test/e2e/internal/framework/ssh.go
  test/e2e/internal/framework/timeout.go
  test/e2e/internal/object/const.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/affinity_toleration.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/image_hotplug.go
  test/e2e/legacy/images_creation.go
  test/e2e/legacy/importer_network_policy.go
  test/e2e/legacy/sizing_policy.go
  test/e2e/legacy/vd_snapshots.go
  test/e2e/legacy/vm_configuration.go
  test/e2e/legacy/vm_connectivity.go
  test/e2e/legacy/vm_disk_attachment.go
  test/e2e/legacy/vm_disk_resizing.go
  test/e2e/legacy/vm_evacuation.go
  test/e2e/legacy/vm_label_annotation.go
  test/e2e/legacy/vm_live_migration_tcp_session.go
  test/e2e/legacy/vm_migration.go
  test/e2e/legacy/vm_migration_cancel.go
  test/e2e/legacy/vm_restore_force.go
  test/e2e/legacy/vm_restore_safe.go
  test/e2e/legacy/vm_version.go
  test/e2e/legacy/vm_vpc.go
  test/e2e/vm/ipam.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_local_disks.go
  test/e2e/vm/volume_migration_storage_class_changed.go
Owners: @fl64

feat(vmrestore): deprecate vmrestore (#1631)
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_webhook.go
  templates/virtualization-controller/validation-webhook.yaml
Owners: @Isteb4k, @fl64

revert generic vmclass
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @universal-itengineer, @fl64

wip
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
Owners: @universal-itengineer

chore(ci): disable virtualization in e2e matrix
  ci/dvp-e2e/charts/cluster-config/templates/virtualization.yaml
  ci/dvp-e2e/values.yaml
Owners: @fl64

remove hook, patch on startup
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/inject-crd-conversion/hook.go
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/crd/ensure_conversion.go
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @universal-itengineer, @Isteb4k, @fl64

chore(core): fix nil map panic, fix double mounts (#1609)
  build/components/versions.yml
Owners: @fl64

wip
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

wip
  images/virtualization-artifact/pkg/crd/ensure_conversion.go
Owners: @Isteb4k

chore(ci): install d8 via trdl
  .github/workflows/dev_module_build.yml
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

safely remove legacy
  test/e2e/legacy/util.go
  test/e2e/legacy/vm_migration.go
Owners: @fl64

move to adhoc action
  .github/actions/install-d8/action.yml
  .github/workflows/dev_module_build.yml
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

prettier
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

new wave test)
  test/e2e/internal/util/vm.go
  test/e2e/vm/migration.go
Owners: @fl64

fix discovery
  api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class_conversion.go
  api/core/v1alpha3/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @Isteb4k

refactor
  test/e2e/internal/util/vm.go
  test/e2e/vm/migration.go
Owners: @fl64

refactoring utils
  test/e2e/internal/util/vd.go
  test/e2e/internal/util/vm.go
Owners: @fl64

fix linter
  test/e2e/internal/util/vd.go
Owners: @fl64

long timeout for deletion
  test/e2e/internal/framework/framework.go
Owners: @fl64

fix validation, add tests
  api/core/v1alpha3/conversion_suite_test.go
  api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class_conversion.go
  api/core/v1alpha3/virtual_machine_class_conversion_test.go
  api/go.mod
  api/go.sum
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

wip
  api/go.mod
  api/go.sum
Owners: @fl64

wip
  images/hooks/go.mod
  images/hooks/go.sum
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
Owners: @universal-itengineer, @Isteb4k

chore(ci): install d8 via trdl (#1634)
  .github/actions/install-d8/action.yml
  .github/workflows/dev_module_build.yml
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

chore(ci): add .sourcery.yaml
  .sourcery.yaml
Owners: @fl64

prettier
  .sourcery.yaml
Owners: @fl64

change version to trigger sourcery review
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer
