Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(module): update info for used 3p source code in oss.yaml file (#1924)
  oss.yaml
Owners: @fl64

fix(vmop): make Clone operation compatible with wffc disks
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

chore(module): add bounder to svace analyze process (#1921)
  images/bounder/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

chore(ci): add src-artifact images to ci
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

del dbg
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

add src to images forge,dvcr,hook,api-rw,virtualization-api
  images/dvcr-artifact/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): add src-artifact images (#1927)
  images/dvcr-artifact/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): add src-artifact images (#1927)
  images/dvcr-artifact/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

chore(vmop): improve error logging
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

chore(ci): fix svace params
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

chore(ci): fix svace params (#1929)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix
  api/scripts/update-codegen.sh
  crds/nodeusbdevices.yaml
Owners: @fl64, @z9r5, @goganat

prefix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

fix discovery
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
Owners: @Isteb4k

check if exist
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
Owners: @Isteb4k

fix subresource update
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
Owners: @Isteb4k

fix subresource
  api/core/v1alpha2/usb_device.go
  crds/usbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

update rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  templates/admission-policy.yaml
  templates/virtualization-controller/validation-webhook.yaml
Owners: @Isteb4k, @fl64

fix rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  templates/admission-policy.yaml
Owners: @Isteb4k, @fl64

Revert "fix subresource"
  api/core/v1alpha2/usb_device.go
  crds/usbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  templates/admission-policy.yaml
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add ns
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix err
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
Owners: @Isteb4k

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

total rewriting
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/final_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
Owners: @fl64, @Isteb4k

fixes
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
Owners: @Isteb4k

tests
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/final_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step_test.go
Owners: @Isteb4k

fix linter
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
Owners: @Isteb4k

fix linter 2
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
Owners: @Isteb4k

fix
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

final -> completed
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/completed_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/final_step_test.go
Owners: @Isteb4k

resolve
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
Owners: @fl64, @Isteb4k

chore(vmop): improve error logging (#1928)
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

chore(ci): disable sdn module for tests in nested cluster
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
Owners: @fl64

chore(ci): disable sdn module for tests in nested cluster (#1930)
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
Owners: @fl64

fix
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vm): prevent false RestartRequired condition during reboot
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @Isteb4k, @yaroslavborbat

docs: review updates
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  images/edk2/build.sh
Owners: @universal-itengineer

detect term size to avoid line breakes
  src/cli/internal/cmd/console/console.go
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
