Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix run e2e
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: rm cse condition
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

add info about storage setup
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

ci: update ci for multiple storage type report, add junit xml report file
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/storage/sds-replicated/rsc-gen.sh
Owners: @universal-itengineer, @fl64

static: fix msg messages, fix conditions,refactor dbg messages
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

change token
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

test bootstrap with proxy settings in nested cluster
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
Owners: @universal-itengineer, @fl64

fix scanInterval, add if for dvcr
  .github/workflows/e2e-reusable-pipeline.yml
  templates/dvcr/deployment.yaml
  test/dvp-static-cluster/storage/ceph/01-mc.yaml
  test/dvp-static-cluster/storage/sds-replicated/mc.yaml
Owners: @universal-itengineer, @fl64

static: fix gen-kubecfg,edit permissions
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
Owners: @fl64

static: update count of attempt for sds
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

bump helm lib to 1.65.2
  .helmignore
  Chart.yaml
  Taskfile.yaml
  charts/deckhouse_lib_helm-1.55.1.tgz
  charts/deckhouse_lib_helm-1.65.2.tgz
  requirements.lock
  templates/custom-certificate.yaml
Owners: @fl64

fix loop seq
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix cfg mc global
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

fix e2e report
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: add label deploy jump-his, fix d8queue
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
Owners: @universal-itengineer, @fl64

static: fix virt cert
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

upd info msg for virtualization module
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

static: rm jump host after cluster deployed
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

static: fix sds conditions
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

format yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix report
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix virt-handler wait
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

refactor determine-stage and 'Send results to channel'
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

change virtualization tag to pr1757
  .github/workflows/e2e-matrix.yml
  templates/dvcr/deployment.yaml
Owners: @universal-itengineer, @fl64

static: fix loop, fix repodt
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: test deploy
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-cse.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/virtualization.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

static: rename tools to scripts
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
Owners: @fl64

static: fix task show-connection-info
  test/dvp-static-cluster/Taskfile.yaml
Owners: @fl64

static: add log category, emoji in vort install
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix sds wait
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix condition sds and queue script
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

static: fix cond ceph linstor
  .github/workflows/e2e-reusable-pipeline.yml
  templates/dvcr/deployment.yaml
Owners: @universal-itengineer, @fl64

static: clean Chart.yaml
  test/dvp-static-cluster/charts/cluster-config/Chart.yaml
  test/dvp-static-cluster/charts/infra/Chart.yaml
Owners: @fl64

add timeout for checking virt-handler
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: refactor wf
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add additional check
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix install d8, fix setup
  .github/actions/install-d8/action.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: add podSubnet and service CIDR in values yaml, add labels for jumphost
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/svc.yaml
Owners: @universal-itengineer, @fl64

update wait virtualization
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer
