Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(images): make importers work in tainted cluster
  images/virtualization-artifact/pkg/common/provisioner/node_placement.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/service/generic_options.go
  images/virtualization-artifact/pkg/controller/service/importer_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_cr_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_bounder_pod_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pod_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
  templates/cdi/config.yaml
Owners: @Isteb4k, @fl64

++ liveMigrationPolicy PreferForced for more stable migration of mutually exclusive VMs on clusters with 3 nodes
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-a-not-b/kustomization.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-a-not-b/vm.liveMigrationPolicy.patch.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-b-not-a/kustomization.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-b-not-a/vm.liveMigrationPolicy.patch.yaml
Owners: @fl64

++ simplify
  images/virtualization-artifact/pkg/common/provisioner/node_placement.go
Owners: @Isteb4k

move cluster network manifest
  test/e2e/internal/util/sdn.go
  test/e2e/vmop/restore.go
Owners: @fl64

throw error if clusterNetwork is not exists
  test/e2e/vmop/restore.go
Owners: @fl64

Update test/e2e/vmop/restore.go
  test/e2e/vmop/restore.go
Owners: @fl64

test(vmop): add restore vmop e2e test (#1648)
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  test/e2e/Taskfile.yaml
  test/e2e/e2e_test.go
  test/e2e/internal/label/label.go
  test/e2e/internal/object/vd.go
  test/e2e/internal/util/block_device.go
  test/e2e/internal/util/sdn.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/testdata/vm-vpc/network/clusternetwork.yaml
  test/e2e/vmop/restore.go
Owners: @Isteb4k, @fl64

chore(api): extend core fraction validation error msg
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
Owners: @Isteb4k

chore(api): use CutSuffix and improve err msg
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
Owners: @Isteb4k

chore(api): format core fraction values in err msg
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
Owners: @Isteb4k

chore(api): extend core fraction validation error msg (#1793)
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
Owners: @Isteb4k

fix(module): fix dashboards for HA mode (#1801)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

feat(cli): add ansible inventory (#1764)
  src/cli/README.md
  src/cli/internal/cmd/ansibleinventory/ansibleinventory.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

fix(images): make importers work in tainted cluster (#1747)
  images/virtualization-artifact/pkg/common/provisioner/node_placement.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/service/generic_options.go
  images/virtualization-artifact/pkg/controller/service/importer_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_cr_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_bounder_pod_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pod_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
  templates/cdi/config.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-a-not-b/kustomization.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-a-not-b/vm.liveMigrationPolicy.patch.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-b-not-a/kustomization.yaml
  test/e2e/legacy/testdata/complex-test/vm/overlays/vm-b-not-a/vm.liveMigrationPolicy.patch.yaml
Owners: @Isteb4k, @fl64

add check
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
Owners: @yaroslavborbat

make cores required
  api/core/v1alpha3/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

refactoring
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
Owners: @yaroslavborbat

Review
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/secret_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @Isteb4k, @yaroslavborbat

wip
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

immutable
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/secret_watcher.go
Owners: @yaroslavborbat

docs: add release notes for v1.3.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

refactoring
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
Owners: @yaroslavborbat

msgs
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
Owners: @yaroslavborbat

Apply suggestions from code review
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

quotas
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
Owners: @yaroslavborbat

test: refactor Cilium agent check
  test/e2e/internal/network/cilium_agents.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/vm_vpc.go
  test/e2e/vm/connectivity.go
  test/e2e/vm/migration.go
Owners: @fl64

test: refactor Cilium agent check (#1822)
  test/e2e/internal/network/cilium_agents.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/vm_vpc.go
  test/e2e/vm/connectivity.go
  test/e2e/vm/migration.go
Owners: @fl64

change token
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix ask fo del
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

feat(ci): configure nested e2e cluster for nightly tests
  .github/workflows/e2e-matrix.yml
  .gitignore
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/.helmignore
  test/dvp-over-dvp/charts/cluster-config/Chart.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ingress.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nfs.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/rbac.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
  test/dvp-over-dvp/charts/infra/.helmignore
  test/dvp-over-dvp/charts/infra/Chart.yaml
  test/dvp-over-dvp/charts/infra/templates/ingress.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/pvc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/ns.yaml
  test/dvp-over-dvp/charts/infra/templates/rbac/rbac.yaml
  test/dvp-over-dvp/charts/infra/templates/vi.yaml
  test/dvp-over-dvp/charts/infra/templates/vmc.yaml
  test/dvp-over-dvp/values.example.yaml
Owners: @universal-itengineer, @fl64

refactor(kubevirt): bump version to 1.6.2
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

docs: add defaultCoreFraction
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add some info for vmclass
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  build/components/versions.yml
Owners: @fl64

docs: add some info for vmclass
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

feat(vmop): Clone running VM
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

chore(ci): remove selinux packages
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

update doc
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vm): watch to provisioning secrets (#1820)
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/secret_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @Isteb4k, @yaroslavborbat
