Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

refactor all image build
  .werf/defines/helpers.tmpl
  .werf/defines/imgs.tmpl
  .werf/images.yaml
  .werf/packages.yaml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/base-alt-p11/werf.inc.yaml
  images/bounder/werf.inc.yaml
  images/cdi-apiserver/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-cloner/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/cdi-operator/werf.inc.yaml
  images/distroless/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/dvcr-importer/werf.inc.yaml
  images/dvcr-uploader/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/hooks/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/src-artifact/werf.inc.yaml
  images/virt-api/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-controller/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
  images/virt-operator/werf.inc.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/virtualization-audit/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

update fromImage distroless
  images/bounder/werf.inc.yaml
  images/cdi-apiserver/werf.inc.yaml
  images/cdi-cloner/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/cdi-operator/werf.inc.yaml
  images/dvcr-importer/werf.inc.yaml
  images/dvcr-uploader/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/virt-api/werf.inc.yaml
  images/virt-controller/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
  images/virt-operator/werf.inc.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-audit/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

update fromImage base-alt-p11-binaries
  images/cdi-cloner/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/distroless/werf.inc.yaml
Owners: @universal-itengineer

feat(moduel): add nodeSelector for workload
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @fl64, @z9r5, @goganat

feat(moduel): fix nil
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix(core): vmclass node feature update reconcile
  images/virtualization-artifact/hack/dlv-apiserver.Dockerfile
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_reconciler.go
Owners: @Isteb4k

fix(core): check if node has required features
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_reconciler.go
Owners: @Isteb4k

fix(ci): fix variable for module tag (#1033)
  .github/workflows/dev_module_build.yml
  .github/workflows/release_module_build-and-registration.yml
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

Backport: fix(ci): fix variable for module tag (#1077)
  .github/workflows/dev_module_build.yml
  .github/workflows/release_module_build-and-registration.yml
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

feat(moduel): fix nil
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

omit
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix cgo in svace
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
Owners: @Isteb4k

fix(core): vmdk convert fails
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

feat(vm): update intvirtvm when vm is stopped
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

move to git svace
  .werf/images.yaml
  images/svace-builder/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

add source repo
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

add git
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

remove /svace-build mount
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
  werf-giterminism.yaml
Owners: @universal-itengineer

mkdir opt
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

add openssh
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

ssh config
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

mkdir
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

add rsync
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

refactor templates
  .werf/defines/helpers.tmpl
  .werf/defines/process-images.tmpl
  .werf/defines/process-packages-images.tmpl
Owners: @universal-itengineer

test werf.inc.yaml to packages
  .werf/defines/helpers.tmpl
  .werf/defines/process-packages-images.tmpl
  .werf/images.yaml
  .werf/werf.inc.yaml
Owners: @universal-itengineer

upd image base-alt
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix virt-launcher-cbuilder, when adding a single file from git with is not allowed
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix two images for with static_binaries
  images/bounder/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix base-alt-p11-binaries
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

upd imgs qemu,cdi-artifact
  images/cdi-artifact/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix import images
  images/edk2/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

virt, update images/qemu/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

wait snapshot phase
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix template GitPath
  .werf/defines/helpers.tmpl
Owners: @universal-itengineer

fix vm-route-forge git section
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): set max embedded cloud-init block size
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

fix(module): fix vm, vmop alerts
  monitoring/prometheus-rules/vm.state.yaml
  monitoring/prometheus-rules/vm.yaml
  monitoring/prometheus-rules/vmop.state.yaml
  monitoring/prometheus-rules/vmop.yaml
Owners: @fl64

fix(vm): set max embedded cloud-init block size (#1083)
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
