Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
Owners: @Isteb4k

rm commented code
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

++ rebuild cdi,kubevirt
  images/cdi-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/cyrus-sasl2/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/cyrus-sasl2/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/cyrus-sasl2/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/cyrus-sasl2/werf.inc.yaml
  images/packages/cyrus-sasl2/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/lvm2/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/readline/werf.inc.yaml
  images/packages/readline/werf.inc.yaml
Owners: @universal-itengineer

fix missed reconcile
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vd.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmbda.go
Owners: @Isteb4k

++ rebuild kubevirt
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add vmmac
  images/virtualization-artifact/pkg/controller/service/restorer/common/clone_errors.go
Owners: @Isteb4k

remove duplication
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
Owners: @Isteb4k

feat(vmop): add VMOP clone
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/vmopcondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/clone_errors.go
  images/virtualization-artifact/pkg/controller/service/restorer/interfaces.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmsnapshot.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/snapshot_controller.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add prefix and suffix
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/interfaces.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_clone_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

never keep ip address
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
Owners: @Isteb4k

refactor lifecycle
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

check if completed
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_clone_step.go
Owners: @Isteb4k

dont create vmmac and vmip for clone
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
Owners: @Isteb4k

add name length validation
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
Owners: @Isteb4k

fix customize
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

simplify errors
  images/virtualization-artifact/pkg/controller/service/restorer/common/clone_errors.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

fix types
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add shapshot ready condition
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
Owners: @fl64, @Isteb4k

fix types
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_clone_step.go
Owners: @Isteb4k

fix vmsnapshot deletion
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
Owners: @Isteb4k

fail vmop if snapshot failed
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

fix review
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmsnapshot.go
Owners: @Isteb4k

fix review
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmsnapshot.go
Owners: @Isteb4k

fix snapshot creation
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
Owners: @Isteb4k

refactor statuses
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @Isteb4k

fix panic
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

fix pr
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
Owners: @Isteb4k

fix cleanup
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
Owners: @Isteb4k

add disks checks
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

fix cleanup
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

fix conditions
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

fix deletion
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
Owners: @Isteb4k

add ann checks
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

fix cleanup,dryrun
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @Isteb4k
