Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix: update log socket address for service connectivity
  templates/virtualization-audit/log-config.yaml
Owners: @fl64

style: clean up import order
  images/virtualization-artifact/pkg/audit/server/server.go
Owners: @Isteb4k

refactor: rename validator package to events for clarity
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/webhook/handler.go
Owners: @Isteb4k

feat: implement virtual machine access logging
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/webhook/validators/vm_access.go
  images/virtualization-artifact/pkg/audit/webhook/validators/vm_control.go
  images/virtualization-artifact/pkg/audit/webhook/validators/vm_manage.go
Owners: @Isteb4k

refactor: improve VirtualMachineWebhook event matching logic
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/server/server.go
  images/virtualization-artifact/pkg/audit/webhook/util/util.go
  images/virtualization-artifact/pkg/audit/webhook/validators/portforward.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
Owners: @Isteb4k

refactor: consolidate VM data retrieval logic into utility functions
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
Owners: @Isteb4k

feat: add VirtualMachineOperations informer to run function
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
Owners: @Isteb4k

refactor: enhance event matching logic for VM control
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

feat: implement event logging for VM operations
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/event_log.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

fix: simplify event match condition for VM control
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

fix: handle logging errors in event processing
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/server/server.go
Owners: @Isteb4k

fix: correctly retrieve VMOP name from unmarshalled response
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

fix: correct URI matching logic for update, patch, and delete events
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

style: fix indentation for license URL in app.go and event_log.go
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/event_log.go
Owners: @Isteb4k

refactor: update event logging to use methods on EventLog struct
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go~
  images/virtualization-artifact/pkg/audit/events/event_log.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

fix: remove unused indexed
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

feat: add virtualization control event logging
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/v12n_control.go
  images/virtualization-artifact/pkg/audit/events/v12n_event_log.go
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_event_log.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

feat: enhance VM audit controls with additional informers
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/event_log.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

chore: align license information across files
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/event_log.go
Owners: @Isteb4k

feat: add TTLCache to VM control options
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
Owners: @Isteb4k

feat: add event handler for virtual disk deletion
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
Owners: @Isteb4k

feat: generate mock for indexer interface
  images/virtualization-artifact/pkg/audit/events/interfaces.go
  images/virtualization-artifact/pkg/audit/events/mock.go
Owners: @Isteb4k

fix: change error logging level to debug for block device info retrieval
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

refactor: improve legal documentation in source files
  images/virtualization-artifact/pkg/audit/cache/cache.go
  images/virtualization-artifact/pkg/audit/cache/cache_test.go
  images/virtualization-artifact/pkg/audit/events/interfaces.go
Owners: @Isteb4k

feat: enhance VM and VD retrieval by adding caching mechanism
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_event_log.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

refactor: remove unused PodInformer reference
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
Owners: @Isteb4k

feat: implement TTL cache for virtual machine and pod deletion events
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/cache/cache.go
  images/virtualization-artifact/pkg/audit/cache/cache_test.go
  images/virtualization-artifact/pkg/audit/events/interfaces.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/v12n_control.go
  images/virtualization-artifact/pkg/audit/events/v12n_event_log.go
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_event_log.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vmop_control.go
Owners: @Isteb4k

feat: enhance event logging with verb-based categorization
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
Owners: @Isteb4k

chore: add integrity check event log structure and initialization logic
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/integrity_check_event_log.go
  images/virtualization-artifact/pkg/audit/events/integrity_check_vm.go
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

fix: exclude cvi-importer events from matching criteria
  images/virtualization-artifact/pkg/audit/events/v12n_control.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/server/server.go
Owners: @Isteb4k

refactor: improve event matching logic in V12NControl
  images/virtualization-artifact/pkg/audit/events/v12n_control.go
Owners: @Isteb4k

feat: add dynamic informer factory for virtual machines
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/integrity_check_vm.go
  images/virtualization-artifact/pkg/audit/events/module_component_control.go
  images/virtualization-artifact/pkg/audit/events/module_control.go
  images/virtualization-artifact/pkg/audit/events/module_event_log.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/v12n_module_control.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_event_log.go
  images/virtualization-artifact/pkg/audit/informer/informer.go
Owners: @Isteb4k

Remove stage check in VMAccess.IsMatched and add log CRDs
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  tools/kubeconform/kubeconform.sh
Owners: @Isteb4k, @fl64

refactor: replace mutex with read-write mutex for improved concurrency
  images/virtualization-artifact/pkg/audit/cache/cache.go
Owners: @Isteb4k

feat: implement logging for integrity check events
  images/virtualization-artifact/pkg/audit/events/integrity_check_event_log.go
Owners: @Isteb4k

fix: update event log to store virtual machine name instead of reference checksum
  images/virtualization-artifact/pkg/audit/events/integrity_check_vm.go
Owners: @Isteb4k

refactor: simplify conditional logic in VM event logging
  images/virtualization-artifact/pkg/audit/events/module_component_control.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

fix: don't lose events
  images/virtualization-artifact/pkg/audit/events/module_component_control.go
  images/virtualization-artifact/pkg/audit/events/module_control.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
Owners: @Isteb4k

feat: implement module struct and deepcopy methods
  images/virtualization-artifact/pkg/audit/events/integrity_check_vm.go
  images/virtualization-artifact/pkg/audit/events/module.go
  images/virtualization-artifact/pkg/audit/events/module_control.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

fix: improve event user verification logic
  images/virtualization-artifact/pkg/audit/events/module_component_control.go
Owners: @Isteb4k
