Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix(ci): disable upmeter module and fix virtualization tag
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
  ci/dvp-e2e/charts/cluster-config/templates/virtualization.yaml
Owners: @fl64

Fix duplicates in qemu-agent filesystem list.
  build/components/versions.yml
Owners: @fl64

declare CPUDiscovery as a pointer
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/state/state.go
Owners: @fl64, @Isteb4k

fix(api): declare CPUDiscovery as a pointer (#1610)
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/state/state.go
Owners: @fl64, @Isteb4k

fix(ci): remove duplicate upmeter ModuleConfig
  ci/dvp-e2e/charts/cluster-config/templates/disabled-modules.yaml
  ci/dvp-e2e/tmp-test-generated-values.yaml
Owners: @fl64

fix(ci): consolidate disabled modules and remove submodule
  ci/dvp-e2e/charts/cluster-config/templates/disabled-modules.yaml
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
Owners: @fl64

fix(ci): disable checkout caching in GitHub Actions
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(ci): skip checksum verification in Deckhouse CLI installation
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(ci): restore disabled-modules.yaml and fix duplication
  ci/dvp-e2e/charts/cluster-config/templates/disabled-modules.yaml
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
Owners: @fl64

fix(ci): restore configuration to match reference version
  ci/dvp-e2e/charts/cluster-config/templates/disabled-modules.yaml
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
  ci/dvp-e2e/charts/cluster-config/templates/virtualization.yaml
  ci/dvp-e2e/tmp-test-generated-values.yaml
Owners: @fl64

do not encode value
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

fix(module): make vmclass generic editable
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @universal-itengineer, @fl64

add hook to drop labels
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook.go
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook_test.go
Owners: @universal-itengineer

fix logic
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

fix vmclass generic creation logic
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

fix
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook.go
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook_test.go
Owners: @universal-itengineer

fix(module): upd
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/update-module-state/hook.go
Owners: @universal-itengineer

add vmclass labels
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
  images/hooks/pkg/hooks/update-module-state/hook.go
Owners: @universal-itengineer

refactor
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
  images/hooks/pkg/hooks/update-module-state/hook.go
Owners: @universal-itengineer

fix(ci): switch from CE to OSS registry with new credentials
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

refactor
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
Owners: @universal-itengineer

fix protector
  images/hooks/pkg/hooks/prevent-default-vmclasses-deletion/hook.go
Owners: @universal-itengineer

fix protector
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/prevent-default-vmclasses-deletion/hook.go
  images/hooks/pkg/hooks/update-module-state/hook.go
Owners: @universal-itengineer

fix(ci): restore token creation logic for nested kubeconfig
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

secret should be always created
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

fix base64 enc
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

add batch install vm,vd
  tests/performance/README_tests.md
  tests/performance/README_tests_refactored.md
  tests/performance/tests.sh
  tests/performance/tests_refactored.sh
  tests/performance/tools/netchecker/Taskfile.dist.yaml
Owners: @hardcoretime

feat(ci): add SDS module configuration for nested cluster
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
  ci/dvp-e2e/charts/cluster-config/templates/sds.yaml
Owners: @fl64

feat(ci): add disk debugging and Ceph cluster configuration
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/charts/cluster-config/templates/ceph-cluster.yaml
Owners: @universal-itengineer, @fl64

refactor(ci): remove old Ceph bootstrap approach
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

fix(ci): optimize Git checkout to resolve cache issues
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(ci): install d8 via direct tarball to avoid checksum mismatch
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(ci): install d8 via installer with checksum disabled
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

feat(ci): conditionally render Ceph/SDS by storageProfile
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/charts/cluster-config/templates/ceph-cluster.yaml
  ci/dvp-e2e/charts/cluster-config/templates/sds.yaml
Owners: @universal-itengineer, @fl64

refactor(ci): move storage CRs post-bootstrap and remove empty templates
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/charts/cluster-config/templates/ceph-cluster.yaml
  ci/dvp-e2e/manifests/storage/ceph.yaml
  ci/dvp-e2e/manifests/storage/sds.yaml
Owners: @universal-itengineer, @fl64

Update images/virtualization-artifact/pkg/monitoring/metrics/vd/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/data_metric.go
Owners: @Isteb4k

fix linter errors
  images/virtualization-artifact/pkg/monitoring/metrics/vd/data_metric.go
Owners: @Isteb4k

fix(ci): move disk debug before storage apply; add retries and --validate=false
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

feat(observability): add VirtualDisk capacity, info, and in-use metrics (#1592)
  images/virtualization-artifact/pkg/monitoring/metrics/vd/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/scraper.go
Owners: @Isteb4k

fix(ci): move disk debug step before storage configuration
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
