Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

add util-linux
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add glibc
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcap-ng/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove glibc from dvcr-artifact
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

qemu-nbd
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

selinux
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

move libvirt to packages
  images/packages/libvirt/patches/001-disable-ro-and-admin-servers.patch
  images/packages/libvirt/patches/002-auth-pid-restriction.patch
  images/packages/libvirt/patches/002-treat-getpeercon-eintval-as-success.patch
  images/packages/libvirt/patches/README.md
  images/packages/libvirt/werf.inc.yaml
  images/packages/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

selinux
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

qemu-pr-helper
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

before: install
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

nbd-server
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/qemu-system-x86_64
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tree
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

debug: debug virt-launcher
  build/components/versions.yml
Owners: @fl64

node-labeller
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

cbuilder
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove qemu and virtqemud configs
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add libjson-glib
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

certtool
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/elf2dmp
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

debug: add debug utils to virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove slash
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

ca-certificates
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ca-certificates
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove install libvirt
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

nbdfuse
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

add bins for xorriso in virt-handler
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

cp
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

remove pcre2
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

openldap
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

move pcre2 to relocate
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

remove selinux from cdi
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

add import
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

cgo
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libvirt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

openssl
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

libunistring
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

libunistring
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

qemu-img
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

comment out elf2dmp
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove debug commits
  build/components/versions.yml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer
