Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(ci): move to 3p cdi (#1121)
  images/cdi-artifact/patches/007-content-type-json.patch
  images/cdi-artifact/patches/008-rename-core-resources.patch
  images/cdi-artifact/patches/009-remove-upload-apiservice.patch
  images/cdi-artifact/patches/010-stop-managing-datavolume-crd.patch
  images/cdi-artifact/patches/011-change-storage-class-for-scratch-pvc.patch
  images/cdi-artifact/patches/012-add-caps-for-deckhouse-provisioners.patch
  images/cdi-artifact/patches/013-converting-images-on-filesystem-to-qcow2.patch
  images/cdi-artifact/patches/014-delete-service-monitor.patch
  images/cdi-artifact/patches/015-fix-replace-op-for-evanphx-json-patch-v5-lib.patch
  images/cdi-artifact/patches/016-scratch-filesystem-overhead-formula.patch
  images/cdi-artifact/patches/017-add-format-conversion-for-pvc-cloning.patch
  images/cdi-artifact/patches/018-cover-cdi-metrics.patch
  images/cdi-artifact/patches/019-optimize-csi-clone.patch
  images/cdi-artifact/patches/020-manage-provisioner-tolerations.patch
  images/cdi-artifact/patches/021-fallback-to-host-clone-for-lvm-thick.patch
  images/cdi-artifact/patches/022-add-datavolume-quouta-not-exceeded-condition.patch
  images/cdi-artifact/patches/023-remove-upload-proxy-server-variables.patch
  images/cdi-artifact/patches/024-cdi-controller-change-bash-utils-to-binary.patch
  images/cdi-artifact/patches/README.md
  images/cdi-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

remove svace after build
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(ci): add audit, dvcr, importer, uploader to svace
  images/dvcr-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

Documentation fixes
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(api): add new version kubevirt
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(core): fix svacer issues in virt-launcher and virt-handler (#1127)
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): add audit, dvcr, importer, uploader to svace (#1131)
  images/dvcr-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix new packages
  images/packages/binaries/dtc/werf.inc.yaml
  images/packages/binaries/fuse3/werf.inc.yaml
  images/packages/binaries/gmp/werf.inc.yaml
  images/packages/binaries/libattr/werf.inc.yaml
  images/packages/binaries/libaudit/werf.inc.yaml
  images/packages/binaries/libblkid/werf.inc.yaml
  images/packages/binaries/libbrotli/werf.inc.yaml
  images/packages/binaries/libbsd/werf.inc.yaml
  images/packages/binaries/libburn/werf.inc.yaml
  images/packages/binaries/libgcrypt/werf.inc.yaml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

refactor pkg gmp
  images/packages/binaries/gmp/werf.inc.yaml
Owners: @universal-itengineer

fix vars for 4 pkgs
  images/packages/binaries/dtc/werf.inc.yaml
  images/packages/binaries/fuse3/werf.inc.yaml
  images/packages/binaries/libgcrypt/werf.inc.yaml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

fix cdi-artifact branch version
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

docs(module): add components placement
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
  docs/README.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

cdi-artifact fix copy patches
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

cdi-art fix patch apply
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

+
  images/dvcr-artifact/pkg/uploader/uploader_test.go
  images/virtualization-artifact/pkg/audit/events/forbid/forbid_test.go
Owners: @Isteb4k

† cover
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/dvcr-artifact/pkg/fuzz/http.go
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
  images/dvcr-artifact/pkg/uploader/uploader_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/fuzz/http.go
  images/dvcr-artifact/pkg/uploader/uploader.go
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/testdata/auth.json
  images/dvcr-artifact/pkg/uploader/uploader.go
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/docker-fuzz.sh
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/pkg/uploader/uploader.go
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/Dockerfile.fuzz
  images/dvcr-artifact/docker-fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
  images/virtualization-artifact/pkg/audit/events/forbid/forbid_test.go
Owners: @Isteb4k

docs(module): add components placement
  docs/INSTALL.ru.md
  docs/README.ru.md
Owners: @fl64, @z9r5, @goganat

chore(ci): changelog improvements
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

add descheduler to moduleconfig
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Owners: @fl64, @z9r5, @goganat

fix default value
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

feat(vmrestore): add force option
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/virtual_machine_restore.go
  api/core/v1alpha2/vm-restore-condition/condition.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualmachinerestores.yaml
  crds/virtualmachinerestores.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vm_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix(module): rework priority class templates after priority module deletion (#1113)
  Chart.yaml
  Taskfile.yaml
  charts/deckhouse_lib_helm-1.55.1.tgz
  charts/deckhouse_lib_helm-1.7.0.tgz
  requirements.lock
  templates/cdi/config.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

Backport: fix(module): rework priority class templates after priority module deletion (#1135)
  Chart.yaml
  Taskfile.yaml
  charts/deckhouse_lib_helm-1.55.1.tgz
  charts/deckhouse_lib_helm-1.7.0.tgz
  requirements.lock
  templates/cdi/config.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

chore(ci): add qemu to svace
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
