Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix GitPath
  .werf/defines/helpers.tmpl
Owners: @universal-itengineer

refactoring
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix vmbda termination
  images/virtualization-artifact/pkg/controller/vmbda/internal/block_device_ready.go
Owners: @Isteb4k

feat
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/cvi/internal/handler_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vi_watcher.go
  images/virtualization-artifact/pkg/controller/dvcr_data_source.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

vi watchers reshuffle
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

use test context
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
Owners: @Isteb4k

fmt
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

vmbda
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

remove useless
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

inuse handlers refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix vi lifecycle
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

ignore stopped
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

remove adding finalizers in deleteion handlers
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

suite_test
  images/virtualization-artifact/pkg/controller/cvi/internal/suite_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

resolve
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
Owners: @Isteb4k

fix watchers
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix tests
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/common/testutil/testutil.go
Owners: @Isteb4k

refactoring tests
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

why we trigger
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

refactoring
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix panic
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

fix merge conflicts
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
Owners: @Isteb4k

oops
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

clear legacy watchers
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

fix deletion check
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

fix phase check
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

remove attache handlers
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/internal/attachee.go
  images/virtualization-artifact/pkg/controller/vi/internal/attachee.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
Owners: @Isteb4k

fix generation check
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/common/testutil/testutil.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

crds review
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
