Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add doc ru
  crds/doc-ru-nodeusbdevices.yaml
  crds/doc-ru-usbdevices.yaml
Owners: @fl64, @z9r5, @goganat

fix
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
Owners: @Isteb4k

update codegen
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

add cond
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/vmcondition/condition.go
  crds/nodeusbdevices.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat

fix TODO
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @Isteb4k, @yaroslavborbat

fix TODO
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
Owners: @Isteb4k

fix rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  templates/virtualization-controller/validation-webhook.yaml
Owners: @Isteb4k, @fl64

simplify
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/hash/hash.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
Owners: @Isteb4k

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix test
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/hash/hash.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

fix errors
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @Isteb4k, @yaroslavborbat

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

add indexers for tests
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
Owners: @Isteb4k

check if exist
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
Owners: @Isteb4k

prefix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

fix
  api/scripts/update-codegen.sh
  crds/nodeusbdevices.yaml
Owners: @fl64, @z9r5, @goganat

fix discovery
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
Owners: @Isteb4k

fix subresource update
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
Owners: @Isteb4k

add ns
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  templates/admission-policy.yaml
Owners: @Isteb4k, @fl64

update rbac
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_webhook.go
  templates/admission-policy.yaml
  templates/virtualization-controller/validation-webhook.yaml
Owners: @Isteb4k, @fl64

Revert "fix subresource"
  api/core/v1alpha2/usb_device.go
  crds/usbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  templates/admission-policy.yaml
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix subresource
  api/core/v1alpha2/usb_device.go
  crds/usbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix err
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
Owners: @Isteb4k

fix rbac
  templates/admission-policy.yaml
  templates/user-authz-cluster-roles.yaml
Owners: @fl64

fix deletion
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
Owners: @Isteb4k

fix policies
  templates/admission-policy.yaml
Owners: @fl64

move to separate controller
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/common/hash/hash.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
  images/virtualization-artifact/pkg/controller/resourceslice/internal/nodeusbdevice_handler.go
  images/virtualization-artifact/pkg/controller/resourceslice/resourceslice_controller.go
  images/virtualization-artifact/pkg/controller/resourceslice/resourceslice_reconciler.go
Owners: @Isteb4k

fix rbac
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
Owners: @Isteb4k

fix bugs
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
Owners: @Isteb4k

fix client
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @Isteb4k, @yaroslavborbat

fix webhook
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
Owners: @Isteb4k

fix bugs
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @yaroslavborbat

refactor
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/device.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_ready.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
Owners: @Isteb4k, @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_webhook.go
Owners: @Isteb4k

return sync
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
Owners: @Isteb4k

fix test
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @yaroslavborbat

add methods to RBAC
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
