Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

Update images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
Owners: @Isteb4k

feat(api): add new controllers vmmac and vmmaclease
  images/virtualization-artifact/pkg/controller/vmmac/internal/watcher/vmmaclease_watcher.go
Owners: @Isteb4k

fix(vmbda): fix "failed to unplug" error while deletion unplug (#1355)
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

feat(vmop): surface "quota exceeded" error during migration (#1310)
  api/core/v1alpha2/events.go
  api/core/v1alpha2/vmcondition/condition.go
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/vmop_watcher.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/watcher/migration.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

add webhook
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
Owners: @Isteb4k, @yaroslavborbat

fix linter
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator_test.go
Owners: @yaroslavborbat

feat(api): add new controllers vmmac and vmmaclease
  images/virtualization-artifact/pkg/common/network/network_test.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/bound_handler.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/bound_handler_test.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/take_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/lifecycle_handler.go
Owners: @Isteb4k

feat(observability): add phase metrics (#1356)
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/vdsnapshot_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/unsafe.go
Owners: @Isteb4k

fix(vm): remove TPM device when changing osType from Windows to Generic (#1358)
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_test.go
Owners: @Isteb4k

add fix
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

fixes
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

change e2e for this PR
  tests/e2e/testdata/vm-versions/kustomization.yaml
  tests/e2e/testdata/vm-versions/vd/kustomization.yaml
  tests/e2e/testdata/vm-versions/vd/vd-root.yaml
  tests/e2e/testdata/vm-versions/vm/vm.yaml
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

Update images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/common/network/network.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmmaclease/internal/protection_handler.go
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/protection_handler.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmmaclease/internal/lifecycle_handler.go
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/lifecycle_handler.go
Owners: @Isteb4k

feat(api): add new controllers vmmac and vmmaclease
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/lifecycle_handler.go
Owners: @yaroslavborbat, @Isteb4k

fix(vmrestore): fix validation in safe mode
  api/core/v1alpha2/virtual_machine_ip_address_lease.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vd_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmip_restorer.go
  tests/e2e/README.md
  tests/e2e/Taskfile.yaml
  tests/e2e/config/config.go
  tests/e2e/default_config.yaml
  tests/e2e/kubectl/kubectl.go
  tests/e2e/testdata/vm-restore-safe/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/ns.yaml
  tests/e2e/testdata/vm-restore-safe/transformer.yaml
  tests/e2e/testdata/vm-restore-safe/vi/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vi/vi-alpine-http.yaml
  tests/e2e/testdata/vm-restore-safe/vi/vi-ubuntu-http.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/transformer.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/vd-blank.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/vd-root.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/vm.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/vmbda-vd.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/vmbda-vi.yaml
  tests/e2e/testdata/vm-restore-safe/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/overlays/vm/kustomization.yaml
  tests/e2e/vm_restore_safe_test.go
Owners: @fl64, @Isteb4k, @hardcoretime

chore(tests): fix typo in VirtualDiskAttachment
  tests/e2e/vm_disk_attachment_test.go
Owners: @hardcoretime

feat(api): add new controllers vmmac and vmmaclease
  api/core/v1alpha2/virtual_machine.go
  crds/doc-ru-virtualmachines.yaml
  crds/virtualmachines.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/mac.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/attached_handler.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat, @Isteb4k

set wd for dlv
  images/virt-handler/werf.inc.yaml
  values_old.yaml
Owners: @universal-itengineer, @fl64

fix tmpl
  templates/kubevirt/_kubevirt_helpers.tpl
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

delve: virtualization-audit
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-audit/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

rem dlv-kubevirt
  templates/kubevirt/dvl-kubevirt.yaml
Owners: @fl64

build vl with dbg symbols
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix tmpl
  templates/kubevirt/_kubevirt_helpers.tpl
Owners: @fl64

add env
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

use autogen file with dbg values
  templates/_helpers.tpl
  templates/kubevirt/dvl-kubevirt.yaml
  templates/kubevirt/kubevirt.yaml
  werf.yaml
Owners: @fl64, @universal-itengineer

chore(ci): add delve debug for components
  .github/workflows/dev_module_build.yml
  .werf/images.yaml
  images/debuger/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  templates/kubevirt/_kubevirt_helpers.tpl
  templates/kubevirt/dvl-kubevirt.yaml
  values_old.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer, @fl64

delve: virtualization-api
  images/virtualization-api/werf.inc.yaml
  images/virtualization-artifact/hack/dlv-apiserver.Dockerfile
Owners: @universal-itengineer, @Isteb4k

delve: virt api,controller,handler
  images/virt-api/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-audit/werf.inc.yaml
  templates/kubevirt/_kubevirt_helpers.tpl
  templates/kubevirt/kubevirt.yaml
Owners: @universal-itengineer, @fl64

test build time
  build/components/versions.yml
Owners: @fl64

back kv
  build/components/versions.yml
  images/virt-handler/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix build va
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

delve: virtualization-controller
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
  images/virtualization-artifact/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

chore(tests): fix typo in VirtualDiskAttachment (#1362)
  tests/e2e/vm_disk_attachment_test.go
Owners: @hardcoretime

remove built libcap from file
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add libcap-ng
  build/components/versions.yml
  images/packages/binaries/libcap-ng/README.md
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @fl64, @universal-itengineer

strip
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

move import
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

fix libcap-ng README
  images/packages/binaries/libcap-ng/README.md
Owners: @universal-itengineer
