Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

remove autoreconf
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

autogen
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

add wget
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/supplements/compatibility.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/blank.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_cr.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_pvc.go
Owners: @Isteb4k

add configure
  images/packages/libunistring/configure
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

add patch
  images/packages/libunistring/configure
  images/packages/libunistring/patches/0010-AC_INIT.patch
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

fix snapshot when vm has changes
  api/core/v1alpha2/vmscondition/condition.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @fl64, @Isteb4k

add gnulib_tool
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

skip gnulib
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

chore(core): fix build packages
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

tmp
  tests/e2e/vm_restore_operation_test.go
Owners: @hardcoretime

tmp
  tests/e2e/framework/framework.go
  tests/e2e/vm_restore_operation_test.go
Owners: @hardcoretime

refactoring
  tests/e2e/virtual_machine_restore_operation_test/resources/cvi.go
  tests/e2e/virtual_machine_restore_operation_test/resources/utils.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vd_blank.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vd_root.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vi.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vm.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmbda.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmop_restore_best_effort.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmop_restore_dry_run.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmop_restore_strict.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmop_start.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmsnapshot.go
  tests/e2e/virtual_machine_restore_operation_test/vmop_restore_test_helper.go
  tests/e2e/vm_restore_operation_test.go
Owners: @hardcoretime

tmp
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  tests/e2e/framework/framework.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

tmp
  tests/e2e/vm_restore_operation_test.go
Owners: @hardcoretime

tmp
  tests/e2e/vm_restore_operation_test.go
Owners: @hardcoretime

fix after gpt review
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

fix linter 4
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
Owners: @Isteb4k

fix linter 2
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmsnapshot.go
Owners: @Isteb4k, @hardcoretime

fix linter 3
  images/virtualization-artifact/pkg/builder/vd/vd.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmop_start.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmsnapshot.go
Owners: @Isteb4k, @hardcoretime

fix linter
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  tests/e2e/virtual_machine_restore_operation_test/resources/utils.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vd_root.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vm.go
  tests/e2e/virtual_machine_restore_operation_test/resources/vmsnapshot.go
  tests/e2e/virtual_machine_restore_operation_test/vmop_restore_test_helper.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

debug
  build/components/versions.yml
  images/packages/libunistring/werf.inc.yaml
Owners: @fl64, @universal-itengineer

install patch
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

chore(core): fix build glib2 (#1478)
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

chore(module): fix install packages via dnf and yum (#1464)
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

Re-generate changelog v1.1.0
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

fix(docs): english documentation remove cyrillic characters cdi_kubevirt_patching
  docs/internal/cdi_kubevirt_patching.md
Owners: @fl64, @z9r5, @goganat

fix(docs): english documentation remove cyrillic characters cdi_kubevirt_patching (#1481)
  docs/internal/cdi_kubevirt_patching.md
Owners: @fl64, @z9r5, @goganat

upd
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

tree
  images/packages/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

rm
  images/packages/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

rm dev and etc
  images/packages/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

upd readme
  images/packages/libfuse3/README.md
Owners: @universal-itengineer

upd readme libfuse3
  images/packages/libfuse3/README.md
Owners: @universal-itengineer

chore(ci): build more libs (#1375)
  build/components/versions.yml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/file/werf.inc.yaml
  images/packages/krb5/README.md
  images/packages/krb5/werf.inc.yaml
  images/packages/libfuse3/README.md
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/lz4/README.md
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/README.md
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/README.md
  images/packages/xz/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

delete generated openapi code from api
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/cmd/virtualization-api/app/options/options.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vmop): add Clone operation (#1418)
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/vmopcondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/interfaces.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmbda.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/watcher/vmsnapshot.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/snapshot_controller.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix snapshot when vm has changes
  api/core/v1alpha2/vmscondition/condition.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @fl64, @Isteb4k

chore(module): dedup lines on live migration memory graph (#1474)
  monitoring/grafana-dashboards/main/virtual-machine.json
Owners: @fl64

Update monitoring/prometheus-rules/dvcr.yaml
  monitoring/prometheus-rules/dvcr.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
