Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

docs(module): how vmclass sizing policy affects vm setings
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix overcommitment desc
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  docs/images/vm-corefraction.drawio
  docs/images/vm-corefraction.png
  docs/images/vm-corefraction.ru.png
Owners: @fl64, @z9r5, @goganat

chore(vm): add label to prevent node shutdown, remove kubectl anno from kvvmi template (#1061)
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @Isteb4k, @yaroslavborbat

add svace
  .werf/defines/svace-build.tmpl
  .werf/images.yaml
  images/svace-builder/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

add svace build for qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add svace builder debian
  images/qemu/werf.inc.yaml
  images/svace-builder/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

add svace build for libvirt
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add /svace-build for libvirt,qemu
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add alpine common image download svace
  images/svace-builder/werf.inc.yaml
Owners: @universal-itengineer

add svace build to route-forge
  .werf/defines/svace-build.tmpl
  images/svace-builder/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
  werf-giterminism.yaml
Owners: @universal-itengineer

add virtualization-artifact to svace
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix multi build bins
  .werf/defines/svace-build.tmpl
Owners: @universal-itengineer

fix mv svace dir
  .werf/defines/svace-build.tmpl
Owners: @universal-itengineer

virt-artifact svace build
  .werf/defines/svace-build.tmpl
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

change build with CGO
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add svace image to virtualization-artifact
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

mount svace
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

move to printf for variable
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove git
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix indentation
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix build svace enabled input
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix ci
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add testing branch
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

integrate svace into ci
  .github/workflows/dev_module_build.yml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/base-alt-p11-svace/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

change build action version
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix analyze run condition
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix source repo
  images/base-alt-p11-svace/werf.inc.yaml
Owners: @universal-itengineer

fix known hosts
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Changelog v0.18.1 (#1070)
  CHANGELOG/CHANGELOG-v0.18.1.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Changelog v0.18.1 (#1070)
  CHANGELOG/CHANGELOG-v0.18.1.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Backport: Changelog v0.18.1 (#1074)
  CHANGELOG/CHANGELOG-v0.18.1.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

add templates, git from image
  .werf/defines/imgs.tmpl
  .werf/defines/virtualization-src-artifact.tmpl
  images/dvcr-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

drop analyze_build step temporarily
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add src-art img
  .werf/defines/imgs.tmpl
  .werf/defines/virtualization-src-artifact.tmpl
  images/src-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix FromImage tmpl
  .werf/defines/imgs.tmpl
Owners: @universal-itengineer

add new templates, move images and packages yaml to tmpl
  .werf/defines/helpers.tmpl
  .werf/defines/process-images.tmpl
  .werf/defines/process-packages-images.tmpl
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
