Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

item 8697
  images/cdi-artifact/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/acl/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/dmidecode/werf.inc.yaml
  images/packages/dtc/werf.inc.yaml
  images/packages/file/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/glibc/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libaudit/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/libgpg-error/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libidn2/werf.inc.yaml
  images/packages/libisoburn/werf.inc.yaml
  images/packages/libmd/werf.inc.yaml
  images/packages/libtpms/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/numactl/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/rdma-core/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/volumemigration/internal/handler/migration.go
Owners: @Isteb4k

fix YAML
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

comment out strip
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

update package
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

ldd right path
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

fix gitRepoUrl
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

add fixes for pkgconfig from alt
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

add with-ext2 explicit flag
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

modify strip
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to base-alt-p11
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

add libdirarch to libcapstone install
  images/packages/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/libxcrypt/werf.inc.yaml
Owners: @universal-itengineer

test libcapstone in qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

revert and debug
  build/components/versions.yml
  images/packages/file/werf.inc.yaml
Owners: @fl64, @universal-itengineer

debug
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add apt mark manual for e2fsprogs in qemu
  images/packages/e2fsprogs/README.md
Owners: @universal-itengineer

add libdir
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

move import
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add README.md for e2fsprogs
  images/packages/e2fsprogs/README.md
Owners: @universal-itengineer

move packages to binaries
  images/packages/file/werf.inc.yaml
  images/packages/libcap-ng/README.md
  images/packages/libcap-ng/werf.inc.yaml
  images/packages/libcap/README.md
  images/packages/libcap/werf.inc.yaml
  images/packages/libcapstone/README.md
  images/packages/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

fix hyphen
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add version for e2fsprogs
  build/components/versions.yml
Owners: @fl64

remove debug comments
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add libcap-ng
  build/components/versions.yml
  images/packages/binaries/libcap-ng/README.md
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @fl64, @universal-itengineer

remove libcapstone package from virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

try hold
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add libcapstone
  build/components/versions.yml
  images/packages/binaries/libcapstone/README.md
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @fl64, @universal-itengineer

test
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add -|
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

debug
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libcap
  build/components/versions.yml
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @fl64, @universal-itengineer

hold libcrypt-devel
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

pkgconfig debug
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add libcap-ng to libvirt and virt-launcher
  images/libvirt/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove alt pkconfig edits
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

debug: add glib2 to libvirt
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

libdirarch
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

add libcapstone to qemu and virt-launcher
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer
