Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

++ allow EE license in CE directories.
  tools/validation/copyright.go
Owners: @fl64

chore(module): reduce Python dependencies in module image
  lib/python/requirements-release.txt
  lib/python/requirements.txt
  werf.yaml
Owners: @fl64, @universal-itengineer

- Remove deprecated hook: ensure_crds.py. CRDs are managed by deckhouse-controller since version 1.65.
  hooks/ensure_crds.py
Owners: @fl64

feat(vmrestore): add force option
  api/core/v1alpha2/events.go
  api/core/v1alpha2/virtual_machine_restore.go
  api/core/v1alpha2/vm-restore-condition/condition.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualmachinerestores.yaml
  crds/virtualmachinerestores.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/errors.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vd_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vm_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_controller.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

chore(ci): update `cve_scan` version to v3
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

change registry
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

change registry vars
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

change trivy dir
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

delete failure script
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(vd): refactor object ref vi data source (#1111)
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ensure_node_placement.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/terminating_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_pvc_step.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmip/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k, @LopatinDmitr

fix(vd): refactor object ref cvi data source
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_cvi_step.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
Owners: @Isteb4k

fix(vd): refactor object ref cvi data source (#1124)
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_cvi_step.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
Owners: @Isteb4k

fix(vm): remove vmip protection
  api/core/v1alpha2/finalizers.go
  images/virtualization-artifact/pkg/controller/vm/internal/ipam.go
Owners: @fl64, @yaroslavborbat

chore(core): reduce requests for core components
  templates/cdi/cdi-apiserver/vpa.yaml
  templates/cdi/cdi-operator/deployment.yaml
  templates/dvcr/deployment.yaml
  templates/kubevirt/virt-controller/vpa.yaml
  templates/kubevirt/virt-handler/vpa.yaml
  templates/kubevirt/virt-operator/deployment.yaml
  templates/virtualization-api/deployment.yaml
Owners: @fl64

++ remove check if module is enabled
  templates/descheduler/descheduler.yaml
Owners: @fl64

fix(images): change MaxVirtualImageNameLen and MaxClusterVirtualImageNameLen
  images/virtualization-artifact/pkg/common/validate/validate.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/common/validate/validate.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

chore(ci): update `cve_scan` version to v3 (#1183)
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix slice work
  images/virtualization-artifact/pkg/controller/service/protection_service.go
Owners: @Isteb4k

fix retry logic
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

fix error check
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/service/protection_service.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

fix patch
  images/virtualization-artifact/pkg/controller/service/protection_service.go
Owners: @Isteb4k

change requests for kube-api-rewriter
  templates/kube-api-rewriter/_settings.tpl
Owners: @fl64

update vpa
  templates/cdi/cdi-apiserver/vpa.yaml
  templates/cdi/cdi-operator/deployment.yaml
  templates/kubevirt/virt-controller/vpa.yaml
  templates/kubevirt/virt-operator/deployment.yaml
  templates/virtualization-api/deployment.yaml
Owners: @fl64

fix virt-operator
  templates/kubevirt/virt-operator/deployment.yaml
Owners: @fl64

change maxAllowed for virt-operator
  templates/kubevirt/virt-operator/deployment.yaml
Owners: @fl64

fix(vm): remove vmip protection (#1185)
  api/core/v1alpha2/finalizers.go
  images/virtualization-artifact/pkg/controller/vm/internal/ipam.go
Owners: @fl64, @yaroslavborbat

fix(vmbda): watch for the vm phase
  images/virtualization-artifact/pkg/controller/vmbda/internal/watcher/vm_watcher.go
Owners: @Isteb4k

fix(vd): enqueue requests from pvc's owner refs recursively
  images/virtualization-artifact/pkg/common/datavolume/util.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
  images/virtualization-artifact/pkg/controller/vd/vd_reconciler.go
Owners: @Isteb4k

chore(module): merge multiple hook binaries into one
  .dmtlint.yaml
  images/hooks/cmd/tls-certificates-audit/main.go
  images/hooks/cmd/virtualization-module-hooks/main.go
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/cmd/virtualization-module-hooks/register_ee.go
  images/hooks/pkg/hooks/ca-discovery/hook.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook_test.go
  images/hooks/pkg/hooks/discovery-workload-nodes/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook_test.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook_test.go
  images/hooks/pkg/hooks/prevent-default-vmclasses-deletion/hook.go
  images/hooks/pkg/hooks/tls-certificates-api-proxy/main.go
  images/hooks/pkg/hooks/tls-certificates-api/main.go
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
  images/hooks/pkg/hooks/tls-certificates-controller/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/settings/certificate.go
  images/hooks/pkg/settings/module.go
  images/hooks/werf.inc.yaml
  tools/validation/copyright.go
Owners: @fl64, @universal-itengineer

chore(module): reduce Python dependencies in module image
  hooks/ensure_crds.py
  lib/python/requirements-release.txt
  lib/python/requirements.txt
  werf.yaml
Owners: @fl64, @universal-itengineer

fix(vd): enqueue requests from pvc's owner refs recursively (#1188)
  images/virtualization-artifact/pkg/common/datavolume/util.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
  images/virtualization-artifact/pkg/controller/vd/vd_reconciler.go
Owners: @Isteb4k

fix(vmbda): watch for the vm phase (#1187)
  images/virtualization-artifact/pkg/controller/vmbda/internal/watcher/vm_watcher.go
Owners: @Isteb4k

virt-api
  templates/kubevirt/virt-api/vpa.yaml
Owners: @fl64

fix(vm): add validating name in webhook
  images/virtualization-artifact/pkg/controller/vm/internal/validators/meta_validator.go
Owners: @yaroslavborbat

fix `maxAllowed` in VPA
  templates/cdi/cdi-apiserver/vpa.yaml
  templates/cdi/cdi-deployment/vpa.yaml
  templates/cdi/cdi-operator/deployment.yaml
  templates/kube-api-rewriter/_settings.tpl
  templates/virtualization-api/deployment.yaml
Owners: @fl64
