Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(ci): set cephcluster components resourses (#1952)
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
Owners: @fl64

implement export
  images/virtualization-dra/cmd/go-usbip/app/app.go
  images/virtualization-dra/cmd/go-usbip/app/attach.go
  images/virtualization-dra/cmd/go-usbip/app/bind.go
  images/virtualization-dra/cmd/go-usbip/app/export.go
  images/virtualization-dra/cmd/go-usbip/app/unbind.go
  images/virtualization-dra/cmd/go-usbip/app/unexport.go
  images/virtualization-dra/internal/usb-gateway/controller/resourceclaim/controller.go
  images/virtualization-dra/pkg/controller/controller.go
  images/virtualization-dra/pkg/usbip/binder.go
  images/virtualization-dra/pkg/usbip/exporter.go
  images/virtualization-dra/pkg/usbip/interfaces.go
  images/virtualization-dra/pkg/usbip/protocol/export.go
  images/virtualization-dra/pkg/usbip/protocol/unexport.go
  images/virtualization-dra/pkg/usbip/usbipd.go
  images/virtualization-dra/pkg/usbip/usbipd_config.go
Owners: @universal-itengineer

chore(core): add missing fields to `VirtualMachine`'s OpenAPI spec (#1951)
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

docs: add serial console resize info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add more info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add cloud init examples
  docs/FAQ.md
  docs/FAQ.ru.md
Owners: @fl64, @z9r5, @goganat

docs: fix data export
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add bootloader and ostype info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

add collect debug info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add events
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

docs: add zone examples
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

doc: add disk naming in guest OS
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update subnet info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

add ansible-inventory info
  docs/FAQ.md
  docs/FAQ.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

refactor
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

refactor
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vm): rename conditions
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
Owners: @Isteb4k

test: fix error output for error
  test/e2e/controller/err_checker.go
  test/e2e/internal/framework/dump.go
  test/e2e/legacy/util.go
Owners: @fl64

chore(ci): increase wait time for virtualization to be ready
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

chore(ci): increase wait time for virtualization to be ready (#1953)
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

get only containers in pod that contains prefix d8v
  test/e2e/internal/framework/dump.go
Owners: @fl64

wip
  api/core/v1alpha2/virtual_machine.go
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

save logs immediately
  test/e2e/internal/framework/dump.go
Owners: @fl64

upd
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
Owners: @Isteb4k

update gen
  api/client/generated/clientset/versioned/typed/core/v1alpha2/core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_nodeusbdevice.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/nodeusbdevice.go
  api/client/generated/informers/externalversions/core/v1alpha2/interface.go
  api/client/generated/informers/externalversions/core/v1alpha2/nodeusbdevice.go
  api/client/generated/informers/externalversions/generic.go
  api/client/generated/listers/core/v1alpha2/expansion_generated.go
  api/client/generated/listers/core/v1alpha2/nodeusbdevice.go
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/nodeusbdevicecondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/scripts/update-codegen.sh
  crds/nodeusbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add controller
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/node_device_usb.go
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
Owners: @fl64, @Isteb4k

add test
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @yaroslavborbat

fix errors
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  templates/virtualization-api/rbac-for-us.yaml
Owners: @yaroslavborbat, @fl64

check if exist
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

add vm usb plug/unplug
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

add USBDevice controller
  api/client/generated/clientset/versioned/typed/core/v1alpha2/core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_usbdevice.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/usbdevice.go
  api/client/generated/informers/externalversions/core/v1alpha2/interface.go
  api/client/generated/informers/externalversions/core/v1alpha2/usbdevice.go
  api/client/generated/informers/externalversions/generic.go
  api/client/generated/listers/core/v1alpha2/expansion_generated.go
  api/client/generated/listers/core/v1alpha2/usbdevice.go
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/register.go
  api/core/v1alpha2/usb_device.go
  api/core/v1alpha2/usbdevicecondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/scripts/update-codegen.sh
  crds/usbdevices.yaml
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/watcher/nodeusbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add unit tests
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
Owners: @Isteb4k

fix delete
  images/virtualization-artifact/pkg/common/patch/patch.go
  images/virtualization-dra/pkg/patch/patch.go
Owners: @Isteb4k, @universal-itengineer

fix test
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
Owners: @Isteb4k

update copyright
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/nodeusbdevicecondition/condition.go
  api/core/v1alpha2/usb_device.go
  api/core/v1alpha2/usbdevicecondition/condition.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/watcher/nodeusbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_reconciler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

fix lint
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @Isteb4k, @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
