Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix license
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
Owners: @Isteb4k

ci(e2e-matrix): use profile SC; drop aliases; fix summary; stable RUN_ID (no SHA); no docker prune
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/profiles.json
  ci/dvp-e2e/scripts/get_profile_config.sh
  ci/dvp-e2e/scripts/loop_matrix_summary.py
Owners: @universal-itengineer, @fl64

fix unit tests
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
Owners: @Isteb4k, @yaroslavborbat

back to 542 images,add rm db alt
  .werf/defines/packages-clean.tmpl
  build/base-images/deckhouse_images.yml
Owners: @universal-itengineer, @fl64

test(vm): fix external host in migration test (#1681)
  test/e2e/vm/migration.go
Owners: @fl64

add coments for copy pkgs in base-alt-p11
  .werf/defines/packages-clean.tmpl
  build/base-images/deckhouse_images.yml
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer, @fl64

selinux rm pywrap
  images/packages/selinux/werf.inc.yaml
Owners: @universal-itengineer

fix p11-bins
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

fix distroless image, use builder/alt instead base-p11
  images/debugger/werf.inc.yaml
  images/distroless/werf.inc.yaml
Owners: @universal-itengineer

use fix rpm base for base-alt-p11
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

less log fo rpm rebuild
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

revert images folder
  images/debuger/werf.inc.yaml
  images/virt-api/werf.inc.yaml
  images/virt-controller/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-audit/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

fix tmpl parse-base-images
  .werf/defines/parse-base-images-map.tmpl
Owners: @universal-itengineer

chore(ci): update deckhouse base images (#1677)
  build/base-images/deckhouse_images.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/debugger/werf.inc.yaml
  images/distroless/werf.inc.yaml
  images/packages/selinux/werf.inc.yaml
  images/virt-api/werf.inc.yaml
  images/virt-controller/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-audit/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): optimize the build by removing unused images from the build (#1676)
  .werf/defines/parse-base-images-map.tmpl
Owners: @universal-itengineer

ci(e2e-matrix): keep Ceph SC for bootstrap and worker hotplug as base fast storage
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

chore(module): fix dashboards ids
  monitoring/grafana-dashboards/main/propagated-virtual-machine.json
  monitoring/grafana-dashboards/main/propagated-virtual-machines.json
Owners: @fl64

Revert "fix(module): add file prefix for grafana dashboards (#1673)"
  monitoring/grafana-dashboards/main/virtual-machine.json
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

Revert "fix(module): add file prefix for grafana dashboards (#1673)" (#1685)
  monitoring/grafana-dashboards/main/virtual-machine.json
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

chore(module) fix namespace / vms dashboard
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

fix relabel scope
  templates/virtualization-controller/service-monitor.yaml
Owners: @fl64

chore(module): get rid of scrapeconfig
  templates/virtualization-controller/scrape-config.yaml
  templates/virtualization-controller/service-monitor.yaml
Owners: @fl64

chore(module) fix namespace / vm dashboard
  monitoring/grafana-dashboards/main/virtual-machine.json
Owners: @fl64

chore(module) fix alerts
  monitoring/prometheus-rules/virtualization-controller.yaml
Owners: @fl64

try
  templates/virtualization-controller/service-monitor.yaml
Owners: @fl64

fix
  monitoring/grafana-dashboards/main/propagated-virtual-machine.json
  monitoring/grafana-dashboards/main/propagated-virtual-machines.json
Owners: @fl64

tmp
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  test/e2e/e2e_test.go
  test/e2e/internal/framework/framework.go
  test/e2e/internal/util/vm.go
  test/e2e/internal/util/vmbda.go
  test/e2e/internal/util/vmsnapshot.go
  test/e2e/vmop/restore.go
Owners: @Isteb4k, @fl64

tmp
  test/e2e/internal/util/vd.go
  test/e2e/internal/util/vm.go
  test/e2e/vmop/restore.go
Owners: @fl64

tmp
  images/virtualization-artifact/pkg/builder/vmop/option.go
  test/e2e/internal/util/vmop.go
  test/e2e/vmop/restore.go
Owners: @Isteb4k, @fl64

tmp2
  test/e2e/vmop/restore.go
Owners: @fl64

improve shell commands
  test/e2e/vmop/restore.go
Owners: @fl64

refactoring
  test/e2e/internal/object/vd.go
  test/e2e/vmop/restore.go
Owners: @fl64

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

just works
  test/e2e/internal/util/vm.go
  test/e2e/vmop/restore.go
Owners: @fl64

tmp
  test/e2e/internal/object/vd.go
  test/e2e/internal/util/vm.go
  test/e2e/vmop/restore.go
Owners: @fl64

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

remove useless checks
  test/e2e/internal/util/vd.go
  test/e2e/internal/util/vm.go
Owners: @fl64

fix shell
  test/e2e/vmop/restore.go
Owners: @fl64

remove useless
  test/e2e/internal/util/vmop.go
  test/e2e/internal/util/vmsnapshot.go
  test/e2e/vmop/restore.go
Owners: @fl64

universal phase waiting
  test/e2e/internal/util/object.go
  test/e2e/internal/util/vmbda.go
  test/e2e/vmop/restore.go
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
