Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

wip
  tests/e2e/util_test.go
Owners: @hardcoretime

fix(vm): fix migration with images, hotplugs, local disks, and when changing the storage class
  build/components/versions.yml
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/virtualdisk_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
  tests/e2e/complex_test.go
  tests/e2e/config/extra_env.go
  tests/e2e/default_config.yaml
  tests/e2e/framework/framework.go
  tests/e2e/framework/timeout.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/testdata/complex-test/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/kustomization.yaml
Owners: @fl64, @Isteb4k, @yaroslavborbat, @hardcoretime

fix(vm): fix migration with images, hotplugs, local disks, and when changing the storage class (#1518)
  build/components/versions.yml
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/virtualdisk_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
  tests/e2e/complex_test.go
  tests/e2e/config/extra_env.go
  tests/e2e/default_config.yaml
  tests/e2e/framework/framework.go
  tests/e2e/framework/timeout.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/testdata/complex-test/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/kustomization.yaml
Owners: @fl64, @Isteb4k, @yaroslavborbat, @hardcoretime

chore(ci): update dmtlint config, set documents check impact warn (#1494)
  .dmtlint.yaml
Owners: @fl64

Backport: chore(ci): update dmtlint config, set documents check impact warn (#1528)
  .dmtlint.yaml
Owners: @fl64

chore(ci): change release tag for dev registry images (#1497)
  .github/workflows/dev_module_build-and-registration.yml
Owners: @universal-itengineer

Backport: chore(ci): change release tag for dev registry images (#1529)
  .github/workflows/dev_module_build-and-registration.yml
Owners: @universal-itengineer

feat(core): add volumesnapshot resources to e2e fail dump (#1499)
  tests/e2e/util_test.go
Owners: @hardcoretime

fix: Correct Go tools installation command in nightly E2E workflow (#1502)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  tests/e2e/framework/client.go
Owners: @universal-itengineer, @hardcoretime

fix(vmop): fix the validation of VirtualDisk names during VirtualMachine cloning (#1496)
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

chore(ci): build libsystemd, libudev1, libunistring2, liburing, libuserspace-rcu (#1473)
  build/components/versions.yml
  images/cdi-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libunistring/README.md
  images/packages/libunistring/werf.inc.yaml
  images/packages/liburing/README.md
  images/packages/liburing/werf.inc.yaml
  images/packages/libuserspace-rcu/README.md
  images/packages/libuserspace-rcu/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/ngtcp2/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/packages/systemd/README.md
  images/packages/systemd/werf.inc.yaml
  images/packages/ubdsrv/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

test: do not wait agent in label and annotation test (#1500)
  tests/e2e/vm_label_annotation_test.go
Owners: @hardcoretime

chore(ci): return docs lint (#1508)
  .dmtlint.yaml
Owners: @fl64

fix(vmclass): use qemu64 CPU model for Discovery and Features types to improve AMD compatibility (#1446)
  build/components/versions.yml
  docs/internal/cpu_model_type_discovery.md
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

test: fix nightly e2e (#1510)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
  .github/workflows/nightly_e2e_tests_report.yaml
  tests/e2e/Taskfile.yaml
  tests/e2e/default_config.yaml
Owners: @universal-itengineer, @hardcoretime

chore: skip disk resizing test (#1511)
  tests/e2e/vm_disk_resizing_test.go
Owners: @hardcoretime

chore(ci): ignore specific error on e2e tests (#1507)
  tests/e2e/default_config.yaml
Owners: @hardcoretime

chore(ci): add oss.yaml (#1509)
  .dmtlint.yaml
  oss.yaml
Owners: @fl64

test: fix nightly e2e tests (#1515)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
  .github/workflows/nightly_e2e_tests_report.yaml
  tests/e2e/Taskfile.yaml
  tests/e2e/default_config.yaml
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/testdata/vm-migration/vm/kustomization.yaml
Owners: @universal-itengineer, @hardcoretime

ci: use Github token when installing `Task` (#1517)
  .github/workflows/dev_module_build.yml
  .github/workflows/dev_validation.yaml
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

test(vmrestore): change restart approval mode (#1520)
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists-always-on/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/overlays/vm/kustomization.yaml
Owners: @hardcoretime

test(vm): check TCP connection during VM migration (#1436)
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/framework/framework.go
  tests/e2e/object/vd.go
  tests/e2e/util_test.go
  tests/e2e/vm_live_migration_tcp_session_test.go
Owners: @Isteb4k, @hardcoretime

test: add pods and descriptions dump (#1519)
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/kubectl/kubectl.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
  tests/e2e/vm_version_test.go
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

fix(vm): recreate unschedulable intvirtvmi's pod (#1512)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

chore(ci): hotfix for dmt licences (#1525)
  .dmtlint.yaml
Owners: @fl64

chore(ci): fix storage class for VI in e2e (#1524)
  tests/e2e/testdata/image-hotplug/vi/vi-pvc-alpine-http.yaml
  tests/e2e/testdata/images-creation/vi/vi_containerimage.yaml
  tests/e2e/testdata/images-creation/vi/vi_http.yaml
  tests/e2e/testdata/images-creation/vi/vi_objectref_cvi.yaml
  tests/e2e/testdata/images-creation/vi/vi_objectref_vd.yaml
  tests/e2e/testdata/images-creation/vi/vi_objectref_vdsnapshot.yaml
  tests/e2e/testdata/images-creation/vi/vi_pvc_objectref_vi.yaml
Owners: @hardcoretime

fix(vm): fix migration with images, hotplugs, local disks, and when changing the storage class (#1518)
  build/components/versions.yml
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/virtualdisk_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
  tests/e2e/complex_test.go
  tests/e2e/config/extra_env.go
  tests/e2e/default_config.yaml
  tests/e2e/framework/framework.go
  tests/e2e/framework/timeout.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/testdata/complex-test/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/base/kustomization.yaml
Owners: @fl64, @Isteb4k, @yaroslavborbat, @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fix(ci): add wait condition to E2E error messages (#1514)
  tests/e2e/util_test.go
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
Owners: @yaroslavborbat

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
Owners: @Isteb4k, @yaroslavborbat

fix tests
  images/virtualization-artifact/pkg/controller/vm/internal/block_devices_test.go
Owners: @yaroslavborbat

change test run location
  tests/performance/README.md
  tests/performance/tests.sh
Owners: @hardcoretime

add scenarios
  tests/performance/scenarios/run.sh
  tests/performance/tests.sh
Owners: @hardcoretime

test(e2e): fix the case when not all VMs were listed
  tests/e2e/complex_test.go
  tests/e2e/testdata/complex-test/vm/kustomization.yaml
Owners: @hardcoretime

fix(vd): respect user-specified storage class when restoring from snapshot (#1417)
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
Owners: @Isteb4k

Re-generate changelog v1.1.0
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

fix(test): Fuzzing testing fail (#1261)
  images/dvcr-artifact/docker-fuzz.sh
  images/dvcr-artifact/fuzz.Dockerfile
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/pkg/fuzz/http.go
  images/dvcr-artifact/pkg/uploader/uploader.go
Owners: @Isteb4k

Changelog v1.1.0 (#1450)
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

Changelog v1.1.0 (#1450)
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
