Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

delete testcase
  test/e2e/vm/power_state.go
Owners: @fl64

t
  test/e2e/vm/power_state.go
Owners: @fl64

test: delete case involving a vm reboot by deleting the pod (#1973)
  test/e2e/vm/power_state.go
Owners: @fl64

test: fix PowerState
  test/e2e/internal/network/external_connectivity.go
  test/e2e/vm/power_state.go
Owners: @fl64

test: fix PowerState (#1975)
  test/e2e/internal/network/external_connectivity.go
  test/e2e/vm/power_state.go
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
  test/e2e/internal/d8/d8.go
  test/e2e/internal/util/block_device.go
  test/e2e/legacy/util.go
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
Owners: @fl64

++
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/util.go
  test/e2e/legacy/vm_disk_attachment.go
Owners: @fl64

++
  test/e2e/blockdevice/data_exports.go
  test/e2e/legacy/complex.go
Owners: @fl64

test(vd,vdsnapshot): add a test to check data export (#1946)
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/e2e/blockdevice/data_exports.go
  test/e2e/internal/d8/d8.go
  test/e2e/internal/util/block_device.go
  test/e2e/legacy/complex.go
  test/e2e/legacy/util.go
  test/e2e/legacy/vm_disk_attachment.go
Owners: @fl64

chore(ci): temporary workaround for pinning vm for nested cluster after deploy
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

chore(vm): validate userData with CEL rules (#1963)
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

chore(core): fix CVE-2025-61726, CVE-2025-61728, CVE-2025-61730, CVE-2025-68121 (#1957)
  .github/workflows/dev_module_build-and-registration.yml
  .github/workflows/dev_module_build.yml
  .github/workflows/dev_validation.yaml
  api/client/examples/cancel-evacuation/go.mod
  api/client/examples/cancel-evacuation/go.sum
  api/client/examples/list-resources/go.mod
  api/client/examples/list-resources/go.sum
  api/go.mod
  build/base-images/deckhouse_images.yml
  images/dvcr-artifact/go.mod
  images/hooks/go.mod
  images/kube-api-rewriter/go.mod
  images/pre-delete-hook/go.mod
  images/virt-launcher/node-labeller/go.mod
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/hack/dlv-apiserver.Dockerfile
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
  images/vm-route-forge/go.mod
  src/cli/go.mod
  src/cli/go.sum
  tests/e2e/go.mod
  tests/performance/shatal/go.mod
Owners: @universal-itengineer, @fl64, @Isteb4k, @diafour, @yaroslavborbat, @hardcoretime

chore(ci): temporary workaround for pinning vm for nested cluster after deploy (#1976)
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix(vm): patch kvvm.spec.template.metadata on VM metadata changes
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @yaroslavborbat

fix(ci): fix remove nodeSelector
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

chore(core): fix CVE-2025-61726, CVE-2025-61728, CVE-2025-61730, CVE-2025-68121 (#1978)
  .github/workflows/dev_module_build-and-registration.yml
  .github/workflows/dev_module_build.yml
  .github/workflows/dev_validation.yaml
  api/client/examples/cancel-evacuation/go.mod
  api/client/examples/cancel-evacuation/go.sum
  api/client/examples/list-resources/go.mod
  api/client/examples/list-resources/go.sum
  api/go.mod
  build/base-images/deckhouse_images.yml
  images/dvcr-artifact/go.mod
  images/hooks/go.mod
  images/kube-api-rewriter/go.mod
  images/pre-delete-hook/go.mod
  images/virt-launcher/node-labeller/go.mod
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/hack/dlv-apiserver.Dockerfile
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
  images/vm-route-forge/go.mod
  src/cli/go.mod
  src/cli/go.sum
  tests/e2e/go.mod
  tests/performance/shatal/go.mod
Owners: @universal-itengineer, @fl64, @Isteb4k, @diafour, @yaroslavborbat, @hardcoretime

add quotes
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

debug
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

remove log messages
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

change condition
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @fl64

update fromcacheversion
  werf.yaml
Owners: @universal-itengineer

add fromcacheversion
  werf.yaml
Owners: @universal-itengineer

chore(ci): fix NodeGroupConfiguration for DVCR
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @fl64

add fixed template
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

bb-log-info
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix var
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @fl64

add missing quote
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix condition
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @fl64

fix log messages
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

remove werf cache directive
  werf.yaml
Owners: @universal-itengineer

add `registryEnabled` var, add debug values, rename ngc file
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

chore(ci): temporary disable pin vms
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

chore(ci): temporary disable pin vms (#1980)
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix(vmrestore): add deprecation warning to CRD generation
  api/core/v1alpha2/virtual_machine_restore.go
  crds/virtualmachinerestores.yaml
Owners: @fl64, @z9r5, @goganat

fix(vmrestore): add deprecation warning to CRD generation (#1981)
  api/core/v1alpha2/virtual_machine_restore.go
  crds/virtualmachinerestores.yaml
Owners: @fl64, @z9r5, @goganat
