Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(ci): import glib2, libxkbcommon, libstdc++6 (#1447)
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gcc/README.md
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libxkbcommon/README.md
  images/packages/libxkbcommon/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/p11-kit/werf.inc.yaml
  images/packages/selinux/README.md
  images/packages/selinux/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

feat(core): promote vd/vi import error if url is broken (#1534)
  images/dvcr-artifact/pkg/retry/backoff.go
Owners: @Isteb4k

test(vmrestore): change restart approval mode (#1520)
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists-always-on/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists/kustomization.yaml
  tests/e2e/testdata/vm-restore-safe/vm/overlays/vm/kustomization.yaml
Owners: @hardcoretime

test(vm): check TCP connection during VM migration (#1436)
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/framework/framework.go
  tests/e2e/object/vd.go
  tests/e2e/util_test.go
  tests/e2e/vm_live_migration_tcp_session_test.go
Owners: @Isteb4k, @hardcoretime

[cse] fixed path to source code (#1551)
  images/dvcr/werf.inc.yaml
  images/hooks/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

Backport: Changelog v1.1.0 (#1531)
  CHANGELOG/CHANGELOG-v1.1.0.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

fix(vd): respect user-specified storage class when restoring from snapshot (#1417)
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
Owners: @Isteb4k

fix(vm): prohibit duplicating networks in the VirtualMachine `.spec` (#1545)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat

chore(ci): backport update 3p versions for cve fixes (#1572) (#1574)
  build/components/versions.yml
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
Owners: @fl64, @universal-itengineer, @Isteb4k

fix(core): fix setting LastTransitionTime in condition if reason changed (#1543)
  images/virtualization-artifact/pkg/controller/conditions/builder.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

fix(e2e): panic when controller pod is completed (#1535)
  tests/e2e/e2e_test.go
Owners: @hardcoretime

ci: format YAML to satisfy prettier; drop temporary values.yaml
  .github/actions/setup-e2e-tools/action.yml
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/cluster-config/Chart.yaml
  ci/dvp-e2e/charts/cluster-config/values.yaml
  ci/dvp-e2e/charts/infra/Chart.yaml
  ci/dvp-e2e/tasks/cleanup.yaml
  ci/dvp-e2e/tasks/cluster.yaml
  ci/dvp-e2e/tasks/infra.yaml
  ci/dvp-e2e/tasks/storage.yaml
  ci/dvp-e2e/tasks/testing.yaml
  docs/internal/ci-e2e.md
  docs/internal/ci-e2e.ru.md
  values.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

feat(core): promote vd/vi import error if url is broken (#1534)
  images/dvcr-artifact/pkg/retry/backoff.go
Owners: @Isteb4k

chore: remove e2e log filter of fixed error: "found new finalizers" (#1544)
  tests/e2e/default_config.yaml
Owners: @hardcoretime

fix(vmop): add validation rules for clone naming (#1522)
  api/core/v1alpha2/virtual_machine_operation.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix(test): Fuzzing testing fail (#1261)
  images/dvcr-artifact/docker-fuzz.sh
  images/dvcr-artifact/fuzz.Dockerfile
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/pkg/fuzz/http.go
  images/dvcr-artifact/pkg/uploader/uploader.go
Owners: @Isteb4k

fix(vmip): add validation when updating the vmip (#1530)
  images/virtualization-artifact/pkg/controller/vmip/internal/step/take_lease_step.go
  images/virtualization-artifact/pkg/controller/vmip/vmip_webhook.go
  tests/e2e/complex_test.go
  tests/e2e/testdata/complex-test/vm/kustomization.yaml
Owners: @LopatinDmitr, @hardcoretime

chore: skip vd snapshots blinking error (#1540)
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix(vm): prohibit duplicating networks in the VirtualMachine `.spec` (#1545)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat

fix(vd): respect user-specified storage class when restoring from snapshot (#1417)
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
Owners: @Isteb4k

chore(ci): import glib2, libxkbcommon, libstdc++6 (#1447)
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gcc/README.md
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libxkbcommon/README.md
  images/packages/libxkbcommon/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/p11-kit/werf.inc.yaml
  images/packages/selinux/README.md
  images/packages/selinux/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix(e2e): panic when controller pod is completed (#1535)
  tests/e2e/e2e_test.go
Owners: @hardcoretime

chore: skip for VirtualImageCreation blinking test (#1539)
  tests/e2e/images_creation_test.go
Owners: @hardcoretime

fix(ci): add wait condition to E2E error messages (#1514)
  tests/e2e/util_test.go
Owners: @hardcoretime

chore: skip VirtualMachineLiveMigrationTCPSession test (#1537)
  tests/e2e/vm_live_migration_tcp_session_test.go
Owners: @hardcoretime

fix(core): fix setting LastTransitionTime in condition if reason changed (#1543)
  images/virtualization-artifact/pkg/controller/conditions/builder.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

fix(ci): fix mirrord health probes and certificate paths (#1547)
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/hack/mirrord.sh
Owners: @Isteb4k

chore(core): more renames for containers (#1579)
  build/components/versions.yml
Owners: @fl64

fix(tests): Kill workers if main fuzz process don't kill they (#1560)
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

fix(vi): respect storageClassName when creating from snapshot (#1533)
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pvc_step.go
Owners: @Isteb4k

[cse] fixed path to source code (#1551)
  images/dvcr/werf.inc.yaml
  images/hooks/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

chore(core): fix run with ro rootfs (port to upstream from #1526) (#1576)
  images/packages/p11-kit/werf.inc.yaml
  images/virt-launcher/mount-points.yaml
Owners: @universal-itengineer

fix(ci): resolve issue with table rendering (#1565)
  .github/workflows/nightly_e2e_tests_report.yaml
Owners: @universal-itengineer

fix(vmbda): resolve terminating status issue (#1542)
  images/virtualization-artifact/pkg/controller/kvapi/kvapi.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_status.go
  tests/e2e/testdata/vm-restore-force/vm/base/kustomization.yaml
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

feat(observability): add snapshots info prometheus metrics (#1555)
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/scraper.go
Owners: @Isteb4k

fix(vm): add hiding of the NetworkReady condition when its status is Unknown. (#1567)
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
Owners: @yaroslavborbat

chore(module): use golang-1.24 instead 1.23 (port to upstream from #1506) (#1575)
  images/bounder/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-cloner/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(core): fix go sum for virtualization artifacts
  images/virtualization-artifact/go.sum
Owners: @Isteb4k

revert(templates/dvcr): drop E2E-related edits; keep tests via ModuleConfig/Taskfile
  templates/dvcr/_helpers.tpl
  templates/dvcr/pvc.yaml
  templates/dvcr/secret.yaml
Owners: @fl64

fix(vm): add hiding of the NetworkReady condition when its status is Unknown. (#1567)
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
Owners: @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
