Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add
  images/descheduler/werf.inc.yaml
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/descheduler/configmap.yaml
  templates/descheduler/deployment.yaml
  templates/descheduler/rbac-for-us.yaml
  templates/descheduler/rbac-to-us.yaml
  tools/kubeconform/fixtures/module-values.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

fix yaml format
  images/virtualization-artifact/.golangci.yaml
Owners: @Isteb4k

fix(vm): add removing conditions by design
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vm/internal/agent.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/size_policy.go
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @fl64, @yaroslavborbat

fix(vm): fix sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
Owners: @yaroslavborbat

fix(vm): add unit tests
  images/virtualization-artifact/pkg/controller/vm/internal/agent_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/size_policy_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm_test.go
Owners: @yaroslavborbat

Update images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
Owners: @universal-itengineer

Update images/virt-launcher/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vmrestore): handle the nil value `vm.spec.provisioning`
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
Owners: @Isteb4k

change output
  .github/workflows/dev_module_build.yml
  images/virtualization-artifact/.golangci.yaml
Owners: @universal-itengineer, @Isteb4k

fix show errors
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix: remove debug
  images/packages/binaries/numactl/werf.inc.yaml
Owners: @universal-itengineer

fix error
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix output
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add dbg msg
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(core): remove debug
  images/packages/binaries/xorriso/werf.inc.yaml
Owners: @universal-itengineer

fix
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

fix
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

test(vm): increase timeout for migration abort (#973)
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

Documentation edits
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
  docs/README.md
  docs/README.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vmrestore): handle the nil value `vm.spec.provisioning` (#971)
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
Owners: @Isteb4k

chore(core): build numactl (#958)
  component_versions/version_map.yml
  images/packages/binaries/numactl/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/common/kvvm/kvvm.go
Owners: @fl64, @universal-itengineer, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
Owners: @Isteb4k

fix(vmop): fix panic when migration failed (#974)
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
Owners: @Isteb4k

add lib
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): fix after review
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vm/internal/agent.go
  images/virtualization-artifact/pkg/controller/vm/internal/agent_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/size_policy_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
Owners: @fl64, @yaroslavborbat

fix
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

chore(core): build xorriso (#966)
  component_versions/version_map.yml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build nftables
  component_versions/version_map.yml
  images/packages/binaries/nftables/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build static
  images/packages/binaries/nftables/werf.inc.yaml
Owners: @universal-itengineer

build statically openssl
  component_versions/version_map.yml
  images/packages/binaries/openssl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build openssl
  component_versions/version_map.yml
  images/packages/binaries/openssl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix yaml formatting
  component_versions/version_map.yml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

rm commented openssl
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

import openssl
  images/packages/binaries/openssl/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

resolve comments
  images/packages/binaries/openssl/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vmip): fix double create VirtualMachineIPLease
  images/virtualization-artifact/pkg/controller/vmip/internal/iplease_handler.go
  images/virtualization-artifact/pkg/controller/vmip/vmip_reconciler.go
  images/virtualization-artifact/pkg/controller/vmiplease/vmiplease_reconciler.go
Owners: @LopatinDmitr

create separetee qemu img 'pkg'
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

try import qemu imgs as dedicaded libs and bins
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

rm commented bins
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
