Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

docs(module): fix translation
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

modify BinaryDir
  .werf/defines/svace-build.tmpl
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
Owners: @universal-itengineer

fake debug commit
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add binary dir check to svace
  .werf/defines/svace-build.tmpl
Owners: @universal-itengineer

change build action logic
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix ssh-agent job
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Check backward compatibility
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(vmip): list vmips, not vmipleases
  images/virtualization-artifact/pkg/controller/vmip/internal/watcher/vmiplease_watcher.go
Owners: @LopatinDmitr

docs review
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(cli): restore terminal after console disconnect
  src/cli/internal/util/console.go
Owners: @fl64

chore(ci): build libbrotlidec
  component_versions/version_map.yml
  images/packages/binaries/libbrotlidec/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libbrotlidec
  images/packages/binaries/libbrotlidec/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libbrotlicommon
  component_versions/version_map.yml
  images/packages/binaries/libbrotlicommon/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libbrotlicommon
  images/packages/binaries/libbrotlicommon/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): fail on trivy vulnerabilities
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix yaml
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix count and filename
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add exit 1
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add env
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(core): vmclass node reconcile (#1075)
  images/virtualization-artifact/hack/dlv-apiserver.Dockerfile
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/watcher/node_watcher.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_reconciler.go
Owners: @Isteb4k

workaround via `trivy convert`
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(vmip): fix vmip tests
  images/virtualization-artifact/pkg/controller/vmip/internal/service/ip_address_service_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/service/service_test.go
Owners: @LopatinDmitr

fix(vmipl): fix bound condition
  images/virtualization-artifact/pkg/controller/vmiplease/internal/lifecycle_handler.go
Owners: @LopatinDmitr

chore(ci): fail on trivy vulnerabilities (#1086)
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(vmip): list vmips, not vmipleases (#1084)
  images/virtualization-artifact/pkg/controller/vmip/internal/service/ip_address_service_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/service/service_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/watcher/vmiplease_watcher.go
  images/virtualization-artifact/pkg/controller/vmiplease/internal/lifecycle_handler.go
Owners: @LopatinDmitr

replace libbrotlidec to libbrotli
  component_versions/version_map.yml
  images/packages/binaries/libbrotli/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): add `cli` to changelog sections
  .github/actions/milestone-changelog/action.yml
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

chore(ci): add `cli` to changelog sections (#1090)
  .github/actions/milestone-changelog/action.yml
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

chore(ci): add dmt lint
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix job name
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix yaml
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Update images/packages/binaries/libbrotli/werf.inc.yaml
  images/packages/binaries/libbrotli/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libbrotli (#1055)
  component_versions/version_map.yml
  images/packages/binaries/libbrotli/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libburn
  component_versions/version_map.yml
  images/packages/binaries/libburn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/packages/binaries/libburn/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libburn
  images/packages/binaries/libburn/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libburn (#1056)
  component_versions/version_map.yml
  images/packages/binaries/libburn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libblkid
  component_versions/version_map.yml
  images/packages/binaries/libblkid/werf.inc.yaml
Owners: @fl64, @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
