Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

impl
  base-images/virtualization_images.yml
  hooks/discovery_clusterip_service_for_dvcr.py
  hooks/test_discovery_clusterip_service_for_dvcr.py
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main.go
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main_test.go
  images/hooks/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  base-images/virtualization_images.yml
Owners: @fl64

fix
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main.go
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main_test.go
Owners: @universal-itengineer

chore(hooks): impl discovery clusterip service for dvcr in go (#1005)
  hooks/discovery_clusterip_service_for_dvcr.py
  hooks/test_discovery_clusterip_service_for_dvcr.py
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main.go
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main_test.go
  images/hooks/werf.inc.yaml
Owners: @fl64, @universal-itengineer

Changelog v0.18.0 (#831)
  CHANGELOG/CHANGELOG-v0.18.0.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Changelog v0.18.0 (#831)
  CHANGELOG/CHANGELOG-v0.18.0.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Backport: Changelog v0.18.0 (#1051)
  CHANGELOG/CHANGELOG-v0.18.0.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

chore(ci): update deckhouse base-images to 0.5.2
  base-images/deckhouse_images.yml
Owners: @fl64

chore(ci): update deckhouse base-images to 0.5.2 (#1044)
  base-images/deckhouse_images.yml
Owners: @fl64

fix
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main.go
Owners: @universal-itengineer

fix(hooks): trim quotes in discovered ClusterIP (#1052)
  images/hooks/cmd/discovery-clusterip-service-for-dvcr/main.go
Owners: @universal-itengineer

fix(ci): fix run e2e if audit disabled
  tests/e2e/Taskfile.yaml
Owners: @hardcoretime

add branch for test (del commit)
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add copyright
  src/pkg/cli/Taskfile.yaml
  src/pkg/cli/internal/cmd/lifecycle/evict.go
  src/pkg/cli/internal/templates/target.go
Owners: @fl64

fix copyright
  src/pkg/cli/internal/cmd/console/console.go
  src/pkg/cli/internal/cmd/portforward/portforward.go
  src/pkg/cli/internal/cmd/portforward/portforwarder.go
  src/pkg/cli/internal/cmd/portforward/ports.go
  src/pkg/cli/internal/cmd/portforward/tcp.go
  src/pkg/cli/internal/cmd/portforward/udp.go
  src/pkg/cli/internal/cmd/scp/native.go
  src/pkg/cli/internal/cmd/scp/scp.go
  src/pkg/cli/internal/cmd/scp/wrapped.go
  src/pkg/cli/internal/cmd/ssh/knownhosts.go
  src/pkg/cli/internal/cmd/ssh/native.go
  src/pkg/cli/internal/cmd/ssh/ssh.go
  src/pkg/cli/internal/cmd/ssh/terminal_unix.go
  src/pkg/cli/internal/cmd/ssh/terminal_windows.go
  src/pkg/cli/internal/cmd/ssh/wrapped.go
  src/pkg/cli/internal/cmd/vnc/vnc.go
  src/pkg/cli/internal/templates/templates.go
  src/pkg/cli/internal/util/console.go
  src/pkg/cli/pkg/command/virtualization.go
Owners: @fl64

revert one line
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
Owners: @Isteb4k

test
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

move to /src/cli
  src/cli/README.md
  src/cli/Taskfile.yaml
  src/cli/cmd/main.go
  src/cli/go.mod
  src/cli/go.sum
  src/cli/internal/cmd/console/console.go
  src/cli/internal/cmd/lifecycle/evict.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/restart.go
  src/cli/internal/cmd/lifecycle/start.go
  src/cli/internal/cmd/lifecycle/stop.go
  src/cli/internal/cmd/lifecycle/vmop/vmop.go
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/portforward/ports.go
  src/cli/internal/cmd/portforward/tcp.go
  src/cli/internal/cmd/portforward/udp.go
  src/cli/internal/cmd/scp/native.go
  src/cli/internal/cmd/scp/scp.go
  src/cli/internal/cmd/scp/wrapped.go
  src/cli/internal/cmd/ssh/knownhosts.go
  src/cli/internal/cmd/ssh/native.go
  src/cli/internal/cmd/ssh/ssh.go
  src/cli/internal/cmd/ssh/terminal_unix.go
  src/cli/internal/cmd/ssh/terminal_windows.go
  src/cli/internal/cmd/ssh/wrapped.go
  src/cli/internal/cmd/vnc/vnc.go
  src/cli/internal/templates/target.go
  src/cli/internal/templates/templates.go
  src/cli/internal/util/console.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

chore(test): fix afterEach for e2e
  tests/e2e/util_test.go
Owners: @hardcoretime

chore(ci): build libbrotlicommon
  component_versions/version_map.yml
  images/packages/binaries/libbrotlicommon/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libbrotlidec
  component_versions/version_map.yml
  images/packages/binaries/libbrotlidec/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add proxy: cdi-artifact
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix build nbdkit, add lib to dvcr-importer
  images/dvcr-artifact/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add proxy: virt-launcher
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

replcae git submodule set-url to git config --global url.
  images/edk2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

dvcr-artifact: use self-build nbdkit
  images/dvcr-artifact/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

nftables fix repourl if proxy set
  images/packages/binaries/nftables/werf.inc.yaml
Owners: @universal-itengineer

add proxy: cdi-controller
  images/cdi-controller/werf.inc.yaml
Owners: @universal-itengineer

dvcr change docker to distribution
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

chore(core): add proxy settings for packages
  .werf/defines/packages-proxies.tmpl
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

add proxy and refactor virt-artifact
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

change submodule edk2
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

refactor dvcr build
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

qemu: add submodule change url for closed env
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

refactor and fix build
  images/base-alt-p11-binaries/werf.inc.yaml
  images/bounder/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/distroless/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

refactor build, add source_repo_git var
  images/cdi-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add proxy and refactor build dvcr
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

fix cleanup whae no proxy
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

refactor qemu build
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add proxy: base alt p11
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer
