Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(module): fix helm templates after PR#1324 (#1346)
  templates/virtualization-api/_helper.tpl
  templates/virtualization-controller/_helpers.tpl
  templates/vm-route-forge/_helper.tpl
Owners: @fl64

chore(ci): build libcap
  build/components/versions.yml
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add autogen
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

update package
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

add libcap alt deps
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

add libcap-ng to qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

debug
  build/components/versions.yml
Owners: @fl64

revert and debug
  build/components/versions.yml
  images/packages/file/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add libcap-ng
  build/components/versions.yml
  images/packages/binaries/libcap-ng/README.md
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @fl64, @universal-itengineer

tree
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add prefix
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

fix out dir
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

test
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

remove built libcap from file
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

ldd right path
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

libcap-devel
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add libcap to file
  images/packages/binaries/libcap/README.md
  images/packages/binaries/libcap/werf.inc.yaml
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

fix gitRepoUrl
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

comment out libcap in file
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

move import
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

tree after make install
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

debug
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

strip
  images/packages/binaries/libcap-ng/werf.inc.yaml
Owners: @universal-itengineer

add libcapstone
  build/components/versions.yml
  images/packages/binaries/libcapstone/README.md
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix make.sh options
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

comment out strip
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

fix libcap-ng README
  images/packages/binaries/libcap-ng/README.md
Owners: @universal-itengineer

remove alt pkconfig edits
  images/packages/binaries/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

add libcap-ng to libvirt and virt-launcher
  images/libvirt/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libcapstone to qemu and virt-launcher
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

test libcapstone in qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to nbdkit
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add version for e2fsprogs
  build/components/versions.yml
Owners: @fl64

fix strip
  images/packages/libcapstone/werf.inc.yaml
Owners: @universal-itengineer

fix template
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

comment out debug statements
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add readme for libcapstone
  images/packages/binaries/libcapstone/README.md
Owners: @universal-itengineer

add strip and remove manpages
  images/packages/e2fsprogs/werf.inc.yaml
Owners: @universal-itengineer

remove package used outside hasher
  images/packages/e2fsprogs/werf.inc.yaml
Owners: @universal-itengineer

add apt mark manual for e2fsprogs in qemu
  images/packages/e2fsprogs/README.md
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
