Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

Backport: docs: update due v1.1.1 (#1594)
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Changelog v1.1.1 (#1571)
  CHANGELOG/CHANGELOG-v1.1.1.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

Changelog v1.1.1 (#1571)
  CHANGELOG/CHANGELOG-v1.1.1.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

Backport: Changelog v1.1.1 (#1595)
  CHANGELOG/CHANGELOG-v1.1.1.yml
  CHANGELOG/CHANGELOG-v1.1.md
Owners: @fl64

debug: add debug utils to virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ci(e2e): cleanup uses privileged SA context; remove kubeconfig copy and soft fallback
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): correct SDS image/snapshot SC mapping (IMG_SC=linstor-thin-r1-immediate)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

disable skip
  tests/e2e/vm_disk_resizing_test.go
Owners: @hardcoretime

fix(vmbda): vmbda images missing serial
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

fix by prefixes
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

write test
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state_test.go
Owners: @yaroslavborbat

rename
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
Owners: @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
Owners: @Isteb4k, @yaroslavborbat

add libjson-glib
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ci(e2e): add -vv --github-output to ginkgo; use dvp-e2e- prefix for RUN_ID, junit, logs
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  images/virtualization-artifact/pkg/controller/vm/internal/state/state_test.go
Owners: @yaroslavborbat

cbuilder
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

debug: add more debug tools
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ci(e2e): fix doubled namespace issue; cleanup filters dvp-e2e-; revert prefixed RUN_ID and artifact paths
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add qemu to dirs
  images/virt-launcher/mount-points.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

ci(e2e): prune debug/local tasks; keep only CI-needed targets; purge artifacts after upload
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
Owners: @Isteb4k, @yaroslavborbat

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

update tests, refactor tools
  tests/performance/.helmignore
  tests/performance/README.md
  tests/performance/config/default.conf
  tests/performance/lib/common.sh
  tests/performance/lib/controller.sh
  tests/performance/lib/migration.sh
  tests/performance/lib/reporting.sh
  tests/performance/lib/scenarios.sh
  tests/performance/lib/statistics.sh
  tests/performance/lib/vm_operations.sh
  tests/performance/scenarios/tst.sh
  tests/performance/tests.sh
  tests/performance/tests_refactored.sh
  tests/performance/tools/statistic/README.md
  tests/performance/tools/statistic/Taskfile.yaml
  tests/performance/tools/statistic/internal/helpers/helper.go
  tests/performance/tools/statistic/internal/vd/get_vd_stat.go
  tests/performance/tools/statistic/internal/vm/get_vm_stat.go
  tests/performance/tools/statistic/internal/vmop/get_vmop_stat.go
  tests/performance/tools/statistic/pkg/command/statistic.go
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/datavolume_watcher.go
Owners: @Isteb4k

Revert "wip"
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

add wait time before steps
  tests/performance/tests.sh
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
Owners: @Isteb4k

ci(e2e): add JUnit failure summary step and cleanup filter dvp-e2e-nightly-* (debug)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): fix YAML inline python indentation for JUnit summary step
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add comment
  tests/e2e/vm_restore_force_test.go
Owners: @hardcoretime

ci(e2e): switch JUnit summary to python -c to fix YAML parser error
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): switch to 'go tool ginkgo' (was go run) for test runner
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

fix tests
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_test.go
Owners: @Isteb4k

ci(e2e): avoid YAML parse issues by removing emojis from echo lines
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): wait for validating-webhook-handler and retry ModuleConfig applies for SDS/Ceph
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
