Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chown test
  images/cdi-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(kubevirt): fix hotplug volumes in filesystem mode, bump kubevirt version to v1.3.1-v12n.6 (#1241)
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

†
  tests/e2e/util_test.go
Owners: @hardcoretime

ttt
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @universal-itengineer, @yaroslavborbat

backhiddumpdelreset
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ttttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tdelusbhiddump
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tttttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

distroless with ls
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tdellsusb
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tdelusbdevices
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

whoami
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tm1
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

lsusb
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

lsusb
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

tmls
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

t
  templates/admission-policy.yaml
Owners: @fl64

tttttt
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @universal-itengineer, @yaroslavborbat

tttttttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

pgrep
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore: refactore the e2e tests to run in parallel
  tests/e2e/Taskfile.yaml
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/config/config.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/testdata/affinity-toleration/vm/base/vm.yaml
  tests/e2e/testdata/affinity-toleration/vmc.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-a-not-b/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-b-not-a/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-c-and-a/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vmc.yaml
  tests/e2e/testdata/sizing-policy/overlays/existing-vmclass/kustomization.yaml
  tests/e2e/testdata/sizing-policy/vmc.yaml
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

chore(test): fix some problems
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/go.mod
  tests/e2e/ipam_test.go
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

htop
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

ps
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

cat
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

bpf2go bind to version v0.19.0
  images/vm-route-forge/internal/controller/route/gen.go
Owners: @yaroslavborbat

debug bind version
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

back missing files
  images/vm-route-forge/.gitignore
  images/vm-route-forge/internal/controller/route/ebpf_x86_bpfel.o
Owners: @yaroslavborbat

comment passthrough hardcode
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

regen ebpf_x86_bpfel.go
  images/vm-route-forge/internal/controller/route/ebpf_x86_bpfel.go
Owners: @yaroslavborbat

chore(test): fix some problems
  tests/e2e/affinity_toleration_test.go
  tests/e2e/network/cilium_agents.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_connectivity_test.go
Owners: @hardcoretime

back ebpf_x86_bpfel.go
  images/vm-route-forge/internal/controller/route/ebpf_x86_bpfel.go
Owners: @yaroslavborbat

bind ebpf to v0.16.0
  images/vm-route-forge/internal/controller/route/gen.go
Owners: @yaroslavborbat

feat(vm): add vpc
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/vmcondition/condition.go
  crds/doc-ru-virtualmachines.yaml
  crds/virtualmachines.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/common/network/network_test.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/ipam.go
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/cpu_count_validator_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/pod_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
  tests/e2e/config/config.go
  tests/e2e/default_config.yaml
  tests/e2e/testdata/vm-vpc/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/network-class.yaml
  tests/e2e/testdata/vm-vpc/network/network.yaml
  tests/e2e/testdata/vm-vpc/ns.yaml
  tests/e2e/testdata/vm-vpc/transformer.yaml
  tests/e2e/testdata/vm-vpc/vi/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vi/vi-alpine-http.yaml
  tests/e2e/testdata/vm-vpc/vm/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-vpc/vm/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vm/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm/vd-blank.yaml
  tests/e2e/testdata/vm-vpc/vm/vd-root.yaml
  tests/e2e/testdata/vm-vpc/vm/vm.yaml
  tests/e2e/vm_vpc_test.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @yaroslavborbat, @hardcoretime

tst gen
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

rm dbg
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
