Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  test/e2e/default_config.yaml
Owners: @Isteb4k, @fl64

add /var/log/swtpm/libvirt/qemu to mount-points
  images/virt-launcher/mount-points.yaml
Owners: @universal-itengineer

add folder /var/lib/swtpm-localca
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm mp
  images/virt-launcher/mount-points.yaml
Owners: @universal-itengineer

refactoring
  test/e2e/internal/util/vm.go
  test/e2e/vm/configuration.go
Owners: @fl64

fix(core): add missing libraries to virt-launcher build (#1761)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Re-generate changelog v1.2.0
  CHANGELOG/CHANGELOG-v1.2.0.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

fix(core): add missing libraries to virt-launcher build (#1761)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Backport: fix(core): add missing libraries to virt-launcher build (#1763)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vmsnapshot): process secret already exists error (#1762)
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  test/e2e/default_config.yaml
Owners: @Isteb4k, @fl64

fix linter
  test/e2e/internal/util/vm.go
Owners: @fl64

test(vm): refactor vm configuration test (#1737)
  images/virtualization-artifact/pkg/builder/vm/option.go
  test/e2e/internal/config/config.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/testdata/vm-configuration/base/cfg/cloudinit.yaml
  test/e2e/legacy/testdata/vm-configuration/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-configuration/base/transformer.yaml
  test/e2e/legacy/testdata/vm-configuration/base/vd-attach.yaml
  test/e2e/legacy/testdata/vm-configuration/base/vd-blank.yaml
  test/e2e/legacy/testdata/vm-configuration/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-configuration/base/vm.yaml
  test/e2e/legacy/testdata/vm-configuration/kustomization.yaml
  test/e2e/legacy/testdata/vm-configuration/ns.yaml
  test/e2e/legacy/testdata/vm-configuration/overlays/automatic/kustomization.yaml
  test/e2e/legacy/testdata/vm-configuration/overlays/manual/kustomization.yaml
  test/e2e/legacy/testdata/vm-configuration/transformer.yaml
  test/e2e/legacy/testdata/vm-configuration/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-configuration/vi/vi-alpine-http.yaml
  test/e2e/legacy/util.go
  test/e2e/legacy/vm_configuration.go
  test/e2e/vm/configuration.go
Owners: @Isteb4k, @fl64

feat(cli): add ansible inventory
  src/cli/internal/cmd/ansibleinventory/ansibleinventory.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

fix messages
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

chore(api): force the failed state of a snapshot that cannot be taken right now (#1744)
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/virtual_disk_ready.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
Owners: @yaroslavborbat

wip
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
Owners: @yaroslavborbat

chore(ci): remove selinux packages
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

Changelog v1.2.0 (#1503)
  CHANGELOG/CHANGELOG-v1.2.0.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

Changelog v1.2.0 (#1503)
  CHANGELOG/CHANGELOG-v1.2.0.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

Backport: Changelog v1.2.0 (#1768)
  CHANGELOG/CHANGELOG-v1.2.0.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

feat: add usbredir
  Taskfile.yaml
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_virtualmachine_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/virtualmachine_expansion.go
  api/client/kubeclient/async.go
  api/client/kubeclient/client.go
  api/client/kubeclient/config.go
  api/client/kubeclient/streamer.go
  api/client/kubeclient/vm.go
  api/subresources/register.go
  api/subresources/types.go
  api/subresources/v1alpha2/register.go
  api/subresources/v1alpha2/types.go
  api/subresources/v1alpha2/zz_generated.conversion.go
  api/subresources/v1alpha2/zz_generated.deepcopy.go
  api/subresources/zz_generated.deepcopy.go
  images/qemu/werf.inc.yaml
  images/virt-handler/debug/dlv.Dockerfile
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/apiserver/api/install.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/rest/usbredir.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/storage.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/service/mock.go
  src/cli/internal/cmd/usbredir/client.go
  src/cli/internal/cmd/usbredir/usbredir.go
  src/cli/pkg/command/virtualization.go
  templates/virtualization-api/rbac-for-us.yaml
Owners: @fl64, @universal-itengineer, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/virtual_machine_ready.go
Owners: @Isteb4k

wip
  .mirrord/security-policy-exception.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/volumeevent_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64, @yaroslavborbat

fix(vmsnapshot): fix the VM readiness check for snapshotting (#1769)
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/virtual_machine_ready.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

refactor(ci): 'Deploy Prod' can run from main for build specific tag
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

refactor(ci): 'Deploy Prod' can run from main for build specific tag (#1772)
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

wip
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/volumeevent_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @Isteb4k, @yaroslavborbat

wip
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/volumeevent_watcher.go
Owners: @yaroslavborbat

wip
  .mirrord/security-policy-exception.yaml
  images/virtualization-artifact/Taskfile.yaml
Owners: @fl64, @Isteb4k

add ns support
  src/cli/README.md
  src/cli/internal/cmd/ansibleinventory/ansibleinventory.go
Owners: @fl64

refactor
  src/cli/internal/cmd/ansibleinventory/ansibleinventory.go
Owners: @fl64

wip
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
Owners: @yaroslavborbat

fix(ci): fix tc import
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(core): fix tc import (#1775)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): fix migrating if node selector in vmclass was changed (#1773)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

feat(vmsop): clone e2e tests (#1728)
  test/e2e/e2e_test.go
  test/e2e/snapshot/vmsop.go
Owners: @fl64

chore(module):dvcr gc provisioners waiting timeout
  images/virtualization-artifact/pkg/controller/dvcr-garbage-collection/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/dvcr-garbage-collection/types/const.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
