Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix
  images/packages/binaries/libhogweed/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libhogweed (#1158)
  component_versions/version_map.yml
  images/packages/binaries/libhogweed/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libibverbs
  component_versions/version_map.yml
  images/packages/binaries/libibverbs/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/packages/binaries/libibverbs/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libibverbs/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libibverbs/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libibverbs (#1159)
  component_versions/version_map.yml
  images/packages/binaries/libibverbs/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libisoburn
  component_versions/version_map.yml
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libisoburn
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libisoburn (#1162)
  component_versions/version_map.yml
  images/packages/binaries/libisoburn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libgsasl
  component_versions/version_map.yml
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix(api): delete cell rules for vm,vd,vi,cvi in crd
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/virtual_image.go
  crds/clustervirtualimages.yaml
  crds/virtualdisks.yaml
  crds/virtualimages.yaml
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

fix(vm): add validating name in webhook
  images/virtualization-artifact/pkg/common/validate/validate.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_webhook.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/name_validator.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/meta_validator.go
Owners: @Isteb4k, @yaroslavborbat

change version
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

chore(ci): add type docs
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vm/internal/validators/meta_validator.go
Owners: @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

fix discovery crd descheduler
  templates/descheduler/descheduler.yaml
  tools/kubeconform/fixtures/module-values.yaml
  tools/kubeconform/kubeconform.sh
Owners: @fl64

fix(module): patch spec.strategy for cdi-deployment (#1173)
  templates/cdi/config.yaml
Owners: @fl64

Backport: fix(module): patch spec.strategy for cdi-deployment (#1179)
  templates/cdi/config.yaml
Owners: @fl64

chore(ci): add type docs (#1176)
  .github/workflows/check-changelog-entry.yml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libgsasl (#1157)
  component_versions/version_map.yml
  images/packages/binaries/libgsasl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libidn
  component_versions/version_map.yml
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): update docs related to changelog
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @universal-itengineer, @fl64

chore(ci): build libidn (#1161)
  component_versions/version_map.yml
  images/packages/binaries/libidn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(ci): build libidn2
  component_versions/version_map.yml
  images/packages/binaries/libidn2/werf.inc.yaml
Owners: @fl64, @universal-itengineer
