Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix test data
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
Owners: @Isteb4k

fix linter
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

fix panic
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

inuse handlers refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

do not requeue
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

reuse SetPhaseCondition
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/upload.go
Owners: @Isteb4k

concrete
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

remove unused
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix watchers
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

oops
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

refactoring
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

refactoring
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

refactorig cvi watchers
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix deletion check
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

up go version dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
Owners: @Isteb4k

fix typo
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

add comment to condition file
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
Owners: @fl64

remove unused
  images/virtualization-artifact/pkg/controller/watchers/cvi_enqueuer.go
Owners: @Isteb4k

optimization
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix logic
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix namespaces order in status
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

remove attache handlers
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/internal/attachee.go
  images/virtualization-artifact/pkg/controller/vi/internal/attachee.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
Owners: @Isteb4k

fix linter
  images/virtualization-artifact/pkg/builder/cvi/option.go
Owners: @Isteb4k

ignore stopped
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix phase check
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
Owners: @Isteb4k

fix vmbda termination
  images/virtualization-artifact/pkg/controller/vmbda/internal/block_device_ready.go
Owners: @Isteb4k

logic fix
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @fl64, @Isteb4k

vmbda
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

chore(ci): add `MODULE_EDITION` to svace workflow (#1151)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix crds
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
Owners: @fl64, @z9r5, @goganat

clean up
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main.go
  images/hooks/cmd/migrate-delete-renamed-validation-admission-policy/main_test.go
Owners: @universal-itengineer

implement queue of vmops and improve phasing
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle_test.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
Owners: @fl64, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
Owners: @Isteb4k

add rm git to src-artifact
  images/base-alt-p11-binaries/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/dtc/werf.inc.yaml
  images/packages/binaries/fuse3/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gmp/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
