Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(ci): use correct ServiceAccount and improve cleanup error handling
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/tasks/cleanup.yaml
Owners: @universal-itengineer, @fl64

remove restriction for vmclass generic
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @fl64

ci(e2e): build kubeconfig from E2E_NESTED_SA_SECRET without TOK var; drop k8s-set-context
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): call correct cleanup task (cleanup:cleanup:namespaces)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): drop NFS server from infra and tasks; gate NFS config by flag
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/cluster-config/templates/nfs.yaml
  ci/dvp-e2e/charts/cluster-config/values.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/deploy.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/pvc.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/svc.yaml
Owners: @fl64

ci(e2e): docker login dev-registry before pulling install image
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): use REGISTRY_DOCKER_CFG for registry auth; drop explicit docker login
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): use deckhouse/modules-actions/setup for registry auth only
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): auth via modules-actions; add GHCR login; setup-task with token
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): add explicit registry pull check before bootstrap
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

wip
  tests/e2e/images_creation_test.go
Owners: @hardcoretime

wip
  api/core/v1alpha3/doc.go
  api/core/v1alpha3/register.go
  api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/vmclasscondition/condition.go
  api/scripts/update-codegen.sh
  crds/virtualmachineclasses.yaml
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_controller.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_conversion.go
  images/virtualization-artifact/pkg/migration/core_fractions_format.go
  images/virtualization-artifact/pkg/migration/core_fractions_format_test.go
  images/virtualization-artifact/pkg/migration/migration.go
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @fl64, @z9r5, @goganat, @Isteb4k

ci(e2e): replace Taskfile with minimal GH-oriented version; drop unused tasks/* and loop notify scripts; keep JSON profiles + modules-actions/ghcr auth; Ceph/SDS only
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/scripts/loop_junit_notify.py
  ci/dvp-e2e/scripts/loop_notify.py
  ci/dvp-e2e/tasks/cleanup.yaml
  ci/dvp-e2e/tasks/cluster.yaml
  ci/dvp-e2e/tasks/infra.yaml
  ci/dvp-e2e/tasks/loop.yaml
  ci/dvp-e2e/tasks/storage.yaml
  ci/dvp-e2e/tasks/testing.yaml
Owners: @universal-itengineer, @fl64

ci(e2e): fix cleanup task; docker login to DEV_REGISTRY; setup-task input; lint YAML
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

upd migration 10%
  tests/performance/tests.sh
Owners: @hardcoretime

comment scenarios
  tests/performance/tests.sh
Owners: @hardcoretime

update tests, refactor tools
  tests/performance/.helmignore
  tests/performance/README.md
  tests/performance/config/default.conf
  tests/performance/lib/common.sh
  tests/performance/lib/controller.sh
  tests/performance/lib/migration.sh
  tests/performance/lib/reporting.sh
  tests/performance/lib/scenarios.sh
  tests/performance/lib/statistics.sh
  tests/performance/lib/vm_operations.sh
  tests/performance/scenarios/tst.sh
  tests/performance/tests.sh
  tests/performance/tests_refactored.sh
  tests/performance/tools/statistic/README.md
  tests/performance/tools/statistic/Taskfile.yaml
  tests/performance/tools/statistic/internal/helpers/helper.go
  tests/performance/tools/statistic/internal/vd/get_vd_stat.go
  tests/performance/tools/statistic/internal/vm/get_vm_stat.go
  tests/performance/tools/statistic/internal/vmop/get_vmop_stat.go
  tests/performance/tools/statistic/pkg/command/statistic.go
Owners: @hardcoretime

add drain node
  tests/performance/tests.sh
Owners: @hardcoretime

fix shatal,tests,config shatal
  tests/performance/lib/common.sh
  tests/performance/lib/migration.sh
  tests/performance/lib/reporting.sh
  tests/performance/lib/scenarios.sh
  tests/performance/tests.sh
  tests/performance/tools/shatal/Taskfile.yaml
  tests/performance/tools/shatal/cmd/shatal/main.go
  tests/performance/tools/shatal/config.yaml
  tests/performance/tools/shatal/internal/api/client.go
  tests/performance/tools/shatal/internal/shatal/shatal.go
Owners: @hardcoretime

add celanup report dir, change dir name for reports
  tests/performance/tests.sh
Owners: @hardcoretime

upd report and migr function
  tests/performance/tests.sh
Owners: @hardcoretime

add scale deckhouse
  tests/performance/tests.sh
Owners: @hardcoretime

add wait virtualization controller ready
  tests/performance/tests.sh
Owners: @hardcoretime

add sleep befo migr
  tests/performance/tests.sh
Owners: @hardcoretime

upd migr conf
  tests/performance/tests.sh
Owners: @hardcoretime

add clean vmops afte migration steps
  tests/performance/tests.sh
Owners: @hardcoretime

GLOBAL_WAIT_TIME_STEP=5 dbg
  tests/performance/tests.sh
Owners: @hardcoretime

almost ready
  tests/performance/README_tests.md
  tests/performance/README_tests_refactored.md
  tests/performance/lib/common.sh
  tests/performance/lib/migration.sh
  tests/performance/lib/reporting.sh
  tests/performance/lib/scenarios.sh
  tests/performance/tests.sh
  tests/performance/tests_refactored.sh
Owners: @hardcoretime

upd evicter and change value for netchecker
  tests/performance/tools/evicter/internal/migration.go
  tests/performance/tools/netchecker/base/configmap.yaml
Owners: @hardcoretime

it works
  tests/performance/tests.sh
Owners: @hardcoretime

add dbg script
  tests/performance/manage_vms.sh
Owners: @hardcoretime

ci(e2e): remove GHCR login, move registry verification after docker login
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): use direct docker login instead of docker/login-action
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

test
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

test 1
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

test 2
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

ci(e2e): use CE installer image instead of dev-registry for verification
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

ci(e2e): use CE installer image in dhctl-bootstrap task
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

chore(ci): update `cve_scan` version
  .github/workflows/cve_scan_daily.yml
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

ci(e2e): fix cleanup namespaces array init and reorder workflow steps for SSH key generation
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64
