Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(ci): add SCSI bus rescan to activate hotplugged storage disks
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(ci): add sudo to SCSI rescan commands to fix permission denied errors
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

refactor
  monitoring/grafana-dashboards/main/virtual-machine.json
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

test: resolve run conflicts across different storages
  tests/e2e/default_config.yaml
  tests/e2e/e2e_test.go
  tests/e2e/framework/git.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/util/project.go
  tests/e2e/util_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
Owners: @Isteb4k

test: resolve run conflicts across different storages (#1617)
  tests/e2e/default_config.yaml
  tests/e2e/e2e_test.go
  tests/e2e/framework/git.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/util/project.go
  tests/e2e/util_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

chore(ci): add test section
  .github/actions/milestone-changelog/action.yml
  .github/workflows/check-changelog-entry.yml
  CONTRIBUTING.md
Owners: @universal-itengineer, @fl64

pvc-snap
  tests/performance/vd-pvc-snapshot.sh
Owners: @hardcoretime

add annotation for vd
  tests/performance/templates/vds.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

feat(ci): implement blockDeviceRefs approach for VM disk attachment
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/values.yaml
Owners: @universal-itengineer, @fl64

fix(ci): improve blockDeviceRefs task reliability
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

fix e2e
  tests/e2e/testdata/affinity-toleration/transformer.yaml
  tests/e2e/testdata/affinity-toleration/vm/base/transformer.yaml
  tests/e2e/testdata/complex-test/transformer.yaml
  tests/e2e/testdata/complex-test/vm/base/transformer.yaml
  tests/e2e/testdata/sizing-policy/base/transformer.yaml
  tests/e2e/testdata/sizing-policy/transformer.yaml
Owners: @hardcoretime

fix
  tests/e2e/affinity_toleration_test.go
Owners: @hardcoretime

add annotation for vd and vi
  tests/performance/templates/vds.yaml
  tests/performance/values.yaml
  tests/performance/vd-deploy.sh
Owners: @hardcoretime

fix(test): affinity phase fail (#1615)
  tests/e2e/affinity_toleration_test.go
Owners: @hardcoretime

add creation custom cs
  tests/performance/new-custom-ceph-sc.sh
Owners: @hardcoretime

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(ci): use correct VM selector for worker nodes
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

add tree
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add nghttp3
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to libgsasl
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

test glibc
  images/packages/glibc/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

fix tree
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add libs
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix libdir
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

install_root
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add glibc to libtinfo
  images/packages/ncurses/werf.inc.yaml
Owners: @universal-itengineer

add ngtcp2
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

libvirt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add more pc files
  images/libvirt/install-libvirt.sh
Owners: @universal-itengineer

update version
  build/components/versions.yml
Owners: @fl64

fix libvirt pkgconfig
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

debug
  build/components/versions.yml
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

debug
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add libldap
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

fix rdma-core
  images/packages/rdma-core/werf.inc.yaml
Owners: @universal-itengineer

fix glibc
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer
