Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

move module from preview stage to general availabiliyu
  docs/README.md
  docs/README.ru.md
  module.yaml
Owners: @fl64, @z9r5, @goganat

move module from preview stage to general availability (#1109)
  docs/README.md
  docs/README.ru.md
  module.yaml
Owners: @fl64, @z9r5, @goganat

docs(module): add more infromation about services
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix typo
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

fix(vd): refactor object ref vi data source
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ensure_node_placement.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/terminating_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_pvc_step.go
  images/virtualization-artifact/pkg/controller/vmip/internal/mock.go
Owners: @Isteb4k, @LopatinDmitr

fix(module): set priority class after priority class module deletion
  Chart.yaml
  Taskfile.yaml
  charts/deckhouse_lib_helm-1.7.0.tgz
  requirements.lock
  templates/cdi/config.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

++ commit helm lib tgz
  charts/deckhouse_lib_helm-1.55.1.tgz
Owners: @fl64

test(vmip): fix the issue with event detection related to lease deletion (#1108)
  tests/e2e/ipam_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime

fix(vmop): fix false positive not found error when migration cancel (#1066)
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
Owners: @Isteb4k

Revert "remove redundant analysis dependency"
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

build
  images/packages/binaries/gcc/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/gcc/werf.inc.yaml
Owners: @universal-itengineer

version
  component_versions/version_map.yml
Owners: @fl64

version
  component_versions/version_map.yml
Owners: @fl64

version
  component_versions/version_map.yml
Owners: @fl64

format
  component_versions/version_map.yml
Owners: @fl64

upd
  images/packages/binaries/libcrypt/werf.inc.yaml
Owners: @universal-itengineer

build
  images/packages/binaries/libcrypt/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/libgcrypt/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  component_versions/version_map.yml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

t4
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t3
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t2
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

tmp
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

temp url
  images/packages/binaries/libgmp10/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  component_versions/version_map.yml
  images/packages/binaries/gmp/werf.inc.yaml
Owners: @fl64, @universal-itengineer

build
  images/packages/binaries/libgmp10/werf.inc.yaml
Owners: @universal-itengineer

version
  component_versions/version_map.yml
Owners: @fl64

build
  images/packages/binaries/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  component_versions/version_map.yml
  images/packages/binaries/fuse3/werf.inc.yaml
Owners: @fl64, @universal-itengineer

f
  images/packages/binaries/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

t3
  images/packages/binaries/libfdt/werf.inc.yaml
Owners: @universal-itengineer

t1
  images/packages/binaries/libfdt/werf.inc.yaml
Owners: @universal-itengineer

f
  images/packages/binaries/dtc/werf.inc.yaml
Owners: @universal-itengineer

add version
  component_versions/version_map.yml
Owners: @fl64

t2
  images/packages/binaries/libfdt/werf.inc.yaml
Owners: @universal-itengineer

t800
  images/packages/binaries/libfdt/werf.inc.yaml
Owners: @universal-itengineer

t4
  images/packages/binaries/libfdt/werf.inc.yaml
Owners: @universal-itengineer

rebuild
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer
