Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

impl detach unbound
  images/virtualization-dra/internal/usb-gateway/controller/resourceclaim/controller.go
  images/virtualization-dra/internal/usb-gateway/controller/resourceclaim/record.go
Owners: @universal-itengineer

use sets util
  images/virtualization-dra/internal/usb/device.go
  images/virtualization-dra/internal/usb/discovery.go
  images/virtualization-dra/internal/usb/store.go
  images/virtualization-dra/pkg/set/set.go
Owners: @universal-itengineer

chore(ci): fix e2e run in nested cluster, add cleanup for nested cluster (#1908)
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @Isteb4k, @yaroslavborbat

fix(vmop): correct reconcile deleted by strict restoring resources (#1878)
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
Owners: @Isteb4k

chore(ci): change schedule to 4:45 UTC
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

rename workflow to E2E Matrix Tests (nested clusters)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

Re-generate changelog v1.4.0
  CHANGELOG/CHANGELOG-v1.4.0.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Changelog v1.4.0 (#1824)
  CHANGELOG/CHANGELOG-v1.4.0.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Changelog v1.4.0 (#1824)
  CHANGELOG/CHANGELOG-v1.4.0.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Backport: Changelog v1.4.0 (#1912)
  CHANGELOG/CHANGELOG-v1.4.0.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

add usb monitor
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/cmd/virtualization-dra-plugin/app/app.go
  images/virtualization-dra/internal/usb-gateway/controller/resourceclaim/controller.go
  images/virtualization-dra/internal/usb/device.go
  images/virtualization-dra/internal/usb/discovery.go
  images/virtualization-dra/internal/usb/monitor.go
  images/virtualization-dra/internal/usb/monitor_test.go
  images/virtualization-dra/internal/usb/store.go
  images/virtualization-dra/internal/usbip/attacher.go
  images/virtualization-dra/internal/usbip/binder.go
  images/virtualization-dra/pkg/udev/conn.go
  images/virtualization-dra/pkg/udev/matcher.go
  images/virtualization-dra/pkg/udev/monitor.go
  images/virtualization-dra/pkg/udev/uevent.go
  images/virtualization-dra/pkg/usb/monitor.go
Owners: @universal-itengineer

add inital sync
  images/virtualization-dra/internal/usb/store.go
Owners: @universal-itengineer

change name for upload artifacts for generated files
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add set host namespace for monitor
  images/virtualization-dra/cmd/go-usbip/app/info.go
  images/virtualization-dra/cmd/go-usbip/app/run.go
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/cmd/virtualization-dra-plugin/app/app.go
  images/virtualization-dra/internal/usb/store.go
  images/virtualization-dra/internal/usbip/binder.go
  images/virtualization-dra/pkg/udev/conn.go
  images/virtualization-dra/pkg/udev/monitor.go
  images/virtualization-dra/pkg/usb/discovery.go
  images/virtualization-dra/pkg/usb/monitor.go
Owners: @universal-itengineer

increase ginkgo timeout to 3.5h
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(ci): e2e-matrix workflow (rename specific artefacts, change schedule, rename workflow) (#1911)
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

refactor monitor usb
  images/virtualization-dra/cmd/go-usbip/app/info.go
  images/virtualization-dra/cmd/go-usbip/app/run.go
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/cmd/virtualization-dra-plugin/app/app.go
  images/virtualization-dra/internal/usb/device.go
  images/virtualization-dra/internal/usb/store.go
  images/virtualization-dra/internal/usbip/attacher.go
  images/virtualization-dra/internal/usbip/binder.go
  images/virtualization-dra/internal/usbip/usbip.go
  images/virtualization-dra/internal/usbip/usbipd.go
  images/virtualization-dra/internal/usbip/usbipd_config.go
  images/virtualization-dra/pkg/libusb/discovery.go
  images/virtualization-dra/pkg/libusb/monitor.go
  images/virtualization-dra/pkg/libusb/speed.go
  images/virtualization-dra/pkg/libusb/udev-monitor.go
  images/virtualization-dra/pkg/libusb/usb.go
Owners: @universal-itengineer

add patch package
  images/virtualization-dra/internal/usb-gateway/controller/resourceclaim/controller.go
  images/virtualization-dra/internal/usb-gateway/labeler/labeler.go
  images/virtualization-dra/pkg/patch/patch.go
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @Isteb4k, @yaroslavborbat

add inotify monitor
  images/virtualization-dra/cmd/go-usbip/app/run.go
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/cmd/virtualization-dra-plugin/app/app.go
  images/virtualization-dra/pkg/libusb/dbus-monitor.go
  images/virtualization-dra/pkg/libusb/device-store.go
  images/virtualization-dra/pkg/libusb/discovery.go
  images/virtualization-dra/pkg/libusb/inotify-monitor.go
  images/virtualization-dra/pkg/libusb/monitor.go
  images/virtualization-dra/pkg/libusb/udev-monitor.go
Owners: @universal-itengineer

doc: add disk naming in guest OS
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add serial console resize info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(core): fix ovmf sb flags
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): try 2
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): enable debug
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): fix
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): fix
  images/edk2/build.sh
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
Owners: @universal-itengineer, @Isteb4k

fix(core): smm sync timeout
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): disable debug
  images/edk2/build.sh
Owners: @universal-itengineer

chore(ci): e2e-nested increase workers memory,decrease ceph osd memory
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
Owners: @universal-itengineer, @fl64

chore(ci): fix svace build regex
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

chore(ci): fix svace build regex (#1917)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fixed an issue where VM migration could get stuck in Pending without a valid reason due to a race condition during volume updates
  build/components/versions.yml
  images/virt-controller/debug/dlv.Dockerfile
  images/virtualization-artifact/pkg/common/patch/patch.go
Owners: @fl64, @universal-itengineer, @Isteb4k

fix(core): fixed an issue where VM migration could get stuck in Pending without a valid reason due to a race condition during volume updates. (#1903)
  build/components/versions.yml
  images/virt-controller/debug/dlv.Dockerfile
  images/virtualization-artifact/pkg/common/patch/patch.go
Owners: @fl64, @universal-itengineer, @Isteb4k

reduce deckhouse version requirement (test: delete me)
  module.yaml
Owners: @fl64

chore(ci): e2e-nested increase workers memory,decrease ceph osd memory (#1918)
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
Owners: @universal-itengineer, @fl64

docs: add cloud init examples
  docs/FAQ.md
  docs/FAQ.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vmop): correct exit from maintenance mode in restore operation (#1904)
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
Owners: @Isteb4k

docs: add zone examples
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
