Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(vm): fix `cores` and `coreFraction` validation in sizing policy (#1420)
  images/virtualization-artifact/pkg/controller/service/errors.go
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/sizing_policy_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/sizing_policies_validator.go
Owners: @Isteb4k, @yaroslavborbat

fix
  MAINTAINERS.md
Owners: @fl64

nodownload
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): block network changes when SDN is disabled (#1408)
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
Owners: @yaroslavborbat

rm libexec
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

fix libjson-glib readme
  images/packages/libjson-glib/README.md
Owners: @universal-itengineer

chore(ci): build libisofs, libjansson4, libjson-c5, libjson-glib, libkeyutils, libldap2 (#1364)
  build/components/versions.yml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/keyutils/README.md
  images/packages/keyutils/werf.inc.yaml
  images/packages/libcap/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/libisoburn/werf.inc.yaml
  images/packages/libisofs/README.md
  images/packages/libisofs/werf.inc.yaml
  images/packages/libjansson4/README.md
  images/packages/libjansson4/patches/cmake.patch
  images/packages/libjansson4/werf.inc.yaml
  images/packages/libjson-c5/README.md
  images/packages/libjson-c5/werf.inc.yaml
  images/packages/libjson-glib/README.md
  images/packages/libjson-glib/werf.inc.yaml
  images/packages/libxcrypt/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/openldap/README.md
  images/packages/openldap/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(e2e): fix IPAM error
  tests/e2e/default_config.yaml
Owners: @hardcoretime

chore(e2e): fix IPAM error (#1424)
  tests/e2e/default_config.yaml
Owners: @hardcoretime

chore(core): build p11-kit linux-pam libssh libssh2 (#1416)
  build/components/versions.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libssh/README.md
  images/packages/libssh/werf.inc.yaml
  images/packages/libssh2/README.md
  images/packages/libssh2/werf.inc.yaml
  images/packages/linux-pam/README.md
  images/packages/linux-pam/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/numactl/werf.inc.yaml
  images/packages/p11-kit/README.md
  images/packages/p11-kit/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix(vm): remove base64 encoding of JSON data in secret storage
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
Owners: @Isteb4k

chore(core): build libs step4
  images/packages/dtc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

add ninja glib2
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libpixman
  build/components/versions.yml
  images/packages/libpixman/README.md
  images/packages/libpixman/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add meson & ninjabuild
  images/packages/libpixman/werf.inc.yaml
Owners: @universal-itengineer

fix gitrepourl
  images/packages/libpixman/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): fix incorrect data encoding during snapshot creation and restoration by removing redundant base64 encoding (#1419)
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
Owners: @Isteb4k

Re-generate changelog v0.26.0
  CHANGELOG/CHANGELOG-v0.26.0.yml
  CHANGELOG/CHANGELOG-v0.26.md
Owners: @fl64

add readme
  images/packages/libpixman/README.md
Owners: @universal-itengineer

add libpixman
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libntlm
  build/components/versions.yml
Owners: @fl64

add libpng, libpsl, libqpl
  build/components/versions.yml
  images/packages/libpng/README.md
  images/packages/libpng/werf.inc.yaml
  images/packages/libpsl/README.md
  images/packages/libpsl/werf.inc.yaml
  images/packages/libqpl/README.md
  images/packages/libqpl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add backslash
  images/packages/libqpl/werf.inc.yaml
Owners: @universal-itengineer

add packages to libpsl
  images/packages/libpsl/werf.inc.yaml
Owners: @universal-itengineer

add options to libpsl
  images/packages/libpsl/werf.inc.yaml
Owners: @universal-itengineer

rm & add readme
  images/packages/libpng/werf.inc.yaml
  images/packages/libpsl/werf.inc.yaml
  images/packages/libqpl/README.md
Owners: @universal-itengineer

update readmes
  images/packages/libpng/README.md
  images/packages/libpsl/README.md
Owners: @universal-itengineer

add libpsl
  images/packages/libcurl/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add libs to build (except rdma-core)
  images/edk2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libpixman/werf.inc.yaml
  images/packages/libtpms/werf.inc.yaml
  images/packages/libxml2/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/nghttp2/werf.inc.yaml
  images/packages/rdma-core/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix gnutls
  images/packages/gnutls/werf.inc.yaml
Owners: @universal-itengineer

add libs
  build/components/versions.yml
  images/packages/libntlm/README.md
  images/packages/libntlm/werf.inc.yaml
  images/packages/pcre2/README.md
  images/packages/pcre2/werf.inc.yaml
  images/packages/ubdsrv/README.md
  images/packages/ubdsrv/werf.inc.yaml
  images/packages/zstd/README.md
  images/packages/zstd/werf.inc.yaml
Owners: @fl64, @universal-itengineer

integrate zstd
  images/packages/file/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libssh/werf.inc.yaml
  images/packages/libssh2/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libnl3
  build/components/versions.yml
  images/packages/libnl3/werf.inc.yaml
Owners: @fl64, @universal-itengineer

gcc: back libzstd-devel
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

libnl3 add install pkgs
  images/packages/libnl3/werf.inc.yaml
Owners: @universal-itengineer

refactor libnl3
  images/packages/libnl3/README.md
  images/packages/libnl3/werf.inc.yaml
Owners: @universal-itengineer

gcc: add LD_LIBRARY_PATH
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

add dbg
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

tst conf got gcc
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

zstd add libdir
  images/packages/gcc/werf.inc.yaml
  images/packages/zstd/werf.inc.yaml
Owners: @universal-itengineer
