Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add current branch to ci
  .github/workflows/dev_module_build.yml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix: hooks paths
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

feat: if audit enabled
  images/hooks/werf.inc.yaml
  werf.yaml
Owners: @universal-itengineer

remove unwanted software step, due no need
  .github/workflows/release_module_build-and-registration.yml
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

chore(ci): add env SOURCE_REPO_GIT, change runners for release ci to self-hosted (#942)
  .github/workflows/dev_build_precache.yml
  .github/workflows/dev_module_build-and-registration.yml
  .github/workflows/release_module_build-and-registration.yml
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

fix(vi,vd): fix default storage class usage
  api/core/v1alpha2/events.go
  api/core/v1alpha2/vicondition/condition.go
  images/virtualization-artifact/pkg/controller/service/vi_storage_class_service.go
  images/virtualization-artifact/pkg/controller/service/vi_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
Owners: @fl64, @Isteb4k

update maintanence info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

run the unlabel job always at the end
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(ci): add QoL-features to automatic e2e tests
  .github/workflows/dev_module_build.yml
  tests/e2e/Taskfile.yaml
Owners: @universal-itengineer, @hardcoretime

move label removal to separate job & revert values for timeout
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

print resources before deletion
  tests/e2e/Taskfile.yaml
Owners: @hardcoretime

deliberately timeout cancellation
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

test(vmop): add test vmop migration cancel (#933)
  tests/e2e/complex_test.go
  tests/e2e/config/config.go
  tests/e2e/default_config.yaml
  tests/e2e/kubectl/kubectl.go
  tests/e2e/sig_test.go
  tests/e2e/testdata/vm-migration-cancel/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/migrations/.keep
  tests/e2e/testdata/vm-migration-cancel/ns.yaml
  tests/e2e/testdata/vm-migration-cancel/transformer.yaml
  tests/e2e/testdata/vm-migration-cancel/vi/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/vi/vi-alpine-http-bios.yaml
  tests/e2e/testdata/vm-migration-cancel/vi/vi-alpine-http-uefi.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/transformer.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/vd-blank.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/vd-root.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/base/vm.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/overlays/migration-bios/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/overlays/migration-bios/vd.image.patch.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/overlays/migration-uefi/kustomization.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/overlays/migration-uefi/vd.image.patch.yaml
  tests/e2e/testdata/vm-migration-cancel/vm/overlays/migration-uefi/vm.bootloader.patch.yaml
  tests/e2e/util_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
Owners: @hardcoretime

fix: if enabled
  images/hooks/werf.inc.yaml
  templates/virtualization-audit/audit-service.yaml
  templates/virtualization-audit/deployment.yaml
  templates/virtualization-audit/log-config.yaml
  templates/virtualization-audit/rbac-for-us.yaml
  werf.yaml
Owners: @universal-itengineer, @fl64

chore(ci): add QoL-features to automatic e2e tests (#927)
  .github/workflows/dev_module_build.yml
  tests/e2e/Taskfile.yaml
Owners: @universal-itengineer, @hardcoretime

fix: if enabled for hook
  images/hooks/cmd/005-tls-certificates-audit/main.go
  templates/virtualization-audit/cert-secret.yaml
Owners: @universal-itengineer, @fl64

chore(ci): add helm install
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

fix(ci): run remove_label job only on PRs
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(ci): run remove_label job only on PRs (#945)
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Re-generate changelog v0.17.0
  CHANGELOG/CHANGELOG-v0.17.0.yml
  CHANGELOG/CHANGELOG-v0.17.md
Owners: @fl64

test helm v3.17.1
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

remove dbg branches
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

fix(vm): add removing conditions by design
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vm/internal/agent.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/size_policy.go
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @fl64, @yaroslavborbat

fix(vm): add unit tests
  images/virtualization-artifact/pkg/controller/vm/internal/agent_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/firmware_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/size_policy_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm_test.go
Owners: @yaroslavborbat

chore(ci): add step helm setup (#944)
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

refactor
  images/virtualization-artifact/pkg/controller/evacuation/evacuation_reconciler.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation_test.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/taint/taint.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/watcher/node.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/watcher/vm.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/firmware.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/firmware_test.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/mock.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/nodeplacement.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/nodeplacement_test.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/oneshot.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/service/one_shot_migration.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/service/one_shot_migration_test.go
Owners: @Isteb4k

add e2e
  tests/e2e/config/config.go
  tests/e2e/default_config.yaml
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/testdata/vm-evacuation/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/migrations/.keep
  tests/e2e/testdata/vm-evacuation/ns.yaml
  tests/e2e/testdata/vm-evacuation/transformer.yaml
  tests/e2e/testdata/vm-evacuation/vi/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/vi/vi-alpine-http-bios.yaml
  tests/e2e/testdata/vm-evacuation/vi/vi-alpine-http-uefi.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/transformer.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/vd-blank.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/vd-root.yaml
  tests/e2e/testdata/vm-evacuation/vm/base/vm.yaml
  tests/e2e/testdata/vm-evacuation/vm/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/vm/overlays/migration-bios/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/vm/overlays/migration-bios/vd.image.patch.yaml
  tests/e2e/testdata/vm-evacuation/vm/overlays/migration-uefi/kustomization.yaml
  tests/e2e/testdata/vm-evacuation/vm/overlays/migration-uefi/vd.image.patch.yaml
  tests/e2e/testdata/vm-evacuation/vm/overlays/migration-uefi/vm.bootloader.patch.yaml
  tests/e2e/tests_suite_test.go
  tests/e2e/vm_evacuation_test.go
Owners: @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/workload-updater/internal/service/one_shot_migration.go
Owners: @Isteb4k

fix
  tests/e2e/vm_evacuation_test.go
Owners: @hardcoretime

resolve
  images/dvcr-artifact/pkg/monitoring/progress.go
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

instant return if dvcr err
  images/dvcr-artifact/pkg/retry/backoff.go
Owners: @Isteb4k

resolve
  images/dvcr-artifact/pkg/monitoring/progress.go
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

refactoring
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

Update images/dvcr-artifact/pkg/monitoring/prometheus.go
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

fix
  images/dvcr-artifact/pkg/monitoring/progress.go
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

improve err checking
  images/dvcr-artifact/pkg/retry/backoff.go
Owners: @Isteb4k

fix(api): ignore not found error while deleting finalizers (#936)
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

Re-generate changelog v0.18.0
  CHANGELOG/CHANGELOG-v0.18.0.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

fix(ci): do not run set_e2e_requirement_status on unlabeled
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
