Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

debug: add more debug tools
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

nbdublk
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove selinux as it is in qemu-img
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/file
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove glibc
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

nbdcopy
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

add glibc to pcre2
  images/packages/pcre2/werf.inc.yaml
Owners: @universal-itengineer

add libs to cdi
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

add qemu to dirs
  images/virt-launcher/mount-points.yaml
Owners: @universal-itengineer

chore(ci): add test section (#1618)
  .github/actions/milestone-changelog/action.yml
  .github/workflows/check-changelog-entry.yml
  CONTRIBUTING.md
Owners: @universal-itengineer, @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix wait pvc
  tests/performance/vd-pvc-snapshot.sh
Owners: @hardcoretime

fix(ci): add debug info and validation for blockDeviceRefs patch
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

feat(vd): create pvc using volume snapshot
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vs_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ensure_node_placement.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
Owners: @Isteb4k

feat(vi): create volume snapshot for vi on the pvc
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
Owners: @Isteb4k

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(ci): use inline patch instead of file-based patch for blockDeviceRefs
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

fix
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
Owners: @Isteb4k

add virt perf dashboard
  tests/performance/monitoring/virtualization-dashboard.yaml
  tests/performance/monitoring/virtualization-db-perf.json
Owners: @hardcoretime

fix(ci): restore correct namespace naming for cleanup
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix e2e
  tests/e2e/sizing_policy_test.go
Owners: @hardcoretime

fix e2e
  tests/e2e/sizing_policy_test.go
Owners: @hardcoretime

fix(ci): add VM startup verification after blockDeviceRefs modification
  ci/dvp-e2e/Taskfile.yaml
Owners: @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

test: reduce resource name suffix
  tests/e2e/images_creation_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/testdata/sizing-policy/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-change/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-create/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-exists/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/overlays/vm/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/overlays/vm/vd-attach.yaml
  tests/e2e/vm_disk_attachment_test.go
Owners: @hardcoretime

test: reduce resource name suffix (#1620)
  tests/e2e/images_creation_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/testdata/sizing-policy/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-change/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-create/kustomization.yaml
  tests/e2e/testdata/sizing-policy/overlays/vmc-exists/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/overlays/vm/kustomization.yaml
  tests/e2e/testdata/vm-disk-attachment/overlays/vm/vd-attach.yaml
  tests/e2e/vm_disk_attachment_test.go
Owners: @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_reconciler.go
Owners: @Isteb4k

revert tests debug commits
  .keep
  templates/vm-route-forge/daemonset.yaml
Owners: @fl64

revert(ci): switch back to hotplug for disk attachment
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

sync tolerations immediately for auto migration
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vmchange/comparator_pod_placement.go
Owners: @fl64, @universal-itengineer, @Isteb4k

fix: remove framework ginkgo before and after
  test/e2e/internal/framework/framework.go
  test/e2e/legacy/vm_live_migration_tcp_session.go
Owners: @fl64

fix(ci): fix E2E test issues with bootstrap and disk attachment
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/cluster-config/templates/cluster-config.yaml
  ci/dvp-e2e/charts/cluster-config/values.yaml
  ci/dvp-e2e/manifests/storage/ceph.yaml
  ci/dvp-e2e/manifests/storage/operator-ceph.yaml
  ci/dvp-e2e/manifests/storage/sds-modules.yaml
  ci/dvp-e2e/manifests/storage/sds.yaml
Owners: @universal-itengineer, @fl64

fix: revert task runp
  test/e2e/Taskfile.yaml
Owners: @fl64

fix(ci): remove forbidden dataDisk property from DVPClusterConfiguration
  ci/dvp-e2e/charts/cluster-config/templates/cluster-config.yaml
  ci/dvp-e2e/charts/cluster-config/values.yaml
Owners: @fl64

fix: revert timeout env variables
  test/e2e/README.md
  test/e2e/internal/framework/timeout.go
Owners: @fl64

wip
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/image_status.go
  api/core/v1alpha2/vicondition/condition.go
  api/core/v1alpha2/virtual_image.go
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/config/load_gc_settings.go
  images/virtualization-artifact/pkg/controller/cvi/image_monitor.go
  images/virtualization-artifact/pkg/controller/vi/image_monitor.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_pvc_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/ready_pvc_step.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
  images/virtualization-artifact/pkg/dvcr/checker.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/scraper.go
Owners: @fl64, @Isteb4k

fix: remove nodeGroups from DVPClusterConfiguration
  ci/dvp-e2e/charts/cluster-config/templates/cluster-config.yaml
Owners: @fl64

docs: add comment to cluster-config template
  ci/dvp-e2e/charts/cluster-config/templates/cluster-config.yaml
Owners: @fl64

add persistent data for local pyroscope
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/hack/pyroscope.sh
  images/virtualization-artifact/hack/pyroscope/docker-compose-pyroscope-only.yaml
  images/virtualization-artifact/hack/pyroscope/docker-compose.yaml
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
