Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix problems)
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

fix cvi namespace usage
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix vmbda watching
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

t
  templates/admission-policy.yaml
Owners: @fl64

libind, store in one dir
  images/packages/binaries/libidn/README.md
  images/packages/binaries/libidn/werf.inc.yaml
  images/packages/binaries/libidn2/README.md
  images/packages/binaries/libidn2/werf.inc.yaml
Owners: @universal-itengineer

libvirt rm gcc-c++
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

refactor: libhogweed -> nettle
  component_versions/version_map.yml
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/nettle/README.md
  images/packages/binaries/nettle/werf.inc.yaml
Owners: @fl64, @universal-itengineer

integrate libblkid
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libblkid/README.md
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

gnutls: add pkgconfig
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

add info file struct nftables,openssl
  images/packages/binaries/nftables/README.md
  images/packages/binaries/openssl/README.md
Owners: @universal-itengineer

add libattr
  images/base-alt-p11-binaries/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libattr/README.md
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

nbdkit add file struct
  images/packages/binaries/nbdkit/README.md
Owners: @universal-itengineer

ls -la /libffi8
  images/base-alt-p11-binaries/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore(core): integrate self-build libs, stage 1
  component_versions/bin-deps.yml
Owners: @fl64

fix libffi8 import
  images/base-alt-p11-binaries/werf.inc.yaml
Owners: @universal-itengineer

rm image xorriso
  images/packages/binaries/libisoburn/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
Owners: @universal-itengineer

add gmp to libhogweed build
  images/packages/binaries/libhogweed/werf.inc.yaml
Owners: @universal-itengineer

add libaudit, fix libattr import
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libaudit/README.md
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

dimdecode: add file struct, rename fuse3 to libfuse3, fix build
  component_versions/version_map.yml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libfuse3/README.md
  images/packages/binaries/libfuse3/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add gcc libvirt build
  images/libvirt/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libmd
  component_versions/version_map.yml
  images/packages/binaries/libmd/README.md
  images/packages/binaries/libmd/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix gnutls, libisoburn to nbdkit build
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

swtpm: add struct info
  images/packages/binaries/swtpm/README.md
Owners: @universal-itengineer

libmd: upd files struct and update install self-build pkgs
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libmd/README.md
  images/packages/binaries/libmd/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

libvirt: add qemu-img self build, libmd-devel
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix build dimdecode
  images/packages/binaries/dmidecode/README.md
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

integrate gmp to build
  images/packages/binaries/gmp/README.md
  images/packages/binaries/gmp/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
Owners: @universal-itengineer

add libmd virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libffi8
  component_versions/bins.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

integrate libbsd to buils
  images/libvirt/werf.inc.yaml
  images/packages/binaries/libbsd/README.md
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add pkgs for gnutls
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

integrate to build libbrotli
  component_versions/version_map.yml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/libbrotli/README.md
Owners: @fl64, @universal-itengineer

integrate libgcrypt into build
  images/libvirt/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/libgcrypt/README.md
  images/packages/binaries/libgcrypt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add info libburn
  component_versions/bin-deps.yml
  component_versions/bins.yml
  component_versions/version_map.yml
  images/packages/binaries/libburn/README.md
  images/packages/binaries/libisoburn/README.md
  images/packages/binaries/libisoburn/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix rm dir bdbkit,libvirt build, add lvm2 to libvirt build
  component_versions/bin-deps.yml
  component_versions/bins.yml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

integrate to build libidn2
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

numactl: add struct files info
  images/packages/binaries/numactl/README.md
Owners: @universal-itengineer

gnutls: add info file struct
  images/packages/binaries/gnutls/README.md
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

file: add file struct
  images/packages/binaries/file/README.md
Owners: @universal-itengineer

integrate nettle to build
  images/packages/binaries/gnutls/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
