Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(vmop): remove finalaizer if migration does not exists (#1385)
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
Owners: @Isteb4k

bump kubevirt to v1.3.1-v12n.10
  build/components/versions.yml
Owners: @fl64

chore: bump kubevirt to v1.3.1-v12n.10 (#1386)
  build/components/versions.yml
Owners: @fl64

update logic
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator_test.go
Owners: @yaroslavborbat

item 5027
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

try common make
  images/packages/libjansson4/werf.inc.yaml
Owners: @universal-itengineer

add patch
  images/packages/libjansson4/patches/cmake.patch
  images/packages/libjansson4/werf.inc.yaml
Owners: @universal-itengineer

feat(ci): add rules for k8s
  images/virtualization-artifact/.golangci.yaml
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_blank_pvc_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service.go
Owners: @Isteb4k

fix git
  images/packages/libjansson4/werf.inc.yaml
Owners: @universal-itengineer

feat(ci): add other modules
  images/dvcr-artifact/.golangci.yaml
  src/cli/.golangci.yaml
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/portforward/tcp.go
  src/cli/internal/cmd/portforward/udp.go
  src/cli/internal/cmd/ssh/native.go
  src/cli/internal/templates/templates.go
  tests/e2e/.golangci.yaml
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/errlogger/errlogger.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/ipam_test.go
  tests/e2e/network/cilium_agents.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
  tests/e2e/vm_version_test.go
  tests/e2e/vm_vpc_test.go
  tests/performance/shatal/.golangci.yaml
Owners: @Isteb4k, @fl64, @hardcoretime

fix patch
  images/packages/libjansson4/patches/cmake.patch
Owners: @universal-itengineer

fix patch
  images/packages/libjansson4/patches/cmake.patch
Owners: @universal-itengineer

newline
  images/packages/libjansson4/patches/cmake.patch
Owners: @universal-itengineer

fx
  images/packages/libjansson4/patches/cmake.patch
Owners: @universal-itengineer

update patch
  images/packages/libjansson4/patches/cmake.patch
Owners: @universal-itengineer

add libjansson4
  images/packages/nftables/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

rm cmake
  images/packages/libjansson4/werf.inc.yaml
Owners: @universal-itengineer

++
  .werf/defines/image-mountpoints.tmpl
  images/virt-operator/werf.inc.yaml
Owners: @universal-itengineer

mount points
  .werf/defines/image-mountpoints.tmpl
  .werf/images.yaml
  images/cdi-operator/mount-points.yaml
  images/cdi-operator/werf.inc.yaml
  images/dvcr/mount-points.yaml
  images/dvcr/werf.inc.yaml
  images/virt-operator/mount-points.yaml
  images/virt-operator/werf.inc.yaml
  images/virtualization-api/mount-points.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-controller/mount-points.yaml
  images/virtualization-controller/werf.inc.yaml
  tools/mounts/README.md
  tools/mounts/mountdir/.placeholder
  tools/mounts/mountfile
Owners: @universal-itengineer, @fl64

Update .werf/defines/image-mountpoints.tmpl
  .werf/defines/image-mountpoints.tmpl
Owners: @universal-itengineer

add context in template 'image mount points'
  .werf/defines/image-mountpoints.tmpl
Owners: @universal-itengineer

++ add statis mount points for kubevirt components, except virt-launcher
  .werf/defines/image-mountpoints.tmpl
  images/kube-api-rewriter/mount-points.yaml
  images/virt-api/mount-points.yaml
  images/virt-api/werf.inc.yaml
  images/virt-controller/mount-points.yaml
  images/virt-controller/werf.inc.yaml
  images/virt-handler/mount-points.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/mount-points.yaml
  images/virt-operator/werf.inc.yaml
Owners: @universal-itengineer, @diafour

++ add include in kube-api-rewriter, indent includes to prevent yaml format error in IDE, revert Files in context: it was already there
  .werf/images.yaml
  images/dvcr/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-operator/werf.inc.yaml
Owners: @universal-itengineer

++ add cdi-cloner, cdi-importer
  images/cdi-cloner/mount-points.yaml
  images/cdi-cloner/werf.inc.yaml
  images/cdi-importer/mount-points.yaml
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

++ add dvcr-importer, dvcr-uploader
  images/dvcr-importer/mount-points.yaml
  images/dvcr-importer/werf.inc.yaml
  images/dvcr-uploader/mount-points.yaml
  images/dvcr-uploader/werf.inc.yaml
Owners: @universal-itengineer

++ add cdi-apiserver, cdi-controller, kube-api-rewriter
  images/cdi-apiserver/mount-points.yaml
  images/cdi-apiserver/werf.inc.yaml
  images/cdi-controller/mount-points.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-operator/werf.inc.yaml
  images/kube-api-rewriter/mount-points.yaml
Owners: @universal-itengineer, @diafour

++ mount points for virtualization-audit image, fix typo: virtalziation
  images/virtualization-api/mount-points.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-audit/mount-points.yaml
  images/virtualization-audit/werf.inc.yaml
  images/virtualization-controller/werf.inc.yaml
  templates/virtualization-api/deployment.yaml
Owners: @universal-itengineer, @fl64

++ rename directory holder to more common name .keep
  tools/mounts/mountdir/.keep
  tools/mounts/mountdir/.placeholder
Owners: @fl64

++ rename directory holder to more common name .gitkeep
  tools/mounts/mountdir/.gitkeep
  tools/mounts/mountdir/.keep
Owners: @fl64

tree sp
  images/packages/libjansson4/werf.inc.yaml
Owners: @universal-itengineer

add README for libjansson4
  images/packages/libjansson4/README.md
Owners: @universal-itengineer

++ wrong image for mount points
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

++ try to fix "sudo: unknown uid 0: who are you?"
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

fix finalizers logic
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

fix unit tests
  images/virtualization-artifact/pkg/controller/vm/internal/block_devices_test.go
Owners: @yaroslavborbat

fix problems)
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

fix vmbda watching
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

fix cvi namespace usage
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix vi/cvi working with vm in terminating phase
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
Owners: @yaroslavborbat

fixes
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat
