Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

add libs
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add nghttp3
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

glibc tree
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add tree
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to libgsasl
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

fix glibc
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

fix libgcrypt
  images/packages/libgcrypt/werf.inc.yaml
Owners: @universal-itengineer

fix libdir
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

debug
  build/components/versions.yml
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add slibdir
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add glibc to libtinfo
  images/packages/ncurses/werf.inc.yaml
Owners: @universal-itengineer

add cyrus-sasl
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

libvirt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add ngtcp2
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

test glibc
  images/packages/glibc/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

merge libgpg-error output directories
  images/packages/libgpg-error/werf.inc.yaml
Owners: @universal-itengineer

revision
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

fix rdma-core
  images/packages/rdma-core/werf.inc.yaml
Owners: @universal-itengineer

Revert "debug remove libvirt"
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove glibc for now
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add pcre2
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix libvirt pkgconfig
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix tree build
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

w
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

debug
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

fix tree
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add patch to glibc
  build/components/versions.yml
  images/packages/glibc/patches/003-alt-fedora.patch
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

header
  images/libvirt/install-libvirt.sh
Owners: @universal-itengineer

fix
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libgsasl
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

change to /BINS
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

tirpc and md
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add configparams
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

f
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

Revert "debug"
  build/components/versions.yml
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

remove glibc from gcc
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

add util-linux
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to libtirpc
  images/packages/libtirpc/werf.inc.yaml
Owners: @universal-itengineer

strip and remove var
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer
