Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

Update info about download data due to actual d8 version
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

comments fixes
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fix
  api/core/v1alpha2/virtual_machine_snapshot_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachinesnapshotoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

test(vm): fix migration helper usage
  test/e2e/internal/framework/framework.go
  test/e2e/vm/migration.go
Owners: @fl64

ci(e2e): re-enable virtualization in nested cluster
  ci/dvp-e2e/values.yaml
Owners: @fl64

remove unused
  images/virtualization-artifact/pkg/builder/vmsop/option.go
  images/virtualization-artifact/pkg/controller/vmsop/gc.go
  images/virtualization-artifact/pkg/controller/vmsop/service/service.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmsop/snapshot/internal/watcher/vm.go
  images/virtualization-artifact/pkg/controller/vmsop/vmsop_controller.go
  images/virtualization-artifact/pkg/controller/vmsop/vmsop_webhook.go
Owners: @Isteb4k

ci(e2e): use NFS as initial default SC for nested; add in-cluster NFS server; enable csi-nfs; keep Ceph switch post-bootstrap
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/deploy.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/svc.yaml
  ci/dvp-e2e/values.yaml
Owners: @fl64

Revert "ci(e2e): use NFS as initial default SC for nested; add in-cluster NFS server; enable csi-nfs; keep Ceph switch post-bootstrap"
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/cluster-config/templates/mc.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/deploy.yaml
  ci/dvp-e2e/charts/infra/templates/nfs-server/svc.yaml
  ci/dvp-e2e/values.yaml
Owners: @fl64

test(vm): fix migration helper usage (#1644)
  test/e2e/internal/framework/framework.go
  test/e2e/vm/migration.go
Owners: @fl64

fix volume migration between different CSI drivers
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  build/components/versions.yml
  crds/doc-ru-virtualdisks.yaml
  crds/virtualdisks.yaml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/common/vd/vd.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/provisioned_capacity.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vd/vd_reconciler.go
  images/virtualization-artifact/pkg/controller/vd/vd_webhook.go
  images/virtualization-artifact/pkg/controller/volumemigration/internal/handler/migration.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/scraper.go
Owners: @fl64, @z9r5, @goganat, @universal-itengineer, @Isteb4k

refactor
  api/client/generated/clientset/versioned/typed/core/v1alpha2/virtualmachine_expansion.go
  api/client/kubeclient/client.go
  api/client/kubeclient/request.go
  api/client/kubeclient/vm.go
  api/scripts/update-codegen.sh
  api/subresources/install/install.go
  api/subresources/v1alpha3/doc.go
  api/subresources/v1alpha3/register.go
  api/subresources/v1alpha3/types.go
  api/subresources/v1alpha3/zz_generated.conversion.go
  api/subresources/v1alpha3/zz_generated.deepcopy.go
  build/components/versions.yml
  images/dvcr-artifact/.golangci.yaml
  images/virtualization-artifact/.golangci.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/apiserver/api/install.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/legacy_storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/util.go
  images/virtualization-artifact/pkg/apiserver/server/config.go
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  src/cli/.golangci.yaml
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/portforward/tcp.go
  src/cli/internal/cmd/portforward/udp.go
  src/cli/internal/cmd/ssh/native.go
  templates/kubevirt/virt-operator/rbac-for-us.yaml
  templates/rbacv2/use/capabilities/access_console.yaml
  templates/rbacv2/use/capabilities/access_remote_display.yaml
  templates/rbacv2/use/capabilities/forward_ports.yaml
  templates/user-authz-cluster-roles.yaml
  templates/virtualization-api/apiserver-v1alpha2.yaml
  templates/virtualization-api/apiserver-v1alpha3.yaml
  templates/virtualization-controller/rbac-for-us.yaml
  test/e2e/.golangci.yaml
  test/performance/tools/shatal/.golangci.yaml
Owners: @fl64, @Isteb4k

fix
  templates/kubevirt/virt-operator/rbac-for-us.yaml
  templates/rbacv2/use/capabilities/access_console.yaml
  templates/rbacv2/use/capabilities/access_remote_display.yaml
  templates/rbacv2/use/capabilities/forward_ports.yaml
  templates/user-authz-cluster-roles.yaml
Owners: @fl64

fix
  templates/kubevirt/virt-operator/rbac-for-us.yaml
Owners: @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

test: mark test case resources with label
  test/e2e/internal/framework/framework.go
Owners: @fl64

test: mark test case resources with label (#1645)
  test/e2e/internal/framework/framework.go
Owners: @fl64

add dtc to virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

move patches to src-artifact in libvirt
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

chore(docs): update manual about VM traffic redirect
  docs/FAQ.md
  docs/FAQ.ru.md
Owners: @fl64, @z9r5, @goganat

++
  docs/FAQ.md
Owners: @fl64, @z9r5, @goganat

++
  docs/FAQ.md
  docs/FAQ.ru.md
Owners: @fl64, @z9r5, @goganat

dtc fix
  images/packages/dtc/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vd/internal/snapshotting.go
Owners: @Isteb4k

remove provisionedCapacity
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/doc-ru-virtualdisks.yaml
  crds/virtualdisks.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/provisioned_capacity.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vd/vd_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add LEGACY_E2E_PREFIX
  test/e2e/Taskfile.yaml
Owners: @fl64

chore(ci): fix cleanup of e2e resources
  test/e2e/Taskfile.yaml
Owners: @fl64

feat(core): auto-cleanup for dvcr storage
  api/core/v1alpha2/dvcr-deployment-condition/condition.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/auto_cleanup.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/kubernetes/list.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/kubernetes/termination_log.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/ls.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/registry/gc.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/registry/list.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/registry/remove.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/registry/storage_stats.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/storage/stats.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/storage/stats_linux.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/storage/stats_other.go
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/dvcr-maintenance/hook.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_controller.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_reconciler.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/cleanup.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/watcher/cron.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/watcher/dvcr_deployment.go
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/fake.go
  images/virtualization-artifact/pkg/controller/gc/gc_controller.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  images/virtualization-artifact/pkg/dvcr/dvcr.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  openapi/values.yaml
  templates/dvcr/_helpers.tpl
  templates/dvcr/configmap-cleanup.yaml
  templates/dvcr/deployment.yaml
  templates/virtualization-controller/_helpers.tpl
  tools/kubeconform/fixtures/module-values.yaml
Owners: @fl64, @Isteb4k, @universal-itengineer, @yaroslavborbat, @z9r5, @goganat

bump kubevirt
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
Owners: @fl64, @universal-itengineer, @Isteb4k

feat(vmop): improve vmop migration condition (#1569)
  build/components/versions.yml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

Apply suggestions from code review
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

chore: add docs for v1.1.2
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

chore: add docs for v1.1.2
  docs/RELEASE_NOTES.md
Owners: @fl64, @z9r5, @goganat

fix
  templates/vm-route-forge/daemonset.yaml
Owners: @fl64

fix: ensure accurate PVC sizing during volume migration between different CSI drivers (#1613)
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/common/vd/vd.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vd/vd_webhook.go
  images/virtualization-artifact/pkg/controller/volumemigration/internal/handler/migration.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/scraper.go
Owners: @fl64, @universal-itengineer, @Isteb4k

chore(module): get rid of scrapeconfig
  templates/virtualization-controller/service-monitor.yaml
Owners: @fl64

chore(core): fix nil map panic, fix double mounts (#1609)
  build/components/versions.yml
Owners: @fl64

fix: ensure accurate PVC sizing during volume migration between different CSI drivers (#1613)
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/common/vd/vd.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vd/vd_webhook.go
  images/virtualization-artifact/pkg/controller/volumemigration/internal/handler/migration.go
  images/virtualization-artifact/pkg/monitoring/metrics/vd/scraper.go
Owners: @fl64, @universal-itengineer, @Isteb4k

chore(module): get rid of scrapeconfig
  templates/virtualization-controller/scrape-config.yaml
Owners: @fl64

chore(module): remove annotations
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook.go
  images/hooks/pkg/hooks/drop-helm-labels-from-generic-vmclass/hook_test.go
Owners: @universal-itengineer

chore(module): fix secret encoding
  images/hooks/pkg/hooks/create-generic-vmclass/hook.go
  images/hooks/pkg/hooks/create-generic-vmclass/hook_test.go
  images/hooks/pkg/hooks/update-module-state/hook.go
  images/hooks/pkg/hooks/update-module-state/hook_test.go
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
