Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

get rid of dvp
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

ci(e2e): add run-id label to infra resources for cleanup
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/Taskfile.yaml
  ci/dvp-e2e/charts/infra/templates/ingress.yaml
  ci/dvp-e2e/charts/infra/templates/jump-host/deploy.yaml
  ci/dvp-e2e/charts/infra/templates/jump-host/svc.yaml
  ci/dvp-e2e/charts/infra/templates/ns.yaml
  ci/dvp-e2e/charts/infra/templates/rbac/rbac.yaml
  ci/dvp-e2e/charts/infra/templates/vi.yaml
  ci/dvp-e2e/charts/infra/templates/vmc.yaml
Owners: @universal-itengineer, @fl64

Sidebar fix
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

init
  images/virtualization-dra/internal/usb/store.go
Owners: @universal-itengineer

fix(vdsnapshot): fix unit test
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

fix(vdsnapshot): optimize getVirtualMachine func
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix(vdsnapshot): resolve fsfreeze race condition
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/mock.go
Owners: @Isteb4k

fix(vdsnapshot): change IsFrozen func
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix(vdsnapshot): fetch object once per reconciliation
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/mock.go
Owners: @Isteb4k

fix unit test
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

fix kvvmi watcher
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/kvvmi_watcher.go
Owners: @Isteb4k

fix kvvmi watcher and add new condition reason
  api/core/v1alpha2/vdscondition/condition.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/vdsnapshot_reconciler.go
Owners: @fl64, @Isteb4k

fix unit test
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

fix ready sync unfreeze request
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/kvvmi_watcher.go
Owners: @Isteb4k

fix(vdsnapshot): resolve review comments
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/mock.go
Owners: @Isteb4k

intermediate commit
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/kvvmi_watcher.go
Owners: @Isteb4k

fix: mark snapshot consistent even requiredConsistency is false
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix unit tests
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  test/e2e/legacy/vd_snapshots.go
Owners: @Isteb4k, @fl64

fix: review comments
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/mock.go
Owners: @Isteb4k

fix vmsnapshot status sync and add kvvmi watcher
  api/core/v1alpha2/vmscondition/condition.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_reconciler.go
Owners: @fl64, @Isteb4k

fix unit tests
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

fix logic
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix vdsnapshot unfreeze final operation
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

resolve review comments
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/watcher/vm_watcher.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/vm_watcher.go
Owners: @Isteb4k

add debug msg and todo about not atomic methods
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

wip
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/virtual_machine_class_conversion.go
  api/core/v1alpha3/conversion_suite_test.go
  api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class_conversion.go
  api/core/v1alpha3/virtual_machine_class_conversion_test.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/policy_changes_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/sizing_policies_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/validators_suite_test.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

codegen
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

wip
  api/core/v1alpha3/virtual_machine_class_conversion.go
  api/core/v1alpha3/virtual_machine_class_conversion_test.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/sizing_policies_validator.go
Owners: @fl64, @Isteb4k

fix unit test
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
Owners: @yaroslavborbat

init
  build/components/versions.yml
  crds/embedded/virtualmachineinstances.yaml
  images/virt-artifact/werf.inc.yaml
  images/virtualization-dra/internal/usb/convert.go
Owners: @fl64, @z9r5, @goganat, @universal-itengineer

feat(ci): add retries to build
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(module): fix status panels and add under-requested CPU cores by vm panel (#1711)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

feat(module): add project/namespace virtual machines overview dashboard (#1603)
  monitoring/grafana-dashboards/main/virtual-machine.json
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

Revert "fix(module): add file prefix for grafana dashboards (#1673)" (#1685)
  monitoring/grafana-dashboards/main/virtual-machine.json
  monitoring/grafana-dashboards/main/virtual-machines.json
Owners: @fl64

fix(module): add file prefix for grafana dashboards (#1673)
  monitoring/grafana-dashboards/main/propagated-virtual-machine.json
  monitoring/grafana-dashboards/main/propagated-virtual-machines.json
Owners: @fl64

chore(module): switched metrics scraping for the virtualization-controller from scrapeconfig to servicemonitor (#1651)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
  monitoring/prometheus-rules/virtualization-controller.yaml
  templates/virtualization-controller/scrape-config.yaml
  templates/virtualization-controller/service-monitor.yaml
  werf.yaml
Owners: @fl64, @universal-itengineer

chore(module): fix status panels and add under-requested CPU cores by vm panel (#1711)
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

add setting for moduleconfig
  images/hooks/go.mod
  images/virtualization-artifact/pkg/config/load_dvcr_settings.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/virtualization-controller/_helpers.tpl
Owners: @universal-itengineer, @Isteb4k, @fl64, @z9r5, @goganat

go mod tidy
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64

fix(vdsnapshot): improve condition messages
  images/virtualization-artifact/pkg/controller/service/snapshot_service.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
