Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

remove altPackages install
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug libselinux
  images/packages/selinux/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
Owners: @Isteb4k

Update images/packages/krb5/werf.inc.yaml
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/libnbd/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/lzo/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/xz/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/lz4/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/libnbd/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

return libfuse to swtpm
  images/packages/swtpm/werf.inc.yaml
Owners: @universal-itengineer

try to fix
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

remove qemu from qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

update selinux readme
  images/packages/selinux/README.md
Owners: @universal-itengineer

add libxml2 to virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

wip
  tests/e2e/util_test.go
Owners: @hardcoretime

fix clone vmbda
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

wip
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

skip migration cancel test
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

fix(ci): ignore kubectl logs exit codes in e2e test teardown (#1466)
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

chore(test): add conditions to logFilter in e2e tests
  tests/e2e/default_config.yaml
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/supplements/compatibility.go
  images/virtualization-artifact/pkg/controller/supplements/generator.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
Owners: @Isteb4k

fix create vmsnapshot when block devices not ready
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

chore(test): add conditions to make e2e tests less noisy (#1468)
  tests/e2e/default_config.yaml
Owners: @hardcoretime

fix gc_reconciler.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler.go
Owners: @Isteb4k

fix(vmop): fix deleting vmops when controller restarted (#1471)
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler.go
Owners: @Isteb4k

chore(e2e): fixes for more stability
  .github/workflows/dev_module_build.yml
  tests/e2e/default_config.yaml
  tests/e2e/network/cilium_agents.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_connectivity_test.go
Owners: @universal-itengineer, @hardcoretime

chore(ci): e2e fixes for more stable tests (#1470)
  .github/workflows/dev_module_build.yml
  tests/e2e/default_config.yaml
  tests/e2e/network/cilium_agents.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_connectivity_test.go
Owners: @universal-itengineer, @hardcoretime

fix vpc test
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

chore(e2e): fix VirtualMachineAdditionalNetworkInterfaces test (#1472)
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

chore(module): live migration memory make graphs similar
  monitoring/grafana-dashboards/main/virtual-machine.json
Owners: @fl64

chore(ci): build libudev1, libunistring2, liburing, libuserspace-rcu
  build/components/versions.yml
  images/packages/libunistring/README.md
  images/packages/libunistring/werf.inc.yaml
  images/packages/liburing/README.md
  images/packages/liburing/werf.inc.yaml
  images/packages/libuserspace-rcu/README.md
  images/packages/libuserspace-rcu/werf.inc.yaml
Owners: @fl64, @universal-itengineer

gnu
  images/packages/libunistring/werf.inc.yaml
Owners: @universal-itengineer

chore(module): add network label with network name
  build/components/versions.yml
  templates/kubevirt/service-monitor.yaml
Owners: @fl64

fix url
  images/packages/libuserspace-rcu/werf.inc.yaml
Owners: @universal-itengineer

chore(module): rename containers to support integrity checks
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/virtualization-artifact/pkg/audit/events/vm/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_control_test.go
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @universal-itengineer, @fl64, @Isteb4k, @yaroslavborbat

chore(module): rename containers to support integrity checks
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/virtualization-artifact/pkg/audit/events/vm/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_control_test.go
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @universal-itengineer, @fl64, @Isteb4k, @yaroslavborbat

chore(ci): change path of e2e artifacts
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

chore(ci): change path of e2e artifacts (#1476)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

fix crds
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

bootstrap
  images/packages/libuserspace-rcu/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
