Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

refactoring
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

fix repo
  images/packages/binaries/gcc/werf.inc.yaml
Owners: @universal-itengineer

fox
  images/packages/binaries/dtc/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/binaries/dtc/werf.inc.yaml
Owners: @universal-itengineer

docs(module): update vm placment info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

sync
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

feat(dvcr): add fuzzing tests
  images/dvcr-artifact/Dockerfile.fuzz
  images/dvcr-artifact/FUZZING.md
  images/dvcr-artifact/docker-fuzz.sh
  images/dvcr-artifact/pkg/uploader/uploader_test.go
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

fix: replace base image
  images/dvcr-artifact/Dockerfile.fuzz
Owners: @Isteb4k

+
  images/dvcr-artifact/pkg/uploader/uploader_test.go
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/run-fuzz.sh
Owners: @Isteb4k

fix ssh-agent job
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix svace dev build condition
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Revert "Check backward compatibility"
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix analyze run condition
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix known hosts
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix project name
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix commit values
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fake commit
  .werf/defines/image-build.tmpl
Owners: @universal-itengineer

change build modules-actions version to v4
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

change build action version
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

improve svace project structure
  .github/workflows/dev_module_build.yml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

change svace_enabled input to boolean
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix trigger event
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix build svace enabled input
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix comment line
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix ci
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

remove redundant analysis dependency
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

adding svace analyze server to known hosts as a separate pre-build step
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

check merged modules actions
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix indentation
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add testing branch
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix source repo
  images/base-alt-p11-svace/werf.inc.yaml
Owners: @universal-itengineer

improve analyze condition and set stable modules-actions version
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

integrate svace into ci
  .github/workflows/dev_module_build.yml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/base-alt-p11-svace/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Check backward compatibility
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Revert "remove redundant analysis dependency"
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
