Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fixes
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Review USER_GUIDE.md and USER_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

remove sc migration
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

add info regarding containerd v1
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

add info regarding containerd v1
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  crds/clustervirtualimages.yaml
  crds/embedded/cdi.yaml
  crds/embedded/datavolumes.yaml
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
  crds/virtualdisks.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualimages.yaml
  crds/virtualmachineblockdeviceattachments.yaml
  crds/virtualmachineclasses.yaml
  crds/virtualmachineipaddresses.yaml
  crds/virtualmachineipaddressleases.yaml
  crds/virtualmachinemacaddresses.yaml
  crds/virtualmachinemacaddressleases.yaml
  crds/virtualmachineoperations.yaml
  crds/virtualmachinerestores.yaml
  crds/virtualmachines.yaml
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

wip
  crds/virtualdisksnapshots.yaml
Owners: @fl64, @z9r5, @goganat

docs: Fix broken codeblock
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

add dvcr config for containerd v2
  images/dvcr-artifact/pkg/registry/registry.go
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @Isteb4k, @fl64

++ add history entry
  images/dvcr-artifact/pkg/registry/registry.go
Owners: @Isteb4k

++ link to the config fields documentation
  images/dvcr-artifact/pkg/registry/registry.go
Owners: @Isteb4k

++ append EOF marker for tar: 1024 zeros ++ add more fields to image config, set Created time
  images/dvcr-artifact/pkg/registry/registry.go
  images/dvcr-artifact/pkg/registry/tar.go
Owners: @Isteb4k

add vm name completion
  src/cli/internal/comp/virtualmachine.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

Apply suggestions from code review
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update tests/e2e/vm_vpc_test.go
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

tests: fix vpc e2e test
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

test: update vpc test to use ClusterNetwork and test VM connectivity (#1396)
  tests/e2e/testdata/vm-vpc/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/clusternetwork.yaml
  tests/e2e/testdata/vm-vpc/network/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/network-class.yaml
  tests/e2e/testdata/vm-vpc/network/network.yaml
  tests/e2e/testdata/vm-vpc/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/cfg/cloudinit-bar.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/vd-bar-root.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/vm-bar.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/cfg/cloudinit-foo.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/vd-foo-root.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/vm-foo.yaml
  tests/e2e/testdata/vm-vpc/vm/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-vpc/vm/vd-blank.yaml
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

t
  images/dvcr-artifact/werf.inc.yaml
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

feat: add restore controller
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/service.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/watcher/vm.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/restore/restore_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
Owners: @Isteb4k

fix: aliases
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

feat(core): add VMOP restore
  api/core/v1alpha2/events.go
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/vmopcondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/common/steptaker/runner.go
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/service/restorer/common/common.go
  images/virtualization-artifact/pkg/controller/service/restorer/interfaces.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/best_effort_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/dryrun_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/start_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/strict_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/restore.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

rename suite for restore controller
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/suite_test.go
Owners: @Isteb4k

add vm create op; fix tests;
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
Owners: @Isteb4k

add annotations checks; fix linter; rename controller structs;
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/watcher/vmop.go
Owners: @Isteb4k

fix bool cond err
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

add override tests
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
Owners: @Isteb4k

add maintenance condition
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
Owners: @Isteb4k

add stop VM with maintainance
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
Owners: @Isteb4k

rename maintainence
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/best_effort_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/start_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/strict_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/validate_step.go
Owners: @Isteb4k

remove mode from handlers
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
Owners: @Isteb4k

remove signalSentCond
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/handler/lifecycle.go
Owners: @Isteb4k

update crds
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

remove vmCopy
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/exit_maintenance_step.go
Owners: @Isteb4k

update generated
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @Isteb4k

rename virtv2
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/best_effort_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/strict_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/validate_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

some refactor
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/best_effort_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/strict_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/validate_step.go
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/restore.go
Owners: @fl64, @Isteb4k

fix message format
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/restore.go
Owners: @Isteb4k

remove unused
  images/virtualization-artifact/pkg/controller/vmop/restore/internal/service/restore.go
Owners: @Isteb4k
