Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

docs: Minor fixes in documentetion after 1914 and 1965
  docs/FAQ.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix condition
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix(vm): increase memory limits to prevent OOMKills during migration
  build/components/versions.yml
Owners: @fl64

fix(vm): increase memory limits during migration with hotplugged disks (#1947)
  build/components/versions.yml
Owners: @fl64

remove v2 config files also
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

add
  test/e2e/blockdevice/virtual_disk_provisioning.go
Owners: @fl64

fix(vmop): vmop evacuation for failed VMI
  images/virtualization-artifact/pkg/controller/vm/internal/evict.go
Owners: @yaroslavborbat

chore(ci): test only sdn in e2e
  test/e2e/scripts/task_run_ci.sh
Owners: @fl64

wip
  build/components/versions.yml
Owners: @fl64

fix(vm): test metadata before replace opration
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @yaroslavborbat

fix test
  images/virtualization-artifact/pkg/controller/vm/internal/evict_test.go
Owners: @yaroslavborbat

chore(ci): running only SDN tests in an e2e cluster. (#1988)
  test/e2e/scripts/task_run_ci.sh
Owners: @fl64

add backoff
  images/virtualization-artifact/pkg/common/backoff/backgoff.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/common/backoff/backgoff.go
  images/virtualization-artifact/pkg/controller/vm/internal/evict_test.go
Owners: @Isteb4k, @yaroslavborbat

fix(vm): remove non propagatable anno on vm creation
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @Isteb4k, @yaroslavborbat

fix colors
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @fl64

add cluster overview dashboard
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
Owners: @fl64

add migrating vm count
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
Owners: @fl64

[dvp] fix green color
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @fl64

[dvp] appliedvmcass -> vmclass
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/metrics.go
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
  monitoring/grafana-dashboards/virtualization/propagated-vm.json
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @Isteb4k, @fl64

feat(module): add d8_virtualization_virtualmachine_info
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/unsafe.go
Owners: @Isteb4k

refactor
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
Owners: @fl64

[dvp] pending color
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
  monitoring/grafana-dashboards/virtualization/propagated-vm.json
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @fl64

fix naming
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
Owners: @fl64

move vm and vms dashboards to virtualizaion folder
  monitoring/grafana-dashboards/virtualization/propagated-vm.json
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @fl64

refactoring
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fix(vd): correct phase assignment of the VirtualDisk for WaitForFirstConsumer (#1983)
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fix(vmop): vmop evacuation for failed VMI (#1986)
  images/virtualization-artifact/pkg/common/backoff/backgoff.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation.go
  images/virtualization-artifact/pkg/controller/vm/internal/evict.go
  images/virtualization-artifact/pkg/controller/vm/internal/evict_test.go
Owners: @Isteb4k, @yaroslavborbat

docs: minor fixes in documentation
  docs/FAQ.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vd): correct phase assignment of the VirtualDisk for WaitForFirstConsumer (#1983)
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

docs: minor fixes in documentation
  docs/FAQ.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Re-generate changelog v1.4.1
  CHANGELOG/CHANGELOG-v1.4.1.yml
Owners: @fl64

fix
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/metrics.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/unsafe.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/unsafe.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/unsafe.go
Owners: @Isteb4k

remove dvcr-ca.crt
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix(docs): Update descriptions in module.yaml (#1936)
  module.yaml
Owners: @fl64

resolve comments
  images/virtualization-artifact/pkg/controller/indexer/event_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/volumeevent_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @Isteb4k, @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
