Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add libnghttp2 nghttp3
  build/components/versions.yml
  images/packages/libnghttp2/README.md
  images/packages/libnghttp2/werf.inc.yaml
  images/packages/nghttp3/README.md
  images/packages/nghttp3/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix nghttp3
  images/packages/libnghttp2/werf.inc.yaml
  images/packages/nghttp3/werf.inc.yaml
  images/packages/zlib/werf.inc.yaml
Owners: @universal-itengineer

add libxm2
  build/components/versions.yml
  images/packages/libxml2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix repo libxml2
  images/packages/libxml2/werf.inc.yaml
Owners: @universal-itengineer

add libnftnl
  build/components/versions.yml
  images/packages/libnftnl/README.md
  images/packages/libnftnl/werf.inc.yaml
Owners: @fl64, @universal-itengineer

libnghttp2 -> nghttp2; fix builds
  build/components/versions.yml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libnghttp2/README.md
  images/packages/nghttp2/README.md
  images/packages/nghttp2/werf.inc.yaml
  images/packages/nghttp3/README.md
Owners: @fl64, @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
Owners: @yaroslavborbat

feat(core): add dvcr config for containerd v2 (#1395)
  images/dvcr-artifact/pkg/registry/registry.go
  images/dvcr-artifact/pkg/registry/tar.go
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @Isteb4k, @fl64

feat(core): add dvcr config for containerd v2 (#1395)
  images/dvcr-artifact/pkg/registry/registry.go
  images/dvcr-artifact/pkg/registry/tar.go
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @Isteb4k, @fl64

Backport: feat(core): add dvcr config for containerd v2 (#1409)
  images/dvcr-artifact/pkg/registry/registry.go
  images/dvcr-artifact/pkg/registry/tar.go
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @Isteb4k, @fl64

integrate libs to build
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/file/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libxml2/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix
  docs/INSTALL.md
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update due v0.25.0 (#1376)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update due v0.25.0 (#1376)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Backport: docs: update due v0.25.0 (#1410)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @yaroslavborbat

Re-generate changelog v0.18.2
  CHANGELOG/CHANGELOG-v0.18.2.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Re-generate changelog v0.26.0
  CHANGELOG/CHANGELOG-v0.26.0.yml
  CHANGELOG/CHANGELOG-v0.26.md
Owners: @fl64

Re-generate changelog v0.24.1
  CHANGELOG/CHANGELOG-v0.24.1.yml
  CHANGELOG/CHANGELOG-v0.24.md
Owners: @fl64

wip
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @yaroslavborbat

fix e2e
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/lifecycle.go
Owners: @Isteb4k

fix edk2
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

move to main's template for package management
  images/packages/libcurl/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/libisoburn/werf.inc.yaml
  images/packages/libisofs/werf.inc.yaml
  images/packages/libjansson4/werf.inc.yaml
  images/packages/libjson-glib/werf.inc.yaml
  images/packages/libxcrypt/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
Owners: @universal-itengineer

add more images to main template
  images/packages/keyutils/werf.inc.yaml
  images/packages/libcap-ng/werf.inc.yaml
  images/packages/libcap/werf.inc.yaml
Owners: @universal-itengineer

fix var name in openldap
  images/packages/openldap/werf.inc.yaml
Owners: @universal-itengineer

fix libcurl
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

modify libcurl
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

remove gnutls
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

return to gnutls
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

Re-generate changelog v0.25.0
  CHANGELOG/CHANGELOG-v0.25.0.yml
  CHANGELOG/CHANGELOG-v0.25.md
Owners: @fl64

Changelog v0.25.0 (#1339)
  CHANGELOG/CHANGELOG-v0.25.0.yml
  CHANGELOG/CHANGELOG-v0.25.md
Owners: @fl64

Changelog v0.25.0 (#1339)
  CHANGELOG/CHANGELOG-v0.25.0.yml
  CHANGELOG/CHANGELOG-v0.25.md
Owners: @fl64

Backport: Changelog v0.25.0 (#1411)
  CHANGELOG/CHANGELOG-v0.25.0.yml
  CHANGELOG/CHANGELOG-v0.25.md
Owners: @fl64

fix(vm): set network status if network spec is nill
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
Owners: @yaroslavborbat

fix docs
  api/core/v1alpha2/virtual_machine_operation.go
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix copyrights
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/provisioner_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmip_restorer_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

fix failed reason
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
Owners: @Isteb4k

fix typos
  crds/virtualmachineoperations.yaml
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix error handling
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/validate_step.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
