Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

test(vmrestore): fix vmrestore end-to-end tests
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

chore(ci): fixed src-artifact (#1384)
  images/cdi-artifact/werf.inc.yaml
  images/dvcr/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/hooks/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/acl/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/dmidecode/werf.inc.yaml
  images/packages/dtc/werf.inc.yaml
  images/packages/file/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/glibc/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libaudit/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/libgpg-error/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libidn2/werf.inc.yaml
  images/packages/libisoburn/werf.inc.yaml
  images/packages/libmd/werf.inc.yaml
  images/packages/libtpms/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/numactl/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/rdma-core/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

test(vmrestore): fix vmrestore end-to-end tests (#1398)
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

refactor 2(rm mkdir for ssh conf
  images/cdi-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/libffi/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/src-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix vers for libvirt and qemu
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add keyutils
  build/components/versions.yml
  images/packages/keyutils/README.md
  images/packages/keyutils/werf.inc.yaml
Owners: @fl64, @universal-itengineer

change source
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

change package
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

add rpmspec
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

Update images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler_test.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
Owners: @Isteb4k, @yaroslavborbat

remove backslash
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

add cflags
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

move destdir
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

remove man
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

add keyutils to build
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

use v in libvirt and qemu
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix libdir
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

fix libmnl
  images/packages/libmnl/werf.inc.yaml
Owners: @universal-itengineer

resolve comments
  images/libvirt/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add flags to install
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

fix libdir
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

refactor: improve gc (#1292)
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/fake.go
  images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/gc_controller.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler_test.go
  images/virtualization-artifact/pkg/controller/gc/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  templates/virtualization-controller/_helpers.tpl
Owners: @Isteb4k, @yaroslavborbat, @fl64

fix
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

tests: add vpc into vm for snapshot and restore
  tests/e2e/testdata/vm-restore-force/network/clusternetwork.yaml
  tests/e2e/testdata/vm-restore-safe/network/clusternetwork.yaml
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

test(e2e): handle additional network interfaces in restore tests (#1394)
  tests/e2e/testdata/vm-restore-force/network/clusternetwork.yaml
  tests/e2e/testdata/vm-restore-safe/network/clusternetwork.yaml
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

add readme for keyutils
  images/packages/keyutils/README.md
Owners: @universal-itengineer

fix
  MAINTAINERS.md
Owners: @fl64

add process ver with v in install-libvirt convert_version
  build/components/versions.yml
  images/libvirt/install-libvirt.sh
  images/packages/gnutls/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
Owners: @fl64, @universal-itengineer

gnutls change build options
  images/packages/gnutls/werf.inc.yaml
Owners: @universal-itengineer

fix nbdkit build
  images/packages/gnutls/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

fix libgmp, add libgmp to libnbd
  images/packages/libgmp/README.md
  images/packages/libgmp/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

gmp change build
  images/packages/libgmp/werf.inc.yaml
Owners: @universal-itengineer

fix vl func convert version
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

return file and glib2 to main
  images/packages/file/werf.inc.yaml
  images/packages/glib2/alt/gio-compat-2.57.lds
  images/packages/glib2/alt/gio-compat.map
  images/packages/glib2/alt/glib-compat.lds
  images/packages/glib2/alt/glib-compat.map
  images/packages/glib2/alt/gobject-compat.lds
  images/packages/glib2/alt/gobject-compat.map
  images/packages/glib2/patches/glib-2.53.5-alt-deprecated_paths-nowarning.patch
  images/packages/glib2/patches/glib-2.71.3-alt-lfs.patch
  images/packages/glib2/patches/glib-2.75.4-alt-add-xvt.patch
  images/packages/glib2/patches/glib-2.75.4-alt-compat-version-script.patch
  images/packages/glib2/patches/glib-2.80.0-alt-e2k.patch
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

libvirt fix vars
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix problems)
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

fix cvi namespace usage
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix test
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle_test.go
Owners: @Isteb4k

fix unit tests
  images/virtualization-artifact/pkg/controller/vm/internal/block_devices_test.go
Owners: @yaroslavborbat
