Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(core): fix build glib2 (#1478)
  images/packages/glib2/werf.inc.yaml
Owners: @universal-itengineer

chore(module): fix install packages via dnf and yum (#1464)
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

fix
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vd.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  tests/e2e/e2e_test.go
  tests/e2e/framework/client.go
  tests/e2e/object/vmbda.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/util/vm.go
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

fix
  .github/workflows/nightly_e2e_tests_ceph.yaml
  tests/e2e/framework/client.go
Owners: @universal-itengineer, @hardcoretime

fix: Correct Go tools installation command in nightly E2E workflow (#1502)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  tests/e2e/framework/client.go
Owners: @universal-itengineer, @hardcoretime

fix(vm): fix some volume migration bugs (#1498)
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vd.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  tests/e2e/e2e_test.go
  tests/e2e/object/vmbda.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/util/vm.go
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

fix(vm): fix some volume migration bugs (#1498)
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vd.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  tests/e2e/e2e_test.go
  tests/e2e/object/vmbda.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/util/vm.go
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

Backport: fix(vm): fix some volume migration bugs (#1505)
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vd.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  tests/e2e/e2e_test.go
  tests/e2e/object/vmbda.go
  tests/e2e/storage/volume_migration_local_disks.go
  tests/e2e/storage/volume_migration_storage_class_changed.go
  tests/e2e/util/vm.go
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

fix(vm): fix issue with deleting vmbda from a stopped VM
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

test(vm): check TCP connection during VM migration
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/framework/framework.go
  tests/e2e/object/vd.go
  tests/e2e/util_test.go
  tests/e2e/vm_live_migration_tcp_session_test.go
Owners: @Isteb4k, @hardcoretime

chore: fix taskfile for evicter, add funs for stop vm duration
  tests/performance/statistic/internal/vm/get_vm.go
  tests/performance/tools/evicter/Taskfile.yaml
Owners: @hardcoretime

chore: save to log file stats of vd and vms
  tests/performance/statistic/Taskfile.yaml
  tests/performance/statistic/internal/helpers/helper.go
  tests/performance/statistic/internal/vd/get_vd.go
  tests/performance/statistic/internal/vm/get_vm.go
Owners: @hardcoretime

add lic
  tests/performance/tools/evicter/internal/mirgations.go
  tests/performance/tools/evicter/pkg/command/command.go
Owners: @hardcoretime

chore: fix vi template
  tests/performance/templates/vmds.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

upda doc readme
  tests/performance/README.md
  tests/performance/Taskfile.yaml
  tests/performance/tools/evicter/Taskfile.yaml
Owners: @hardcoretime

chore: fix yaml formatting
  tests/performance/statistic/Taskfile.yaml
Owners: @hardcoretime

refactor template
  tests/performance/templates/_cloud-config.tpl
  tests/performance/templates/cloud-init-secret.yaml
  tests/performance/templates/nginx-service.yaml
  tests/performance/templates/node-exporter-service.yaml.back
  tests/performance/templates/vds.yaml
  tests/performance/templates/vms.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

fix names
  tests/performance/Taskfile.yaml
  tests/performance/statistic/go.mod
  tests/performance/templates/_cloud-config.tpl
  tests/performance/templates/nginx-service.yaml
  tests/performance/templates/node-exporter-service.yaml.back
  tests/performance/templates/vds.yaml
  tests/performance/templates/vms.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

fix formatting yaml
  tests/performance/Taskfile.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

chore: add runPolicy to helm values; note for PhasesTransitions
  tests/performance/statistic/cmd/stat/main.go
  tests/performance/statistic/internal/vm/get_vm.go
  tests/performance/templates/vms.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

chore: template vi back to type vi
  tests/performance/templates/vmds.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

chore: statistics Taskfile add variable for choose namespace
  tests/performance/statistic/Taskfile.yaml
Owners: @hardcoretime

chore: add option for vi-pvc
  tests/performance/README.md
  tests/performance/templates/vmds.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

add start message to log
  tests/performance/tools/evicter/main.go
Owners: @hardcoretime

chore: fix format data for csv files for make grafs in google sheets
  tests/performance/statistic/internal/helpers/helper.go
  tests/performance/statistic/internal/vd/get_vd.go
  tests/performance/statistic/internal/vm/get_vm.go
Owners: @hardcoretime

chore: fix virtualization dashboard, add to several visualisations missing variable namespace
  tests/performance/virtualization-dashboard.yaml
Owners: @hardcoretime

add evicter
  tests/performance/tools/evicter/go.mod
  tests/performance/tools/evicter/go.sum
  tests/performance/tools/evicter/helpers/helpers.go
  tests/performance/tools/evicter/main.go
Owners: @hardcoretime

refactor cu
  tests/performance/tools/evicter/Taskfile.yaml
  tests/performance/tools/evicter/internal/mirgations.go
  tests/performance/tools/evicter/internal/some.go
  tests/performance/tools/evicter/pkg/command/command.go
Owners: @hardcoretime

refactor: use cobra instead default flag parse
  tests/performance/Taskfile.yaml
  tests/performance/bootstrapper.sh
  tests/performance/statistic/Taskfile.yaml
  tests/performance/statistic/go.mod
  tests/performance/statistic/go.sum
  tests/performance/statistic/internal/helpers/helper.go
  tests/performance/statistic/internal/vd/get_vd_stat.go
  tests/performance/statistic/internal/vm/get_vm_stat.go
  tests/performance/statistic/pkg/command/stat.go
  tests/performance/tools/evicter/Taskfile.yaml
  tests/performance/tools/evicter/cmd/main.go
  tests/performance/tools/evicter/go.mod
  tests/performance/tools/evicter/go.sum
  tests/performance/tools/evicter/helpers/helpers.go
  tests/performance/tools/evicter/internal/some.go
  tests/performance/tools/evicter/main.go
  tests/performance/tools/evicter/pkg/command/command.go
Owners: @hardcoretime

chore(test): add tool for get avg statistic from vd and vm
  tests/performance/statistic/Taskfile.yaml
  tests/performance/statistic/cmd/stat/main.go
  tests/performance/statistic/go.mod
  tests/performance/statistic/go.sum
  tests/performance/statistic/internal/helpers/helper.go
  tests/performance/statistic/internal/vd/get_vd.go
  tests/performance/statistic/internal/vm/get_vm.go
Owners: @hardcoretime

chore: common job
  tests/performance/templates/node-exporter-service.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

chore: add ns to name of log and csv files
  tests/performance/statistic/internal/helpers/helper.go
  tests/performance/statistic/internal/vd/get_vd.go
  tests/performance/statistic/internal/vm/get_vm.go
Owners: @hardcoretime

add vmDiskType to performance chart
  tests/performance/README.md
  tests/performance/templates/vmds.yaml
  tests/performance/templates/vms.yaml
  tests/performance/values.yaml
Owners: @hardcoretime

chore: comment unnecessary packages in cloud init
  tests/performance/templates/_cloud-config.tpl
Owners: @hardcoretime

chore: disable tracking for deletion resourses
  tests/performance/bootstrapper.sh
Owners: @hardcoretime

chore: fix report vm
  tests/performance/statistic/internal/vm/get_vm.go
Owners: @hardcoretime

chore: temporary rename file node-exporter-service, dont need servicemonitor for vms
  tests/performance/templates/node-exporter-service.yaml.back
Owners: @hardcoretime

fix vm tracking
  tests/performance/tools/evicter/main.go
Owners: @hardcoretime

Update tests/performance/statistic/pkg/command/stat.go
  tests/performance/statistic/pkg/command/stat.go
Owners: @hardcoretime

fix e2e formatting
  tests/e2e/framework/client.go
Owners: @hardcoretime

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
