Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

refactor some images
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix comments for libffi
  images/packages/libffi/README.md
  images/packages/libffi/werf.inc.yaml
Owners: @universal-itengineer

rm -rf /usr/share
  images/packages/libldap2/werf.inc.yaml
Owners: @universal-itengineer

add libldap2 to build
  images/packages/libcurl/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix libffi,mpath readme; add libffi to glib2 build
  images/packages/glib2/werf.inc.yaml
  images/packages/libffi/werf.inc.yaml
  images/packages/multipath-tools/README.md
  images/packages/multipath-tools/werf.inc.yaml
Owners: @universal-itengineer

remove /var
  images/packages/libldap2/werf.inc.yaml
Owners: @universal-itengineer

resolve comments libnbd
  images/packages/libnbd/README.md
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

fix libvirt
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add libcap to util-linux
  build/components/versions.yml
  images/packages/util-linux/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add strip
  images/packages/libffi/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
Owners: @universal-itengineer

++ remove owner, group from template; remove /tmp for distroless based images; try to add /var/run symlink for compatibility; add busybox to kube-api-rewriter
  .werf/defines/image-mountpoints.tmpl
  images/cdi-controller/mount-points.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/virt-api/mount-points.yaml
  images/virt-handler/mount-points.yaml
Owners: @universal-itengineer

++ includePaths should be relative
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

++ includePaths should be relative
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

++ /var exists
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

fix strip
  images/packages/libffi/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
Owners: @universal-itengineer

++ import only /var/run
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

++ import only /var/run
  images/kube-api-rewriter/werf.inc.yaml
Owners: @universal-itengineer

refactor strip
  images/packages/libffi/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
Owners: @universal-itengineer

feat(vm): add mac in snapshots and restore (#1350)
  images/virtualization-artifact/pkg/controller/service/restorer/keys.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorer.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vmmac_restorer.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

tests: add vpc into vm for snapshot and restore
  tests/e2e/testdata/vm-restore-force/network/networkclass.yaml
  tests/e2e/testdata/vm-restore-safe/network/networkclass.yaml
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
Owners: @hardcoretime

add fix
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

chore(ci): fix svace alert
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

remove /usr/var
  images/packages/libldap2/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

rename to openldap
  build/components/versions.yml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libldap2/README.md
  images/packages/openldap/README.md
  images/packages/openldap/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @fl64, @universal-itengineer

refactor: change names for list of linux distro pkgs,libs and self-build
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/packages/libffi/werf.inc.yaml
  images/packages/libnbd/README.md
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nftables/werf.inc.yaml
  images/packages/util-linux/README.md
  images/packages/util-linux/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

job -> report
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix: update virtual_machine_mac_address_lease.go
  api/core/v1alpha2/virtual_machine_mac_address_lease.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
Owners: @Isteb4k

chore(ci): fix svace alert (#1397)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/reconciler/resource.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

fix dvcr-artifact-builder
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

refactor: improve gc
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/fake.go
  images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/gc_controller.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler_test.go
  images/virtualization-artifact/pkg/controller/gc/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  templates/virtualization-controller/_helpers.tpl
Owners: @Isteb4k, @yaroslavborbat, @fl64

fix(vmmaclease): fix the typo in VirtualMachineMACAddressLease struct (#1399)
  api/core/v1alpha2/virtual_machine_mac_address_lease.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @Isteb4k

fix libvirt src image
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix qemu,libvirt
  build/components/versions.yml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @fl64, @universal-itengineer
