Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

change cdi-deployment replicas 3 -> 2
  templates/cdi/config.yaml
Owners: @fl64

do test more readeble
  images/hooks/pkg/hooks/migrate-delete-renamed-validation-admission-policy/hook_test.go
Owners: @universal-itengineer

fix ha
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

remove replica patch for virt-controller
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

chore(ci): add hooks to svace
  images/hooks/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
Owners: @universal-itengineer

change image
  images/hooks/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix cvi namespace usage
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
Owners: @Isteb4k

fix finalizers logic
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

chore(ci): add hooks to svace (#1212)
  images/hooks/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
Owners: @universal-itengineer

feat(core): set replicas equal to 3 for HA mode (#1208)
  templates/cdi/config.yaml
  templates/kubevirt/kubevirt.yaml
  templates/virtualization-api/deployment.yaml
  templates/virtualization-controller/deployment.yaml
Owners: @fl64

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

fix(module): fix validating for field https.mode
  images/virtualization-artifact/pkg/config/load_dvcr_settings.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_ingress.go
  templates/virtualization-controller/_helpers.tpl
Owners: @Isteb4k, @fl64

fix(vm): handle error when trying to create a duplicate kvvm
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

chore(ci): add vlctl and node-labeller to svace
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add packages conditional
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

refactor
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/cmd/virtualization-controller/app/app.go
  images/virtualization-artifact/cmd/virtualization-controller/app/controller.go
  images/virtualization-artifact/cmd/virtualization-controller/app/scheme.go
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/config/apis/Taskfile.yaml
  images/virtualization-artifact/pkg/config/apis/componentconfig/doc.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/install/install.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/register.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/types.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/v1alpha1/doc.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/v1alpha1/register.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/v1alpha1/types.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/config/apis/componentconfig/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/config/apis/hack/boilerplate.go.txt
  images/virtualization-artifact/pkg/config/apis/hack/update-codegen.sh
  images/virtualization-artifact/pkg/config/config.go
  images/virtualization-artifact/pkg/config/config_test.go
  images/virtualization-artifact/pkg/config/legacy.go
  images/virtualization-artifact/pkg/config/load_dvcr_settings.go
  images/virtualization-artifact/pkg/config/load_gc_settings.go
  images/virtualization-artifact/pkg/config/load_import_settings.go
  images/virtualization-artifact/pkg/config/load_vd_storage_class_settings.go
  images/virtualization-artifact/pkg/config/load_vi_storage_class_settings.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmiplease/vmiplease_controller.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  images/virtualization-artifact/pkg/migration/migration.go
  templates/virtualization-controller/_helpers.tpl
  templates/virtualization-controller/config.yaml
  templates/virtualization-controller/deployment.yaml
Owners: @Isteb4k, @yaroslavborbat, @LopatinDmitr, @fl64

refactor
  images/virtualization-artifact/cmd/virtualization-controller/app/app.go
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

chown test
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

refactor
  images/virtualization-artifact/cmd/virtualization-controller/app/app.go
  images/virtualization-artifact/cmd/virtualization-controller/app/controller.go
  images/virtualization-artifact/pkg/config/config.go
  images/virtualization-artifact/pkg/config/config_test.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmiplease/vmiplease_controller.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  images/virtualization-artifact/pkg/migration/migration.go
Owners: @Isteb4k, @yaroslavborbat, @LopatinDmitr

refactor
  images/virtualization-artifact/cmd/virtualization-controller/app/controller.go
Owners: @Isteb4k

chore(core): rewrite the hook for removing/migrating kubevirt validation admission policy from python to go (#1142)
  hooks/migrate_delete_renamed_validation_admission_policy.py
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/go.mod
  images/hooks/pkg/common/consts.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/migrate-delete-renamed-validation-admission-policy/hook.go
  images/hooks/pkg/hooks/migrate-delete-renamed-validation-admission-policy/hook_test.go
Owners: @fl64, @universal-itengineer

+
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/pkg/uploader/uploader_fuzz_test.go
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

+
  images/dvcr-artifact/fuzz.sh
Owners: @Isteb4k

fix(vm): add handling of the error when trying to create a duplicate internal virtual machine (#1216)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

add descheduler e2e
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  tests/e2e/config/config.go
  tests/e2e/descheduler_test.go
  tests/e2e/framework/client.go
  tests/e2e/framework/framework.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubectl/resource.go
  tests/e2e/object/const.go
  tests/e2e/object/cvi.go
  tests/e2e/object/vd.go
  tests/e2e/object/vm.go
  tests/e2e/tests_suite_test.go
Owners: @Isteb4k, @hardcoretime

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
