Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add SOURCE_REPO_GIT
  .github/workflows/dev_module_build.yml
  images/virtualization-binaries/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

fix build alpine
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

docs: fix external link on Installation page (#856)
  docs/INSTALL.md
  docs/INSTALL_RU.md
Owners: @fl64, @z9r5, @goganat

chore(module): add module.yaml (#885)
  module.yaml
Owners: @fl64

test(vdsnapshot): disable consistency check
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix(core): remove host-passthrough VMC
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

add build & run on sync
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

fix apiVersion
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove namespace
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove ptr import
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

fix to array
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove namespace x3
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove namespace fix
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove .items[]
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

change to metadata
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

check for existing annos
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

add fmt.Sprintf
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
Owners: @universal-itengineer

remove host-passthrough
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @fl64

test(vdsnapshot): disable consistency check (#928)
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

chore(test): add disks tests
  tests/e2e/config/config.go
  tests/e2e/disks_test.go
  tests/e2e/testdata/disks-creation/cvi/cvi_http.yaml
  tests/e2e/testdata/disks-creation/cvi/kustomization.yaml
  tests/e2e/testdata/disks-creation/kustomization.yaml
  tests/e2e/testdata/disks-creation/ns.yaml
  tests/e2e/testdata/disks-creation/transformer.yaml
  tests/e2e/testdata/disks-creation/vd/kustomization.yaml
  tests/e2e/testdata/disks-creation/vd/vd-alpine-http.yaml
  tests/e2e/testdata/disks-creation/vd/vd-http.yaml
  tests/e2e/testdata/disks-creation/vdsnapshot/kustomization.yaml
  tests/e2e/testdata/disks-creation/vdsnapshot/vdsnapshot.yaml
  tests/e2e/testdata/disks-creation/vi/kustomization.yaml
  tests/e2e/testdata/disks-creation/vi/vi_http.yaml
  tests/e2e/tests_suite_test.go
  tests/e2e/todo_req_refactor_disks_test
Owners: @hardcoretime

feat(audit): add webhook rules (#833)
  templates/virtualization-audit/validation-webhook.yaml
Owners: @fl64

feat: add new informer factory for virtualization resources
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/cmd/virtualization-audit/main.go
  images/virtualization-artifact/pkg/audit/informer/informer.go
  images/virtualization-artifact/pkg/audit/signal/signal.go
  images/virtualization-artifact/pkg/audit/webhook/util/util.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
Owners: @Isteb4k

fix: add error handling for nil informer factories
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
Owners: @Isteb4k

try
  templates/virtualization-audit/validation-webhook.yaml
Owners: @fl64

fix: improve error logging for shared factory creation
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/informer/informer.go
Owners: @Isteb4k

refactor: remove unused imports and simplify validation logic
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualimage.go
Owners: @Isteb4k

feat: add support for building and pushing virtualization-audit images
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/hack/dlv-audit.Dockerfile
  images/virtualization-artifact/hack/dlv.sh
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualimage.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
Owners: @Isteb4k

refactor: simplify function signature for GetVMFromAdmissionReview
  images/virtualization-artifact/cmd/virtualization-audit/main.go
  images/virtualization-artifact/pkg/audit/webhook/util/util.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
Owners: @Isteb4k

fix: update log socket address for service connectivity
  templates/virtualization-audit/log-config.yaml
Owners: @fl64

feat: implement TCP server for handling connections
  images/virtualization-artifact/pkg/audit/server/server.go
  templates/virtualization-audit/log-config.yaml
  templates/virtualization-audit/validation-webhook.yaml
Owners: @Isteb4k, @fl64

refactor: modify virtual machine webhook to handle errors correctly
  images/virtualization-artifact/pkg/audit/webhook/handler.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualimage.go
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
  templates/virtualization-audit/validation-webhook.yaml
Owners: @Isteb4k, @fl64

feat: log server start with address information
  images/virtualization-artifact/pkg/audit/server/server.go
Owners: @Isteb4k

chore: disable unused virtualization audit webhooks
  templates/virtualization-audit/validation-webhook.yaml
Owners: @fl64

feat: add virtualization disk informer to the auditing command
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go~
  images/virtualization-artifact/pkg/audit/webhook/validators/virtualmachine.go
  templates/virtualization-audit/validation-webhook.yaml
Owners: @Isteb4k, @fl64

feat: add port forwarding validation webhook
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/webhook/validators/portforward.go
  templates/virtualization-audit/validation-webhook.yaml
Owners: @Isteb4k, @fl64

refactor: remove nil checks for virtualization factories
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/informer/informer.go
Owners: @Isteb4k

fix: simplify event match condition for VM control
  images/virtualization-artifact/pkg/audit/events/vm_control.go
Owners: @Isteb4k

feat: add VirtualMachineOperations informer to run function
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
Owners: @Isteb4k

refactor: consolidate VM data retrieval logic into utility functions
  images/virtualization-artifact/pkg/audit/events/util.go
  images/virtualization-artifact/pkg/audit/events/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm_control.go
  images/virtualization-artifact/pkg/audit/events/vm_manage.go
Owners: @Isteb4k

fix: update socket address to use cluster local FQDN
  templates/virtualization-audit/log-config.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
