Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

docs: update maintainers
  MAINTAINERS.md
Owners: @fl64

fix not found error
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @yaroslavborbat

run goimports -w .
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/pkg/hooks/ca-discovery/hook.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook.go
  images/hooks/pkg/hooks/discovery-workload-nodes/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
  images/hooks/pkg/hooks/dvcr-garbage-collection/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/install-vmclass-generic/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook.go
  images/hooks/pkg/hooks/tls-certificates-api-proxy/main.go
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook_test.go
Owners: @universal-itengineer

upd linters
  images/hooks/.golangci.yaml
Owners: @universal-itengineer

fix linter formatting issues
  images/hooks/.golangci.yaml
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/pkg/hooks/ca-discovery/hook.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook.go
  images/hooks/pkg/hooks/discovery-workload-nodes/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
  images/hooks/pkg/hooks/dvcr-garbage-collection/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/install-vmclass-generic/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook.go
  images/hooks/pkg/hooks/tls-certificates-api-proxy/main.go
  images/hooks/pkg/hooks/tls-certificates-api/main.go
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
  images/hooks/pkg/hooks/tls-certificates-controller/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook_test.go
  images/hooks/pkg/readiness/probe.go
Owners: @universal-itengineer

fix(vm): add a condition to network changes in the virtual machine watcher (#1879)
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/attached_handler.go
  images/virtualization-artifact/pkg/controller/vmip/internal/watcher/vm_watcher.go
Owners: @Isteb4k, @yaroslavborbat, @LopatinDmitr

fix VM reboot
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @yaroslavborbat

fix(vm): prevent false RestartRequired during upgrade when firmware.uuid is not set on KVVM (#1875)
  build/components/versions.yml
Owners: @fl64

fix(vm): do not throw an error if networks is not specified
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
Owners: @yaroslavborbat

fix(vm): do not throw an error if networks is not specified (#1883)
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
Owners: @yaroslavborbat

feat(core): exclude hotplug pod from qouta accounting (#1866)
  build/components/versions.yml
Owners: @fl64

feat(core): exclude from qouta system resources for CVI/VI/VD (#1848)
  build/components/versions.yml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
Owners: @fl64, @Isteb4k

fix(vm): add a condition to network changes in the virtual machine watcher (#1879)
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/attached_handler.go
  images/virtualization-artifact/pkg/controller/vmip/internal/watcher/vm_watcher.go
Owners: @Isteb4k, @yaroslavborbat, @LopatinDmitr

fix(vm): prevent false RestartRequired during upgrade when firmware.uuid is not set on KVVM (#1875)
  build/components/versions.yml
Owners: @fl64

fix(vm): do not throw an error if networks is not specified (#1883)
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
Owners: @yaroslavborbat

chore(ci): remove vm_sysprep.yaml
  images/virtualization-artifact/config/vm_sysprep.yaml
Owners: @Isteb4k

remove config folder
  images/virtualization-artifact/config/samples/cpu_model.yaml
  images/virtualization-artifact/config/samples/cvmi_debian_iso.yaml
  images/virtualization-artifact/config/samples/cvmi_debian_iso_ca_bundle.yaml
  images/virtualization-artifact/config/samples/cvmi_ubuntu_iso.yaml
  images/virtualization-artifact/config/samples/cvmi_upload.yaml
  images/virtualization-artifact/config/samples/ipam_claim.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_cloudimage_disk.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_cloudimage_image.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_iso_image.yaml
  images/virtualization-artifact/config/samples/pv.yaml
  images/virtualization-artifact/config/samples/raw_kubevirt_vm.yaml
  images/virtualization-artifact/config/samples/ubuntu_cloud_init.yaml
  images/virtualization-artifact/config/samples/virtual_machine_disk.yaml
  images/virtualization-artifact/config/samples/vmbda.yaml
  images/virtualization-artifact/config/samples/vmd_blank.yaml
  images/virtualization-artifact/config/samples/vmd_http_auto_sized.yaml
  images/virtualization-artifact/config/samples/vmd_http_sized.yaml
  images/virtualization-artifact/config/samples/vmd_upload_auto_sized.yaml
  images/virtualization-artifact/config/samples/vmd_upload_sized.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_2_phase.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_datavolume.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_registry.yaml
  images/virtualization-artifact/config/samples/vmi_upload_datavolume.yaml
  images/virtualization-artifact/config/samples/vmi_upload_registry.yaml
  images/virtualization-artifact/config/samples/win_vm_from_iso_image.yaml
Owners: @Isteb4k

chore(ci): remove `images/virtualization-artifact/config` (#1884)
  images/virtualization-artifact/config/samples/cpu_model.yaml
  images/virtualization-artifact/config/samples/cvmi_debian_iso.yaml
  images/virtualization-artifact/config/samples/cvmi_debian_iso_ca_bundle.yaml
  images/virtualization-artifact/config/samples/cvmi_ubuntu_iso.yaml
  images/virtualization-artifact/config/samples/cvmi_upload.yaml
  images/virtualization-artifact/config/samples/ipam_claim.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_cloudimage_disk.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_cloudimage_image.yaml
  images/virtualization-artifact/config/samples/linux_vm_from_iso_image.yaml
  images/virtualization-artifact/config/samples/pv.yaml
  images/virtualization-artifact/config/samples/raw_kubevirt_vm.yaml
  images/virtualization-artifact/config/samples/ubuntu_cloud_init.yaml
  images/virtualization-artifact/config/samples/virtual_machine_disk.yaml
  images/virtualization-artifact/config/samples/vmbda.yaml
  images/virtualization-artifact/config/samples/vmd_blank.yaml
  images/virtualization-artifact/config/samples/vmd_http_auto_sized.yaml
  images/virtualization-artifact/config/samples/vmd_http_sized.yaml
  images/virtualization-artifact/config/samples/vmd_upload_auto_sized.yaml
  images/virtualization-artifact/config/samples/vmd_upload_sized.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_2_phase.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_datavolume.yaml
  images/virtualization-artifact/config/samples/vmi_ubuntu_registry.yaml
  images/virtualization-artifact/config/samples/vmi_upload_datavolume.yaml
  images/virtualization-artifact/config/samples/vmi_upload_registry.yaml
  images/virtualization-artifact/config/samples/win_vm_from_iso_image.yaml
  images/virtualization-artifact/config/vm_sysprep.yaml
Owners: @Isteb4k

chore(ci): add gitleaks scan
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
  .gitleaks.toml
Owners: @universal-itengineer, @fl64

add newlines
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
Owners: @universal-itengineer

chore(ci): lint and test images hooks (#1882)
  images/hooks/.golangci.yaml
  images/hooks/Taskfile.yaml
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/pkg/hooks/ca-discovery/hook.go
  images/hooks/pkg/hooks/copy-custom-certificate/main.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook.go
  images/hooks/pkg/hooks/discovery-workload-nodes/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
  images/hooks/pkg/hooks/dvcr-garbage-collection/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/install-vmclass-generic/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook_test.go
  images/hooks/pkg/hooks/tls-certificates-api-proxy/main.go
  images/hooks/pkg/hooks/tls-certificates-api/main.go
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
  images/hooks/pkg/hooks/tls-certificates-controller/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook_test.go
  images/hooks/pkg/readiness/probe.go
Owners: @universal-itengineer

change version
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
Owners: @universal-itengineer

debug
  build/components/versions.yml
Owners: @fl64

debug
  build/components/versions.yml
Owners: @fl64

feat(api): add quota discount for virt-launcher (#1872)
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @Isteb4k, @yaroslavborbat

feat(vd): add VM name in wide output
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
Owners: @fl64

feat(vd): update CRDs
  crds/virtualdisks.yaml
  crds/virtualmachineblockdeviceattachments.yaml
Owners: @fl64, @z9r5, @goganat

test(vmclass): add discovery handler unit tests (#1870)
  images/virtualization-artifact/pkg/controller/vmclass/internal/discovery_test.go
Owners: @Isteb4k

[docs] Fix broken links (#1864)
  docs/README.md
  docs/README.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Owners: @fl64, @z9r5, @goganat

fix according to naming suggestions
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
Owners: @universal-itengineer

chore(ci): add gitleaks scan (#1886)
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
  .gitleaks.toml
Owners: @universal-itengineer, @fl64

fix
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/common/vm/vm_test.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason_test.go
  images/virtualization-artifact/pkg/controller/powerstate/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/pod.go
Owners: @Isteb4k, @yaroslavborbat

improve commentaries
  images/virtualization-artifact/pkg/common/vm/vm_test.go
Owners: @Isteb4k

disable test when virtual machine stopped from OS
  test/e2e/vm/volume_migration_local_disks.go
Owners: @fl64

debug
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(module): bump deckhouse requirement
  module.yaml
Owners: @fl64

test: Disable test when virtual machine stopped from OS (#1881)
  test/e2e/vm/volume_migration_local_disks.go
Owners: @fl64

chore(module): bump deckhouse requirement (#1892)
  module.yaml
Owners: @fl64

delete drop-openshift-labels hook
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
Owners: @universal-itengineer

debug
  build/components/versions.yml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
