Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

use deckhouse main, pr17193 merged
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

upd info msg for virtualization module
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

static: update count of attempt for sds
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix wait ceph
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

change script ci
  test/e2e/scripts/task_run_ci.sh
Owners: @fl64

static: fix loop, fix repodt
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix deploy template custom-certificate
  templates/custom-certificate.yaml
Owners: @fl64

test bootstrap with proxy settings in nested cluster
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
Owners: @universal-itengineer, @fl64

fix report
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

static: rm jump host after cluster deployed
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix ask fo del
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

static: refactor wf
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix install d8, fix setup
  .github/actions/install-d8/action.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
Owners: @universal-itengineer, @fl64

static: fix sds conditions
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: add podSubnet and service CIDR in values yaml, add labels for jumphost
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/svc.yaml
Owners: @universal-itengineer, @fl64

add sc for e2e
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

feat(ci): configure nested e2e cluster for nightly tests
  .github/workflows/e2e-matrix.yml
  .gitignore
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/.helmignore
  test/dvp-over-dvp/charts/cluster-config/Chart.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ingress.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nfs.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/rbac.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
  test/dvp-over-dvp/charts/infra/.helmignore
  test/dvp-over-dvp/charts/infra/Chart.yaml
  test/dvp-over-dvp/charts/infra/templates/ingress.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/pvc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/svc.yaml
  test/dvp-over-dvp/charts/infra/templates/ns.yaml
  test/dvp-over-dvp/charts/infra/templates/rbac/rbac.yaml
  test/dvp-over-dvp/charts/infra/templates/vi.yaml
  test/dvp-over-dvp/charts/infra/templates/vmc.yaml
  test/dvp-over-dvp/values.example.yaml
Owners: @universal-itengineer, @fl64

change wf, add prepare-report job
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

format yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: rename gen-sa to gen-kubeconfig, move to tools
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/tools/gen-kubeconfig.sh
Owners: @universal-itengineer, @fl64

rm commenter always from undeploy-cluster
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix formatting
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
Owners: @fl64

set current kube context in kubeconfig
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
Owners: @universal-itengineer, @fl64

fix FOCUS nexline
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

feat(core): exclude from qouta system resources for CVI/VI/VD (#1848)
  build/components/versions.yml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
Owners: @fl64, @Isteb4k

chore(module): make swtpm and libraries compatible with x86-64-v2 CPUs (#1857)
  images/packages/gnutls/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/libvirt/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/vmclass/internal/discovery_test.go
Owners: @Isteb4k

fix tests
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
Owners: @Isteb4k

chore(ci): lint and test hooks
  images/hooks/.golangci.yaml
  images/hooks/Taskfile.yaml
Owners: @universal-itengineer

docs: update due 1.4.0
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update ru user guide
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update en user guide
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

fix lint
  images/hooks/.golangci.yaml
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/pkg/hooks/ca-discovery/hook.go
  images/hooks/pkg/hooks/copy-custom-certificate/main.go
  images/hooks/pkg/hooks/discovery-clusterip-service-for-dvcr/hook.go
  images/hooks/pkg/hooks/discovery-workload-nodes/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
  images/hooks/pkg/hooks/dvcr-garbage-collection/hook.go
  images/hooks/pkg/hooks/generate-secret-for-dvcr/hook.go
  images/hooks/pkg/hooks/install-vmclass-generic/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook.go
  images/hooks/pkg/hooks/migrate-virthandler-kvm-node-labels/hook_test.go
  images/hooks/pkg/hooks/tls-certificates-api-proxy/main.go
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook_test.go
  images/hooks/pkg/readiness/probe.go
Owners: @universal-itengineer

fix(vmop): correct reconcile deleted by strict restoring resources (#1878)
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vd_restorer_test.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vmbda_restorer_test.go
Owners: @Isteb4k

fix(vm): prevent false RestartRequired during upgrade when firmware.uuid is not set on KVVM
  build/components/versions.yml
Owners: @fl64

fix(vm): add a condition to network changes in the virtual machine watcher
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
  images/virtualization-artifact/pkg/controller/vmip/internal/attached_handler.go
  images/virtualization-artifact/pkg/controller/vmip/internal/watcher/vm_watcher.go
Owners: @Isteb4k, @yaroslavborbat, @LopatinDmitr

feat(api): add quota discount for virt-launcher
  build/components/versions.yml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
Owners: @fl64, @Isteb4k, @yaroslavborbat
