Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

Re-generate changelog v1.5.0
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

delete clusters older than 2 days
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

Apply suggestion from @nevermarine
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add timeout
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

chore(ci): e2e nested fix cleanup (#1964)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

Re-generate changelog v1.6.0
  CHANGELOG/CHANGELOG-v1.6.0.yml
  CHANGELOG/CHANGELOG-v1.6.md
Owners: @fl64

docs: add release notes for v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

++
  test/e2e/blockdevice/data_exports.go
Owners: @fl64

docs: add release notes for v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

chore(ci): fix NodeGroupConfiguration for DVCR
  templates/dvcr/ nodegroupconfiguration.yaml
Owners: @fl64

docs: review
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: review updates
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

test: add node to dump
  test/e2e/legacy/util.go
Owners: @fl64

fix cmd name
  test/e2e/legacy/util.go
Owners: @fl64

fix patch
  images/virtualization-artifact/pkg/common/patch/patch.go
Owners: @Isteb4k

resolve comments, rm showmanages fields
  test/e2e/internal/kubectl/kubectl.go
  test/e2e/legacy/util.go
Owners: @fl64

rm ShowManagedFields
  test/e2e/internal/framework/dump.go
  test/e2e/internal/kubectl/kubectl.go
Owners: @fl64

fix(vmrestore): correct assignment of vmbda names while restoring (#1945)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
Owners: @Isteb4k

add return and continue
  test/e2e/legacy/util.go
Owners: @fl64

tmp
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

t2
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

bump
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

Revert "fix(vmrestore): correct assignment of vmbda names while restoring (#1945)"
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
Owners: @Isteb4k

chore(vmrestore): revert 1945 (#1969)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
Owners: @Isteb4k

fix describe node
  test/e2e/legacy/util.go
Owners: @fl64

docs: add release notes for v1.5.0 (#1965)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

rm embeded kubevirt vm,vmi crds
  build/components/versions.yml
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
  templates/kubevirt/virt-operator/deployment.yaml
Owners: @fl64, @z9r5, @goganat

test: add node information to dump logs (#1967)
  test/e2e/internal/framework/dump.go
  test/e2e/internal/kubectl/kubectl.go
  test/e2e/legacy/util.go
Owners: @fl64

chore(core): change prefix for virt-launcher and hotplug pod (#1867)
  build/components/versions.yml
Owners: @fl64

docs: review
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: update due v1.5.0 (#1914)
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Re-generate changelog v1.5.0
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

docs: update due v1.5.0 (#1914)
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.0 (#1965)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Changelog v1.5.0 (#1860)
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

Changelog v1.5.0 (#1860)
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

Backport: Changelog v1.5.0 (#1972)
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64
