Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

header
  images/libvirt/install-libvirt.sh
Owners: @universal-itengineer

tirpc and md
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

update version
  build/components/versions.yml
Owners: @fl64

add libldap
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add nghttp2
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

fix libvirt pkgconfig
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libs
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

tree
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

f
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

add util-linux
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix libdir
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add nghttp3
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

install_root
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

w
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libvirt
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug remove libvirt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

debug
  build/components/versions.yml
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

remove glibc from gcc
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

add libgsasl
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add e2fsprogs to libtirpc
  images/packages/libtirpc/werf.inc.yaml
Owners: @universal-itengineer

fix libvirt import
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add more pc files
  images/libvirt/install-libvirt.sh
Owners: @universal-itengineer

add glibc
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcap-ng/werf.inc.yaml
  images/packages/libidn/werf.inc.yaml
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add tree
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add ngtcp2
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add ngtcp2
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

strip and remove var
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

nghttp2
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add patch to glibc
  build/components/versions.yml
  images/packages/glibc/patches/003-alt-fedora.patch
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

test glibc
  images/packages/glibc/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

remove glibc for now
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/bzip2/werf.inc.yaml
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

debug
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

Revert "debug remove libvirt"
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add nghttp3
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add slibdir
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

move to alt image
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

revision
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

glibc tree
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

add configparams
  images/packages/glibc/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
