Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

change go version to 1.24.5 in gh workflows
  .github/workflows/dev_module_build-and-registration.yml
  .github/workflows/dev_module_build.yml
  .github/workflows/dev_validation.yaml
  .github/workflows/nightly_e2e_tests_main.yaml
  tests/performance/shatal/go.mod
  tests/performance/shatal/go.sum
  tests/performance/shatal/internal/shatal/drainer.go
Owners: @universal-itengineer, @hardcoretime

change version
  build/components/versions.yml
Owners: @fl64

fix
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/watcher/migration.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
Owners: @Isteb4k

kvvmim quota exceeded problem trancieve
  api/core/v1alpha2/events.go
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
Owners: @fl64, @Isteb4k

add vm info
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
Owners: @yaroslavborbat

after rebase
  images/virtualization-artifact/pkg/controller/vmop/internal/watcher/migration.go
Owners: @Isteb4k

feat: add restore to crd
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

feat: add step for vmop restore
  images/virtualization-artifact/pkg/common/steptaker/runner.go
  images/virtualization-artifact/pkg/controller/vmop/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle_test.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restart.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/start.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/stop.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_stop.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_reconciler.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

feat: update restore
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/errors.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/overrider.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vd_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat: add restore vmop
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restore.go
Owners: @fl64, @Isteb4k

feat: rename steps, add utils
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/dryrun_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_step.go
Owners: @Isteb4k

feat: remove unused util
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/util.go
Owners: @Isteb4k

feat: add steps and resources
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_forced_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/start_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat: realign steps
  api/core/v1alpha2/events.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_forced_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/start_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
Owners: @fl64, @Isteb4k

chore: add copyright
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
Owners: @Isteb4k

feat: remove unused
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_step.go
Owners: @Isteb4k

++ go mod tidy after rebase
  images/hooks/go.mod
  images/hooks/go.sum
Owners: @universal-itengineer

++ fix import after rebase
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

fix(vi): validate storage class (#1289)
  images/virtualization-artifact/pkg/controller/moduleconfig/moduleconfig_webhook.go
  images/virtualization-artifact/pkg/controller/moduleconfig/vi_storageclass_validator.go
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

add metrics
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/vdsnapshot_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/unsafe.go
Owners: @Isteb4k

fix: conditions errors
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/start_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
Owners: @fl64, @Isteb4k

info to vm
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/vmop_watcher.go
Owners: @fl64, @yaroslavborbat

fix(core): module-embeded-deckhouse
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix(core): module-embeded-deckhouse
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

declare exapansion interface for virtual machine
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_virtualmachine_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/virtualmachine_expansion.go
  api/client/kubeclient/async.go
  api/client/kubeclient/client.go
  api/client/kubeclient/streamer.go
  api/client/kubeclient/vm.go
  src/cli/internal/cmd/console/console.go
Owners: @fl64

refactor: declare exapansion interface for virtual machine (#1332)
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_virtualmachine_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/virtualmachine_expansion.go
  api/client/kubeclient/async.go
  api/client/kubeclient/client.go
  api/client/kubeclient/streamer.go
  api/client/kubeclient/vm.go
  src/cli/internal/cmd/console/console.go
Owners: @fl64

fix: remove unused
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
Owners: @Isteb4k

chore(core): enable packages for deckhouse embeded build (#1341)
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

chore(core): enable packages for deckhouse embeded build (#1341)
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libattr/werf.inc.yaml
  images/packages/libblkid/werf.inc.yaml
  images/packages/libbrotli/werf.inc.yaml
  images/packages/libbsd/werf.inc.yaml
  images/packages/libburn/werf.inc.yaml
  images/packages/libfuse3/werf.inc.yaml
  images/packages/libgcrypt/werf.inc.yaml
  images/packages/libgmp/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix(core): build packages
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

mount points
  .werf/defines/image-mountpoints.tmpl
  .werf/images.yaml
  images/cdi-operator/mount-points.yaml
  images/cdi-operator/werf.inc.yaml
  images/dvcr/mount-points.yaml
  images/dvcr/werf.inc.yaml
  images/virt-operator/mount-points.yaml
  images/virt-operator/werf.inc.yaml
  images/virtualization-api/mount-points.yaml
  images/virtualization-api/werf.inc.yaml
  images/virtualization-controller/mount-points.yaml
  images/virtualization-controller/werf.inc.yaml
  tools/mounts/README.md
  tools/mounts/mountdir/.placeholder
  tools/mounts/mountfile
Owners: @universal-itengineer, @fl64

feat: rewrite stop step
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/stop_vm_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vmsnapshot_ready_step.go
Owners: @Isteb4k

++ add more info about fixes, add replaces for kube-openapi, add runtime-audit-engine to enable virtualization-audit resources for kubeconform
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/go.mod
  images/hooks/go.sum
  tools/kubeconform/fixtures/module-values.yaml
Owners: @universal-itengineer, @fl64

fix(core): build swtpm package (#1342)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Re-generate changelog v0.18.2
  CHANGELOG/CHANGELOG-v0.18.2.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

fix(core): build swtpm package (#1342)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Backport: fix(core): build swtpm package (#1345)
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore(module): fix helm templates after PR#1324
  templates/virtualization-api/_helper.tpl
  templates/virtualization-controller/_helpers.tpl
  templates/vm-route-forge/_helper.tpl
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
