Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

++ fixes for linter, remove default class e2e test
  images/virtualization-artifact/.golangci.yaml
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/validators_suite_test.go
  tests/e2e/testdata/complex-test/kustomization.yaml
  tests/e2e/testdata/complex-test/vm/overlays/default/kustomization.yaml
  tests/e2e/testdata/complex-test/vmc.yaml
  tests/e2e/testdata/complex-test/vmclass-default.yaml
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

++ review: change kubectl command and block format
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

feat(vmclass): annotation to set default vmclass
  api/core/v1alpha2/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_controller.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @yaroslavborbat

Apply suggestions from code review
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

++ add license headers, remove indexer
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
Owners: @Isteb4k, @yaroslavborbat

Review ADMIN_GUIDE.md and ADMIN_GUIDE.ru.md
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

++ docs
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

++ add configurtion for mutating webhook
  templates/virtualization-controller/mutating-webhook.yaml
Owners: @fl64

++ allow only "true" value for is-default-class annotation
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
Owners: @Isteb4k

++ show annotation in error message
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
Owners: @Isteb4k

++ add e2e test for empty .spec.virtualMachineClassName
  tests/e2e/complex_test.go
  tests/e2e/config/vmclass.go
  tests/e2e/testdata/complex-test/vm/overlays/default/kustomization.yaml
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

++ fix defaulter, add unit tests, add default vmclass to the complex e2e test
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/validators_suite_test.go
  tests/e2e/testdata/complex-test/kustomization.yaml
  tests/e2e/testdata/complex-test/vm/overlays/default/kustomization.yaml
  tests/e2e/testdata/complex-test/vmclass-default.yaml
  tests/e2e/testdata/complex-test/vmclass.yaml
Owners: @yaroslavborbat, @Isteb4k, @hardcoretime

++ fixes for linter, revert changes to .golangci.yaml
  images/virtualization-artifact/.golangci.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
Owners: @Isteb4k, @yaroslavborbat

++ reword message
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
Owners: @Isteb4k

refactor
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/migration.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/migration/migration_controller.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/service.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/restart.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/start.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/stop.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/vm.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/powerstate_controller.go
  images/virtualization-artifact/pkg/controller/vmop/service/service.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
Owners: @fl64, @Isteb4k

++ fix golint issues
  tests/e2e/complex_test.go
  tests/e2e/config/vmclass.go
Owners: @hardcoretime

++ workaround for new dmt version
  templates/registry-secret.yaml
Owners: @fl64

++ go tmpl comments fix
  templates/registry-secret.yaml
Owners: @fl64

refactor(vmop): refactor vmop controller (#1372)
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/common/vmop/vmop.go
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/migration.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/migration/migration_controller.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/deletion.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/service.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/handler/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/restart.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/start.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/service/stop.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/predicates.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/vm.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/internal/watcher/vmop.go
  images/virtualization-artifact/pkg/controller/vmop/powerstate/powerstate_controller.go
  images/virtualization-artifact/pkg/controller/vmop/service/service.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_reconciler.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
Owners: @fl64, @Isteb4k

feat(vmclass): annotation to set default vmclass (#1305)
  api/core/v1alpha2/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/defaulters_suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/virtual_machine_class_name.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/single_default_class_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/validators_suite_test.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_controller.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
  templates/registry-secret.yaml
  templates/virtualization-controller/mutating-webhook.yaml
  tests/e2e/complex_test.go
  tests/e2e/config/vmclass.go
  tests/e2e/testdata/complex-test/vm/overlays/default/kustomization.yaml
  tests/e2e/tests_suite_test.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k, @yaroslavborbat, @hardcoretime

add leader-election flag
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

docs(api): add info about vpc and vmmac/vmmacl in USER_GUIDE
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore: add leader-election flag for virtualization controller (#1377)
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

chore(module): rename scary exe extension
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

fix lint
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

fix(api): fix linter error (#1381)
  images/virtualization-artifact/cmd/virtualization-controller/main.go
Owners: @Isteb4k

lint cli
  src/cli/.golangci.yaml
  src/cli/Taskfile.yaml
  src/cli/internal/cmd/console/console.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/scp/native.go
  src/cli/internal/cmd/ssh/knownhosts.go
  src/cli/internal/cmd/ssh/native.go
  src/cli/internal/cmd/ssh/terminal_unix.go
  src/cli/internal/cmd/ssh/wrapped.go
  src/cli/internal/cmd/vnc/vnc.go
  src/cli/internal/templates/target.go
  src/cli/internal/templates/templates.go
  src/cli/internal/util/consts.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

pre
  build/components/versions.yml
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fox capture
  images/packages/krb5/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

fix versions
  build/components/versions.yml
Owners: @fl64

chore: lint cli d8v (#1382)
  src/cli/.golangci.yaml
  src/cli/Taskfile.yaml
  src/cli/internal/cmd/console/console.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/portforward/portforward.go
  src/cli/internal/cmd/portforward/portforwarder.go
  src/cli/internal/cmd/scp/native.go
  src/cli/internal/cmd/ssh/knownhosts.go
  src/cli/internal/cmd/ssh/native.go
  src/cli/internal/cmd/ssh/terminal_unix.go
  src/cli/internal/cmd/ssh/wrapped.go
  src/cli/internal/cmd/vnc/vnc.go
  src/cli/internal/templates/target.go
  src/cli/internal/templates/templates.go
  src/cli/internal/util/consts.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

refactor
  api/client/kubeclient/client.go
  api/scripts/update-codegen.sh
  api/subresources/register.go
  api/subresources/types.go
  api/subresources/v1alpha2/register.go
  api/subresources/v1alpha2/types.go
  api/subresources/v1alpha2/zz_generated.conversion.go
  api/subresources/v1alpha2/zz_generated.deepcopy.go
  api/subresources/zz_generated.deepcopy.go
  build/components/versions.yml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/apiserver/api/install.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/util.go
  images/virtualization-artifact/pkg/apiserver/server/config.go
Owners: @fl64, @Isteb4k

fox fox fox
  images/packages/lz4/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
Owners: @universal-itengineer

docs: updates examples according to UI changes (#1369)
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Re-generate changelog v0.18.2
  CHANGELOG/CHANGELOG-v0.18.2.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

Re-generate changelog v0.24.1
  CHANGELOG/CHANGELOG-v0.24.md
Owners: @fl64

[ci] fixed src-artifact
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

item 3606
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/deletion.go
Owners: @Isteb4k
