Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

temp delete container-selinux from ngc
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

debug
  build/components/versions.yml
Owners: @fl64

chore(ci): fix gitleaks scan
  .gitleaks.toml
Owners: @fl64

chore(ci): fix gitleaks scan (#1897)
  .gitleaks.toml
Owners: @fl64

use release-1.74 for deckhouse deploy
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

comment proxy settings
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

chore(ci): add static config for nested cluster
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/Chart.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/_helpers.tpl
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ngc.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ssh-creds.yaml
  test/dvp-static-cluster/charts/infra/.helmignore
  test/dvp-static-cluster/charts/infra/Chart.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/svc.yaml
  test/dvp-static-cluster/charts/infra/templates/ns.yaml
  test/dvp-static-cluster/charts/infra/templates/vi.yaml
  test/dvp-static-cluster/charts/infra/templates/vmc.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
  test/dvp-static-cluster/storage/ceph/00-ms.yaml
  test/dvp-static-cluster/storage/ceph/01-mc.yaml
  test/dvp-static-cluster/storage/ceph/02-sa.yaml
  test/dvp-static-cluster/storage/ceph/03-cm.yaml
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
  test/dvp-static-cluster/storage/ceph/05-blockpool.yaml
  test/dvp-static-cluster/storage/ceph/06-toolbox.yaml
  test/dvp-static-cluster/storage/ceph/ceph-configure.sh
  test/dvp-static-cluster/storage/sds-replicated/lvg-gen.sh
  test/dvp-static-cluster/storage/sds-replicated/mc.yaml
  test/dvp-static-cluster/storage/sds-replicated/rsc-gen.sh
Owners: @fl64

chore(ci): add ci for deploy nested cluster for nightly e2e tests
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

upd wait nested kube-api
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

hardcode d8 cli version to v0.25.1
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

add Second check d8 queue in nested cluster
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

upd wait sds-replicated
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

resolve comments
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/ns.yaml
  test/dvp-static-cluster/charts/infra/templates/vmc.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
  test/dvp-static-cluster/storage/ceph/03-cm.yaml
  test/dvp-static-cluster/storage/ceph/05-blockpool.yaml
Owners: @universal-itengineer, @fl64

debug
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix(vm): put back the required feature gates to the kubevirt config
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

change tests
  images/virtualization-artifact/pkg/common/vm/suite_test.go
  images/virtualization-artifact/pkg/common/vm/vm_test.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason_test.go
Owners: @Isteb4k

welcome to the future)
  images/virtualization-artifact/pkg/common/vm/suite_test.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason_test.go
  images/virtualization-artifact/pkg/controller/powerstate/suite_test.go
Owners: @Isteb4k

use deckhouse main
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(vm): get shutdown reason from correct pod (#1890)
  images/virtualization-artifact/pkg/common/vm/suite_test.go
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/common/vm/vm_test.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason.go
  images/virtualization-artifact/pkg/controller/powerstate/shutdown_reason_test.go
  images/virtualization-artifact/pkg/controller/powerstate/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/pod.go
Owners: @Isteb4k, @yaroslavborbat

chore(module): bump deckhouse requirement (#1892)
  module.yaml
Owners: @fl64

resolve comments
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
Owners: @fl64

add parallel migration annotaiton
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
  openapi/values.yaml
  templates/kubevirt/kubevirt.yaml
  tools/kubeconform/fixtures/module-values.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

feat: add parallel migration annotaiton (#1885)
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
  openapi/values.yaml
  templates/kubevirt/kubevirt.yaml
  tools/kubeconform/fixtures/module-values.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

fix(vm): put back the required feature gates to the kubevirt config (#1898)
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix(vm): put back the required feature gates to the kubevirt config (#1898)
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

feat: add parallel migration annotaiton (#1885)
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
  openapi/values.yaml
  templates/kubevirt/kubevirt.yaml
  tools/kubeconform/fixtures/module-values.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

fix(vm): migration condition clearing
  api/core/v1alpha2/vmcondition/condition.go
  images/virtualization-artifact/pkg/controller/vd/internal/migration.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
  images/virtualization-artifact/pkg/controller/vm/internal/migrating_test.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

t2
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

tmp
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add missing licenses
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
Owners: @universal-itengineer

fix: add missing licenses (#1899)
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
Owners: @universal-itengineer

fix(vm): correct message in AwaitingRestartToApplyConfiguration condition
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

fix(vmop): correct message for Completed condition
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

fix(vmop): correct message for Completed condition
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

fix(vm): correct message in AwaitingRestartToApplyConfiguration condition (#1869)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

fix(vmop): correct message for Completed condition for Pending vmop (#1873)
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle.go
Owners: @Isteb4k

fix missing licenses
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
Owners: @universal-itengineer

fix: add missing licenses (#1900)
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook.go
  images/hooks/pkg/hooks/parallel-outbound-migrations-per-node/hook_test.go
Owners: @universal-itengineer

chore(module): delete drop-openshift-labels hook (#1893)
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook.go
  images/hooks/pkg/hooks/drop-openshift-labels/hook_test.go
Owners: @universal-itengineer

add baseImages helper to add external images from deckhouse_images.yml
  .werf/defines/images.tmpl
  .werf/images.yaml
  build/base-images/deckhouse_images.yml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer, @fl64
