Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix overall status
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

fix vmip deletion
  images/virtualization-artifact/pkg/controller/vm/internal/ipam.go
  images/virtualization-artifact/pkg/controller/vmip/internal/deletion_handler.go
  images/virtualization-artifact/pkg/controller/vmip/vmip_controller.go
Owners: @yaroslavborbat, @LopatinDmitr

wip
  images/virtualization-artifact/pkg/controller/vm/internal/ipam.go
Owners: @yaroslavborbat

fix
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

add back env
  images/virtualization-artifact/pkg/config/load_dvcr_settings.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
  images/virtualization-artifact/pkg/dvcr/dvcr.go
  templates/virtualization-controller/_helpers.tpl
Owners: @Isteb4k, @fl64

refactor(kubevirt): bump version to 1.6.2
  Taskfile.yaml
  api/client/examples/cancel-evacuation/go.mod
  api/client/examples/cancel-evacuation/go.sum
  api/client/examples/list-resources/go.mod
  api/client/examples/list-resources/go.sum
  api/go.mod
  api/go.sum
  build/components/versions.yml
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
  images/hooks/go.mod
  images/hooks/go.sum
  images/virt-api/debug/dlv.Dockerfile
  images/virt-artifact/werf.inc.yaml
  images/virt-controller/debug/dlv.Dockerfile
  images/virt-handler/debug/dlv.Dockerfile
  images/virt-handler/werf.inc.yaml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/livemigration/migration_configuration.go
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
  src/cli/go.mod
  src/cli/go.sum
  templates/kubevirt/kubevirt.yaml
  templates/kubevirt/virt-operator/rbac-for-us.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64, @z9r5, @goganat, @universal-itengineer, @Isteb4k, @yaroslavborbat

Review embedded YAML descriptions
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

update kubevirt dep
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

gen
  api/go.mod
  api/go.sum
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

go mod tidy
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
Owners: @Isteb4k

go mod tidy
  images/hooks/go.mod
  images/hooks/go.sum
Owners: @universal-itengineer

go mod tidy
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64

feat(cli): add debug bundle
  src/cli/README.md
  src/cli/internal/clientconfig/clientconfig.go
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
  src/cli/internal/cmd/collectdebuginfo/collectors.go
  src/cli/pkg/command/virtualization.go
Owners: @fl64

fix(vm): skip validation for VMs in terminating status
  images/virtualization-artifact/pkg/controller/vm/internal/validators/affinity_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_limiter_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_refs_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/cpu_count_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/first_block_device_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/ipam_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/meta_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/sizing_policy_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/topology_spread_validator.go
Owners: @yaroslavborbat

add check
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

change secret
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

remove edition header
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

double newline
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

chore(ci): send channel push results to Loop (#1839)
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

upd
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
Owners: @fl64

bump kubevirt version
  build/components/versions.yml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

refactor(kubevirt): bump version to 1.6.2 (#1614)
  Taskfile.yaml
  api/client/examples/cancel-evacuation/go.mod
  api/client/examples/cancel-evacuation/go.sum
  api/client/examples/list-resources/go.mod
  api/client/examples/list-resources/go.sum
  api/go.mod
  api/go.sum
  build/components/versions.yml
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
  crds/virtualmachineclasses.yaml
  images/hooks/go.mod
  images/hooks/go.sum
  images/virt-api/debug/dlv.Dockerfile
  images/virt-artifact/werf.inc.yaml
  images/virt-controller/debug/dlv.Dockerfile
  images/virt-handler/debug/dlv.Dockerfile
  images/virt-handler/werf.inc.yaml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/livemigration/migration_configuration.go
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
  src/cli/go.mod
  src/cli/go.sum
  templates/kubevirt/kubevirt.yaml
  templates/kubevirt/virt-operator/rbac-for-us.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64, @z9r5, @goganat, @universal-itengineer, @Isteb4k, @yaroslavborbat

fix selfhealing
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

wip
  images/hooks/go.mod
Owners: @universal-itengineer

fix linter issues
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
  src/cli/internal/cmd/collectdebuginfo/collectors.go
Owners: @fl64

fix logicx
  src/cli/internal/cmd/collectdebuginfo/collectors.go
Owners: @fl64

add unit tests
  images/virtualization-artifact/pkg/controller/cvi/internal/handler_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/image_presence.go
  images/virtualization-artifact/pkg/controller/cvi/internal/image_presence_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/image_presence.go
  images/virtualization-artifact/pkg/controller/vi/internal/image_presence_test.go
  images/virtualization-artifact/pkg/dvcr/image_checker.go
  images/virtualization-artifact/pkg/dvcr/image_checker_mock.go
  images/virtualization-artifact/pkg/dvcr/image_checker_test.go
Owners: @Isteb4k

add httptest tests
  images/virtualization-artifact/pkg/dvcr/image_checker_test.go
Owners: @Isteb4k

fix linter errors
  images/virtualization-artifact/pkg/controller/cvi/internal/image_presence_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/image_presence_test.go
  images/virtualization-artifact/pkg/dvcr/image_checker_test.go
Owners: @Isteb4k

docs(vdsnapshot): update consistency info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  build/components/versions.yml
Owners: @fl64

chore(test): change images url
  test/e2e/internal/object/const.go
  test/e2e/legacy/testdata/affinity-toleration/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/cvi/cvi-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/vd/vd-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/disk-resizing/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/cvi/cvi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/cvi/cvi-ubuntu-2404-iso.yaml
  test/e2e/legacy/testdata/image-hotplug/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/vi/vi-pvc-alpine-http.yaml
  test/e2e/legacy/testdata/vd-snapshots/vd/vd-ubuntu-http.yaml
  test/e2e/legacy/testdata/vd-snapshots/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-disk-attachment/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-evacuation/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-evacuation/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-label-annotation/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-migration/cvi/cvi-cirros.yaml
  test/e2e/legacy/testdata/vm-migration/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-migration/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-restore-force/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-restore-force/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-restore-safe/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-restore-safe/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-versions/vd/vd-root.yaml
  test/e2e/legacy/testdata/vm-vpc/vi/vi-alpine-http.yaml
Owners: @fl64

fix deps
  api/go.mod
Owners: @fl64

fix deps
  api/go.mod
Owners: @fl64

add workaround for install d8-cli
  .github/actions/install-d8/action.yml
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix name
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

add one more branch
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(ci): install d8 via curl
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

chore(ci): install d8 via curl (#1845)
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

add set-prefix task
  test/e2e/Taskfile.yaml
  test/e2e/internal/object/const.go
  test/e2e/legacy/testdata/affinity-toleration/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/cvi/cvi-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/vd/vd-ubuntu-http.yaml
  test/e2e/legacy/testdata/complex-test/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/disk-resizing/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/cvi/cvi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/cvi/cvi-ubuntu-2404-iso.yaml
  test/e2e/legacy/testdata/image-hotplug/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/image-hotplug/vi/vi-pvc-alpine-http.yaml
  test/e2e/legacy/testdata/vd-snapshots/vd/vd-ubuntu-http.yaml
  test/e2e/legacy/testdata/vd-snapshots/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-disk-attachment/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-evacuation/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-evacuation/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-label-annotation/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-migration/cvi/cvi-cirros.yaml
  test/e2e/legacy/testdata/vm-migration/vi/vi-alpine-http-bios.yaml
  test/e2e/legacy/testdata/vm-migration/vi/vi-alpine-http-uefi.yaml
  test/e2e/legacy/testdata/vm-restore-force/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-restore-force/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-restore-safe/vi/vi-alpine-http.yaml
  test/e2e/legacy/testdata/vm-restore-safe/vi/vi-ubuntu-http.yaml
  test/e2e/legacy/testdata/vm-versions/vd/vd-root.yaml
  test/e2e/legacy/testdata/vm-vpc/vi/vi-alpine-http.yaml
Owners: @fl64
