Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

item 20275
  images/base-alt-p11/werf.inc.yaml
Owners: @universal-itengineer

item 25833
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

item 14518
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

item 2975
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

item 7850
  images/packages/binaries/00/acl/werf.inc.yaml
  images/packages/binaries/00/bzip2/werf.inc.yaml
  images/packages/binaries/00/dmidecode/werf.inc.yaml
  images/packages/binaries/00/dtc/werf.inc.yaml
  images/packages/binaries/00/file/werf.inc.yaml
  images/packages/binaries/00/fuse3/werf.inc.yaml
  images/packages/binaries/00/glib2/werf.inc.yaml
  images/packages/binaries/00/glibc/werf.inc.yaml
  images/packages/binaries/00/gmp/werf.inc.yaml
  images/packages/binaries/00/gnutls/werf.inc.yaml
  images/packages/binaries/00/libattr/werf.inc.yaml
  images/packages/binaries/00/libaudit/werf.inc.yaml
  images/packages/binaries/00/libblkid/werf.inc.yaml
  images/packages/binaries/00/libbrotli/werf.inc.yaml
  images/packages/binaries/00/libbsd/werf.inc.yaml
  images/packages/binaries/00/libburn/werf.inc.yaml
  images/packages/binaries/00/libgcrypt/werf.inc.yaml
  images/packages/binaries/00/libtpms/werf.inc.yaml
  images/packages/binaries/00/lvm2/werf.inc.yaml
  images/packages/binaries/00/nbdkit/werf.inc.yaml
  images/packages/binaries/00/nftables/werf.inc.yaml
  images/packages/binaries/00/numactl/werf.inc.yaml
  images/packages/binaries/00/openssl/werf.inc.yaml
  images/packages/binaries/00/swtpm/werf.inc.yaml
  images/packages/binaries/00/xorriso/werf.inc.yaml
  images/packages/binaries/acl/werf.inc.yaml
Owners: @universal-itengineer

item 30140
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 18691
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 25042
  .werf/defines/process-images.tmpl
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 28823
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 22054
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 5799
  images/packages/binaries/acl/werf.inc.yaml
Owners: @universal-itengineer

item 16993
  .werf/consts.yaml
Owners: @universal-itengineer

item 3654
  .werf/defines/image-digest.tmpl
Owners: @universal-itengineer

item 14953
  .werf/defines/parse-base-images-map.tmpl
Owners: @universal-itengineer

item 22823
  .werf/defines/virtualization-src-artifact.tmpl
Owners: @universal-itengineer

1
  images/dvcr-artifact/pkg/retry/backoff.go
  images/dvcr-artifact/pkg/retry/retry.go
Owners: @Isteb4k

item 25610
  images/packages/werf.inc.yaml
Owners: @universal-itengineer

item 4821
  .werf/defines/process-images.tmpl
  .werf/images.yaml
Owners: @universal-itengineer

item 7252
  .werf/defines/process-images.tmpl
Owners: @universal-itengineer

fix: bump kubevirt to "v1.3.1-v12n.4" (#1222)
  Taskfile.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @fl64, @universal-itengineer

item 14541
  base-images/virtualization_images.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/base-alt-p11/werf.inc.yaml
  werf.yaml
Owners: @fl64, @universal-itengineer

fix titles
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

update cvi images urls
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

update cloud images links
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

update astra user password
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

wip
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(vmrestore): add restoration modes
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

item 14242
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/dtc/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/fuse3/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gmp/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/libattr/werf.inc.yaml
  images/packages/binaries/libaudit/werf.inc.yaml
  images/packages/binaries/libblkid/werf.inc.yaml
  images/packages/binaries/libbrotli/werf.inc.yaml
  images/packages/binaries/libbsd/werf.inc.yaml
  images/packages/binaries/libburn/werf.inc.yaml
  images/packages/binaries/libgcrypt/werf.inc.yaml
  images/packages/binaries/libtpms/werf.inc.yaml
  images/packages/binaries/lvm2/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
Owners: @universal-itengineer

chore(vmbda): add columns with blockdevice kind and name for wide output
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
  crds/virtualmachineblockdeviceattachments.yaml
Owners: @fl64, @z9r5, @goganat

item 21649
  images/hooks/werf.inc.yaml
  werf.yaml
Owners: @universal-itengineer

drop openshift labels
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

bump kubevirt to v1.3.1-v12n.5
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore: bump kubevirt to v1.3.1-v12n.5 (#1231)
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(images): fix names validation for images
  images/virtualization-artifact/pkg/common/validate/validate.go
Owners: @Isteb4k

fix(core): fix kubevirt HA replicas
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix(images): fix names validation for images
  images/virtualization-artifact/pkg/common/validate/validate.go
Owners: @Isteb4k

fix(core): fix kubevirt HA replicas (#1232)
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix(images): fix names validation for images (#1229)
  images/virtualization-artifact/pkg/common/validate/validate.go
Owners: @Isteb4k

chore: refactore the e2e tests to run in parallel
  tests/e2e/Taskfile.yaml
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/config/config.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/testdata/affinity-toleration/vm/base/vm.yaml
  tests/e2e/testdata/affinity-toleration/vmc.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-a-not-b/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-b-not-a/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vm/overlays/vm-c-and-a/vm.vmclass.patch.yaml
  tests/e2e/testdata/complex-test/vmc.yaml
  tests/e2e/testdata/sizing-policy/overlays/existing-vmclass/kustomization.yaml
  tests/e2e/testdata/sizing-policy/vmc.yaml
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

fix(hotplug): nfs
  .github/workflows/dev_module_build.yml
  .werf/images.yaml
  images/virt-handler/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
