Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

test: add sync metadata unit test
  images/virtualization-artifact/pkg/controller/vm/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata_test.go
  test/e2e/legacy/vm_label_annotation.go
Owners: @yaroslavborbat, @fl64

feat(vmsnapshot, vdsnapshot): add d8v prefix to snapshot supplemental resources (#1733)
  images/virtualization-artifact/pkg/controller/service/restorer/secret_restorer.go
  images/virtualization-artifact/pkg/controller/supplements/generator.go
  images/virtualization-artifact/pkg/controller/supplements/generator_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pvc_step.go
Owners: @Isteb4k

fix ngc
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix(vm): patch kvvm.spec.template.metadata on VM metadata changes (#1971)
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata_test.go
  test/e2e/legacy/vm_label_annotation.go
Owners: @Isteb4k, @yaroslavborbat, @fl64

feat(module): add Virtualization Overview dashboard and VM info metric (#1956)
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/virtualmachine/unsafe.go
  monitoring/grafana-dashboards/virtualization/cluster-overview.json
  monitoring/grafana-dashboards/virtualization/propagated-vm.json
  monitoring/grafana-dashboards/virtualization/propagated-vms.json
Owners: @Isteb4k, @fl64

test: add e2e test for VirtualDisk provisioning from VirtualImage on PVC (#1985)
  test/e2e/blockdevice/virtual_disk_provisioning.go
Owners: @fl64

remove parentheses
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

change parentheses
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix bb-sync
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix parentheses
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

fix not
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

more parentheses
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

chore(cli): enhance VMOP help in D8 CLI
  src/cli/internal/cmd/lifecycle/lifecycle.go
Owners: @fl64

Update src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
Owners: @fl64

chore(ci): fix NodeGroupConfiguration for DVCR (#1966)
  templates/dvcr/nodegroupconfiguration.yaml
Owners: @fl64

chore(cli): enhance VMOP help in D8 CLI (#1991)
  src/cli/internal/cmd/lifecycle/lifecycle.go
Owners: @fl64

chore(cli): enhance VMOP help in D8 CLI (#1991)
  src/cli/internal/cmd/lifecycle/lifecycle.go
Owners: @fl64

Backport: chore(cli): enhance VMOP help in D8 CLI (#1993)
  src/cli/internal/cmd/lifecycle/lifecycle.go
Owners: @fl64

docs: add release notes for v1.4.1
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: delete duplicate CVE fixes in v1.5.0
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.4.1 (#1996)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Re-generate changelog v1.4.1
  CHANGELOG/CHANGELOG-v1.4.1.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

docs: add release notes for v1.5.1
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Apply suggestion from @prismagod
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Apply suggestion from @prismagod
  docs/RELEASE_NOTES.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.1 (#1995)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.5.1 (#1995)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add release notes for v1.4.1 (#1996)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

fix(dvcr): set Cap value for default backoff in dvcr importer
  images/dvcr-artifact/pkg/retry/backoff.go
  images/dvcr-artifact/pkg/retry/retry.go
Owners: @Isteb4k

Re-generate changelog v1.5.1
  CHANGELOG/CHANGELOG-v1.5.1.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

docs: add release notes for v1.4.1 (#1996)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Changelog v1.4.1 (#1990)
  CHANGELOG/CHANGELOG-v1.4.1.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Changelog v1.4.1 (#1990)
  CHANGELOG/CHANGELOG-v1.4.1.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Backport: Changelog v1.4.1 (#1997)
  CHANGELOG/CHANGELOG-v1.4.1.yml
  CHANGELOG/CHANGELOG-v1.4.md
Owners: @fl64

Changelog v1.5.1 (#1989)
  CHANGELOG/CHANGELOG-v1.5.1.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

Changelog v1.5.1 (#1989)
  CHANGELOG/CHANGELOG-v1.5.1.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

Backport: Changelog v1.5.1 (#1998)
  CHANGELOG/CHANGELOG-v1.5.1.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

fix(vm): retain network annotation during metadata sync
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata_test.go
Owners: @yaroslavborbat

chore(vmbda): add message when vd/vi/cvi stuck in Terminating state
  images/virtualization-artifact/pkg/controller/vmbda/internal/block_device_ready.go
Owners: @Isteb4k

fix(vm): retain kvvm.spec.template.metadata during vm.metadata sync (#1994)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_metadata_test.go
Owners: @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
