Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

refactorig cvi watchers
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix empty ns
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

up go version dockerfile
  images/virtualization-artifact/hack/dlv-controller.Dockerfile
Owners: @Isteb4k

revert one line
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
Owners: @Isteb4k

test
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

fix rebase
  tests/e2e/default_config.yaml
Owners: @hardcoretime

fix(images): disable false positive error logs about not ready datasource (#1050)
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  tests/e2e/default_config.yaml
Owners: @Isteb4k, @hardcoretime

change GitPath to PreffixPath
  .werf/defines/helpers.tmpl
  .werf/defines/process-packages-images.tmpl
  images/base-alt-p11-binaries/werf.inc.yaml
  images/bounder/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-cloner/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/hooks/werf.inc.yaml
  images/kube-api-rewriter/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/pre-delete-hook/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/werf.inc.yaml
  images/vm-route-forge/werf.inc.yaml
Owners: @universal-itengineer

integrate svace into ci
  .github/workflows/dev_module_build.yml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/base-alt-p11-svace/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Owners: @universal-itengineer

change build action version
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add testing branch
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix build svace enabled input
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix source repo
  images/base-alt-p11-svace/werf.inc.yaml
Owners: @universal-itengineer

fix known hosts
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix analyze run condition
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix ci
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

improve svace project structure
  .github/workflows/dev_module_build.yml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix project name
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

decrease build artifact size
  .werf/defines/image-build.tmpl
Owners: @universal-itengineer

fix svace dev build condition
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

change svace_enabled input to boolean
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix trigger event
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fake commit
  .werf/defines/image-build.tmpl
Owners: @universal-itengineer

fix comment line
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix indentation
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(module): fix typo
  monitoring/prometheus-rules/vm.state.yaml
Owners: @fl64

fix(moduel): fix vm, vmop alerts (#1079)
  monitoring/prometheus-rules/vm.state.yaml
  monitoring/prometheus-rules/vm.yaml
  monitoring/prometheus-rules/vmop.state.yaml
  monitoring/prometheus-rules/vmop.yaml
Owners: @fl64

Re-generate changelog v0.19.0
  CHANGELOG/CHANGELOG-v0.19.0.yml
  CHANGELOG/CHANGELOG-v0.19.md
Owners: @fl64

fix: review
  images/virtualization-artifact/pkg/controller/vmclass/internal/watcher/node_watcher.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_reconciler.go
Owners: @Isteb4k

chore(core): set migrations defatults
  images/hooks/cmd/discovery-workload-nodes/main.go
  images/hooks/werf.inc.yaml
  openapi/values.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

change image name for packages
  .werf/defines/process-packages-images.tmpl
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
Owners: @universal-itengineer

fix cdi-artifact beforeInstall
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix commit values
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

Apply suggestions from code review
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
