Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

nbd-server
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/qemu-system-x86_64
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove glibc
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

add libs to cdi
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/elf2dmp
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove selinux as it is in qemu-img
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

move libvirt to packages
  images/packages/libvirt/patches/001-disable-ro-and-admin-servers.patch
  images/packages/libvirt/patches/002-auth-pid-restriction.patch
  images/packages/libvirt/patches/002-treat-getpeercon-eintval-as-success.patch
  images/packages/libvirt/patches/README.md
  images/packages/libvirt/werf.inc.yaml
  images/packages/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

nbdcopy
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

selinux
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

nbdfuse
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

comment out elf2dmp
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

libunistring
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

qemu-nbd
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

qemu-pr-helper
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add import
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add glibc to pcre2
  images/packages/pcre2/werf.inc.yaml
Owners: @universal-itengineer

selinux
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove slash
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

tree
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

remove glibc from dvcr-artifact
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

certtool
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

/usr/bin/file
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

move pcre2 to relocate
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

remove selinux from cdi
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

node-labeller
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove pcre2
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

libunistring
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

remove lxc.h
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

remove sqlite
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

remove debug commits
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix removal of packages
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

move file removal from install-libvirt.sh to werf.inc.yaml
  images/packages/libvirt/werf.inc.yaml
Owners: @universal-itengineer

resolve comments
  build/components/versions.yml
  images/packages/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

update toleration example
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Add info about ability to use tolerations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: fix rebalancing
  docs/ADMIN_GUIDE.md
Owners: @fl64, @z9r5, @goganat

add dvcr sc change info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

update
  docs/ADMIN_GUIDE.md
Owners: @fl64, @z9r5, @goganat

Added a warning about the independence of network policies and additional network interfaces
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: fix guest agent
  docs/ADMIN_GUIDE.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
