Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

add vm info
  images/virtualization-artifact/pkg/controller/vm/internal/migrating.go
Owners: @yaroslavborbat

kvvmim quota exceeded problem trancieve
  api/core/v1alpha2/events.go
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/watcher/migration.go
Owners: @fl64, @Isteb4k

refactoring synchronized check
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/kvvm_watcher.go
Owners: @Isteb4k, @yaroslavborbat

do not break phase
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
Owners: @yaroslavborbat

map phases
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
Owners: @yaroslavborbat

refactoring
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
Owners: @Isteb4k

Add SELinux type container_t to InternalVirtualizationKubeVirt
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

fix cves
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/hooks/go.mod
  images/hooks/go.sum
  images/kube-api-rewriter/go.mod
  images/kube-api-rewriter/go.sum
  images/pre-delete-hook/go.mod
  images/pre-delete-hook/go.sum
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @universal-itengineer, @Isteb4k, @diafour, @yaroslavborbat

fix
  images/pre-delete-hook/go.mod
  images/pre-delete-hook/go.sum
Owners: @universal-itengineer

tcdi
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

++ fix errorf
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
Owners: @Isteb4k

++ reword message
  images/virtualization-artifact/pkg/controller/service/virtual_machine_class_service.go
Owners: @Isteb4k

++ upgrade module-skd to 0.3.3
  images/hooks/go.mod
  images/hooks/go.sum
Owners: @universal-itengineer

Revert "++ upgrade module-skd to 0.3.3"
  images/hooks/go.mod
  images/hooks/go.sum
Owners: @universal-itengineer

feat(core): add feature gates (#1315)
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/featuregates/featuregate.go
  images/virtualization-artifact/pkg/featuregates/featuregate_test.go
  templates/virtualization-controller/_helpers.tpl
  templates/virtualization-controller/deployment.yaml
Owners: @Isteb4k, @yaroslavborbat, @fl64

chore(core): fix CVE-2025-22868 (#1322)
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/hooks/go.mod
  images/hooks/go.sum
  images/kube-api-rewriter/go.mod
  images/kube-api-rewriter/go.sum
  images/pre-delete-hook/go.mod
  images/pre-delete-hook/go.sum
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @universal-itengineer, @Isteb4k, @diafour, @yaroslavborbat

add exporting phase
  api/core/v1alpha2/vdcondition/condition.go
  api/core/v1alpha2/virtual_disk.go
  crds/doc-ru-virtualdisks.yaml
  crds/virtualdisks.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pvc_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vd): Add `Exporting` phase and new conditions to `VirtualDisk` status (#1256)
  api/core/v1alpha2/vdcondition/condition.go
  api/core/v1alpha2/virtual_disk.go
  crds/doc-ru-virtualdisks.yaml
  crds/virtualdisks.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pvc_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix
  images/pre-delete-hook/werf.inc.yaml
  images/virt-launcher/node-labeller/go.mod
  images/virt-launcher/vlctl/go.mod
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore(core): fix CVE-2025-22868 (#1322)
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/hooks/go.mod
  images/hooks/go.sum
  images/kube-api-rewriter/go.mod
  images/kube-api-rewriter/go.sum
  images/pre-delete-hook/go.mod
  images/pre-delete-hook/go.sum
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @universal-itengineer, @Isteb4k, @diafour, @yaroslavborbat

Backport: chore(core): fix CVE-2025-22868 (#1325)
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/hooks/go.mod
  images/hooks/go.sum
  images/kube-api-rewriter/go.mod
  images/kube-api-rewriter/go.sum
  images/pre-delete-hook/go.mod
  images/pre-delete-hook/go.sum
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/vlctl/go.mod
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @universal-itengineer, @Isteb4k, @diafour, @yaroslavborbat

add maintenance
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

fix(audit): improve VM Access message (#1313)
  images/virtualization-artifact/pkg/audit/events/vm/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_access_test.go
Owners: @Isteb4k

Re-generate changelog v0.24.0
  CHANGELOG/CHANGELOG-v0.24.0.yml
  CHANGELOG/CHANGELOG-v0.24.md
Owners: @fl64

fix(audit): improve VM Access message (#1313)
  images/virtualization-artifact/pkg/audit/events/vm/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_access_test.go
Owners: @Isteb4k

Backport: fix(audit): improve VM Access message (#1326)
  images/virtualization-artifact/pkg/audit/events/vm/vm_access.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_access_test.go
Owners: @Isteb4k

chore(ci): build libcap
  component_versions/version_map.yml
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix gitRepoUrl
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): drop transient image base-alt-p11, use builder/alt directly (#1282)
  images/base-alt-p11/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

feat: add restore to crd
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

feat: remove unused util
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/util.go
Owners: @Isteb4k

feat: add restore vmop
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restore.go
Owners: @fl64, @Isteb4k

feat: add step for vmop restore
  images/virtualization-artifact/pkg/common/steptaker/runner.go
  images/virtualization-artifact/pkg/controller/vmop/internal/deletion_test.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle_test.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/migrate.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restart.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/start.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/stop.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/interfaces.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_stop.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_reconciler.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

feat: rename steps, add utils
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/dryrun_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_step.go
Owners: @Isteb4k

feat: update restore
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/errors.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/overrider.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/provisioner_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vd_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vmbda_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restorer/vmip_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

chore: add copyright
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
Owners: @Isteb4k

feat: remove unused
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/restore.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/util.go
  images/virtualization-artifact/pkg/controller/vmop/internal/snapshot/step/vm_step.go
Owners: @Isteb4k

tree after make install
  images/packages/binaries/libcap/werf.inc.yaml
Owners: @universal-itengineer

fix(vi): validate storage class
  images/virtualization-artifact/pkg/controller/moduleconfig/moduleconfig_webhook.go
  images/virtualization-artifact/pkg/controller/moduleconfig/vi_storageclass_validator.go
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

feat(vd): Add `Exporting` phase and new conditions to `VirtualDisk` status (#1256)
  api/core/v1alpha2/vdcondition/condition.go
  api/core/v1alpha2/virtual_disk.go
  crds/doc-ru-virtualdisks.yaml
  crds/virtualdisks.yaml
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vd/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/create_pvc_step.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k
