Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix: disable TLS
  images/virtualization-artifact/cmd/virtualization-audit/app/app.go
Owners: @Isteb4k

add review fixes
  images/hooks/cmd/005-remove-host-passthrough-vmc/main.go
  images/hooks/go.mod
  images/hooks/go.sum
Owners: @universal-itengineer

change patch name
  images/hooks/cmd/005-remove-host-passthrough-vmclass/main.go
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

rename to prevent-default-vmclasses-deletion
  images/hooks/cmd/005-prevent-default-vmclasses-deletion/main.go
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

delete host vmclass
  templates/virtualization-controller/vmclasses-default.yaml
Owners: @fl64

docs(module): module settings
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/INSTALL_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): migrations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): add diag info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update user guide
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update win install
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

docs(module): update livemigraion
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update storages
  docs/INSTALL.md
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update readme
  docs/README.md
  docs/README_RU.md
  docs/images/cases.dkp.drawio
  docs/images/cases.dkp.png
  docs/images/cases.dkp.ru.png
  docs/images/vm.drawio
  docs/images/vm.png
  docs/images/vm.ru.png
Owners: @fl64, @z9r5, @goganat

docs(module): update install
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

docs(module): update flow
  docs/INSTALL.md
  docs/INSTALL_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): exclude drawio
  werf.yaml
Owners: @universal-itengineer

docs(module): update install
  docs/INSTALL.md
  docs/INSTALL_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): vm lifecycle
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/ADMIN_GUIDE.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/ADMIN_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix vd phases
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

docs(module): migrations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update SC
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): vm lifecycle
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
  docs/images/vm-lifecycle.drawio
  docs/images/vm-lifecycle.png
  docs/images/vm-lifecycle.ru.png
Owners: @fl64, @z9r5, @goganat

docs(module): fix
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): add subnet info
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

docs: Minor fixes
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/CHARACTERISTICS_DESCRIPTION.ru.md
  docs/CONFIGURATION.ru.md
  docs/CR.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
  docs/README.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  docs/internal/cpu_cores_count.ru.md
  docs/internal/dvcr_cleaner.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update image info
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update cpu topology
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update cpu topology
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix image name
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/INSTALL_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update links
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

docs(module): update flow
  docs/INSTALL.md
  docs/INSTALL_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): migrations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  docs/images/migration.drawio
  docs/images/migration.png
  docs/images/migration.ru.png
Owners: @fl64, @z9r5, @goganat

docs(module): fix
  docs/images/migration.drawio
  docs/images/migration.png
  docs/images/migration.ru.png
Owners: @fl64, @z9r5, @goganat

docs(module): migrations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
