Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

Update images/packages/lz4/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

clean krb5
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

xz dynamic
  images/packages/file/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

fox capture
  images/packages/krb5/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

t
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

lzo && lz4
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Update images/cdi-importer/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

virt-launcher fix
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

qemu fix
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix qemu build
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/krb5/werf.inc.yaml
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

lzo dynamic
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

file refactoring
  images/packages/file/werf.inc.yaml
Owners: @universal-itengineer

add params
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

fix krb5
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

change readme
  images/packages/lz4/README.md
  images/packages/lzo/README.md
  images/packages/xz/README.md
Owners: @universal-itengineer

try to libdir
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

change krb5 tree
  images/packages/krb5/README.md
Owners: @universal-itengineer

openldap dynamic
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

virt-launcher fix
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

update readme output
  images/packages/krb5/README.md
  images/packages/lz4/README.md
  images/packages/lzo/README.md
  images/packages/xz/README.md
Owners: @universal-itengineer

ttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

improve tree output
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

build build build
  images/cdi-importer/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
Owners: @universal-itengineer

update lz4 readme
  images/packages/lz4/README.md
Owners: @universal-itengineer

thin images
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

ttt
  images/packages/file/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

pre
  build/components/versions.yml
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @fl64, @universal-itengineer

remove not used
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/lz4/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

fox fox fox
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

update lz4 readme
  images/packages/lz4/README.md
Owners: @universal-itengineer

update readme
  images/packages/krb5/README.md
Owners: @universal-itengineer

fix libcurl
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/xz/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

tttt
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

Update images/packages/lz4/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
Owners: @universal-itengineer

back cdi-importer
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

remove ldap duplicate
  build/components/versions.yml
Owners: @fl64
