Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix watchers
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/virtualdisk_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/virdualdisk_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

fix vi vd watcher
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/virdualdisk_watcher.go
Owners: @Isteb4k

fix finalizers logic
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
Owners: @Isteb4k

fix vi/cvi working with vm in terminating phase
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
Owners: @yaroslavborbat

fix vmbda watching
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vmbda_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

add acl to relocate
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

change cp -af to cp -a
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add libisofs
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

++ remove unsued extraheaders settings for dvcr-importer and dvcr-uploader ++ add virt-launcher
  images/cdi-apiserver/mount-points.yaml
  images/cdi-cloner/mount-points.yaml
  images/cdi-controller/mount-points.yaml
  images/cdi-importer/mount-points.yaml
  images/cdi-operator/mount-points.yaml
  images/distroless/werf.inc.yaml
  images/dvcr-importer/mount-points.yaml
  images/dvcr-uploader/mount-points.yaml
  images/dvcr/mount-points.yaml
  images/kube-api-rewriter/mount-points.yaml
  images/virt-api/mount-points.yaml
  images/virt-controller/mount-points.yaml
  images/virt-handler/mount-points.yaml
  images/virt-launcher/mount-points.yaml
  images/virt-operator/mount-points.yaml
  images/virtualization-api/mount-points.yaml
  images/virtualization-artifact/pkg/common/consts.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/importer/settings.go
  images/virtualization-artifact/pkg/controller/uploader/settings.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
  images/virtualization-audit/mount-points.yaml
  images/virtualization-controller/mount-points.yaml
Owners: @universal-itengineer, @diafour, @Isteb4k

++ add mount points template to virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): add build for tag like major.minor.patch-rc.num
  .github/workflows/dev_module_build-and-registration.yml
Owners: @universal-itengineer

chore(ci): add build for tag like major.minor.patch-rc.num (#1401)
  .github/workflows/dev_module_build-and-registration.yml
Owners: @universal-itengineer

chore(core): build libs (#1371)
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libblkid/README.md
  images/packages/libffi/README.md
  images/packages/libffi/werf.inc.yaml
  images/packages/libgmp/README.md
  images/packages/libgmp/werf.inc.yaml
  images/packages/libmnl/README.md
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/README.md
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/README.md
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/util-linux/README.md
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/src-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer, @fl64

chore(core): build libs (#1371)
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libblkid/README.md
  images/packages/libffi/README.md
  images/packages/libffi/werf.inc.yaml
  images/packages/libgmp/README.md
  images/packages/libgmp/werf.inc.yaml
  images/packages/libmnl/README.md
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/README.md
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/README.md
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/util-linux/README.md
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/src-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer, @fl64

Backport: chore(core): build libs (#1402)
  .werf/defines/images.tmpl
  build/components/versions.yml
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/install-libvirt.sh
  images/libvirt/werf.inc.yaml
  images/packages/e2fsprogs/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libblkid/README.md
  images/packages/libffi/README.md
  images/packages/libffi/werf.inc.yaml
  images/packages/libgmp/README.md
  images/packages/libgmp/werf.inc.yaml
  images/packages/libmnl/README.md
  images/packages/libmnl/werf.inc.yaml
  images/packages/libnbd/README.md
  images/packages/libnbd/werf.inc.yaml
  images/packages/multipath-tools/README.md
  images/packages/multipath-tools/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
  images/packages/util-linux/README.md
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/src-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer, @fl64

wip
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/datavolume_watcher.go
Owners: @Isteb4k

fix(core): handle finalizer race condition gracefully (#1373)
  images/virtualization-artifact/pkg/controller/reconciler/reconciler.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
Owners: @Isteb4k

fox capture
  images/packages/krb5/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

static and readme
  images/packages/krb5/README.md
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/README.md
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/README.md
  images/packages/lzo/werf.inc.yaml
  images/packages/openldap/README.md
  images/packages/openldap/werf.inc.yaml
  images/packages/xz/README.md
  images/packages/xz/werf.inc.yaml
Owners: @universal-itengineer

pre
  build/components/versions.yml
  images/packages/krb5/werf.inc.yaml
  images/packages/lz4/werf.inc.yaml
  images/packages/lzo/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
  images/packages/xz/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix versions
  build/components/versions.yml
Owners: @fl64

fox fox fox
  images/packages/lz4/werf.inc.yaml
  images/packages/openldap/werf.inc.yaml
Owners: @universal-itengineer

dynamic liblz4
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

xz dynamic
  images/packages/file/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

lzo, lz4, libkrb5, openldap, xz use
  images/packages/krb5/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

lzo && lz4
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

ttt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

qemu fix
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

tttt
  images/packages/libcurl/werf.inc.yaml
  images/packages/libgsasl/werf.inc.yaml
Owners: @universal-itengineer

ttt
  images/packages/file/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

lzo dynamic
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

openldap dynamic
  images/packages/libcurl/werf.inc.yaml
  images/packages/openldap/README.md
  images/packages/openldap/werf.inc.yaml
Owners: @universal-itengineer

test: create namespace before apply operation
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/default_config.yaml
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/ipam_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
  tests/e2e/vm_version_test.go
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

build build build
  images/cdi-importer/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/libnbd/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

test: create namespace before apply operation (#1403)
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/default_config.yaml
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/ipam_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_restore_force_test.go
  tests/e2e/vm_restore_safe_test.go
  tests/e2e/vm_version_test.go
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

tests: fix vpc e2e test
  tests/e2e/testdata/vm-vpc/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/clusternetwork.yaml
  tests/e2e/testdata/vm-vpc/network/kustomization.yaml
  tests/e2e/testdata/vm-vpc/network/network-class.yaml
  tests/e2e/testdata/vm-vpc/network/network.yaml
  tests/e2e/testdata/vm-vpc/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/cfg/cloudinit-bar.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/vd-bar-root.yaml
  tests/e2e/testdata/vm-vpc/vm-bar/vm-bar.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/cfg/cloudinit-foo.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/kustomization.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/transformer.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/vd-foo-root.yaml
  tests/e2e/testdata/vm-vpc/vm-foo/vm-foo.yaml
  tests/e2e/testdata/vm-vpc/vm/cfg/cloudinit.yaml
  tests/e2e/testdata/vm-vpc/vm/vd-blank.yaml
  tests/e2e/vm_vpc_test.go
Owners: @hardcoretime

add sc migration
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(api): add info about vpc and vmmac/vmmacl in USER_GUIDE
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

add local disks migration
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
