Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

docs/module/add-ui-examples: add ui examples for user ru
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for user ru
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix: manual setup context with kubeclient for commands
  src/cli/pkg/command/virtualization.go
Owners: @fl64

fix: refactor console and vnc for better consistency
  src/cli/go.mod
  src/cli/internal/cmd/console/console.go
  src/cli/internal/cmd/vnc/vnc.go
  src/cli/internal/util/console.go
  src/cli/internal/util/consts.go
Owners: @fl64

chore: remove 'via' from user message
  src/cli/internal/cmd/console/console.go
  src/cli/internal/cmd/vnc/vnc.go
Owners: @fl64

fix(test): Fuzzing testing fail concurrent
  images/dvcr-artifact/fuzz.sh
  images/dvcr-artifact/pkg/fuzz/http.go
  images/dvcr-artifact/pkg/uploader/uploader.go
Owners: @Isteb4k

bump
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

feat: bump kubevirt to tag v1.3.1-v12n.8 (#1287)
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

Update crds/doc-ru-virtualmachines.yaml
  crds/doc-ru-virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachines.yaml
  crds/doc-ru-virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

feat(vm): add vpc
  crds/doc-ru-virtualmachines.yaml
  images/virtualization-artifact/pkg/common/network/network.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

Update images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
Owners: @yaroslavborbat

Update crds/virtualmachines.yaml
  crds/virtualmachines.yaml
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples (#1270)
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

refactor: improve gc
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/fake.go
  images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/gc_controller.go
  images/virtualization-artifact/pkg/controller/gc/gc_reconciler.go
  images/virtualization-artifact/pkg/controller/gc/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
Owners: @Isteb4k, @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/gc/cron_source_test.go
  images/virtualization-artifact/pkg/controller/gc/fake.go
  images/virtualization-artifact/pkg/controller/gc/filter.go
  images/virtualization-artifact/pkg/controller/gc/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/gc.go
  images/virtualization-artifact/pkg/controller/vmop/gc.go
Owners: @Isteb4k, @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/workload-updater/internal/watcher/vm.go
Owners: @Isteb4k

fix(vm): Add react on create virtual machine event for WorkloadUpdater controller (#1293)
  images/virtualization-artifact/pkg/controller/workload-updater/internal/watcher/vm.go
Owners: @Isteb4k

fix(vd): fail with error on insufficient PVC size
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_cvi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
Owners: @Isteb4k

fix(vmrestore): restore `AlwaysOn` vm with `forced` mode
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vm_restorer.go
Owners: @Isteb4k

restart kvvm if unscheduble
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(observability): virtualization audit dashboard
  monitoring/grafana-dashboards/virt-audit.json
Owners: @fl64

fix(module): base64 encoding for custom certificate Secret template
  templates/custom-certificate.yaml
Owners: @fl64

test(vmrestore): add `AlwaysOn` test case
  tests/e2e/testdata/vm-restore-force/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists-always-on/kustomization.yaml
  tests/e2e/vm_restore_force_test.go
Owners: @hardcoretime

feat(vm): add vpc
  images/virtualization-artifact/pkg/common/mac/mac.go
  images/virtualization-artifact/pkg/common/mac/mac_test.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  tests/e2e/vm_vpc_test.go
Owners: @Isteb4k, @yaroslavborbat, @hardcoretime

chore: pty experiment
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): fix networks validator
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @yaroslavborbat

fix(vm): fix networks validator
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
Owners: @yaroslavborbat

fix(vm): fix networks validator (#1299)
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/networks_validator_test.go
Owners: @yaroslavborbat

fix(vmrestore): change condition in runPolicy updating
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
Owners: @Isteb4k

fix(vmrestore): restore `AlwaysOn` vm with `forced` mode (#1294)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/restorer/vm_restorer.go
  tests/e2e/testdata/vm-restore-force/vm/kustomization.yaml
  tests/e2e/testdata/vm-restore-force/vm/overlays/vm-exists-always-on/kustomization.yaml
  tests/e2e/vm_restore_force_test.go
Owners: @Isteb4k, @hardcoretime

Re-generate changelog v0.23.1
  CHANGELOG/CHANGELOG-v0.23.1.yml
  CHANGELOG/CHANGELOG-v0.23.md
Owners: @fl64

fix(vd): improve virtual disk protection logic during deletion
  images/virtualization-artifact/pkg/controller/vd/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vd/internal/protection.go
Owners: @Isteb4k

fix(vd): improve virtual disk protection logic during deletion
  images/virtualization-artifact/pkg/controller/vd/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vd/internal/protection.go
Owners: @Isteb4k

Remove RequeueAfter
  images/virtualization-artifact/pkg/controller/vd/internal/deletion.go
Owners: @Isteb4k

fix(ci): add liveness and readiness probes
  .dmtlint.yaml
  templates/cdi/cdi-operator/deployment.yaml
  templates/kube-api-rewriter/_sidecar_helpers.tpl
  templates/kube-rbac-proxy/_helpers.tpl
  templates/kubevirt/virt-operator/deployment.yaml
  templates/virtualization-api/deployment.yaml
  templates/virtualization-controller/deployment.yaml
Owners: @fl64

User String()
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
Owners: @Isteb4k

Format
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle_test.go
Owners: @Isteb4k

fix(vd): improve Ready condition for missing VirtualImage references
  api/core/v1alpha2/vdcondition/condition.go
  images/virtualization-artifact/pkg/controller/vd/internal/datasource_ready.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
Owners: @fl64, @Isteb4k
