Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

chore(module): fix certificates.cert-manager.io CRD path
  tools/kubeconform/kubeconform.sh
Owners: @fl64

docs: update subnet info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: fix data export
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore(module): fix certificates.cert-manager.io CRD path (#1919)
  tools/kubeconform/kubeconform.sh
Owners: @fl64

docs: add bootloader and ostype info
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix(vmop): fix CEL validation
  api/core/v1alpha2/virtual_machine_operation.go
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

feat(vm): add target migration
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vm): fix linter warnings
  test/e2e/vm/target_migration.go
Owners: @fl64

feat(vm): add target migration to `d8 v`
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
  src/cli/internal/cmd/lifecycle/evict.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/migrate.go
  src/cli/internal/cmd/lifecycle/start.go
  src/cli/internal/cmd/lifecycle/stop.go
  src/cli/internal/cmd/lifecycle/vmop/vmop.go
  src/cli/pkg/command/virtualization.go
Owners: @Isteb4k, @fl64

feat(vm): fix linter warnings and crd descriptions
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/builder/vm/option.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vm): add target migration e2e test
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/migrate.go
  test/e2e/vm/target_migration.go
Owners: @Isteb4k, @fl64

feat(vm): change docs and split unit tests by edition
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
  images/virtualization-artifact/Taskfile.yaml
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle_test.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/vmop/vmop.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vm): resolve review comments
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
  test/e2e/internal/object/vd.go
  test/e2e/internal/object/vm.go
  test/e2e/vm/target_migration.go
Owners: @Isteb4k, @fl64

feat(vm): change target migration feature
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_webhook.go
  images/virtualization-artifact/pkg/featuregates/featuregate.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/migrate.go
  src/cli/internal/cmd/lifecycle/vmop/vmop.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

improve e2e context
  test/e2e/vm/target_migration.go
Owners: @fl64

feat(vm): add target migration unit test
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/handler/lifecycle_test.go
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/migrate.go
  test/e2e/vm/target_migration.go
Owners: @Isteb4k, @fl64

year's fix
  src/cli/internal/cmd/lifecycle/migrate.go
  test/e2e/vm/target_migration.go
Owners: @fl64

docs: merge suggestion
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

feat(vm): add force opt to target migration
  api/core/v1alpha2/virtual_machine_operation.go
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

feat(vmop): optimize vmop builder option
  images/virtualization-artifact/pkg/builder/vmop/option.go
Owners: @Isteb4k

feat(vm): add new field migrate.nodeName
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

feat(vm): resolve review comments
  api/core/v1alpha2/virtual_machine_operation.go
  crds/virtualmachineoperations.yaml
  images/virtualization-artifact/pkg/controller/vmop/migration/internal/service/migration.go
  src/cli/go.mod
  src/cli/go.sum
  src/cli/internal/cmd/lifecycle/lifecycle.go
  src/cli/internal/cmd/lifecycle/vmop/vmop.go
  test/e2e/internal/object/vm.go
  test/e2e/internal/rewrite/types.go
  test/e2e/vm/target_migration.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

doc(vm): add target migration
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

doc(vm): improve target migration section
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix crd descriptions
  api/core/v1alpha2/virtual_machine_operation.go
  crds/doc-ru-virtualmachineoperations.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

docs: add more info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs: add events
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore(ci): remove selinux ngc
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

chore(module): add bounder to svace analyze process
  images/bounder/werf.inc.yaml
Owners: @universal-itengineer

fix(vmsnapshot): set phase to Pending on SyncFSFreezeRequest errors
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

++ proper names for alt packages
  images/bounder/werf.inc.yaml
Owners: @universal-itengineer

update gen
  api/client/generated/clientset/versioned/typed/core/v1alpha2/core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_nodeusbdevice.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/nodeusbdevice.go
  api/client/generated/informers/externalversions/core/v1alpha2/interface.go
  api/client/generated/informers/externalversions/core/v1alpha2/nodeusbdevice.go
  api/client/generated/informers/externalversions/generic.go
  api/client/generated/listers/core/v1alpha2/expansion_generated.go
  api/client/generated/listers/core/v1alpha2/nodeusbdevice.go
  api/core/v1alpha2/node_device_usb.go
  api/core/v1alpha2/nodeusbdevicecondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/scripts/update-codegen.sh
  crds/nodeusbdevices.yaml
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add controller
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/node_device_usb.go
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_controller.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/nodeusbdevice_reconciler.go
Owners: @fl64, @Isteb4k

fix errors
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  templates/virtualization-api/rbac-for-us.yaml
Owners: @yaroslavborbat, @fl64

upd
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
Owners: @Isteb4k

add USBDevice controller
  api/client/generated/clientset/versioned/typed/core/v1alpha2/core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_core_client.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/fake/fake_usbdevice.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/generated_expansion.go
  api/client/generated/clientset/versioned/typed/core/v1alpha2/usbdevice.go
  api/client/generated/informers/externalversions/core/v1alpha2/interface.go
  api/client/generated/informers/externalversions/core/v1alpha2/usbdevice.go
  api/client/generated/informers/externalversions/generic.go
  api/client/generated/listers/core/v1alpha2/expansion_generated.go
  api/client/generated/listers/core/v1alpha2/usbdevice.go
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/register.go
  api/core/v1alpha2/usb_device.go
  api/core/v1alpha2/usbdevicecondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/scripts/update-codegen.sh
  crds/usbdevices.yaml
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/attached.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/ready.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/state/state.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/sync.go
  images/virtualization-artifact/pkg/controller/usbdevice/internal/watcher/nodeusbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_controller.go
  images/virtualization-artifact/pkg/controller/usbdevice/usbdevice_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add test
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler_test.go
Owners: @yaroslavborbat

add vm usb plug/unplug
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vm/internal/state/state.go
  images/virtualization-artifact/pkg/controller/vm/internal/usb_device_handler.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/usbdevice_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

check if exist
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/assigned.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/discovery.go
  images/virtualization-artifact/pkg/controller/nodeusbdevice/internal/watcher/resourceslice_watcher.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/usbdevice/internal/deletion_test.go
Owners: @Isteb4k
