Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix(vm): prevent a false "Restart Required" condition when restarting the VM (#1910)
  images/virtualization-artifact/pkg/common/vm/vm.go
  images/virtualization-artifact/pkg/controller/vm/internal/service/migration_volumes.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @Isteb4k, @yaroslavborbat

fix(ci): check released versions
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

chore(ci): fix checkout sha in svace
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix(ci): check released versions (#1931)
  .github/workflows/release_module_release-channels.yml
Owners: @universal-itengineer

Re-generate changelog v1.5.0
  CHANGELOG/CHANGELOG-v1.5.0.yml
  CHANGELOG/CHANGELOG-v1.5.md
Owners: @fl64

fix(core): cse fix group priority api server to 999
  templates/virtualization-api/apiserver.yaml
Owners: @fl64

tst fix kubeconf
  tools/kubeconform/kubeconform.sh
Owners: @fl64

fix(core): cse fix group priority api server to 999 (#1933)
  templates/virtualization-api/apiserver.yaml
  tools/kubeconform/kubeconform.sh
Owners: @fl64

chore(ci): modify e2e-tests-nested report name
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix(vmop): make Clone operation compatible with wffc disks (#1926)
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
Owners: @Isteb4k

chore(ci): fix checkout sha in svace (#1932)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

chore(ci): modify e2e-tests-nested report name (#1934)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add wireguard
  images/virtualization-dra/internal/usb-gateway/informer/informer.go
Owners: @universal-itengineer

add wireguard
  templates/virtualization-dra-usb-gateway/daemonset.yaml
Owners: @fl64

add wireguard
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/pkg/wireguard/controller.go
Owners: @universal-itengineer

add wireguard
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/pkg/wireguard/controller.go
  images/virtualization-dra/pkg/wireguard/ready.go
Owners: @universal-itengineer

add wireguard
  crds/embedded/wireguardsystemnetworks.yaml
  images/virtualization-dra/api/v1alpha1/sheme.go
  images/virtualization-dra/api/v1alpha1/wireguardsystemnetwork.go
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/pkg/wireguard/allocate.go
  images/virtualization-dra/pkg/wireguard/controller.go
  images/virtualization-dra/pkg/wireguard/wireguard.go
  templates/virtualization-dra-usb-gateway/daemonset.yaml
Owners: @fl64, @z9r5, @goganat, @universal-itengineer

add wireguard
  images/virtualization-dra/pkg/wireguard/controller.go
Owners: @universal-itengineer

feat: add virtualmacine label to d8_virtualization_virtualmachineoperation_status_phase metric
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/metrics.go
Owners: @Isteb4k

Update descriptions in module.yaml
  module.yaml
Owners: @fl64

t2
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

tmp
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

add wireguard
  images/virtualization-dra/pkg/wireguard/wireguard.go
Owners: @universal-itengineer

add _timestamp metrics
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/scraper.go
Owners: @Isteb4k

add _seconds suffix
  images/virtualization-artifact/pkg/monitoring/metrics/vmop/metrics.go
Owners: @Isteb4k

chore(ci): change schedu for E2E Matrix Tests (nested clusters)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

chore(ci): change schedule for E2E Matrix Tests (nested clusters) (#1938)
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

wip
  build/components/versions.yml
Owners: @fl64

fix volume migration on nfs
  build/components/versions.yml
Owners: @fl64

del wireguard
  images/virtualization-dra/cmd/usb-gateway/app/app.go
  images/virtualization-dra/internal/featuregates/featuregates.go
Owners: @universal-itengineer

unparam
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
Owners: @Isteb4k

resolve
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/completed_step_test.go
Owners: @Isteb4k

fix after rebase
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
Owners: @Isteb4k

tests
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step_test.go
Owners: @Isteb4k

year...
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
Owners: @Isteb4k

year)
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/completed_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/completed_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step_test.go
Owners: @Isteb4k

teeeests
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
Owners: @Isteb4k

resolve
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
Owners: @Isteb4k

restore
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/clone.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/cleanup_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/completed_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/create_snapshot_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/enter_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/exit_maintenance_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/final_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_clone_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_restore_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/suite_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/vmsnapshot_ready_step_test.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/waiting_disk_ready_step_test.go
  test/e2e/vmop/restore.go
Owners: @fl64, @Isteb4k

wip
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer
