Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

use git-submodule for change url in submodules
  images/edk2/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix numactl
  images/packages/binaries/numactl/werf.inc.yaml
Owners: @universal-itengineer

add cache
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

refactor cleanup
  .werf/defines/packages-clean.tmpl
  images/base-alt-p11-binaries/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/distroless/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add proxy: cdi-importer
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

add proxy: distroless
  images/distroless/werf.inc.yaml
Owners: @universal-itengineer

add cache ver to nbdkit
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

add proxy: virt-launcher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix nbdkit
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

edk2 back git submodule set-url
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

add proxy to packages build
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nbdkit/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/numactl/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix formatting nftables
  images/packages/binaries/nftables/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix proxu settings for alt-p11-nibs,openssl,swtpm,xorriso
  images/base-alt-p11-binaries/werf.inc.yaml
  images/packages/binaries/openssl/werf.inc.yaml
  images/packages/binaries/swtpm/werf.inc.yaml
  images/packages/binaries/xorriso/werf.inc.yaml
Owners: @universal-itengineer

dvcr CGO_ENABLED=0
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

fix cleanup if no proxy set
  images/packages/binaries/acl/werf.inc.yaml
  images/packages/binaries/bzip2/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/packages/binaries/file/werf.inc.yaml
  images/packages/binaries/glib2/werf.inc.yaml
  images/packages/binaries/glibc/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

refactor
  .werf/defines/packages-clean.tmpl
  images/base-alt-p11-binaries/werf.inc.yaml
  images/bounder/werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/distroless/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/packages/binaries/nftables/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build libburn
  component_versions/version_map.yml
  images/packages/binaries/libburn/werf.inc.yaml
Owners: @fl64, @universal-itengineer

refactor go template to bash
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

crds review
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
Owners: @fl64, @z9r5, @goganat

use test context
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

clear legacy watchers
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

remove useless
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

resolve
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

fix vi lifecycle
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
Owners: @Isteb4k

fix merge conflicts
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
Owners: @Isteb4k

refactoring tests
  images/virtualization-artifact/pkg/builder/cvi/cvi.go
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vd/vd.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vi/vi.go
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fmt
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

oops
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

fix watchers
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
Owners: @Isteb4k

fix panic
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
Owners: @Isteb4k

feat
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/cvicondition/condition.go
  api/core/v1alpha2/vicondition/condition.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/clustervirtualimages.yaml
  crds/doc-ru-clustervirtualimages.yaml
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/cvi/internal/handler_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vd_watcher.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watchers/vi_watcher.go
  images/virtualization-artifact/pkg/controller/dvcr_data_source.go
  images/virtualization-artifact/pkg/controller/indexer/cvi_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vd_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vi_indexer.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/deletion.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

refactoring
  images/virtualization-artifact/pkg/common/testutil/testutil.go
Owners: @Isteb4k

suite_test
  images/virtualization-artifact/pkg/controller/cvi/internal/suite_test.go
Owners: @Isteb4k

vmbda
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/cvi/internal/inuse_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse.go
  images/virtualization-artifact/pkg/controller/vi/internal/inuse_test.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/cvi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
Owners: @Isteb4k

vi watchers reshuffle
  images/virtualization-artifact/pkg/controller/cvi/cvi_reconciler.go
  images/virtualization-artifact/pkg/controller/cvi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/util.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vd_watcher.go
  images/virtualization-artifact/pkg/controller/vi/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vi/vi_reconciler.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
