Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

qemu & virt-launcher
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix qemu
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

remove unused deps
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

before: install
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm -rf dmidecode
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

cleanup
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix(vi,cvi): fix cleanup for CVI and VI when creating from vd (#996)
  images/virtualization-artifact/pkg/controller/cvi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
Owners: @Isteb4k

resolve review comments
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
Owners: @universal-itengineer

add
  api/core/v1alpha2/virtual_machine_snapshot.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachinesnapshots.yaml
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

add secret and vmip
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

fix test
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @Isteb4k

fix vm apiVersion
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @Isteb4k

Minor description edits
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

resolve
  api/core/v1alpha2/virtual_machine_snapshot.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
Owners: @fl64, @Isteb4k

doc
  crds/doc-ru-virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

feat(vmsnapshot): add resources info in status (#978)
  api/core/v1alpha2/virtual_machine_snapshot.go
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualmachinesnapshots.yaml
  crds/virtualmachinesnapshots.yaml
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/vmsnapshot_controller.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

chore(ci): build dmidecode (#1000)
  component_versions/version_map.yml
  images/libvirt/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(vmipl): refactor controller
  images/virtualization-artifact/pkg/controller/vmiplease/internal/lifecycle_handler.go
  images/virtualization-artifact/pkg/controller/vmiplease/internal/protection_handler.go
  images/virtualization-artifact/pkg/controller/vmiplease/internal/retention_handler.go
Owners: @LopatinDmitr

fix(vmipl): fix problem with deleting the finalizer (#1006)
  images/virtualization-artifact/pkg/controller/vmiplease/internal/lifecycle_handler.go
  images/virtualization-artifact/pkg/controller/vmiplease/internal/protection_handler.go
  images/virtualization-artifact/pkg/controller/vmiplease/internal/retention_handler.go
Owners: @LopatinDmitr

fix
  images/virt-artifact/patches/050-mount-containerdisk-always-readonly.patch
Owners: @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
Owners: @Isteb4k

chore(core): replcae linux-utils to self-build
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add missing libaudit
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm unnecessary code
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

fix
  tests/e2e/testdata/vm-migration/cvi/cvi-cirros.yaml
  tests/e2e/testdata/vm-migration/cvi/kustomization.yaml
  tests/e2e/testdata/vm-migration/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/vd.image.patch.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/vm.bootloader.patch.yaml
  tests/e2e/vm_migration_cancel_test.go
Owners: @hardcoretime

fix
  tests/e2e/testdata/vm-migration/cvi/kustomization.yaml
Owners: @hardcoretime

fix(kubevirt): Fix VM migration with container disks (CVI, VI) (#1007)
  images/virt-artifact/patches/050-mount-containerdisk-always-readonly.patch
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  tests/e2e/testdata/vm-migration/cvi/cvi-cirros.yaml
  tests/e2e/testdata/vm-migration/cvi/kustomization.yaml
  tests/e2e/testdata/vm-migration/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/kustomization.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/vd.image.patch.yaml
  tests/e2e/testdata/vm-migration/vm/overlays/with-cvi/vm.bootloader.patch.yaml
  tests/e2e/vm_migration_cancel_test.go
Owners: @yaroslavborbat, @Isteb4k, @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/vmclass/internal/deletion.go
Owners: @Isteb4k

fix(vmclass): correctly remove the InUse condition when the VMClass is not used by any VM (#1009)
  images/virtualization-artifact/pkg/controller/vmclass/internal/deletion.go
Owners: @Isteb4k

chore(core): replace linux-utils to self-build (#1004)
  images/cdi-controller/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix: correct namespace
  images/virtualization-artifact/pkg/audit/events/vm/vm_manage.go
  images/virtualization-artifact/pkg/audit/events/vm/vm_manage_test.go
Owners: @Isteb4k

chore(core): build glib2
  component_versions/version_map.yml
  images/packages/binaries/glib2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build glibc
  component_versions/version_map.yml
  images/packages/binaries/glibc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build glib2 (#989)
  component_versions/version_map.yml
  images/packages/binaries/glib2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

feat(vm): live migration policies
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/vmopcondition/condition.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualmachines.yaml
  crds/virtualmachineoperations.yaml
  crds/virtualmachines.yaml
  images/virt-artifact/patches/034-allow-update-kvvmi-for-virtualization-sas.patch
  images/virt-artifact/patches/048-set-migration-configuration-externally.patch
  images/virt-artifact/patches/README.md
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  images/virtualization-artifact/pkg/config/load_live_migration_settings.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/dynamic_settings_handler.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/service/migration_configuration.go
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_controller.go
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_reconciler.go
  images/virtualization-artifact/pkg/controller/powerstate/operations.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/virtualization-controller/_helpers.tpl
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat, @Isteb4k

++ restore i18n for vmop
  crds/doc-ru-virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

++ restore migrationpolicy features for tests
  images/virt-artifact/patches/048-set-migration-configuration-externally.patch
  templates/kubevirt/kubevirt.yaml
Owners: @yaroslavborbat, @fl64

++ fix vmop service calls after rebase
  images/virtualization-artifact/pkg/controller/livemigration/internal/dynamic_settings_handler.go
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_controller.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
