Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix some issues with update
  images/virtualization-artifact/pkg/controller/service/restorer/restorers/vm_restorer.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/handler/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/service/restore.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @Isteb4k

refactor statuses
  api/core/v1alpha2/virtual_machine_operation.go
  images/virtualization-artifact/pkg/controller/service/restorer/snapshot_resources.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/common/common.go
  images/virtualization-artifact/pkg/controller/vmop/snapshot/internal/step/process_step.go
Owners: @fl64, @Isteb4k

wip
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix libgio
  images/packages/selinux/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virt-artifact/werf.inc.yaml
  images/virt-controller/werf.inc.yaml
Owners: @universal-itengineer

add xkbcommon
  images/packages/libxkbcommon/README.md
  images/packages/libxkbcommon/werf.inc.yaml
Owners: @universal-itengineer

add version
  build/components/versions.yml
Owners: @fl64

add bison
  images/packages/libxkbcommon/werf.inc.yaml
Owners: @universal-itengineer

add xcb
  images/packages/libxkbcommon/werf.inc.yaml
Owners: @universal-itengineer

rm -rf /usr/share
  images/packages/libxkbcommon/werf.inc.yaml
Owners: @universal-itengineer

import libxkbcommon
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virt-api/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

tmp
  images/virtualization-artifact/pkg/builder/cvi/option.go
  images/virtualization-artifact/pkg/builder/vd/option.go
  images/virtualization-artifact/pkg/builder/vi/option.go
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/builder/vmbda/option.go
  images/virtualization-artifact/pkg/builder/vmbda/vmbda.go
  images/virtualization-artifact/pkg/builder/vmop/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vmsnapshot.go
  tests/e2e/framework/framework.go
  tests/e2e/vm_restore_operation_test.go
Owners: @Isteb4k, @hardcoretime

libxkbcommon readme
  images/packages/libxkbcommon/README.md
Owners: @universal-itengineer

add gcc tree hp
  images/packages/gcc/werf.inc.yaml
Owners: @universal-itengineer

chore(core): build libaio
  build/components/versions.yml
  images/packages/libaio/README.md
  images/packages/libaio/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

ttt
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove useless import
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

cdi-importer xmled
  images/cdi-artifact/werf.inc.yaml
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

Review
  crds/doc-ru-virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

chore(core): build libaio (#1460)
  build/components/versions.yml
  images/packages/libaio/README.md
  images/packages/libaio/werf.inc.yaml
  images/packages/lvm2/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add libgcc1 to qemu
  build/components/versions.yml
  images/packages/gcc/README.md
  images/qemu/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  build/components/versions.yml
  images/packages/gcc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add libgcc1 to nbdkit
  images/packages/nbdkit/werf.inc.yaml
Owners: @universal-itengineer

feat(module): add DVCR capacity alert
  monitoring/prometheus-rules/dvcr.yaml
Owners: @fl64

remove bin
  images/dvcr-artifact/werf.inc.yaml
Owners: @universal-itengineer

update readme
  images/packages/gcc/README.md
Owners: @universal-itengineer

chore(ci): change runner to self-hosted for run e2e
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(test): fix check audit image
  tests/e2e/Taskfile.yaml
Owners: @hardcoretime

Update images/packages/krb5/werf.inc.yaml
  images/packages/krb5/werf.inc.yaml
Owners: @universal-itengineer

add libffi
  images/packages/p11-kit/werf.inc.yaml
Owners: @universal-itengineer

add openssl
  images/packages/p11-kit/werf.inc.yaml
Owners: @universal-itengineer

resolve comments
  images/libvirt/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/selinux/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
Owners: @universal-itengineer

fix selinux version
  build/components/versions.yml
  images/packages/selinux/werf.inc.yaml
Owners: @fl64, @universal-itengineer

remove glib2 from selinux
  images/packages/selinux/werf.inc.yaml
Owners: @universal-itengineer

change for night tests
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

tst, ceph
  .github/workflows/nightly_e2e_tests_ceph.yaml
Owners: @universal-itengineer

use trdl for install d8 cli
  .github/workflows/nightly_e2e_tests_ceph.yaml
Owners: @universal-itengineer

install kubectl
  .github/workflows/nightly_e2e_tests_ceph.yaml
Owners: @universal-itengineer

chore(module): fix install packages via dnf and yum
  templates/nodegroupconfiguration-selinux.yaml
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
