Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix(vd): refactor object ref vi data source
  api/core/v1alpha2/virtual_disk.go
  images/virtualization-artifact/pkg/controller/conditions/getter.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ensure_node_placement.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/errors.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/terminating_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_pvc_step.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmip/internal/mock.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @fl64, @Isteb4k, @LopatinDmitr

chore(core): set live migrations defaults (#1082)
  images/hooks/cmd/discovery-workload-nodes/main.go
  images/hooks/werf.inc.yaml
  openapi/values.yaml
  templates/kubevirt/kubevirt.yaml
Owners: @universal-itengineer, @fl64, @z9r5, @goganat

feat(vm): update intvirtvm when vm is stopped
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
Owners: @yaroslavborbat

debug
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove .git
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

debug
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

remove git section from werf.inc.yaml
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

add echo
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

go mod vendor
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

go mod tidy
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

go mod tidy vendor
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

move to source_repo
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): move to 3p cdi
  images/cdi-artifact/patches/007-content-type-json.patch
  images/cdi-artifact/patches/008-rename-core-resources.patch
  images/cdi-artifact/patches/009-remove-upload-apiservice.patch
  images/cdi-artifact/patches/010-stop-managing-datavolume-crd.patch
  images/cdi-artifact/patches/011-change-storage-class-for-scratch-pvc.patch
  images/cdi-artifact/patches/012-add-caps-for-deckhouse-provisioners.patch
  images/cdi-artifact/patches/013-converting-images-on-filesystem-to-qcow2.patch
  images/cdi-artifact/patches/014-delete-service-monitor.patch
  images/cdi-artifact/patches/015-fix-replace-op-for-evanphx-json-patch-v5-lib.patch
  images/cdi-artifact/patches/016-scratch-filesystem-overhead-formula.patch
  images/cdi-artifact/patches/017-add-format-conversion-for-pvc-cloning.patch
  images/cdi-artifact/patches/018-cover-cdi-metrics.patch
  images/cdi-artifact/patches/019-optimize-csi-clone.patch
  images/cdi-artifact/patches/020-manage-provisioner-tolerations.patch
  images/cdi-artifact/patches/021-fallback-to-host-clone-for-lvm-thick.patch
  images/cdi-artifact/patches/022-add-datavolume-quouta-not-exceeded-condition.patch
  images/cdi-artifact/patches/023-remove-upload-proxy-server-variables.patch
  images/cdi-artifact/patches/024-cdi-controller-change-bash-utils-to-binary.patch
  images/cdi-artifact/patches/README.md
  images/cdi-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

fix(vm): fix BlockDeviceReady condition (#1120)
  images/virtualization-artifact/pkg/controller/vd/internal/inuse.go
Owners: @Isteb4k

fix(api): fix snapshotting proccess
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @yaroslavborbat, @Isteb4k

fix(vm): fix snapshotting.go Signed-off-by: Dmitry Lopatin <dmitry.lopatin@flant.com>
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting.go
Owners: @yaroslavborbat

fix(api): fix snapshotting process (#1118)
  images/virtualization-artifact/pkg/controller/vm/internal/snapshotting.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @yaroslavborbat, @Isteb4k

fix(vd): change brief for vd
  crds/virtualdisks.yaml
Owners: @fl64, @z9r5, @goganat

fix(vd): change brief for vd (#1126)
  crds/virtualdisks.yaml
Owners: @fl64, @z9r5, @goganat

Re-generate changelog v0.18.2
  CHANGELOG/CHANGELOG-v0.18.2.yml
  CHANGELOG/CHANGELOG-v0.18.md
Owners: @fl64

fix(vd): refactor object ref cvi data source
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_cvi_step.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
Owners: @Isteb4k

implement queue of vmops and improve phasing
  api/core/v1alpha2/vmopcondition/condition.go
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vmop/internal/operation.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/operation.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
Owners: @fl64, @Isteb4k

Update docs/USER_GUIDE.md
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

fix
  images/virtualization-artifact/pkg/controller/vmop/internal/lifecycle.go
Owners: @Isteb4k

feat(vm): detect kvvm change before update
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/util.go
Owners: @yaroslavborbat

chore(ci): build dtc (#1097)
  component_versions/version_map.yml
  images/packages/binaries/dtc/werf.inc.yaml
Owners: @fl64, @universal-itengineer

t
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t2
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t4
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

t3
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

tmp
  images/packages/binaries/libdevmapper/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  component_versions/version_map.yml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

Update images/packages/binaries/lvm2/werf.inc.yaml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

rebuild
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): build lvm2 (#1101)
  component_versions/version_map.yml
  images/packages/binaries/lvm2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

build
  images/packages/binaries/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

f
  images/packages/binaries/libfuse3/werf.inc.yaml
Owners: @universal-itengineer

refactoring
  component_versions/version_map.yml
  images/packages/binaries/fuse3/werf.inc.yaml
Owners: @fl64, @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
