Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

static: test deploy
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-cse.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/virtualization.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

add additional checks for virt
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: rm cse condition
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

fix branch name in summary
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix gen-kubecfg,edit permissions
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
  test/dvp-static-cluster/scripts/gen-kubeconfig.sh
Owners: @fl64

fix scanInterval, add if for dvcr
  .github/workflows/e2e-reusable-pipeline.yml
  templates/dvcr/deployment.yaml
  test/dvp-static-cluster/storage/ceph/01-mc.yaml
  test/dvp-static-cluster/storage/sds-replicated/mc.yaml
Owners: @universal-itengineer, @fl64

bump helm lib to 1.65.2
  .helmignore
  Chart.yaml
  Taskfile.yaml
  charts/deckhouse_lib_helm-1.55.1.tgz
  charts/deckhouse_lib_helm-1.65.2.tgz
  requirements.lock
  templates/custom-certificate.yaml
Owners: @fl64

add condition for FOCUS var for ginkgo test
  .github/workflows/e2e-reusable-pipeline.yml
  test/e2e/scripts/task_run_ci.sh
Owners: @universal-itengineer, @fl64

fix e2e report
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: add proccesing bootstrap failed
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

ci: update ci for multiple storage type report, add junit xml report file
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/storage/sds-replicated/rsc-gen.sh
Owners: @universal-itengineer, @fl64

change token
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

update wait virtualization
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

change virtualization tag to pr1757
  .github/workflows/e2e-matrix.yml
  templates/dvcr/deployment.yaml
Owners: @universal-itengineer, @fl64

static: fix gloabl cfg, use selfsingeg cert
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

add info about storage setup
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

refactor determine-stage and 'Send results to channel'
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add timeout for checking virt-handler
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix virt-handler wait
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

try dh pr17193
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix condition sds and queue script
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/scripts/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

static: clean Chart.yaml
  test/dvp-static-cluster/charts/cluster-config/Chart.yaml
  test/dvp-static-cluster/charts/infra/Chart.yaml
Owners: @fl64

fix report
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix cond
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

use kubeconf
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nfs.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/pvc.yaml
  test/dvp-over-dvp/charts/infra/templates/nfs-server/svc.yaml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
  test/dvp-over-dvp/storage/ceph/00-ms.yaml
  test/dvp-over-dvp/storage/ceph/01-mc.yaml
  test/dvp-over-dvp/storage/ceph/02-sa.yaml
  test/dvp-over-dvp/storage/ceph/03-cm.yaml
  test/dvp-over-dvp/storage/ceph/04-cluster.yaml
  test/dvp-over-dvp/storage/ceph/05-blockpool.yaml
  test/dvp-over-dvp/storage/ceph/06-toolbox.yaml
  test/dvp-over-dvp/storage/ceph/ceph-configure.sh
  test/dvp-over-dvp/storage/sds-replicated/lvg-gen.sh
  test/dvp-over-dvp/storage/sds-replicated/mc.yaml
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
  test/dvp-over-dvp/tools/deckhouse-queue.sh
  test/dvp-over-dvp/values.example.yaml
  test/e2e/scripts/task_run_ci.sh
Owners: @universal-itengineer, @fl64

fix loop seq
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix virt cert
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

change virt tag to main
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

static: fix cfg mc global
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
Owners: @fl64

fix sds wait
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add statis-cluster config
  test/dvp-static-cluster/Taskfile.yaml
  test/dvp-static-cluster/charts/cluster-config/Chart.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/_helpers.tpl
  test/dvp-static-cluster/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/disabled-modules.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/master-nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-cse.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-dvp-base.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/modules-minimal.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nfs.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ngc.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/nodes.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/ssh-creds.yaml
  test/dvp-static-cluster/charts/cluster-config/templates/virtualization.yaml
  test/dvp-static-cluster/charts/infra/.helmignore
  test/dvp-static-cluster/charts/infra/Chart.yaml
  test/dvp-static-cluster/charts/infra/templates/_helpers.tpl
  test/dvp-static-cluster/charts/infra/templates/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/ingress.yaml
  test/dvp-static-cluster/charts/infra/templates/jump-host/svc.yaml
  test/dvp-static-cluster/charts/infra/templates/ns.yaml
  test/dvp-static-cluster/charts/infra/templates/vi.yaml
  test/dvp-static-cluster/charts/infra/templates/vmc.yaml
  test/dvp-static-cluster/charts/infra/templates/vms.yaml
  test/dvp-static-cluster/nested-sa-config/gen-sa.sh
  test/dvp-static-cluster/storage/ceph/00-ms.yaml
  test/dvp-static-cluster/storage/ceph/01-mc.yaml
  test/dvp-static-cluster/storage/ceph/02-sa.yaml
  test/dvp-static-cluster/storage/ceph/03-cm.yaml
  test/dvp-static-cluster/storage/ceph/04-cluster.yaml
  test/dvp-static-cluster/storage/ceph/05-blockpool.yaml
  test/dvp-static-cluster/storage/ceph/06-toolbox.yaml
  test/dvp-static-cluster/storage/ceph/ceph-configure.sh
  test/dvp-static-cluster/storage/sds-replicated/lvg-gen.sh
  test/dvp-static-cluster/storage/sds-replicated/mc.yaml
  test/dvp-static-cluster/storage/sds-replicated/rsc-gen.sh
Owners: @fl64

static: add log category, emoji in vort install
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix condition, rename tools to scripts
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

try use artifact for reports
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: fix msg messages, fix conditions,refactor dbg messages
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

static: add label deploy jump-his, fix d8queue
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-static-cluster/charts/infra/templates/jump-host/deploy.yaml
Owners: @universal-itengineer, @fl64

static: fix cond ceph and sds
  .github/workflows/e2e-reusable-pipeline.yml
  templates/dvcr/deployment.yaml
  templates/dvcr/rbac-for-us.yaml
Owners: @universal-itengineer, @fl64

fix run e2e
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add additional check
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

static: comment https for virt, add dbg
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
