Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix(ci): fix run e2e if audit disabled
  tests/e2e/Taskfile.yaml
Owners: @hardcoretime

fix yaml format
  .github/workflows/dev_module_build.yml
  tests/e2e/Taskfile.yaml
Owners: @universal-itengineer, @hardcoretime

fix(ci): fix run e2e if audit disabled (#1048)
  tests/e2e/Taskfile.yaml
Owners: @hardcoretime

chore(core): add cluster dns in cert for audit controller
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
Owners: @universal-itengineer

chore(core): add cluster dns in cert for audit controller (#1269)
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
Owners: @universal-itengineer

chore(core): add cluster dns in cert for audit controller (#1269)
  images/hooks/pkg/hooks/tls-certificates-audit/hook.go
Owners: @universal-itengineer

add alert KubeNodeAwaitingWorkloadEvacuationBeforeShutdown
  monitoring/prometheus-rules/node.yaml
Owners: @fl64

add alert KubeNodeAwaitingWorkloadEvacuationBeforeShutdown
  monitoring/prometheus-rules/node.yaml
Owners: @fl64

+
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Revert "+"
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

+
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

feat(core): read-only fs for all components (#1244)
  images/cdi-artifact/werf.inc.yaml
  images/virtualization-artifact/pkg/common/pod/pod.go
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
  templates/virtualization-audit/deployment.yaml
  templates/vm-route-forge/daemonset.yaml
Owners: @universal-itengineer, @Isteb4k, @fl64

fix
  images/virtualization-artifact/pkg/controller/vd/internal/watcher/pvc_watcher.go
Owners: @Isteb4k

test(vmrestore): fix labels in the e2e test case
  tests/e2e/vm_restore_force_test.go
Owners: @hardcoretime

fix alert condition
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

chore(observability): NoVirtHandlerPodsRunning
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

test(vmrestore): fix labels in the e2e test case (#1271)
  tests/e2e/vm_restore_force_test.go
Owners: @hardcoretime

chore(test): replace alpine with ubuntu for vdsnapshots e2e (#1267)
  tests/e2e/testdata/vd-snapshots/vd/kustomization.yaml
  tests/e2e/testdata/vd-snapshots/vd/vd-alpine-http.yaml
  tests/e2e/testdata/vd-snapshots/vd/vd-ubuntu-http.yaml
  tests/e2e/testdata/vd-snapshots/vi/kustomization.yaml
  tests/e2e/testdata/vd-snapshots/vi/vi-ubuntu-http.yaml
  tests/e2e/testdata/vd-snapshots/vm/base/cfg/cloudinit.yaml
  tests/e2e/testdata/vd-snapshots/vm/base/vd-root.yaml
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix(core): audit controller nil pointer
  images/virtualization-artifact/pkg/audit/events/module/module_control.go
  images/virtualization-artifact/pkg/audit/events/module/module_control_test.go
Owners: @Isteb4k

fix(core): audit controller nil pointer (#1272)
  images/virtualization-artifact/pkg/audit/events/module/module_control.go
  images/virtualization-artifact/pkg/audit/events/module/module_control_test.go
Owners: @Isteb4k

refactor rule expr
  monitoring/prometheus-rules/internal-virtualization-virt-hander.yaml
Owners: @fl64

fix(core): audit controller nil pointer (#1272)
  images/virtualization-artifact/pkg/audit/events/module/module_control.go
  images/virtualization-artifact/pkg/audit/events/module/module_control_test.go
Owners: @Isteb4k

feat(core): remove VolumeSnapshotClass from VDSnapshot and VMSnapshot
  api/core/v1alpha2/virtual_machine_snapshot.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/doc-ru-virtualdisksnapshots.yaml
  crds/doc-ru-virtualmachinesnapshots.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualmachinesnapshots.yaml
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/life_cycle.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

fix(vm): fix issue with provisioning a disk on nfs
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

test(e2e): refactor failure behaviour
  tests/e2e/README.md
  tests/e2e/config/cleanup.go
  tests/e2e/ginkgoutil/decorators.go
  tests/e2e/tests_suite_test.go
Owners: @hardcoretime

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs/module/add-ui-examples: add ui examples for admin ru
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore(vmrestore): remove unnecessary vi/cvi watchers
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

fix(vm): add name length validation for blockDeviceRefs
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_refs_validator.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/block_device_refs_validator_test.go
Owners: @yaroslavborbat

fix(vm): fix issues with attaching an nfs disk to a virtual machine and with provisioning a disk on nfs (#1210)
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(vm): fix issues with attaching an nfs disk to a virtual machine and with provisioning a disk on nfs (#1210)
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

Backport: fix(vm): fix issues with attaching an nfs disk to a virtual machine and with provisioning a disk on nfs (#1278)
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

refactor(api): simplify IsStorageClassDeprecated method signature
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vi/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vi/internal/mock.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

chore(vmrestore): remove unnecessary vi/cvi watchers (#1277)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

chore(vmrestore): remove unnecessary vi/cvi watchers (#1277)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

Backport: chore(vmrestore): remove unnecessary vi/cvi watchers (#1279)
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/cvi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/internal/watcher/vi_watcher.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @Isteb4k

debug
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  usbredirbridgesample/go.mod
  usbredirbridgesample/main.go
Owners: @universal-itengineer, @yaroslavborbat, @fl64

+
  images/virtualization-artifact/pkg/controller/vdsnapshot/internal/life_cycle.go
Owners: @Isteb4k

debug
  images/virt-launcher/werf.inc.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @universal-itengineer, @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
