Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

integrate libs to build
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/file/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/libxml2/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/util-linux/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

upd readme nghttp3
  images/packages/nghttp3/README.md
Owners: @universal-itengineer

remove share dir from keyutils altogether
  images/packages/keyutils/werf.inc.yaml
Owners: @universal-itengineer

update readme.md
  images/packages/keyutils/README.md
Owners: @universal-itengineer

fix(vm): fix coreFraction = [] in sizing policy
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
Owners: @Isteb4k

fix(vmclass): add check `cores` as required in vmclass webhook
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/sizing_policies_validator.go
Owners: @Isteb4k

wip
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @Isteb4k

add submodule install for json-glib
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

add meson install to src-artifact
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

wip
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
Owners: @Isteb4k

rm tests for libcurl
  images/packages/libcurl/werf.inc.yaml
  images/packages/libxml2/README.md
  images/packages/libxml2/werf.inc.yaml
  images/packages/nghttp2/werf.inc.yaml
Owners: @universal-itengineer

rm python libxml2
  images/packages/libxml2/werf.inc.yaml
Owners: @universal-itengineer

rm python pks libxml2
  images/packages/libxml2/werf.inc.yaml
Owners: @universal-itengineer

chore(core): build libs step2 (#1390)
  build/components/versions.yml
  images/edk2/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/gcc/werf.inc.yaml
  images/packages/glib2/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libnftnl/README.md
  images/packages/libnftnl/werf.inc.yaml
  images/packages/libxml2/README.md
  images/packages/libxml2/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/packages/nghttp2/README.md
  images/packages/nghttp2/werf.inc.yaml
  images/packages/nghttp3/README.md
  images/packages/nghttp3/werf.inc.yaml
  images/packages/openssl/werf.inc.yaml
  images/packages/zlib/README.md
  images/packages/zlib/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix build
  images/packages/libssh/werf.inc.yaml
  images/packages/linux-pam/werf.inc.yaml
  images/packages/numactl/werf.inc.yaml
  images/packages/p11-kit/werf.inc.yaml
Owners: @universal-itengineer

rm md
  NEW_PACKAGES_SUMMARY.md
  images/packages/libssh/README.md
  images/packages/linux-pam/README.md
  images/packages/p11-kit/README.md
Owners: @fl64, @universal-itengineer

add readme
  images/packages/libssh/README.md
  images/packages/libssh2/README.md
  images/packages/linux-pam/README.md
  images/packages/p11-kit/README.md
Owners: @universal-itengineer

fix build pk11
  images/packages/p11-kit/README.md
  images/packages/p11-kit/werf.inc.yaml
Owners: @universal-itengineer

fix build
  images/packages/libssh/werf.inc.yaml
  images/packages/linux-pam/werf.inc.yaml
  images/packages/p11-kit/werf.inc.yaml
Owners: @universal-itengineer

rm doc
  images/packages/libssh/werf.inc.yaml
  images/packages/libssh2/README.md
  images/packages/libssh2/werf.inc.yaml
  images/packages/linux-pam/README.md
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

add libssh2, try measin build
  build/components/versions.yml
  images/packages/libssh2/README.md
  images/packages/libssh2/werf.inc.yaml
  images/packages/linux-pam/werf.inc.yaml
  images/packages/numactl/werf.inc.yaml
  images/packages/p11-kit/werf.inc.yaml
Owners: @fl64, @universal-itengineer

chore(core): build libs step3
  NEW_PACKAGES_SUMMARY.md
  build/components/versions.yml
  images/packages/libssh/README.md
  images/packages/libssh/werf.inc.yaml
  images/packages/linux-pam/README.md
  images/packages/linux-pam/werf.inc.yaml
  images/packages/p11-kit/README.md
  images/packages/p11-kit/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix vers
  build/components/versions.yml
Owners: @fl64

fix: allow delete vm with invalid vmclass
  images/virtualization-artifact/pkg/controller/service/errors.go
  images/virtualization-artifact/pkg/controller/service/size_policy_service.go
  images/virtualization-artifact/pkg/controller/vm/internal/validators/sizing_policy_validator.go
Owners: @Isteb4k, @yaroslavborbat

integrate p11-kit
  images/libvirt/werf.inc.yaml
  images/packages/gnutls/werf.inc.yaml
  images/packages/libssh/README.md
  images/packages/libssh2/README.md
  images/packages/linux-pam/README.md
  images/packages/p11-kit/README.md
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

integrate linux-pam
  images/packages/libcap/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

try libjson-glib install fix
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

nofallback
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

libgio-devel
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

fix linux-pam, rm var
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

integrate libssh libssh2
  images/base-alt-p11-binaries/werf.inc.yaml
  images/libvirt/werf.inc.yaml
  images/packages/libcurl/werf.inc.yaml
  images/packages/nbdkit/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm doc for libcap
  images/packages/libcap/werf.inc.yaml
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

linux-pam
  images/packages/linux-pam/README.md
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

add glib2
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

fix swtpm
  images/packages/libjson-glib/werf.inc.yaml
  images/packages/swtpm/werf.inc.yaml
Owners: @universal-itengineer

fix libjson-glib readme
  images/packages/libjson-glib/README.md
Owners: @universal-itengineer

rm md from linux-pam
  images/packages/linux-pam/werf.inc.yaml
Owners: @universal-itengineer

libgio
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

libgio-devel
  images/packages/swtpm/werf.inc.yaml
Owners: @universal-itengineer

remove meson installation in libjson-glib
  images/packages/libjson-glib/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
