Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add devel
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

add libnghttp3-devel
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

add libngtcp2-devel
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

add shared nettle to nettle install & build libcurl with it
  images/packages/libcurl/werf.inc.yaml
  images/packages/nettle/werf.inc.yaml
Owners: @universal-itengineer

add tree to nettle
  images/packages/nettle/werf.inc.yaml
Owners: @universal-itengineer

add libgmp to libcurl
  images/packages/libcurl/werf.inc.yaml
Owners: @universal-itengineer

update libnettle readme
  images/packages/nettle/README.md
Owners: @universal-itengineer

update libcurl README.md
  images/packages/libcurl/README.md
Owners: @universal-itengineer

add libcurl to binaries
  images/libvirt/werf.inc.yaml
  images/qemu/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fixes
  build/components/versions.yml
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fixes
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @fl64

fix
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k

fixes
  templates/cdi/cdi-operator/rbac-for-us.yaml
Owners: @fl64

feat(api): add new controllers vmmac and vmmaclease
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
Owners: @Isteb4k

fix(vmsnapshot): watch for vd `inUse` condition
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/vd_watcher.go
Owners: @Isteb4k

fix(vmsnapshot): watch for virtual disk phase and inUse condition (#1331)
  images/virtualization-artifact/pkg/controller/vmsnapshot/internal/watcher/vd_watcher.go
  tests/e2e/default_config.yaml
  tests/e2e/vm_restore_force_test.go
Owners: @Isteb4k, @hardcoretime

feat(core): add SELinux type spc_t to InternalVirtualizationKubeVirt (#1321)
  templates/kubevirt/kubevirt.yaml
Owners: @fl64

Update images/virtualization-artifact/pkg/controller/vm/internal/mac.go
  images/virtualization-artifact/pkg/controller/vm/internal/mac.go
Owners: @yaroslavborbat

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddressleases.yaml
  crds/doc-ru-virtualmachinemacaddressleases.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddressleases.yaml
  crds/doc-ru-virtualmachinemacaddressleases.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddressleases.yaml
  crds/doc-ru-virtualmachinemacaddressleases.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

fixes
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/scraper.go
Owners: @Isteb4k

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

Update crds/doc-ru-virtualmachinemacaddresses.yaml
  crds/doc-ru-virtualmachinemacaddresses.yaml
Owners: @fl64, @z9r5, @goganat

fix
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k

simplify
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k

refactoring
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
Owners: @Isteb4k

add fix and tests
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_test.go
Owners: @Isteb4k

fix linter errors
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/cvi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vdsnapshot/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vi/unsafe.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/collector.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/data_metric.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/metrics.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/scraper.go
  images/virtualization-artifact/pkg/monitoring/metrics/vmsnapshot/unsafe.go
Owners: @Isteb4k

fixes
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_test.go
Owners: @Isteb4k

feat(api): add new controllers vmmac and vmmaclease
  api/core/v1alpha2/finalizers.go
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/virtual_machine_mac_address.go
  api/core/v1alpha2/virtual_machine_mac_address_lease.go
  api/core/v1alpha2/vmmaccondition/condition.go
  api/core/v1alpha2/vmmaclcondition/condition.go
  images/virtualization-artifact/pkg/common/network/network.go
  images/virtualization-artifact/pkg/common/network/network_test.go
  images/virtualization-artifact/pkg/controller/indexer/vmmac_indexer.go
  images/virtualization-artifact/pkg/controller/indexer/vmmaclease_indexer.go
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vm/internal/mac.go
  images/virtualization-artifact/pkg/controller/vm/internal/network.go
  images/virtualization-artifact/pkg/controller/vm/internal/network_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/deletion_handler.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/take_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/watcher/vmmac_watcher.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

Update images/virtualization-artifact/pkg/controller/vmmac/internal/protection_handler.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/protection_handler.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmmac/internal/attached_handler.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/attached_handler.go
Owners: @Isteb4k

feat(api): add new controllers vmmac and vmmaclease
  images/virtualization-artifact/pkg/controller/vmmaclease/internal/protection_handler.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
Owners: @Isteb4k

Update images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
  images/virtualization-artifact/pkg/controller/vmmac/internal/step/create_lease_step.go
Owners: @Isteb4k

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
