Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

chore(module): rewrite dvcr secret generator to go
  images/hooks/cmd/006-generate-dvcr-secret/main.go
  images/hooks/werf.inc.yaml
Owners: @universal-itengineer

run only on labeled
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(ci): add e2e comment
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

delete empty action
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

update comment
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

move body
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix empty commenID
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

move github-token
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add github-token
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

chore(ci): add e2e comment (#999)
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix(vm): fix stopping a VM with unapplied changes (#991)
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
  tests/e2e/vm_configuration_test.go
Owners: @yaroslavborbat, @hardcoretime

chore(ci): update base images to 0.5.0 (#994)
  base-images/deckhouse_images.yml
Owners: @fl64

add pkgs
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

integrate gnutls to virt-launcher
  images/packages/binaries/gnutls/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix pkgs list
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

fix formatting, add rm missing xorriso folder
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

modify list of pkgs
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

chore(core): self-build gnutls
  component_versions/version_map.yml
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @fl64, @universal-itengineer

refactor vl import pkgs
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add libev-devel
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

Update images/virt-launcher/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm dash
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

rm unnecessary code
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

rm old lisst of packages
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

fix list of installed packages
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

chore(test): fix complex test for VirtualMachine with custom VirtualMachineIPAddress
  tests/e2e/complex_test.go
Owners: @hardcoretime

chore(test): fix complex test for vm with custom vmip (#1003)
  tests/e2e/complex_test.go
Owners: @hardcoretime

rm dash
  images/packages/binaries/gnutls/werf.inc.yaml
Owners: @universal-itengineer

chore(core): self-build gnutls (#975)
  component_versions/version_map.yml
  images/packages/binaries/gnutls/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix(kubevirt): Ensure ContainerDisk is always mounted as Read-Only (#796)
  images/virt-artifact/patches/050-mount-containerdisk-always-readonly.patch
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

chore(ci): build dmidecode
  component_versions/version_map.yml
  images/packages/binaries/dmidecode/werf.inc.yaml
Owners: @fl64, @universal-itengineer

change repo name
  images/packages/binaries/dmidecode/werf.inc.yaml
Owners: @universal-itengineer

remove autoreconf
  images/packages/binaries/dmidecode/werf.inc.yaml
Owners: @universal-itengineer

remove deps
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

change prefix and add dmidecode to libvirt
  images/libvirt/werf.inc.yaml
  images/packages/binaries/dmidecode/werf.inc.yaml
Owners: @universal-itengineer

tree
  images/packages/binaries/dmidecode/werf.inc.yaml
Owners: @universal-itengineer

fix name to libvirtDependencies
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

fix copy
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

before: install
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

move copy
  images/libvirt/werf.inc.yaml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
