Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

fix Vm->VM ST1003 errors by stylecheck
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
Owners: @hardcoretime

fix fmt.Errorf() formatting
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_disk_resizing_test.go
Owners: @hardcoretime

replace other initialisms
  tests/e2e/.golangci.yaml
  tests/e2e/affinity_toleration_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/kubectl/kubectl.go
  tests/e2e/util_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_resizing_test.go
Owners: @hardcoretime

chore(tests): remove personal github account links from e2e tests (#1252)
  tests/e2e/default_config.yaml
  tests/e2e/testdata/complex-test/cvi/cvi-alpine-registry.yaml
  tests/e2e/testdata/complex-test/vd/vd-alpine-registry.yaml
  tests/e2e/testdata/complex-test/vi/vi-alpine-registry.yaml
  tests/e2e/testdata/cvi/cvi_containerimage.yaml
  tests/e2e/testdata/images-creation/cvi/cvi_containerimage.yaml
  tests/e2e/testdata/images-creation/vi/vi_containerimage.yaml
  tests/e2e/testdata/vd/vd_containerimage.yaml
  tests/e2e/testdata/vi/vi_containerimage.yaml
Owners: @hardcoretime

chore(test): replace storage class creating with checking
  tests/e2e/README.md
  tests/e2e/config/config.go
  tests/e2e/config/storageclass.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/images_creation_test.go
  tests/e2e/kubectl/resource.go
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

chore(test): fix immediate sc usage in the image creation test case
  tests/e2e/images_creation_test.go
Owners: @hardcoretime

chore(test): replace storage class creating with checking (#1255)
  tests/e2e/README.md
  tests/e2e/config/config.go
  tests/e2e/config/storageclass.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/images_creation_test.go
  tests/e2e/kubectl/resource.go
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

fix
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

fix linter
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

linter fix?
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

linter fix!
  images/virtualization-artifact/pkg/controller/service/disk_service.go
Owners: @Isteb4k

golangci-lint --fix
  tests/e2e/images_creation_test.go
  tests/e2e/vd_snapshots_test.go
Owners: @hardcoretime

chore(tests): add linting to e2e tests (#1254)
  tests/e2e/.golangci.yaml
  tests/e2e/Taskfile.yaml
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/config/clustertransport/kube_connection_settings.go
  tests/e2e/config/config.go
  tests/e2e/config/project.go
  tests/e2e/d8/d8.go
  tests/e2e/errlogger/errlogger.go
  tests/e2e/helper/helper.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/kubectl/kubectl.go
  tests/e2e/network/cilium_agents.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/tests_suite_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_evacuation_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_cancel_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

+
  templates/vm-route-forge/daemonset.yaml
Owners: @fl64

+
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

+
  images/virtualization-artifact/pkg/common/pod/pod.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
Owners: @Isteb4k

+
  images/virtualization-artifact/pkg/controller/bounder/bounder.go
  images/virtualization-artifact/pkg/controller/importer/importer_pod.go
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
Owners: @Isteb4k

+
  templates/vm-route-forge/daemonset.yaml
Owners: @fl64

+
  images/virtualization-artifact/pkg/controller/uploader/uploader_pod.go
Owners: @Isteb4k

install deps
  .github/workflows/dev_validation.yaml
  images/virtualization-artifact/pkg/controller/service/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_devices_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/mock.go
  images/vm-route-forge/.gitignore
  images/vm-route-forge/internal/controller/route/ebpf_x86_bpfel.o
Owners: @universal-itengineer, @Isteb4k, @yaroslavborbat

chore(ci): check that all auto-generated files are up to date
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

add skip gen for vm-route-forge
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

api: upd go.mod,go.sum
  api/go.mod
  api/go.sum
Owners: @fl64

add api,route checks
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

fix ci
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

refactor check difs
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

add GOPATH for api
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

change task
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

refactor check_diffs
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

skip vm-route-forge
  .github/workflows/dev_validation.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-importer/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/virt-artifact/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/cdi-artifact/werf.inc.yaml
Owners: @universal-itengineer

chown test
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer
