Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

rm it in task from kubectl cmd
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix wait and dditional info
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

change from matrix to reusable
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline-1.yml
Owners: @universal-itengineer

add script vmbda for workers
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/vmbda/attach-vmbda.sh
Owners: @universal-itengineer, @fl64

add dh queue check
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

upd conf storage
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

remove vmbda, fix yaml
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/vmbda/attach-vmbda.sh
Owners: @universal-itengineer, @fl64

add jumphost ports via helm vars
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/svc.yaml
Owners: @universal-itengineer, @fl64

fix right for copy
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
Owners: @universal-itengineer, @fl64

fix mc apiversion
  test/dvp-over-dvp/storage/sds-replicated/mc.yaml
Owners: @fl64

add lis to scripts
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
  test/dvp-over-dvp/storage/ceph/ceph-configre.sh
  test/dvp-over-dvp/storage/sds-replicated/lvg-gen.sh
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
Owners: @universal-itengineer, @fl64

dbg
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

dbg ceph install
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

upd e2e-reusable-pipeline
  .github/workflows/e2e-reusable-pipeline-1.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add gh sec
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix path
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

dbg ceph deploy
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

chore(ci): build libfuse2 (#1788)
  build/components/versions.yml
  images/packages/libfuse2/README.md
  images/packages/libfuse2/patches/001-util-ulockmgr_server-c-conditionally-define-closefrom-fix-glibc-2-34.patch
  images/packages/libfuse2/patches/README.md
  images/packages/libfuse2/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

upd list queue in ceph conf
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix go def ver, increate ceph wait, add dbg
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix lic
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @fl64

dbg
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

test(vmrestore): enable network check (#1792)
  test/e2e/legacy/vm_restore_force.go
  test/e2e/legacy/vm_restore_safe.go
Owners: @fl64

Re-generate changelog v1.3.0
  CHANGELOG/CHANGELOG-v1.3.0.yml
  CHANGELOG/CHANGELOG-v1.3.md
Owners: @fl64

change csi-ceph to dev main
  .github/workflows/e2e-reusable-pipeline.yml
  test/dvp-over-dvp/storage/ceph/01-mc.yaml
Owners: @universal-itengineer, @fl64

refactor(kubevirt): bump version to 1.6.2
  Taskfile.yaml
  api/client/examples/cancel-evacuation/go.mod
  api/client/examples/cancel-evacuation/go.sum
  api/client/examples/list-resources/go.mod
  api/client/examples/list-resources/go.sum
  api/go.mod
  api/go.sum
  build/components/versions.yml
  crds/embedded/virtualmachineinstances.yaml
  crds/embedded/virtualmachines.yaml
  images/hooks/go.mod
  images/hooks/go.sum
  images/virt-api/debug/dlv.Dockerfile
  images/virt-artifact/werf.inc.yaml
  images/virt-controller/debug/dlv.Dockerfile
  images/virt-handler/debug/dlv.Dockerfile
  images/virt-handler/werf.inc.yaml
  images/virtualization-artifact/go.mod
  images/virtualization-artifact/go.sum
  images/virtualization-artifact/pkg/livemigration/migration_configuration.go
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
  src/cli/go.mod
  src/cli/go.sum
  templates/kubevirt/kubevirt.yaml
  templates/kubevirt/virt-operator/rbac-for-us.yaml
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64, @z9r5, @goganat, @universal-itengineer, @Isteb4k, @yaroslavborbat

test(e2e): check that the tpm module is recognized in the os Create legacy test for check tpm
  test/e2e/default_config.yaml
  test/e2e/internal/config/config.go
  test/e2e/legacy/testdata/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/ns.yaml
  test/e2e/legacy/testdata/vm-tpm/transformer.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/vi-debian-http.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vm.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  test/e2e/legacy/vm_tpm.go
Owners: @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

change wait ceph condition
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

use main deckhouse
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

test(e2e): Check that the tpm module is recognized in the os
  test/e2e/default_config.yaml
  test/e2e/internal/config/config.go
  test/e2e/legacy/testdata/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/ns.yaml
  test/e2e/legacy/testdata/vm-tpm/transformer.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/vi-debian-http.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vm.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  test/e2e/legacy/vm_tpm.go
  test/e2e/vm/tpm.go
Owners: @fl64

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

fix(module): fix dashboards
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

fix(module): fix dashboards
  monitoring/grafana-dashboards/main/propagated-vm.json
Owners: @fl64

fix(module): remove node vars
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
