Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

docs(module): fix image name
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix vd phases
  docs/USER_GUIDE.md
Owners: @fl64, @z9r5, @goganat

chore(test): add additional error dump info
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

fix: process error
  tests/e2e/util_test.go
Owners: @hardcoretime

docs(module): add subnet info
  docs/INSTALL.md
Owners: @fl64, @z9r5, @goganat

fix mkdir
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

build swtpm
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

add pkg from sisyphus repo
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

add gawk
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

add ssh to ci
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

fix edk2 build
  images/edk2/json/30-edk2-ovmf-x64-sb-enrolled.json
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

update edk2
  cv/version_map.yml
  images/edk2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

test alpine
  base-images/base_images.yaml
  images/alpine-builder/werf.yaml
  images/virtualization-binaries/werf.alt.inc.yaml
Owners: @fl64, @universal-itengineer

try 'install' swtpm via image
  images/virt-launcher/werf.inc.yaml
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

change build edk2
  images/edk2/build.sh
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

try build static
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

source ./edksetup.sh out of script
  images/edk2/build.sh
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

edk2 upd script
  images/edk2/build.sh
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

resolve rebase conflicts
  .github/workflows/dev_module_build.yml
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

docs(module): update image info
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

docs(module): update
  docs/INSTALL_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

add comment for no_enroll
  images/edk2/build.sh
Owners: @universal-itengineer

exec in ci . ./edksetup.sh
  images/edk2/build.sh
  images/edk2/werf.inc.yaml
Owners: @universal-itengineer

add swtpm libs
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

enable enroll
  images/edk2/build.sh
Owners: @universal-itengineer

fix(core): fix build uefi and ovmf
  cv/version_map.yml
  images/edk2/build.sh
  images/edk2/json/30-edk2-ovmf-x64-sb-enrolled.json
  images/edk2/werf.inc.yaml
Owners: @fl64, @universal-itengineer

add libs amd swtpm-localca
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

docs(module): update
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

chore(test): add additional error dump info (#921)
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/images_creation_test.go
  tests/e2e/importer_network_policy_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_test.go
  tests/e2e/vm_version_test.go
Owners: @hardcoretime

Re-generate changelog v0.17.0
  CHANGELOG/CHANGELOG-v0.17.0.yml
  CHANGELOG/CHANGELOG-v0.17.md
Owners: @fl64

change OVMF params
  images/edk2/build.sh
Owners: @universal-itengineer

feat[vm] live migration policies
  images/virt-artifact/patches/042-set-migration-configuration-externally.patch
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

++ add controller to update migration configuration in kvvmi status
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_reconciler.go
Owners: @Isteb4k

++ add controller to update migration configuration in kvvmi status
  api/core/v1alpha2/virtual_machine_class.go
  crds/virtualdisks.yaml
  crds/virtualmachineclasses.yaml
  crds/virtualmachineoperations.yaml
Owners: @fl64, @z9r5, @goganat

++ add controller to update migration configuration in kvvmi status
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/virtual_machine_operation.go
  api/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  crds/virtualmachines.yaml
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/config/load_live_migration_settings.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/dynamic_settings_handler.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/service/migration_configuration.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/watcher/kvvmi_watcher.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/watcher/kvvmim_watcher.go
  images/virtualization-artifact/pkg/controller/livemigration/internal/watcher/vmop_watcher.go
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_controller.go
  images/virtualization-artifact/pkg/controller/livemigration/live_migration_reconciler.go
  openapi/config-values.yaml
  templates/virtualization-controller/_helpers.tpl
Owners: @fl64, @z9r5, @goganat, @Isteb4k

remove patch 029
  images/virt-artifact/patches/029-use-OFVM_CODE-for-linux.old_pa
  images/virt-artifact/werf.inc.yaml
Owners: @yaroslavborbat, @universal-itengineer

remove enroll
  images/edk2/build.sh
Owners: @universal-itengineer

add secret allow source repo
  werf-giterminism.yaml
Owners: @universal-itengineer

from alpine
  images/virtualization-binaries/werf.inc.yaml
Owners: @universal-itengineer

enrol without generate
  images/edk2/build.sh
Owners: @universal-itengineer
