Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

add libs
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

virt-laucnher: add cp util
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

test via relocate_binaries LIBS and FILES
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

coment binaries tst1
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add cache version vl
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add bin caps to vl
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add mount
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Update images/virt-artifact/patches/README.md
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

add space Readme
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

Update images/bounder/werf.inc.yaml
  images/bounder/werf.inc.yaml
Owners: @universal-itengineer

dvcr: change stage to 'before: setup'
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

rm mount
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove commented bins for import to virtlauncher
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix dvcr binaries images
  images/dvcr/werf.inc.yaml
Owners: @universal-itengineer

rm blockdev
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm qemu-io from cdi-importer
  images/cdi-importer/werf.inc.yaml
Owners: @universal-itengineer

virt-handler: rm sysctl bins
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

rm passt
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add cache version
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add patch readme
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

remove cacheVersion
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove virsh bin
  images/libvirt/install-libvirt.sh
Owners: @universal-itengineer

fix caps cap_net_bind_service=+ep
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

refactor virt-laucnher,handler
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

add info about patches
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat

virt-handler: add sysctl
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

back caps to 'cap_net_bind_service=+eip'
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

rm ip,bridge sysctl, libffi, semenage
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

Update images/virt-launcher/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

install packages to separate stage
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove utils caps
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

remove virtctl from virt-operator
  images/virt-operator/werf.inc.yaml
Owners: @universal-itengineer

virt-handler: replace sysctl by 'os.ReadFile(/proc/sys/kernel/sched_rt_runtime_us'
  images/virt-artifact/patches/045-node-labeller-rereplace-sysctl-readfile.patch
Owners: @yaroslavborbat

remove commented sysctl bins
  images/virt-handler/werf.inc.yaml
Owners: @universal-itengineer

fix
  images/dvcr-artifact/pkg/monitoring/progress.go
  images/dvcr-artifact/pkg/monitoring/prometheus.go
Owners: @Isteb4k

feat(vmmac,vmmaclease): add new controllers
  images/virtualization-artifact/pkg/controller/service/mac_address_service.go
  images/virtualization-artifact/pkg/controller/vmmac/vmmac_controller.go
Owners: @Isteb4k

feat(vmmac,vmmaclease): add new controllers
  images/virtualization-artifact/pkg/controller/service/mac_address_service.go
  images/virtualization-artifact/pkg/controller/service/mac_address_service_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
  images/virtualization-artifact/pkg/controller/vmmac/vmmac_controller.go
Owners: @Isteb4k, @yaroslavborbat

feat(vmmac,vmmaclease): add new controllers
  images/virtualization-artifact/pkg/controller/service/errors.go
  images/virtualization-artifact/pkg/controller/service/mac_address_service.go
  images/virtualization-artifact/pkg/controller/service/mac_address_service_test.go
Owners: @Isteb4k

feat(vmmac,vmmaclease): add new controllers
  images/virtualization-artifact/pkg/controller/vmmac/internal/maclease_handler.go
Owners: @Isteb4k

feat(vmmac,vmmaclease): add new controllers
  images/virtualization-artifact/pkg/controller/vm/internal/sync_kvvm.go
Owners: @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
