Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer

upd
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix typo
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

simplify install doc
  docs/INSTALL.md
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

update generic vmclass info
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

upd
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

go mod tidy
  api/go.mod
  api/go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @fl64

Added a warning about the independence of network policies and additional network interfaces
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Revert "Added a warning about the independence of network policies and additional network interfaces"
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix comments
  test/e2e/internal/object/const.go
  test/e2e/internal/util/vm.go
  test/e2e/vm/migration.go
Owners: @fl64

remove dirty fix
  test/e2e/internal/framework/framework.go
Owners: @fl64

add prefix for OS images
  test/e2e/internal/object/const.go
  test/e2e/internal/object/cvi.go
  test/e2e/internal/object/vd.go
  test/e2e/internal/object/vi.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/migration.go
Owners: @fl64

test: exclude http2.GoAwayError from error checker
  test/e2e/controller/err_checker.go
Owners: @fl64

test: exclude http2.GoAwayError from error checker (#1640)
  test/e2e/controller/err_checker.go
Owners: @fl64

fix(audit): record integrity check event for d8-virtualization serviceaccounts
  images/virtualization-artifact/pkg/audit/events/integrity/integrity_check_vm.go
  images/virtualization-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

fix(audit): record integrity check event for d8-virtualization serviceaccounts (#1637)
  images/virtualization-artifact/pkg/audit/events/integrity/integrity_check_vm.go
  images/virtualization-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

fix(audit): record integrity check event for d8-virtualization serviceaccounts (#1637)
  images/virtualization-artifact/pkg/audit/events/integrity/integrity_check_vm.go
  images/virtualization-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

fix(audit): record integrity check event for d8-virtualization serviceaccounts (#1636)
  images/virtualization-artifact/pkg/audit/events/integrity/integrity_check_vm.go
  images/virtualization-artifact/werf.inc.yaml
Owners: @Isteb4k, @universal-itengineer

remove libfuse and iproute2, add tc from deckhouse
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

fix path and remove from binaries
  images/virt-launcher/werf.inc.yaml
Owners: @universal-itengineer

test(e2e): check that the tpm module is recognized in the os
  test/e2e/default_config.yaml
  test/e2e/internal/config/config.go
  test/e2e/legacy/testdata/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/ns.yaml
  test/e2e/legacy/testdata/vm-tpm/transformer.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vi/vi-debian-http.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/cfg/cloud-config.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vd-root.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vm.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/base/vmclass-discovery.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/kustomization.yaml
  test/e2e/legacy/testdata/vm-tpm/vm/overlays/vm-tpm/vm.yaml
  test/e2e/legacy/vm_tpm_test.go
Owners: @fl64

fix transformers
  test/e2e/legacy/testdata/disk-resizing/transformer.yaml
  test/e2e/legacy/testdata/image-hotplug/base/transformer.yaml
  test/e2e/legacy/testdata/image-hotplug/transformer.yaml
  test/e2e/legacy/testdata/sizing-policy/base/transformer.yaml
  test/e2e/legacy/testdata/sizing-policy/transformer.yaml
  test/e2e/legacy/testdata/templates/transformer.yaml
  test/e2e/legacy/testdata/vd-snapshots/transformer.yaml
  test/e2e/legacy/testdata/vd-snapshots/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-configuration/base/transformer.yaml
  test/e2e/legacy/testdata/vm-configuration/transformer.yaml
  test/e2e/legacy/testdata/vm-disk-attachment/base/transformer.yaml
  test/e2e/legacy/testdata/vm-disk-attachment/transformer.yaml
  test/e2e/legacy/testdata/vm-evacuation/transformer.yaml
  test/e2e/legacy/testdata/vm-evacuation/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-label-annotation/base/transformer.yaml
  test/e2e/legacy/testdata/vm-label-annotation/transformer.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/transformer.yaml
  test/e2e/legacy/testdata/vm-migration-cancel/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-migration/transformer.yaml
  test/e2e/legacy/testdata/vm-migration/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-restore-force/transformer.yaml
  test/e2e/legacy/testdata/vm-restore-force/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-restore-safe/transformer.yaml
  test/e2e/legacy/testdata/vm-restore-safe/vm/base/transformer.yaml
  test/e2e/legacy/testdata/vm-versions/transformer.yaml
  test/e2e/legacy/testdata/vm-versions/vm/transformer.yaml
  test/e2e/legacy/testdata/vm-vpc/transformer.yaml
  test/e2e/legacy/testdata/vm-vpc/vm-bar/transformer.yaml
  test/e2e/legacy/testdata/vm-vpc/vm-foo/transformer.yaml
Owners: @fl64

test: add timeout option to framework delete method
  test/e2e/internal/framework/framework.go
  test/e2e/internal/util/vm.go
  test/e2e/vm/ipam.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_local_disks.go
Owners: @fl64

fix
  crds/clustervirtualimages.yaml
  crds/virtualdisks.yaml
  crds/virtualimages.yaml
  crds/virtualmachineblockdeviceattachments.yaml
  crds/virtualmachineclasses.yaml
  crds/virtualmachineoperations.yaml
  crds/virtualmachinerestores.yaml
  crds/virtualmachinesnapshotoperations.yaml
  crds/virtualmachinesnapshots.yaml
Owners: @fl64, @z9r5, @goganat

ci(e2e): Ceph in nested cluster via deckhouse-prod ModuleSource; enable Ceph modules; wait Ready; add CSI smoke; use parent Ceph SC for hotplug
  .github/workflows/e2e-matrix.yml
  ci/dvp-e2e/manifests/storage/ceph.yaml
  ci/dvp-e2e/manifests/storage/operator-ceph.yaml
Owners: @universal-itengineer, @fl64

15k vm test: do not merge
  .keep
Owners: @fl64

add vmip indexer
  images/virtualization-artifact/pkg/controller/indexer/indexer.go
  images/virtualization-artifact/pkg/controller/vmip/internal/attached_handler.go
Owners: @Isteb4k, @LopatinDmitr

cherry-pick commits from #1619 for vi on volumesnapshot
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_dv_from_vi_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vs_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ensure_node_placement.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_dv_step.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
Owners: @Isteb4k

set KIND_ROUTE_WATCHER to ebpf
  templates/vm-route-forge/daemonset.yaml
Owners: @fl64

test indexer
  images/virtualization-artifact/pkg/controller/vd/internal/inuse.go
Owners: @Isteb4k

fix(vm): disable vm watchers
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

set replicas to 1 for virtualization-controller
  templates/virtualization-controller/deployment.yaml
Owners: @fl64

enable PPROF port
  templates/virtualization-controller/_helpers.tpl
Owners: @fl64

Revert "fix(vm): disable vm watchers"
  images/virtualization-artifact/pkg/controller/vm/vm_reconciler.go
Owners: @yaroslavborbat

test: remove delete option and set middle default timeout
  test/e2e/internal/framework/framework.go
  test/e2e/vm/ipam.go
Owners: @fl64

Update info about download data due to actual d8 version
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

enable UsePriorityQueue
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
Owners: @yaroslavborbat

cleanup
  test/e2e/internal/util/vd.go
  test/e2e/internal/util/vm.go
  test/e2e/vm/migration.go
Owners: @fl64

test(vm): refactor VM migration e2e test (#1635)
  test/e2e/internal/object/const.go
  test/e2e/internal/object/cvi.go
  test/e2e/internal/object/vd.go
  test/e2e/internal/object/vi.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/util.go
  test/e2e/legacy/vm_migration.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/migration.go
Owners: @fl64

test: set MiddleTimeout for framework Delete method (#1639)
  test/e2e/internal/framework/framework.go
  test/e2e/internal/util/vm.go
  test/e2e/vm/live_migration_tcp_session.go
  test/e2e/vm/volume_migration_local_disks.go
Owners: @fl64

Update info about download data due to actual d8 version
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat
