Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix(module): fix rbacv2 misspelling in execute_virtualmachine_operations capability (#1794)
  templates/rbacv2/use/capabilities/execute_virtualmachine_operations.yaml
Owners: @fl64

Backport: fix(module): fix rbacv2 misspelling in execute_virtualmachine_operations capability (#1797)
  templates/rbacv2/use/capabilities/execute_virtualmachine_operations.yaml
Owners: @fl64

Re-generate changelog v1.2.2
  CHANGELOG/CHANGELOG-v1.2.2.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

docs: add release notes for v1.2.2 (#1795)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Backport: docs: add release notes for v1.2.2 (#1798)
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
Owners: @fl64, @z9r5, @goganat

Changelog v1.2.2 (#1796)
  CHANGELOG/CHANGELOG-v1.2.2.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

Changelog v1.2.2 (#1796)
  CHANGELOG/CHANGELOG-v1.2.2.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

Backport: Changelog v1.2.2 (#1799)
  CHANGELOG/CHANGELOG-v1.2.2.yml
  CHANGELOG/CHANGELOG-v1.2.md
Owners: @fl64

t1
  crds/virtualmachineclasses.yaml
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/default_core_fraction_validator.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

regenerate
  api/core/v1alpha2/zz_generated.deepcopy.go
  api/core/v1alpha3/zz_generated.deepcopy.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @Isteb4k

t
  api/core/v1alpha2/virtual_machine.go
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class_conversion.go
  crds/doc-ru-virtualmachineclasses.yaml
  crds/virtualmachineclasses.yaml
  crds/virtualmachines.yaml
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction.go
  images/virtualization-artifact/pkg/controller/vm/vm_webhook.go
  images/virtualization-artifact/pkg/controller/vmclass/internal/validators/default_core_fraction_validator.go
  images/virtualization-artifact/pkg/controller/vmclass/vmclass_webhook.go
Owners: @fl64, @z9r5, @goganat, @yaroslavborbat, @Isteb4k

chore(ci): add-reusable-workflow-cap
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

fix
  images/virt-artifact/werf.inc.yaml
Owners: @universal-itengineer

chore(ci): add-reusable-workflow-cap (#1800)
  .github/workflows/e2e-reusable-pipeline.yml
Owners: @universal-itengineer

add concuresncy
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
  test/dvp-over-dvp/vmbda/attach-vmbda.sh
Owners: @universal-itengineer, @fl64

try matrix bootstrap and othe jobs
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

undeploy needs e2e tests
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

dbg queue while conf repl storage
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix yaml formatting, rebase
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/storage/ceph/01-ceph-serviceaccounts.yml
  test/dvp-over-dvp/storage/ceph/02-ceph-cluster.yml
  test/dvp-over-dvp/storage/ceph/03-ceph-configmap.yml
  test/dvp-over-dvp/storage/ceph/04-ceph-blockpool.yml
  test/dvp-over-dvp/storage/ceph/06-module-source.yaml
  test/dvp-over-dvp/storage/ceph/07-toolbox.yml
  test/dvp-over-dvp/storage/sds-replicated/mc.yaml
Owners: @universal-itengineer, @fl64

back svc for jump-host
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/deploy.yaml
  test/dvp-over-dvp/charts/infra/templates/jump-host/svc.yaml
Owners: @universal-itengineer, @fl64

fix script and ci
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/charts/cluster-config/templates/mc.yaml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
Owners: @universal-itengineer, @fl64

try get nodes
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
Owners: @universal-itengineer, @fl64

disable virt when bootstrap
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/charts/cluster-config/templates/virtualization.yaml
Owners: @universal-itengineer, @fl64

fix ask fo del
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

add test, fix timeout and messages
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

fix select jumphost port
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

try ceph
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add login to dh registry
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
Owners: @universal-itengineer, @fl64

Update gen-sa.sh
  test/dvp-over-dvp/nested-sa-config/gen-sa.sh
Owners: @fl64

add ceph install
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/storage/ceph/00-ms.yaml
  test/dvp-over-dvp/storage/ceph/01-mc.yml
  test/dvp-over-dvp/storage/ceph/02-sa.yml
  test/dvp-over-dvp/storage/ceph/03-cm.yml
  test/dvp-over-dvp/storage/ceph/04-cluster.yml
  test/dvp-over-dvp/storage/ceph/05-blockpool.yml
  test/dvp-over-dvp/storage/ceph/06-toolbox.yml
  test/dvp-over-dvp/storage/ceph/ceph-configre.sh
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
Owners: @universal-itengineer, @fl64

dbg install virt
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

add aditional debug when wait deckhouse ready
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @fl64

change token
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix wait
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add deploy virt module
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add params for gen-sa
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

fix
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

dbg add mesg for retrive queue
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @fl64

comment queue in storage step
  .github/workflows/e2e-matrix.yml
Owners: @universal-itengineer

add storage deploy, refactor cluster config
  .github/workflows/e2e-matrix.yml
  test/dvp-over-dvp/Taskfile.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/cluster-config.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/ngc.yaml
  test/dvp-over-dvp/charts/cluster-config/templates/nodegroups.yaml
  test/dvp-over-dvp/storage/ceph/00-module-config-ceph.yml
  test/dvp-over-dvp/storage/ceph/01-ceph-serviceaccounts.yml
  test/dvp-over-dvp/storage/ceph/02-ceph-cluster.yml
  test/dvp-over-dvp/storage/ceph/03-ceph-configmap.yml
  test/dvp-over-dvp/storage/ceph/04-ceph-blockpool.yml
  test/dvp-over-dvp/storage/ceph/06-module-source.yaml
  test/dvp-over-dvp/storage/ceph/07-toolbox.yml
  test/dvp-over-dvp/storage/ceph/ceph-configre.sh
  test/dvp-over-dvp/storage/sds-replicated/lvg-gen.sh
  test/dvp-over-dvp/storage/sds-replicated/mc.yaml
  test/dvp-over-dvp/storage/sds-replicated/rsc-gen.sh
  test/dvp-over-dvp/tools/deckhouse-queue.sh
Owners: @universal-itengineer, @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
