Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @Isteb4k, @universal-itengineer, @nevermarine, @z9r5, @goganat, @hardcoretime, @danilrwx, @yaroslavborbat, @diafour, @LopatinDmitr

.github/CODEOWNERS:

*                                                         @fl64 @Isteb4k
/.github/                                                 @universal-itengineer @nevermarine

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64 @Isteb4k
/tests/                                                   @hardcoretime @danilrwx

/images/                                                  @universal-itengineer @nevermarine
/images/cdi-artifact/                                     @Isteb4k @yaroslavborbat
/images/virt-artifact/                                    @yaroslavborbat @Isteb4k
/images/dvcr-artifact/                                    @Isteb4k @yaroslavborbat
/images/vm-route-forge/                                   @yaroslavborbat @diafour
/images/kube-api-rewriter/                                @diafour @yaroslavborbat
/images/virtualization-artifact/                          @Isteb4k @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat @Isteb4k
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr @Isteb4k
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr @Isteb4k

*werf*                                                    @universal-itengineer @nevermarine

fix(kubevirt): Add new emptydirs mounted to `/tmp` and `/var/lib/swtpm-localca` for virt-launcher (#802)
  images/virt-artifact/patches/037-set-ReadOnlyRootFilesystem-to-virt-launcher.patch
  images/virt-artifact/patches/README.md
Owners: @yaroslavborbat, @Isteb4k

refactor(vm): refactor sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
Owners: @yaroslavborbat, @Isteb4k

test(vm): add unit test
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
  images/virtualization-artifact/pkg/eventrecord/eventrecorderlogger.go
  images/virtualization-artifact/pkg/eventrecord/mock.go
Owners: @yaroslavborbat, @Isteb4k

chore(core) remofe libguestfs-image
  images/libguestfs/werf.inc.yaml
  images/virt-artifact/patches/001-bundle-extra-images.patch
Owners: @universal-itengineer, @nevermarine, @yaroslavborbat, @Isteb4k

fix(vd): optimize the creation time for empty disks (#786)
  api/core/v1alpha2/vdcondition/condition.go
  images/virtualization-artifact/pkg/controller/conditions/builder.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/service/vd_storage_class_service.go
  images/virtualization-artifact/pkg/controller/service/vd_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/blank.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/blank_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vdsnapshot.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_blank_pvc_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/create_pvc_from_vdsnapshot_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/ready_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/terminating_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/step/wait_for_pvc_step.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vdsnapshot_pvc_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/step/ready_pvc_step.go
  images/virtualization-artifact/pkg/logger/attrs.go
  tests/e2e/tests_suite_test.go
Owners: @fl64, @Isteb4k, @yaroslavborbat, @hardcoretime, @danilrwx

fix(vm): fix after review
  images/virtualization-artifact/pkg/common/kvvm/kvvm.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
Owners: @Isteb4k, @yaroslavborbat

fix panic
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
Owners: @Isteb4k, @yaroslavborbat

refactoring
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k, @yaroslavborbat

refactoring
  api/core/v1alpha2/block_device.go
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
Owners: @fl64, @Isteb4k

fix
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
Owners: @Isteb4k, @yaroslavborbat

refactoring
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k, @yaroslavborbat

fix
  api/core/v1alpha2/block_device.go
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @fl64, @Isteb4k, @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
Owners: @Isteb4k, @yaroslavborbat

refactoring
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k, @yaroslavborbat

fix(vmbda): fix deletion vmbda already connected in vm spec (#760)
  images/virtualization-artifact/pkg/controller/service/attachment_service.go
  images/virtualization-artifact/pkg/controller/vmbda/internal/deletion.go
Owners: @Isteb4k, @yaroslavborbat

refactoring
  tests/e2e/affinity_toleration_test.go
  tests/e2e/complex_test.go
  tests/e2e/image_hotplug_test.go
  tests/e2e/sizing_policy_test.go
  tests/e2e/util_test.go
  tests/e2e/vd_snapshots_test.go
  tests/e2e/vm_configuration_test.go
  tests/e2e/vm_connectivity_test.go
  tests/e2e/vm_disk_attachment_test.go
  tests/e2e/vm_disk_resizing_test.go
  tests/e2e/vm_label_annotation_test.go
  tests/e2e/vm_migration_test.go
Owners: @hardcoretime, @danilrwx

tttttttttttttttttttt
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

context unite
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

t2
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

don't keep
  tests/e2e/testdata/complex-test/migrations/.keep
  tests/e2e/testdata/complex-test/reboots/.keep
  tests/e2e/testdata/complex-test/starts/.keep
  tests/e2e/testdata/complex-test/stops/.keep
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

t667
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

fix
  tests/e2e/util_test.go
  tests/e2e/vm_configuration_test.go
Owners: @hardcoretime, @danilrwx

sync
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

fix
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

t3
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

keep
  tests/e2e/testdata/complex-test/starts/.keep
  tests/e2e/testdata/complex-test/stops/.keep
Owners: @hardcoretime, @danilrwx

fix nil dereference
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

f
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

do not use files for vmop manifests
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

t4
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

add poweroff by ssh context
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/util_test.go
  tests/e2e/vm_migration_test.go
Owners: @hardcoretime, @danilrwx

fix
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

t
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx

sync
  tests/e2e/complex_test.go
  tests/e2e/util_test.go
Owners: @hardcoretime, @danilrwx

refactoring
  tests/e2e/complex_test.go
Owners: @hardcoretime, @danilrwx
