Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix taskfile
  test/e2e/Taskfile.yaml
Owners: @fl64

change name and add to CI
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
  test/e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

chore(ci): fix svace workflow
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

output to tar gz
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
  src/cli/internal/cmd/collectdebuginfo/collectors.go
Owners: @fl64

fix test
  test/e2e/vm/volume_migration_local_disks.go
Owners: @fl64

chore(ci): fix svace workflow (#1847)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

revert .github
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

feat(vd): enable storage class migration for hotplugged disks (#1785)
  .github/actions/install-d8/action.yml
  images/virtualization-artifact/pkg/controller/kvbuilder/kvvm_utils.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/storage_class_validator.go
  test/e2e/vm/volume_migration_local_disks.go
Owners: @universal-itengineer, @Isteb4k, @fl64

chore(ci): fix svace workflow (#1847)
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

fix
  .github/actions/install-d8/action.yml
Owners: @universal-itengineer

fix
  .github/actions/install-d8/action.yml
  .github/workflows/dev_build_svace.yml
Owners: @universal-itengineer

chore(test): change URLs in CI (#1844)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
  test/e2e/Taskfile.yaml
Owners: @universal-itengineer, @fl64

fix
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
  src/cli/internal/cmd/collectdebuginfo/collectors.go
Owners: @fl64

fix(ci): fix change URLs in CI
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

fix(ci): fix change URLs in CI (#1849)
  .github/workflows/nightly_e2e_tests_ceph.yaml
  .github/workflows/nightly_e2e_tests_replicated.yaml
Owners: @universal-itengineer

docs(vdsnapshot): update consistency info (#1843)
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore: update base images and Golang dependencies
  images/cdi-artifact/werf.inc.yaml
  images/dvcr-artifact/werf.inc.yaml
  images/virt-artifact/werf.inc.yaml
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @universal-itengineer, @yaroslavborbat

chore: update Cilium version and use fixed CDI
  build/components/versions.yml
  images/vm-route-forge/go.mod
  images/vm-route-forge/go.sum
Owners: @fl64, @yaroslavborbat

fix(module): fix metrics
  templates/kubevirt/service-monitor.yaml
Owners: @fl64

fix(module): fix dashboards
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

go mod tidy
  api/go.mod
Owners: @fl64

remove division by 1000
  monitoring/grafana-dashboards/main/propagated-vm.json
  monitoring/grafana-dashboards/main/propagated-vms.json
Owners: @fl64

get xml domain
  src/cli/go.mod
  src/cli/go.sum
  src/cli/internal/cmd/collectdebuginfo/collectdebuginfo.go
  src/cli/internal/cmd/collectdebuginfo/collectors.go
Owners: @fl64

add
  test/e2e/internal/object/const.go
  test/e2e/internal/util/vm.go
  test/e2e/legacy/complex.go
  test/e2e/vm/power_state.go
  test/e2e/vmop/restore.go
Owners: @fl64

fix
  test/e2e/internal/util/vm.go
  test/e2e/vm/volume_migration_local_disks.go
  test/e2e/vmop/restore.go
Owners: @fl64

make cores required
  api/core/v1alpha3/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

validate
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/virtual_image.go
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/virtual_machine_restore.go
  api/core/v1alpha2/virtual_machine_snapshot_operation.go
  api/core/v1alpha3/virtual_machine_class.go
  crds/clustervirtualimages.yaml
  crds/virtualdisks.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualimages.yaml
  crds/virtualmachineblockdeviceattachments.yaml
  crds/virtualmachinemacaddresses.yaml
  crds/virtualmachineoperations.yaml
  crds/virtualmachinerestores.yaml
  crds/virtualmachines.yaml
  crds/virtualmachinesnapshotoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

require cores for v1alpha2
  api/core/v1alpha2/virtual_machine_class.go
  crds/virtualmachineclasses.yaml
Owners: @fl64, @z9r5, @goganat

Update api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/virtual_machine_class.go
Owners: @fl64

Update api/core/v1alpha3/virtual_machine_class.go
  api/core/v1alpha3/virtual_machine_class.go
Owners: @fl64

regenerate
  crds/virtualmachineclasses.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

chore(module): disabling state tracking for dvcr deployment
  templates/_helpers.tpl
  templates/dvcr/deployment.yaml
Owners: @fl64

chore(module): disabling state tracking for dvcr deployment (#1850)
  templates/_helpers.tpl
  templates/dvcr/deployment.yaml
Owners: @fl64

fix(api): add validation of empty field values in the CRD (#1813)
  api/core/v1alpha2/cluster_virtual_image.go
  api/core/v1alpha2/virtual_disk.go
  api/core/v1alpha2/virtual_image.go
  api/core/v1alpha2/virtual_machine_block_device_attachment.go
  api/core/v1alpha2/virtual_machine_class.go
  api/core/v1alpha2/virtual_machine_operation.go
  api/core/v1alpha2/virtual_machine_restore.go
  api/core/v1alpha2/virtual_machine_snapshot_operation.go
  api/core/v1alpha3/virtual_machine_class.go
  crds/clustervirtualimages.yaml
  crds/virtualdisks.yaml
  crds/virtualdisksnapshots.yaml
  crds/virtualimages.yaml
  crds/virtualmachineblockdeviceattachments.yaml
  crds/virtualmachineclasses.yaml
  crds/virtualmachinemacaddresses.yaml
  crds/virtualmachineoperations.yaml
  crds/virtualmachinerestores.yaml
  crds/virtualmachines.yaml
  crds/virtualmachinesnapshotoperations.yaml
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
Owners: @fl64, @z9r5, @goganat, @Isteb4k

match error
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

add unit test
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

Update images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

Update images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

match error
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

remove names)
  images/virtualization-artifact/pkg/controller/vm/internal/defaulter/core_fraction_test.go
Owners: @yaroslavborbat

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
