Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

fix linter
  test/e2e/internal/util/object.go
Owners: @fl64

rewrite test struct interface
  test/e2e/vmop/restore.go
Owners: @fl64

remove useless wrapper
  test/e2e/internal/util/vm.go
  test/e2e/vmop/restore.go
Owners: @fl64

remove useless
  test/e2e/internal/object/vd.go
Owners: @fl64

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

fix
  test/e2e/internal/object/vd.go
Owners: @fl64

fix
  test/e2e/vmop/restore.go
Owners: @fl64

fix until go
  test/e2e/internal/util/object.go
Owners: @fl64

restyling
  test/e2e/internal/framework/framework.go
  test/e2e/vmop/restore.go
Owners: @fl64

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

change cases
  test/e2e/vmop/restore.go
Owners: @fl64

refactoring
  test/e2e/vmop/restore.go
Owners: @fl64

more cases and fix linter
  images/virtualization-artifact/pkg/builder/vm/option.go
  test/e2e/internal/util/vm.go
  test/e2e/vmop/restore.go
Owners: @Isteb4k, @fl64

fix manual
  test/e2e/vmop/restore.go
Owners: @fl64

Import the cgroups/devices package to register the default cgroups manager
  build/components/versions.yml
Owners: @fl64

fix: register default cgroup managers (#1684)
  build/components/versions.yml
Owners: @fl64

fix GC
  images/virtualization-artifact/pkg/controller/vmsop/gc.go
Owners: @Isteb4k

fix(core): register default cgroup managers for vmbda attachement
  build/components/versions.yml
Owners: @fl64

fix(core): register default cgroup managers for fix vmbda attachement (#1687)
  build/components/versions.yml
Owners: @fl64

Lower the priority of the apiserver group and remove unnecessary proxying to the core API group
  api/scripts/update-codegen.sh
  api/subresources/register.go
  api/subresources/types.go
  api/subresources/v1alpha2/register.go
  api/subresources/v1alpha2/types.go
  api/subresources/v1alpha2/zz_generated.conversion.go
  api/subresources/v1alpha2/zz_generated.deepcopy.go
  api/subresources/zz_generated.deepcopy.go
  images/virtualization-artifact/cmd/virtualization-api/app/options/options.go
  images/virtualization-artifact/pkg/apiserver/api/generated/openapi/zz_generated.openapi.go
  images/virtualization-artifact/pkg/apiserver/api/install.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/storage.go
  images/virtualization-artifact/pkg/apiserver/registry/vm/storage/util.go
  images/virtualization-artifact/pkg/apiserver/server/config.go
  src/cli/cmd/main.go
  templates/virtualization-api/apiserver-v1alpha2.yaml
  templates/virtualization-api/apiserver.yaml
Owners: @fl64, @Isteb4k

chore(module): fix licenses and a typo
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/cmd/virtualization-module-hooks/main.go
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/tls-certificates-controller/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/readiness/probe.go
  images/hooks/pkg/settings/certificate.go
  images/hooks/pkg/settings/module.go
  images/hooks/pkg/settings/values.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/vdsnapshot_reconciler.go
  images/virtualization-artifact/pkg/controller/vmbda/vmbda_reconciler.go
  images/virtualization-artifact/pkg/controller/vmip/vmip_reconciler.go
  images/virtualization-artifact/pkg/controller/vmiplease/vmiplease_reconciler.go
  images/virtualization-artifact/pkg/controller/vmmac/vmmac_reconciler.go
  images/virtualization-artifact/pkg/controller/vmmaclease/vmmaclease_reconciler.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @universal-itengineer, @Isteb4k, @LopatinDmitr

chore(module): fix licenses and a typo (#1690)
  images/hooks/cmd/module-config-reporter/main.go
  images/hooks/cmd/virtualization-module-hooks/main.go
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/tls-certificates-controller/hook.go
  images/hooks/pkg/hooks/tls-certificates-dvcr/hook.go
  images/hooks/pkg/hooks/validate-module-config/hook.go
  images/hooks/pkg/readiness/probe.go
  images/hooks/pkg/settings/certificate.go
  images/hooks/pkg/settings/module.go
  images/hooks/pkg/settings/values.go
  images/virtualization-artifact/pkg/controller/vdsnapshot/vdsnapshot_reconciler.go
  images/virtualization-artifact/pkg/controller/vmbda/vmbda_reconciler.go
  images/virtualization-artifact/pkg/controller/vmip/vmip_reconciler.go
  images/virtualization-artifact/pkg/controller/vmiplease/vmiplease_reconciler.go
  images/virtualization-artifact/pkg/controller/vmmac/vmmac_reconciler.go
  images/virtualization-artifact/pkg/controller/vmmaclease/vmmaclease_reconciler.go
  images/virtualization-artifact/pkg/controller/vmrestore/vmrestore_reconciler.go
Owners: @universal-itengineer, @Isteb4k, @LopatinDmitr

add test
  test/e2e/e2e_test.go
  test/e2e/snapshot/vmsop.go
Owners: @fl64

++ sync anno names, fix rbac for virtualization-controller
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/service/dvcr_service.go
  templates/dvcr/rbac-for-us.yaml
  templates/virtualization-controller/rbac-for-us.yaml
Owners: @Isteb4k, @fl64

++ fix provisioning detector
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/service/provisioning_lister.go
Owners: @Isteb4k

feat(core): auto-cleanup for dvcr storage
  api/core/v1alpha2/dvcr-deployment-condition/condition.go
  api/core/v1alpha2/events.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/ls.go
  images/dvcr-artifact/go.mod
  images/dvcr-artifact/go.sum
  images/dvcr-artifact/pkg/cleaner/kubernetes/list.go
  images/dvcr-artifact/pkg/cleaner/kubernetes/termination_log.go
  images/dvcr-artifact/pkg/cleaner/registry/gc.go
  images/dvcr-artifact/pkg/cleaner/registry/list.go
  images/dvcr-artifact/pkg/cleaner/registry/remove.go
  images/dvcr-artifact/pkg/cleaner/registry/storage_stats.go
  images/dvcr-artifact/pkg/cleaner/signal/wait.go
  images/dvcr-artifact/pkg/cleaner/storage/stats.go
  images/dvcr-artifact/pkg/cleaner/storage/stats_linux.go
  images/dvcr-artifact/pkg/cleaner/storage/stats_other.go
  images/hooks/cmd/virtualization-module-hooks/register.go
  images/hooks/pkg/hooks/dvcr-maintenance/hook.go
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/config/load_dvcr_settings.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_controller.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_reconciler.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/cleanup.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/watcher/dvcr_deployment.go
  images/virtualization-artifact/pkg/controller/service/dvcr_service.go
  images/virtualization-artifact/pkg/dvcr/dvcr.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  openapi/values.yaml
  templates/dvcr/_helpers.tpl
  templates/dvcr/configmap-cleanup.yaml
  templates/dvcr/deployment.yaml
  templates/dvcr/rbac-for-us.yaml
  templates/virtualization-controller/_helpers.tpl
  tools/kubeconform/fixtures/module-values.yaml
Owners: @fl64, @Isteb4k, @universal-itengineer, @z9r5, @goganat

++ linting
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
Owners: @Isteb4k

++ add DVCR uploading postponing for new resources during DVCR maintenance
  api/core/v1alpha2/events.go
  images/virtualization-artifact/pkg/controller/conditions/accessor.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/postponehandler/postpone.go
  images/virtualization-artifact/pkg/controller/vd/internal/postpone_filter.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
Owners: @fl64, @Isteb4k

++ implement controller start auto cleanup by schedule.
  api/core/v1alpha2/dvcr-deployment-condition/condition.go
  images/virtualization-artifact/pkg/common/annotations/annotations.go
  images/virtualization-artifact/pkg/controller/cvi/cvi_controller.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/cvi/internal/source/interfaces.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/condition/deployment.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_controller.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_reconciler.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/service/provisioning_lister.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/watcher/maintenance_secret.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/types/const.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/types/interfaces.go
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/service/dvcr_service.go
Owners: @fl64, @Isteb4k

++ licens
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/condition/deployment.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/service/provisioning_lister.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/types/const.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/types/interfaces.go
Owners: @Isteb4k

++ more info on deletion ++ add mount for config so gc works
  images/dvcr-artifact/pkg/cleaner/kubernetes/list.go
  images/dvcr-artifact/pkg/cleaner/registry/list.go
  images/dvcr-artifact/pkg/cleaner/registry/remove.go
  templates/dvcr/_helpers.tpl
Owners: @Isteb4k, @fl64

++ try to catch the timeout cause
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
Owners: @Isteb4k

++ license
  images/hooks/pkg/hooks/dvcr-maintenance/hook.go
Owners: @universal-itengineer

++ keep LastResult
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/life_cycle.go
Owners: @Isteb4k

++ fix err == nil, add bytes to report
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
Owners: @Isteb4k

++ add execution timeout for garbage-collect command
  images/dvcr-artifact/cmd/dvcr-cleaner/cmd/gc.go
  images/dvcr-artifact/pkg/cleaner/registry/gc.go
  templates/dvcr/deployment.yaml
Owners: @Isteb4k, @fl64

++ licenses, linting
  images/virtualization-artifact/pkg/controller/conditions/accessor.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_controller.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/dvcr_maintenance_reconciler.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/dvcr-maintenance/postponehandler/postpone.go
  images/virtualization-artifact/pkg/controller/gc/cron_source.go
  images/virtualization-artifact/pkg/controller/service/dvcr_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/postpone_filter.go
Owners: @Isteb4k

++ remove test timeout
  images/dvcr-artifact/pkg/cleaner/registry/gc.go
  templates/dvcr/deployment.yaml
Owners: @Isteb4k, @fl64

fix e2e
  images/virtualization-artifact/pkg/builder/vmsnapshot/option.go
  images/virtualization-artifact/pkg/builder/vmsnapshot/vdsnapshot.go
  images/virtualization-artifact/pkg/builder/vmsop/option.go
  test/e2e/snapshot/vmsop.go
Owners: @Isteb4k, @fl64

fix check vm cores
  test/e2e/vmop/restore.go
Owners: @fl64

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
