Repository deckhouse/virtualization, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fl64, @universal-itengineer, @z9r5, @goganat, @hardcoretime, @Isteb4k, @yaroslavborbat, @diafour, @LopatinDmitr

docs(module): migrations
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update SC
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE_RU.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE_RU.md
Owners: @fl64, @z9r5, @goganat

vmclass refactor
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

update pictures
  docs/images/drain.drawio
  docs/images/drain.png
  docs/images/drain.ru.png
  docs/images/lb-ingress.drawio
  docs/images/lb-ingress.png
  docs/images/lb-ingress.ru.png
  docs/images/lb-loadbalancer.drawio
  docs/images/lb-loadbalancer.png
  docs/images/lb-loadbalancer.ru.png
  docs/images/lb-nodeport.drawio
  docs/images/lb-nodeport.png
  docs/images/lb-nodeport.ru.png
  docs/images/migration.drawio
  docs/images/migration.png
  docs/images/migration.ru.png
  docs/images/placement-node-affinity.drawio
  docs/images/placement-node-affinity.png
  docs/images/placement-node-affinity.ru.png
  docs/images/placement-nodeselector.drawio
  docs/images/placement-nodeselector.png
  docs/images/placement-nodeselector.ru.png
  docs/images/placement-vm-affinity.drawio
  docs/images/placement-vm-affinity.png
  docs/images/placement-vm-affinity.ru.png
  docs/images/placement-vm-antiaffinity.drawio
  docs/images/placement-vm-antiaffinity.png
  docs/images/placement-vm-antiaffinity.ru.png
  docs/images/vd-immediate.drawio
  docs/images/vd-immediate.png
  docs/images/vd-immediate.ru.png
  docs/images/vd-rwo-vs-rwx.drawio
  docs/images/vd-rwo-vs-rwx.png
  docs/images/vd-rwo-vs-rwx.ru.png
  docs/images/vd-wffc.drawio
  docs/images/vd-wffc.png
  docs/images/vd-wffc.ru.png
  docs/images/vmclass-examples.drawio
Owners: @fl64, @z9r5, @goganat

docs(module): update links
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): update snapshot restore
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

docs(module): fix linter
  tools/validation/no_cyrillic.go
Owners: @fl64

docs(module): update flow
  docs/INSTALL.md
  docs/INSTALL_RU.md
Owners: @fl64, @z9r5, @goganat

update pictures
  docs/images/migration.drawio
  docs/images/migration.png
  docs/images/migration.ru.png
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/FAQ.md
  docs/FAQ.md
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/README.ru.md
  docs/README.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

Update docs/FAQ.md
  docs/FAQ.md
Owners: @fl64, @z9r5, @goganat

Update docs/USER_GUIDE.ru.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation.go
Owners: @Isteb4k

fix(vd,vi): fix issues with storage class condition display (#947)
  api/core/v1alpha2/events.go
  api/core/v1alpha2/vicondition/condition.go
  images/virtualization-artifact/pkg/controller/service/base_storage_class_service.go
  images/virtualization-artifact/pkg/controller/service/disk_service.go
  images/virtualization-artifact/pkg/controller/service/errors.go
  images/virtualization-artifact/pkg/controller/service/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/interfaces.go
  images/virtualization-artifact/pkg/controller/vd/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vd/internal/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/service/vd_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vd/internal/service/vd_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/mock.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_cvi.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_dvcr.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/object_ref_vi_pvc.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vd/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/vd/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vd/internal/validator/spec_changes_validator.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service.go
  images/virtualization-artifact/pkg/controller/vi/internal/service/vi_storage_class_service_test.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/http.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vd.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/object_ref_vi_on_pvc.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/registry.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/sources.go
  images/virtualization-artifact/pkg/controller/vi/internal/source/upload.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready.go
  images/virtualization-artifact/pkg/controller/vi/internal/storageclass_ready_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
Owners: @fl64, @Isteb4k

fix(vmip): fix display of conditions Bound and Attached (#948)
  images/virtualization-artifact/pkg/controller/vmip/internal/lifecycle_handler.go
Owners: @LopatinDmitr

fix(vm): fix display BlockDeviceReady condition's message (#949)
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
Owners: @yaroslavborbat

chore(module): add module.yaml to werf (#941)
  werf.yaml
Owners: @universal-itengineer

remove autoconverge
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

fix links
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

test
  images/virtualization-artifact/README.md
Owners: @Isteb4k

fix
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/common/kvvm/kvvm.go
  images/virtualization-artifact/pkg/controller/powerstate/operations_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
Owners: @Isteb4k, @yaroslavborbat

Update links
  docs/ADMIN_GUIDE.md
  docs/ADMIN_GUIDE.ru.md
  docs/INSTALL.md
  docs/INSTALL.ru.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.ru.md
Owners: @fl64, @z9r5, @goganat

chore(core): build xorriso
  component_versions/version_map.yml
  images/packages/binaries/xorriso/werf.inc.yaml
  images/virt-handler/werf.inc.yaml
  images/virt-launcher/werf.inc.yaml
Owners: @fl64, @universal-itengineer

fix
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @yaroslavborbat

fix
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
Owners: @yaroslavborbat

fix(vm): choose correct active pod (#967)
  images/virtualization-artifact/pkg/builder/vm/option.go
  images/virtualization-artifact/pkg/common/kvvm/kvvm.go
  images/virtualization-artifact/pkg/controller/powerstate/operations_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/statistic_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/suite_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
Owners: @Isteb4k, @yaroslavborbat

fix golangci-lint
  .github/workflows/dev_module_build.yml
  images/virtualization-artifact/.golangci.yaml
  images/virtualization-artifact/cmd/virtualization-controller/main.go
  images/virtualization-artifact/pkg/common/testutil/testutil.go
  images/virtualization-artifact/pkg/controller/evacuation/evacuation_controller.go
  images/virtualization-artifact/pkg/controller/evacuation/internal/handler/evacuation.go
  images/virtualization-artifact/pkg/controller/vd/vd_controller.go
  images/virtualization-artifact/pkg/controller/vi/internal/life_cycle_test.go
  images/virtualization-artifact/pkg/controller/vi/vi_controller.go
  images/virtualization-artifact/pkg/controller/vi/vi_webhook.go
  images/virtualization-artifact/pkg/controller/vm/internal/block_device_condition.go
  images/virtualization-artifact/pkg/controller/vm/internal/lifecycle.go
  images/virtualization-artifact/pkg/controller/vm/internal/sync_power_state_test.go
  images/virtualization-artifact/pkg/controller/vm/internal/watcher/vmsnapshot_watcher.go
  images/virtualization-artifact/pkg/controller/vm/vm_controller.go
  images/virtualization-artifact/pkg/controller/vmop/internal/service/start.go
  images/virtualization-artifact/pkg/controller/vmop/vmop_controller.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/firmware_test.go
  images/virtualization-artifact/pkg/controller/workload-updater/internal/handler/nodeplacement_test.go
  images/virtualization-artifact/pkg/controller/workload-updater/workload_updater_controller.go
  tools/addlicense/.golangci.yaml
  tools/addlicense/go.mod
Owners: @universal-itengineer, @Isteb4k, @yaroslavborbat, @fl64

add current branch for debug
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add true
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add dbg
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add continue on error
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

add print
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

some fix
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

rm some echo
  .github/workflows/dev_module_build.yml
Owners: @universal-itengineer

.github/CODEOWNERS:

*                                                         @fl64
/.github/                                                 @universal-itengineer

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64
/tests/                                                   @hardcoretime

/images/                                                  @universal-itengineer
/images/cdi-artifact/                                     @Isteb4k
/images/virt-artifact/                                    @yaroslavborbat
/images/dvcr-artifact/                                    @Isteb4k
/images/vm-route-forge/                                   @yaroslavborbat
/images/kube-api-rewriter/                                @diafour
/images/virtualization-artifact/                          @Isteb4k
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr

*werf*                                                    @universal-itengineer
